.denhaag-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &-header {
    background-color: var(--denhaag-page-header-background-color);
    z-index: var(--denhaag-page-header-index);
  }

  &-content {
    margin-block-end: 80px;
    margin-block-start: var(--denhaag-page-content-main-margin-block-start);

    @media (width >= 768px) {
      margin-block-start: var(--denhaag-page-content-main-sm-margin-block-start);
    }

    @media (width >= 1024px) {
      margin-block-start: var(--denhaag-page-content-main-md-margin-block-start);
    }

    &__main {
      flex-grow: 1;
      max-width: 100%;
    }
  }

  &-footer {
    margin-block-start: auto;
  }
}
