.denhaag-description-list {
  color: var(--denhaag-description-list-color);
  font-family: var(--denhaag-description-list-font-family);
  font-size: var(--denhaag-description-list-font-size);
  font-weight: var(--denhaag-description-list-font-weight);
  line-height: var(--denhaag-description-list-line-height);
  margin-block-start: var(--denhaag-description-list-margin-block-start);
  margin-block-end: var(--denhaag-description-list-margin-block-end);
}

@media (width >= 768px) {
  .denhaag-description-list {
    --denhaag-description-list-detail-padding-block-end: var(--denhaag-description-list-lg-detail-padding-block-end);
    --denhaag-description-list-detail-padding-block-start: var(
      --denhaag-description-list-lg-detail-padding-block-start
    );
    --denhaag-description-list-title-padding-block-end: var(--denhaag-description-list-lg-title-padding-block-end);
    --denhaag-description-list-title-padding-block-start: var(--denhaag-description-list-lg-title-padding-block-start);
    --denhaag-description-list-padding-inline-end: var(--denhaag-description-list-lg-padding-inline-end);
    --denhaag-description-list-padding-inline-start: var(--denhaag-description-list-lg-padding-inline-start);
  }

  .denhaag-description-list-item {
    display: grid;
    grid-template-columns: 1fr 2fr 0.5fr;
  }
}
