.denhaag-description-list__caption {
  color: var(--denhaag-description-list-caption-color);
  font-family: var(--denhaag-description-list-caption-font-family, var(--denhaag-description-list-font-family));
  font-size: var(
    --denhaag-description-list-caption-font-size,
    calc(var(--denhaag-description-list-font-size, 1em) * 1.33)
  );
  font-weight: var(--denhaag-description-list-caption-font-weight, bold);
  line-height: var(--denhaag-description-list-caption-line-height, var(--denhaag-description-list-line-height));
  margin-block-start: 0;
  margin-block-end: var(--denhaag-description-list-caption-margin-block-end, 1em);
}
