.denhaag-description-list {
  color: var(--denhaag-description-list-color);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  font-family: var(--denhaag-description-list-font-family);
  font-size: var(--denhaag-description-list-font-size);
  font-weight: var(--denhaag-description-list-font-weight);
  line-height: var(--denhaag-description-list-line-height);
  margin-block-end: 0;
  margin-block-start: 0;
}

.denhaag-description-list__caption {
  color: var(--denhaag-description-list-caption-color);
  font-family: var(--denhaag-description-list-caption-font-family, var(--denhaag-description-list-font-family));
  font-size: var(
    --denhaag-description-list-caption-font-size,
    calc(var(--denhaag-description-list-font-size, 1em) * 1.33)
  );
  font-weight: var(--denhaag-description-list-caption-font-weight, bold);
  line-height: var(--denhaag-description-list-caption-line-height, var(--denhaag-description-list-line-height));
  margin-block-start: 0;
  margin-block-end: var(--denhaag-description-list-caption-margin-block-end, 1em);
}

.denhaag-description-list__detail {
  border-bottom: 1px solid var(--denhaag-description-list-border-color, lightgrey);
  margin-inline-start: 0;
  padding-block-end: var(--denhaag-description-list-detail-padding-block-end, var(--denhaag-description-list-padding));
  padding-block-start: var(
    --denhaag-description-list-detail-padding-block-start,
    var(--denhaag-description-list-padding)
  );
  padding-inline-end: var(--denhaag-description-list-padding-inline-end, var(--denhaag-description-list-padding));
  padding-inline-start: var(--denhaag-description-list-padding-inline-end, var(--denhaag-description-list-padding));
}

.denhaag-description-list__title {
  color: var(--denhaag-description-list-title-color);
  font-weight: var(--denhaag-description-list-title-font-weight, bold);
  padding-block-end: var(--denhaag-description-list-title-padding-block-end, var(--denhaag-description-list-padding));
  padding-block-start: var(
    --denhaag-description-list-title-padding-block-start,
    var(--denhaag-description-list-padding)
  );
  padding-inline-end: var(--denhaag-description-list-padding-inline-end, var(--denhaag-description-list-padding));
  padding-inline-start: var(--denhaag-description-list-padding-inline-start, var(--denhaag-description-list-padding));
}

@media (min-width: 640px) {
  .denhaag-description-list {
    --denhaag-description-list-detail-padding-block-end: var(--denhaag-description-list-lg-detail-padding-block-end);
    --denhaag-description-list-detail-padding-block-start: var(
      --denhaag-description-list-lg-detail-padding-block-start
    );
    --denhaag-description-list-title-padding-block-end: var(--denhaag-description-list-lg-title-padding-block-end);
    --denhaag-description-list-title-padding-block-start: var(--denhaag-description-list-lg-title-padding-block-start);
    --denhaag-description-list-padding-inline-end: var(--denhaag-description-list-lg-padding-inline-end);
    --denhaag-description-list-padding-inline-start: var(--denhaag-description-list-lg-padding-inline-start);

    grid-template-columns: 1fr 2fr;
  }

  .denhaag-description-list__title {
    border-bottom: 1px solid var(--denhaag-description-list-border-color, lightgrey);
  }
}
