@mixin list-view {
  --denhaag-base-card-height: none;
  --denhaag-base-card-background-color: none;
  --denhaag-base-card-padding-block-start: 0px;
  --denhaag-base-card-border-style: var(--denhaag-base-card-list-border-style);
  --denhaag-base-card-border-width: var(--denhaag-base-card-list-border-width);
  --denhaag-base-card-border-color: var(--denhaag-base-card-list-border-color);
  --denhaag-base-card-before-display: none;
  --denhaag-base-card-wrapper-gap: var(--denhaag-base-card-list-wrapper-gap);
  --denhaag-base-card-wrapper-flex-direction: var(--denhaag-base-card-list-wrapper-flex-direction);
  --denhaag-base-card-wrapper-padding-block-start: var(--denhaag-base-card-list-wrapper-padding-block-start);
  --denhaag-base-card-wrapper-padding-block-end: var(--denhaag-base-card-list-wrapper-padding-block-end);
  --denhaag-base-card-wrapper-padding-inline-start: var(--denhaag-base-card-list-wrapper-padding-inline-start);
  --denhaag-base-card-wrapper-padding-inline-end: var(--denhaag-base-card-list-wrapper-padding-inline-end);
  --denhaag-base-card-decoration-background-color: none;
  --denhaag-base-card-title-color: var(--denhaag-base-card-list-title-color);
  --denhaag-base-card-title-font-size: var(--denhaag-base-card-list-title-font-size);
  --denhaag-base-card-subtitle-color: var(--denhaag-base-card-list-subtitle-color);
  --denhaag-base-card-eyebrow-font-size: var(--denhaag-base-card-list-eyebrow-font-size);
  --denhaag-base-card-footer-gap: var(--denhaag-base-card-list-footer-gap);
  --denhaag-base-card-context-color: var(--denhaag-base-card-list-context-color);
}

@mixin variant-default($variant) {
  --denhaag-base-card-background-color: var(--denhaag-base-card-#{$variant}-default-background-color);
  --denhaag-base-card-border-style: var(--denhaag-base-card-#{$variant}-default-border-style);
  --denhaag-base-card-border-width: var(--denhaag-base-card-#{$variant}-default-border-width);
  --denhaag-base-card-border-color: var(--denhaag-base-card-#{$variant}-default-border-color);
  --denhaag-base-card-decoration-background-color: var(
    --denhaag-base-card-#{$variant}-default-decoration-background-color
  );
  --denhaag-base-card-decoration-paper-color: var(--denhaag-base-card-#{$variant}-default-decoration-paper-color);
  --denhaag-base-card-title-color: var(--denhaag-base-card-#{$variant}-default-title-color);
  --denhaag-base-card-subtitle-color: var(--denhaag-base-card-#{$variant}-default-subtitle-color);
  --denhaag-base-card-context-color: var(--denhaag-base-card-#{$variant}-default-context-color);
  --denhaag-base-card-label-color: var(--denhaag-base-card-#{$variant}-default-label-color);
  --denhaag-base-card-link-icon-color: var(--denhaag-base-card-#{$variant}-default-link-icon-color);
}

@mixin variant-state($variant, $state) {
  --denhaag-base-card-background-color: var(--denhaag-base-card-#{$variant}-#{$state}-background-color);
  --denhaag-base-card-border-style: var(--denhaag-base-card-#{$variant}-#{$state}-border-style);
  --denhaag-base-card-border-width: var(--denhaag-base-card-#{$variant}-#{$state}-border-width);
  --denhaag-base-card-border-color: var(--denhaag-base-card-#{$variant}-#{$state}-border-color);
  --denhaag-base-card-decoration-background-color: var(
    --denhaag-base-card-#{$variant}-#{$state}-decoration-background-color
  );
  --denhaag-base-card-decoration-paper-color: var(--denhaag-base-card-#{$variant}-#{$state}-decoration-paper-color);
  --denhaag-base-card-title-color: var(--denhaag-base-card-#{$variant}-#{$state}-title-color);
  --denhaag-base-card-label-color: var(--denhaag-base-card-#{$variant}-#{$state}-label-color);
  --denhaag-base-card-link-icon-color: var(--denhaag-base-card-#{$variant}-#{$state}-link-icon-color);
}

.denhaag-base-card {
  width: 100%;
  min-block-size: var(--denhaag-base-card-min-block-size);
  background: var(--denhaag-base-card-background-color);
  padding-block-start: var(--denhaag-base-card-padding-block-start);
  border-radius: var(--denhaag-base-card-border-radius);
  border: var(--denhaag-base-card-border-width, 0) var(--denhaag-base-card-border-style, none)
    var(--denhaag-base-card-border-color, none);
  position: relative;
  box-sizing: border-box;

  &::before {
    position: absolute;
    top: 8px;
    right: 8px;
    display: var(--denhaag-base-card-before-display, block);
    width: 50%;
    height: 20px;
    content: "";
    border-radius: 0 var(--denhaag-base-card-border-radius) 0 0;
    background: var(--denhaag-base-card-paper-color);
  }

  @media (width <= 480px) {
    @include list-view;

    --denhaag-base-card-list-wrapper-flex-direction: column;
  }

  &--case {
    --denhaag-base-card-min-block-size: var(--denhaag-base-card-case-min-block-size);
    --denhaag-base-card-title-font-family: var(--denhaag-base-card-case-title-font-family);
    --denhaag-base-card-title-font-size: var(--denhaag-base-card-case-title-font-size);
    --denhaag-base-card-title-font-weight: var(--denhaag-base-card-case-title-font-weight);
    --denhaag-base-card-title-line-height: var(--denhaag-base-card-case-title-line-height);
    --denhaag-base-card-subtitle-font-family: var(--denhaag-base-card-case-subtitle-font-family);
    --denhaag-base-card-subtitle-font-size: var(--denhaag-base-card-case-subtitle-font-size);
    --denhaag-base-card-subtitle-font-weight: var(--denhaag-base-card-case-subtitle-font-weight);
    --denhaag-base-card-subtitle-line-height: var(--denhaag-base-card-case-subtitle-line-height);
    --denhaag-base-card-subtitle-margin-block-start: var(--denhaag-base-card-case-subtitle-margin-block-start);

    @include variant-default("case");

    &:hover {
      @include variant-state("case", "hover");
    }

    &:active {
      @include variant-state("case", "active");
    }

    &:has(:focus-visible),
    &:focus-within {
      @include variant-state("case", "focus-visible");
    }
  }

  &--archived {
    @include variant-default("archived");

    &:hover {
      @include variant-state("archived", "hover");
    }

    &:active {
      @include variant-state("archived", "active");
    }

    &:has(:focus-visible),
    &:focus-within {
      @include variant-state("archived", "focus-visible");
    }
  }

  &--list {
    @include list-view;
  }

  &:hover {
    cursor: pointer;
  }

  &:has(:focus-visible),
  &:focus-within {
    outline: var(--denhaag-focus-border);
  }

  &:hover,
  &:active,
  &:has(:focus-visible),
  &:focus-within {
    .denhaag-base-card__title {
      color: var(--denhaag-base-card-title-color);
    }

    .denhaag-base-card__label {
      color: var(--denhaag-base-card-label-color);
    }

    .denhaag-base-card__action {
      color: var(--denhaag-base-card-link-icon-color);
    }
  }
}
