.denhaag-base-card__decoration {
  display: var(--denhaag-base-card-decoration-display, block);
  position: relative;
  width: 100%;
  height: 24px;
  overflow: hidden;
  border-start-start-radius: var(--denhaag-base-card-border-radius);
  border-start-end-radius: var(--denhaag-base-card-border-radius);
  background: var(--denhaag-base-card-decoration-background-color);
}

.denhaag-base-card__decoration-rim {
  position: absolute;
  inset-block-start: 0;
  inset-inline-end: 0;
  box-sizing: border-box;
  width: 33%;
  height: 25px;
  padding-block-start: var(--denhaag-base-card-decoration-rim-width, 7px);
  padding-inline-end: var(--denhaag-base-card-decoration-rim-width, 7px);
  background: var(--denhaag-base-card-decoration-rim-background-color);
}

.denhaag-base-card__decoration-paper {
  display: block;
  width: 100%;
  height: 100%;
  background: var(--denhaag-base-card-decoration-paper-background-color);
}

// The skewed element, needs to also change color same as the base
// The @mixin "case-default" sets --denhaag-base-card-background-color to var(--denhaag-base-card-case-background-color)
.denhaag-base-card__decoration::after {
  content: "";
  position: absolute;
  inset-block-start: 0;
  inset-inline-end: calc(33% - 6px);
  width: 18px;
  height: 100%;
  background: var(--denhaag-base-card-background-color);
  transform: skewX(20deg);
  transform-origin: top;
}
