.denhaag-base-card__decoration {
  display: var(--denhaag-base-card-decoration-display, block);
  position: relative;
  width: 100%;
  height: 24px;
  overflow: hidden;
  border-start-start-radius: var(--denhaag-base-card-border-radius);
  border-start-end-radius: var(--denhaag-base-card-border-radius);
  background: var(--denhaag-base-card-decoration-background-color);
}

// The 'paper' element, is always white and makes the remaining decoration-block look like a line.
.denhaag-base-card__decoration::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 108px;
  height: 16px;
  right: 8px;
  top: 8px;
  background: var(--denhaag-base-card-decoration-paper-background-color);
  border-radius: var(--denhaag-base-card-decoration-paper-border-radius);
}

// The skewed element, needs change color same as the base.
// The @mixin "case-default" sets --denhaag-base-card-background-color to var(--denhaag-base-card-case-background-color)
.denhaag-base-card__decoration::after {
  content: "";
  position: absolute;
  inset-block-start: 0;
  inset-inline-end: calc(33% - 6px);
  width: 48px;
  height: 100%;
  background: var(--denhaag-base-card-background-color);
  transform: skewX(20deg);
  transform-origin: top;
}
