.denhaag-base-card__description {
  --nl-paragraph-font-size: var(--denhaag-base-card-description-font-size);
  --nl-paragraph-line-height: var(--denhaag-base-card-description-line-height);
  --nl-paragraph-color: var(--denhaag-base-card-color);
  --nl-paragraph-paragraph-margin-block-start: var(--denhaag-base-card-description-margin-block-start);

  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
