.denhaag-base-card__header {
  display: flex;
  flex-direction: column;
  gap: var(--denhaag-base-card-header-row-gap);
  padding-block-start: var(--denhaag-base-card-header-padding-block-start);
  padding-block-end: var(--denhaag-base-card-header-padding-block-end);
  padding-inline-start: var(--denhaag-base-card-header-padding-inline-start);
  padding-inline-end: var(--denhaag-base-card-header-padding-inline-end);
}
