.denhaag-base-card__label {
  --nl-paragraph-font-family: var(--denhaag-base-card-label-font-family);
  --nl-paragraph-font-size: var(--denhaag-base-card-label-font-size);
  --nl-paragraph-font-weight: var(--denhaag-base-card-label-font-weight);
  --nl-paragraph-line-height: var(--denhaag-base-card-label-line-height);
  --nl-paragraph-color: var(--denhaag-base-card-label-color);

  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

// When user hovers any part of the card, the Label will get an underline on hover
denhaag-base-card:hover .denhaag-base-card__label {
  text-decoration: var(--denhaag-base-card-label-hover-text-decoration, underline);
}
