.denhaag-base-card__pre-heading {
  margin-block: 0;
  margin-block-end: var(--denhaag-base-card-pre-heading-margin-block-end);
  font-size: var(--denhaag-base-card-pre-heading-font-size);
  font-weight: var(--denhaag-base-card-pre-heading-font-weight);
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--denhaag-base-card-pre-heading-color);
}
