.denhaag-dynamic-content {
  padding-block-start: var(--denhaag-dynamic-content-padding-block);
  padding-block-end: var(--denhaag-dynamic-content-padding-block);
}

.denhaag-dynamic-content--list {
  --denhaag-dynamic-content-grid-columns: 1;
  --denhaag-dynamic-content-row-gap: var(--denhaag-dynamic-content-list-gap);
}

.denhaag-dynamic-content--list .denhaag-link {
  height: fit-content; // Without this property CSS grid will increase the height of the `<a>`.
}

.denhaag-dynamic-content--list .denhaag-link__icon {
  align-self: flex-start;
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: inherit;
}

.denhaag-dynamic-content__grid {
  display: grid;
  grid-template-columns: repeat(var(--denhaag-dynamic-content-grid-columns, 1), 1fr);
  grid-column-gap: var(--denhaag-dynamic-content-grid-gap, 0);
  grid-row-gap: var(--denhaag-dynamic-content-row-gap);
  scroll-margin-top: var(--denhaag-dynamic-content-row-gap);
}

.denhaag-dynamic-content__card {
  --denhaag-dynamic-content-card-icon-opacity: 0;

  display: flex;
  flex-direction: column;
  position: relative;

  @media (prefers-reduced-motion: reduce) {
    --denhaag-dynamic-content-card-transition-duration: 0ms;
  }
}

.denhaag-dynamic-content__card--reduced-motion {
  --denhaag-dynamic-content-card-transition-duration: 0ms;
}

.denhaag-dynamic-content__card--hover,
.denhaag-dynamic-content__card:hover {
  --denhaag-dynamic-content-icon-opacity: var(--denhaag-dynamic-content-hover-icon-opacity);
  --denhaag-dynamic-content-image-translate: translateY(-0.125rem);
}

.denhaag-dynamic-content__card-link {
  text-decoration: none;

  &::after {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.denhaag-dynamic-content__card-image-container {
  height: var(--denhaag-dynamic-content-image-container-height);
  overflow: var(--denhaag-dynamic-content-image-container-overflow);
  width: var(--denhaag-dynamic-content-image-container-width);
}

.denhaag-dynamic-content__card-image {
  aspect-ratio: 16 / 9;
  background: var(--denhaag-dynamic-content-image-background-color);
  object-fit: cover;
  transition: transform var(--denhaag-dynamic-content-card-transition-timing-function, ease-in-out)
    var(--denhaag-dynamic-content-transition-card-duration, 200ms);
}

.denhaag-dynamic-content__card--reduced-motion .denhaag-dynamic-content__card-image {
  transition-duration: var(--denhaag-dynamic-content-card-transition-duration);
}

.denhaag-dynamic-content__card--hover .denhaag-dynamic-content__card-image,
.denhaag-dynamic-content__card:hover .denhaag-dynamic-content__card-image {
  transform: var(--denhaag-dynamic-content-image-translate) scale(1.02);
}

.denhaag-dynamic-content__card-image--placeholder {
  padding-block-start: var(--denhaag-dynamic-content-image-placeholder-padding-block);
  padding-block-end: var(--denhaag-dynamic-content-image-placeholder-padding-block);
  padding-inline-start: var(--denhaag-dynamic-content-image-placeholder-padding-inline);
  padding-inline-end: var(--denhaag-dynamic-content-image-placeholder-padding-inline);
}

.denhaag-dynamic-content__card .denhaag-icon {
  --denhaag-dynamic-content-card-icon-translate: translateX(-0.1875rem);

  align-self: end;
  color: var(--denhaag-dynamic-content-icon-color);
  transition: transform var(--denhaag-dynamic-content-card-transition-timing-function, ease-in-out)
      var(--denhaag-dynamic-content-card-transition-duration, 200ms),
    opacity var(--denhaag-dynamic-content-card-transition-timing-function, ease-in-out)
      var(--denhaag-dynamic-content-card-transition-duration, 200ms);
  transform: var(--denhaag-dynamic-content-card-icon-translate);
}

.denhaag-dynamic-content__card--hover .denhaag-icon,
.denhaag-dynamic-content__card:hover .denhaag-icon {
  --denhaag-dynamic-content-card-icon-translate: translateX(0);
}

.denhaag-dynamic-content__card--focus,
.denhaag-dynamic-content__card:focus-within,
.denhaag-dynamic-content__card-link:focus-visible {
  --denhaag-dynamic-content-icon-opacity: var(--denhaag-dynamic-content-focus-icon-opacity);

  outline: none;

  /* stylelint-disable-next-line no-descending-specificity */
  & .denhaag-icon,
  & .denhaag-dynamic-content__card-image-container {
    outline: var(--denhaag-dynamic-content-focus-outline);
  }
}

.denhaag-dynamic-content__card-link:focus:not(:focus-within) {
  --denhaag-dynamic-content-icon-opacity: var(--denhaag-dynamic-content-focus-icon-opacity);

  outline: none;
}

.denhaag-dynamic-content__card-content {
  color: var(--denhaag-dynamic-content-card-content-color);
  display: flex;
  flex-direction: row;
  gap: var(--denhaag-dynamic-content-card-content-gap);
  padding-block-start: var(--denhaag-dynamic-content-card-content-padding);
}

.denhaag-dynamic-content__card-caption {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  font-size: var(--denhaag-dynamic-content-card-caption-font-size);
  font-weight: var(--denhaag-dynamic-content-card-caption-font-size);
  line-height: var(--denhaag-dynamic-content-card-caption-line-height);
}

.denhaag-dynamic-content__card-title {
  color: var(--denhaag-dynamic-content-card-title-color);
  font-size: var(--denhaag-dynamic-content-card-title-font-size);
  font-weight: var(--denhaag-dynamic-content-card-title-font-weight);
  hyphens: var(--denhaag-dynamic-content-card-title-hyphens);
  line-height: var(--denhaag-dynamic-content-card-title-line-height);
  margin-block-start: 0;
  margin-block-end: 0;
  word-break: break-word; // Fixes hypens issue for Chrome & safari on windows device.
}

.denhaag-dynamic-content__card-icon {
  align-self: end;
  color: var(--denhaag-dynamic-content-icon-color);
  height: var(--denhaag-dynamic-content-icon-size, var(--denhaag-space-block-xl));
  opacity: var(--denhaag-dynamic-content-icon-opacity);
  position: relative;
  transition: opacity var(--denhaag-dynamic-content-card-transition-timing-function, ease-in-out)
    var(--denhaag-dynamic-content-card-transition-duration, 200ms);
  width: var(--denhaag-dynamic-content-icon-size, var(--denhaag-space-block-xl));
}

.denhaag-dynamic-content__card-icon::before {
  background-color: var(--denhaag-color-blue-3);
  border-radius: var(--denhaag-dynamic-content-icon-border-radius, var(--denhaag-border-radius));
  content: "";
  display: block;
  height: 0.125rem;
  left: 0;
  position: absolute;
  top: 0.6875rem;
  width: 0.5rem;
}

.denhaag-dynamic-content__card--hover .denhaag-dynamic-content__card-icon,
.denhaag-dynamic-content__card:hover .denhaag-dynamic-content__card-icon {
  --denhaag-dynamic-content-card-icon-opacity: 100%;
}

.denhaag-dynamic-content__pagination {
  padding-block-start: var(--denhaag-dynamic-content-pagination-padding-block);
}

@media (min-width: 768px) {
  .denhaag-dynamic-content {
    --denhaag-dynamic-content-grid-gap: var(--denhaag-dynamic-content-s-grid-gap);
  }

  .denhaag-dynamic-content--grid {
    --denhaag-dynamic-content-grid-columns: var(--denhaag-dynamic-content-s-grid-columns);
  }

  .denhaag-dynamic-content--list-2 {
    --denhaag-dynamic-content-grid-columns: 2;
  }

  .denhaag-dynamic-content__card .denhaag-icon {
    opacity: var(--denhaag-dynamic-content-icon-opacity);
  }
}

@media (min-width: 1024px) {
  .denhaag-dynamic-content {
    --denhaag-dynamic-content-grid-gap: var(--denhaag-dynamic-content-m-grid-gap);
  }

  .denhaag-dynamic-content--grid {
    --denhaag-dynamic-content-grid-columns: var(--denhaag-dynamic-content-m-grid-columns);
  }
}
