@import "~@utrecht/components/form-label/css";

.denhaag-form-field {
  --denhaag-form-input-margin-block-end: var(--denhaag-space-xs);

  margin-block: 0;
  margin-inline: 0;
  padding-block: 0;
  padding-inline: 0;
  border: 0;
}

.denhaag-form-field__label {
  @extend .utrecht-form-label;

  margin-block-end: var(--denhaag-form-field-label-margin-block-end, var(--denhaag-space-2xs));
  padding-inline: 0;
  line-height: var(--denhaag-typography-scale-base-line-height);
}

.denhaag-form-field__description {
  font-family: var(--denhaag-form-field-description-font-family, var(--denhaag-typography-sans-serif-font-family));
  font-size: var(--denhaag-form-field-description-font-size, var(--denhaag-typography-scale-s-font-size));
  font-weight: var(--denhaag-form-field-description-font-weight, var(--denhaag-typography-weight-regular));
  color: var(--denhaag-form-field-description-color, var(--denhaag-color-grey-4));
  line-height: var(--denhaag-form-field-description-line-height, var(--denhaag-typography-scale-s-line-height));
}

.denhaag-form-field--error .denhaag-form-field__description {
  --denhaag-form-field-description-color: var(--denhaag-form-field-description-error-color, var(--denhaag-color-red-3));
}
