.denhaag-language-switcher {
  .denhaag-language-switcher__title {
    @media (max-width: 1023px) {
      display: var(--denhaag-language-switcher-mobile-title-display);
    }
  }

  .denhaag-language-switcher__list {
    margin-inline-start: var(--denhaag-language-switcher-list-margin-inline-start);
    padding-inline-start: var(--denhaag-language-switcher-list-padding-inline-start);

    @media (min-width: 1024px) {
      padding-block-start: var(--denhaag-language-switcher-list-padding-block-start);
      margin-block-end: var(--denhaag-language-switcher-list-margin-block-end);
    }

    .denhaag-language-switcher__list-item {
      list-style: var(--denhaag-language-switcher-list-item-list-style);
      padding-block-start: var(--denhaag-language-switcher-list-item-mobile-padding-block-start);
      padding-block-end: var(--denhaag-language-switcher-list-item-mobile-padding-block-end);

      @media (min-width: 768px) {
        padding-block-start: var(--denhaag-language-switcher-list-item-tablet-padding-block-start);
        padding-block-end: var(--denhaag-language-switcher-list-item-tablet-padding-block-end);
      }

      @media (min-width: 1024px) {
        padding-block-start: var(--denhaag-language-switcher-list-item-padding-block-start);
        padding-block-end: var(--denhaag-language-switcher-list-item-padding-block-end);
      }

      .denhaag-language-switcher__list-item-button {
        --utrecht-button-icon-gap: var(--denhaag-language-switcher-list-item-button-icon-gap);
        --utrecht-icon-inset-block-start: var(--denhaag-language-switcher-list-item-button-icon-inset-block-start);
        --utrecht-icon-size: var(--denhaag-language-switcher-list-item-button-icon-size);
        --utrecht-link-hover-text-decoration: var(--denhaag-language-switcher-list-item-button-hover-text-decoration);
        --utrecht-link-text-decoration: var(--denhaag-language-switcher-list-item-button-text-decoration);
        --utrecht-link-text-underline-offset: var(--denhaag-language-switcher-list-item-button-text-underline-offset);

        &--active {
          color: var(--denhaag-language-switcher-list-item-link-active-color);
          font-weight: var(--denhaag-language-switcher-list-item-link-active-font-weight, bold);
        }

        .denhaag-language-switcher-icon {
          font-size: var(--denhaag-language-switcher-list-item-button-icon-size);
        }
      }
    }

    .denhaag-link__icon {
      font-size: var(--denhaag-link-group-link-icon-font-size);
      width: var(--denhaag-link-group-link-icon-width);
    }

    .denhaag-link__icon .denhaag-icon {
      align-self: var(--denhaag-link-group-link-icon-denhaag-icon-align-self);
      padding-block-start: var(--denhaag-link-group-link-icon-denhaag-icon-padding-block-start);
      height: var(--denhaag-link-group-link-icon-denhaag-icon-height);
    }

    .denhaag-language-switcher__list-item-link--active {
      color: var(--denhaag-language-switcher-list-item-link-active-color);
      font-weight: var(--denhaag-language-switcher-list-item-link-active-font-weight, bold);

      .denhaag-link__icon {
        margin-block-start: var(--denhaag-language-switcher-list-item-link-active-icon-margin-block-start);
        margin-block-end: var(--denhaag-language-switcher-list-item-link-active-icon-margin-block-end);
        margin-inline-start: var(--denhaag-language-switcher-list-item-link-active-icon-margin-inline-start);
        margin-inline-end: var(--denhaag-language-switcher-list-item-link-active-icon-margin-inline-end);

        .denhaag-icon {
          padding-inline-start: var(--denhaag-language-switcher-list-item-link-active-icon-padding-inline-start);
          padding-block-start: var(--denhaag-language-switcher-list-item-link-active-icon-padding-block-start);
        }
      }
    }
  }
}
