.denhaag-list__secondary-action {
  flex-shrink: 0;
  display: flex;
  margin-inline-start: calc(var(--denhaag-list-item-secondary-action-margin-inline-start));
  color: var(--denhaag-list-item-secondary-action-color);

  --denhaag-icon-button-padding-inline-start: 0;
  --denhaag-icon-button-padding-inline-end: 0;
  --denhaag-icon-button-padding-block-start: 0;
  --denhaag-icon-button-padding-block-end: 0;
  --denhaag-icon-button-hover-color: var(--denhaag-list-item-hover-color);
}
