.denhaag-list__item {
  display: flex;
  align-items: center;
  padding-block: var(--denhaag-list-item-padding-block, 12px);
  padding-inline: var(--denhaag-list-item-padding-inline, 16px);
}

.denhaag-list__item-button {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  padding-block: var(--denhaag-list-item-padding-block, 12px);
  padding-inline: var(--denhaag-list-item-padding-inline, 16px);
  border: 0;
  outline: 0;
  background: none;
  cursor: pointer;
}

.denhaag-list__item-button.denhaag-list__item-button-hover,
.denhaag-list__item-button:hover {
  .denhaag-list__item-text-primary,
  .denhaag-list__item-icon,
  .denhaag-list__secondary-action {
    color: var(--denhaag-list-item-hover-color, var(--denhaag-color-blue-3));
  }
}

.denhaag-list__item-button.denhaag-list__item-button-focus,
.denhaag-list__item-button:focus {
  outline: var(--denhaag-focus-border);

  .denhaag-list__item-text-primary,
  .denhaag-list__item-icon,
  .denhaag-list__secondary-action {
    color: var(--denhaag-list-item-focus-color, var(--denhaag-color-blue-3));
  }
}

.denhaag-list__item-button.denhaag-list__item-button--active,
.denhaag-list__item-button:active {
  outline: var(--denhaag-list-item-active-border-size, 2px) solid
    var(--denhaag-list-item-active-border-color, var(--denhaag-color-blue-3));
}

.denhaag-list__item.denhaag-list__item--with-secondary,
.denhaag-list__item.denhaag-list__item--with-secondary .denhaag-list__item-button {
  padding-block: var(--denhaag-list-item-secondary-padding-block, 8px);
}

.denhaag-list__item.denhaag-list__item--with-secondary .denhaag-list__item-text-primary {
  line-height: var(--denhaag-list-item-text-multiline-primary-line-height, 32px);
}

.denhaag-list__item.denhaag-list__item--nav {
  padding-block: 0;
  padding-inline: 0;
}
