.denhaag-list__subheader {
  font-family: var(--denhaag-typography-sans-serif-font-family);
  font-size: var(--denhaag-typography-scale-base-font-size);
  font-weight: var(--denhaag-list-subheader-font-weight);
  color: var(--denhaag-list-subheader-color);
}
