.denhaag-list__item-icon {
  flex-shrink: 0;
  display: inline-flex;
  margin-inline-end: var(--denhaag-list-item-icon-margin-inline-end, 24px);
  color: var(--denhaag-list-item-icon-color, var(--denhaag-color-grey-4));
}
