.denhaag-list__subheader {
  margin-block: 0;
  margin-inline: 0;
  padding-block: var(--denhaag-list-item-padding-block, 12px);
  padding-inline: var(--denhaag-list-item-padding-inline, 16px);
  font-family: var(--denhaag-typography-sans-serif-font-family);
  font-size: var(--denhaag-typography-scale-base-font-size);
  font-weight: var(--denhaag-list-subheader-font-weight, 700);
  line-height: var(--denhaag-list-subheader-line-height, var(--denhaag-typography-scale-base-line-height));
  color: var(--denhaag-list-subheader-color, var(--denhaag-color-grey-4));
}
