.denhaag-list__secondary-action {
  flex-shrink: 0;
  display: flex;
  margin-inline-start: var(--denhaag-list-item-secondary-action-margin-inline-start, 24px);
  color: var(--denhaag-list-item-secondary-action-color, var(--denhaag-color-grey-4));

  --denhaag-icon-button-padding-inline: 0;
  --denhaag-icon-button-padding-block: 0;
  --denhaag-icon-button-hover-color: var(--denhaag-list-item-hover-color, var(--denhaag-color-blue-3));
}
