.denhaag-list__wrapper {
  margin-block: var(--denhaag-list-wrapper-margin-block, var(--denhaag-space-xs));
  padding-block: var(--denhaag-list-wrapper-padding-block, var(--denhaag-space-xs));
}

.denhaag-list__wrapper.denhaag-list__wrapper--with-subheader {
  padding-block-start: 0;
}

.denhaag-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
