.denhaag-list__wrapper {
  margin-block: var(--denhaag-list-wrapper-margin-block, 8px);
  padding-block: var(--denhaag-list-wrapper-padding-block, 8px);
}

.denhaag-list__wrapper.denhaag-list__wrapper--with-subheader {
  padding-block-start: 0;
}

.denhaag-list {
  margin-block: 0;
  margin-inline: 0;
  padding-block: 0;
  padding-inline: 0;
  list-style: none;
}
