.denhaag-button {
  align-items: center;
  background-color: var(--denhaag-button-primary-action-background-color);
  border: 0;
  border-radius: var(--denhaag-button-border-radius);
  color: var(--denhaag-button-primary-action-color);
  cursor: var(--denhaag-button-cursor, default);
  display: inline-flex;
  font-family: var(--denhaag-button-font-family);
  font-weight: var(--denhaag-button-font-weight, 400);
  font-size: var(--denhaag-typography-scale-base-font-size);
  justify-content: center;
  line-height: 1.5;
  padding-block-end: var(--denhaag-button-medium-size-padding-block, var(--denhaag-button-padding-block));
  padding-block-start: var(--denhaag-button-medium-size-padding-block, var(--denhaag-button-padding-block));
  padding-inline-end: var(--denhaag-button-medium-size-padding-inline, var(--denhaag-button-padding-inline));
  padding-inline-start: var(--denhaag-button-medium-size-padding-inline, var(--denhaag-button-padding-inline));
  position: relative;
  text-decoration: none;
}

a.denhaag-button {
  --denhaag-button-cursor: pointer;
}

.denhaag-button--focus::after,
.denhaag-button:focus::after,
.denhaag-button--focus-visible::after,
.denhaag-button:focus-visible::after {
  border: var(--denhaag-focus-border);
  border-radius: var(--denhaag-border-radius);
  bottom: -2px;
  content: "";
  display: block;
  left: -2px;
  position: absolute;
  right: -2px;
  top: -2px;
}

.denhaag-button--focus-visible,
.denhaag-button:focus-visible {
  outline: none;
}

/* Due to the accessibility focus outline overlapping with the border, the outline needs to be repositioned for the border variant */
.denhaag-button--secondary-action.denhaag-button--focus::after,
.denhaag-button--secondary-action:focus::after {
  bottom: -3px;
  left: -3px;
  right: -3px;
  top: -3px;
}

.denhaag-button.denhaag-button--hover,
.denhaag-button:hover {
  background-color: var(--denhaag-button-primary-action-hover-background-color);
  color: var(--denhaag-button-primary-action-hover-color);
}

.denhaag-button.denhaag-button--disabled,
.denhaag-button.denhaag-button:disabled {
  background-color: var(--denhaag-button-primary-action-disabled-background-color);
  color: var(--denhaag-button-primary-action-disabled-color);
}

.denhaag-button--secondary-action {
  background-color: var(--denhaag-button-secondary-action-background-color);
  border-color: var(--denhaag-button-secondary-action-border-color);
  border-style: solid;
  border-width: var(--denhaag-button-border-width);
  color: var(--denhaag-button-secondary-action-color);
  padding-block-end: calc(
    var(--denhaag-button-medium-size-padding-block, var(--denhaag-button-padding-block)) - var(
        --denhaag-button-border-width
      )
  );
  padding-block-start: calc(
    var(--denhaag-button-medium-size-padding-block, var(--denhaag-button-padding-block)) - var(
        --denhaag-button-border-width
      )
  );
  padding-inline-end: calc(
    var(--denhaag-button-medium-size-padding-inline, var(--denhaag-button-padding-inline)) - var(
        --denhaag-button-border-width
      )
  );
  padding-inline-start: calc(
    var(--denhaag-button-medium-size-padding-inline, var(--denhaag-button-padding-inline)) - var(
        --denhaag-button-border-width
      )
  );
}

.denhaag-button--secondary-action.denhaag-button--hover,
.denhaag-button--secondary-action:hover {
  background-color: var(--denhaag-button-secondary-action-hover-background-color);
  border-color: var(--denhaag-button-secondary-action-hover-border-color);
  color: var(--denhaag-button-secondary-action-hover-color);
}

.denhaag-button--secondary-action.denhaag-button--disabled,
.denhaag-button--secondary-action.denhaag-button:disabled {
  background-color: var(--denhaag-button-secondary-action-disabled-background-color);
  border-color: var(--denhaag-button-secondary-action-disabled-border-color);
  color: var(--denhaag-button-secondary-action-disabled-color);
}

.denhaag-button--large {
  font-size: var(--denhaag-typography-scale-lg-font-size);
  padding-block-end: var(--denhaag-button-large-size-padding-block, var(--denhaag-button-padding-block));
  padding-block-start: var(--denhaag-button-large-size-padding-block, var(--denhaag-button-padding-block));
  padding-inline-end: var(--denhaag-button-large-size-padding-inline, var(--denhaag-button-padding-inline));
  padding-inline-start: var(--denhaag-button-large-size-padding-inline, var(--denhaag-button-padding-inline));
  line-height: var(--denhaag-button-large-size-line-height);
}

.denhaag-button--large.denhaag-button--secondary-action {
  padding-block-end: calc(
    var(--denhaag-button-large-size-padding-block, var(--denhaag-button-padding-block)) - var(
        --denhaag-button-border-width
      )
  );
  padding-block-start: calc(
    var(--denhaag-button-large-size-padding-block, var(--denhaag-button-padding-block)) - var(
        --denhaag-button-border-width
      )
  );
  padding-inline-end: calc(
    var(--denhaag-button-large-size-padding-inline, var(--denhaag-button-padding-inline)) - var(
        --denhaag-button-border-width
      )
  );
  padding-inline-start: calc(
    var(--denhaag-button-large-size-padding-inline, var(--denhaag-button-padding-inline)) - var(
        --denhaag-button-border-width
      )
  );
}

.denhaag-button__icon > *:first-child {
  font-size: var(--denhaag-typography-scale-lg-font-size);
}

.denhaag-button--large .denhaag-button__icon > *:first-child {
  font-size: var(--denhaag-typography-scale-xl-font-size);
}

.denhaag-button--start-icon .denhaag-button__icon {
  display: inherit;
  margin-inline-end: 8px;
  margin-inline-start: -4px;
}

.denhaag-button--end-icon .denhaag-button__icon {
  display: inherit;
  margin-inline-end: -4px;
  margin-inline-start: 8px;
}

.denhaag-button__sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding-block-start: 0;
  padding-block-end: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  margin-block-start: -1px;
  margin-block-end: -1px;
  margin-inline-start: -1px;
  margin-inline-end: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.denhaag-button--icon-only {
  --denhaag-button-medium-size-padding-inline: 0.75rem;

  height: var(--denhaag-button-icon-only-height);
  padding-inline-start: var(--denhaag-button-medium-size-padding-inline);
  padding-inline-end: var(--denhaag-button-medium-size-padding-inline);
}

.denhaag-button--icon-only .denhaag-button__icon {
  height: var(--denhaag-button-icon-only-icon-height);
}
