@use "~@utrecht/focus-ring-css/src/mixin" as *;

.denhaag-button {
  --_denhaag-button-padding-inline-end: var(
    --denhaag-button-medium-size-padding-inline,
    var(--denhaag-button-padding-inline)
  );
  --_denhaag-button-padding-inline-start: var(
    --denhaag-button-medium-size-padding-inline,
    var(--denhaag-button-padding-inline)
  );

  align-items: center;
  background-color: var(--denhaag-button-primary-action-background-color);
  border: 0;
  border-radius: var(--denhaag-button-border-radius);
  color: var(--denhaag-button-primary-action-color);
  cursor: var(--denhaag-button-cursor, default);
  display: inline-flex;
  font-family: var(--denhaag-button-font-family);
  font-weight: var(--denhaag-button-font-weight, 400);
  font-size: var(--denhaag-button-font-size, var(--denhaag-typography-scale-base-font-size));
  gap: var(--denhaag-button-gap);
  justify-content: center;
  line-height: 1.5;
  padding-block-end: var(--denhaag-button-medium-size-padding-block, var(--denhaag-button-padding-block));
  padding-block-start: var(--denhaag-button-medium-size-padding-block, var(--denhaag-button-padding-block));
  padding-inline-end: var(--_denhaag-button-padding-inline-end);
  padding-inline-start: var(--_denhaag-button-padding-inline-start);
  position: relative;
  text-decoration: none;

  &--start-icon {
    --_denhaag-button-padding-inline-start: var(
      --denhaag-button-icon-padding-inline-medium,
      var(--denhaag-button-padding-inline)
    );
  }

  &--end-icon {
    --_denhaag-button-padding-inline-end: var(
      --denhaag-button-icon-padding-inline-medium,
      var(--denhaag-button-padding-inline)
    );
  }

  &__icon {
    display: flex;
    align-items: center;
  }

  &.denhaag-button--error {
    --denhaag-button-primary-action-background-color: var(--denhaag-color-red-3);
  }

  &.denhaag-button--loading-animation {
    display: flex;
    justify-content: space-between;
  }

  &:focus {
    @include utrecht-focus;
  }

  &:focus-visible {
    @include utrecht-focus-visible;
  }
}

@keyframes denhaag-rotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.denhaag-button--loading .denhaag-icon {
  animation: denhaag-rotation 1000ms linear infinite;
}

.denhaag-button__loading-state-button-hidden > span {
  display: block;
}

.denhaag-button-loading-state-container {
  position: relative;
}

.denhaag-button-loading-state-current {
  display: block;
  /* stylelint-disable */
  text-align: left;
  /* stylelint-enable */
}

.denhaag-button-loading-states {
  visibility: hidden;

  & > .denhaag-button-loading-state {
    height: 0;
  }
}

.denhaag-button.denhaag-button--hover,
.denhaag-button:hover {
  background-color: var(--denhaag-button-primary-action-hover-background-color);
  color: var(--denhaag-button-primary-action-hover-color);
}

.denhaag-button.denhaag-button--disabled,
.denhaag-button.denhaag-button:disabled {
  background-color: var(--denhaag-button-primary-action-disabled-background-color);
  color: var(--denhaag-button-primary-action-disabled-color);
}

.denhaag-button--secondary-action {
  background-color: var(--denhaag-button-secondary-action-background-color);
  border-color: var(--denhaag-button-secondary-action-border-color);
  border-style: solid;
  border-width: var(--denhaag-button-border-width);
  color: var(--denhaag-button-secondary-action-color);
  padding-block-end: calc(
    var(--denhaag-button-medium-size-padding-block, var(--denhaag-button-padding-block)) - var(
        --denhaag-button-border-width
      )
  );
  padding-block-start: calc(
    var(--denhaag-button-medium-size-padding-block, var(--denhaag-button-padding-block)) - var(
        --denhaag-button-border-width
      )
  );
  padding-inline-end: calc(
    var(--denhaag-button-medium-size-padding-inline, var(--denhaag-button-padding-inline)) - var(
        --denhaag-button-border-width
      )
  );
  padding-inline-start: calc(
    var(--denhaag-button-medium-size-padding-inline, var(--denhaag-button-padding-inline)) - var(
        --denhaag-button-border-width
      )
  );
}

.denhaag-button--secondary-action.denhaag-button--hover,
.denhaag-button--secondary-action:hover {
  background-color: var(--denhaag-button-secondary-action-hover-background-color);
  border-color: var(--denhaag-button-secondary-action-hover-border-color);
  color: var(--denhaag-button-secondary-action-hover-color);
}

.denhaag-button--secondary-action.denhaag-button--disabled,
.denhaag-button--secondary-action.denhaag-button:disabled {
  background-color: var(--denhaag-button-secondary-action-disabled-background-color);
  border-color: var(--denhaag-button-secondary-action-disabled-border-color);
  color: var(--denhaag-button-secondary-action-disabled-color);
}

.denhaag-button--large {
  --_denhaag-button-padding-inline-end: var(
    --denhaag-button-large-size-padding-inline,
    var(--denhaag-button-padding-inline)
  );
  --_denhaag-button-padding-inline-start: var(
    --denhaag-button-large-size-padding-inline,
    var(--denhaag-button-padding-inline)
  );

  font-size: var(--denhaag-button-large-size-font-size, var(--denhaag-typography-scale-lg-font-size));
  padding-block-end: var(--denhaag-button-large-size-padding-block, var(--denhaag-button-padding-block));
  padding-block-start: var(--denhaag-button-large-size-padding-block, var(--denhaag-button-padding-block));
  padding-inline-end: var(--_denhaag-button-padding-inline-end);
  padding-inline-start: var(--_denhaag-button-padding-inline-start);
  line-height: var(--denhaag-button-large-size-line-height);

  .denhaag-button--start-icon {
    --_denhaag-button-padding-inline-start: var(
      --denhaag-button-icon-padding-inline-large,
      var(--denhaag-button-padding-inline)
    );
  }

  .denhaag-button--end-icon {
    --_denhaag-button-padding-inline-end: var(
      --denhaag-button-icon-padding-inline-large,
      var(--denhaag-button-padding-inline)
    );
  }
}

.denhaag-button--large.denhaag-button--secondary-action {
  padding-block-end: calc(
    var(--denhaag-button-large-size-padding-block, var(--denhaag-button-padding-block)) - var(
        --denhaag-button-border-width
      )
  );
  padding-block-start: calc(
    var(--denhaag-button-large-size-padding-block, var(--denhaag-button-padding-block)) - var(
        --denhaag-button-border-width
      )
  );
  padding-inline-end: calc(
    var(--denhaag-button-large-size-padding-inline, var(--denhaag-button-padding-inline)) - var(
        --denhaag-button-border-width
      )
  );
  padding-inline-start: calc(
    var(--denhaag-button-large-size-padding-inline, var(--denhaag-button-padding-inline)) - var(
        --denhaag-button-border-width
      )
  );
}

.denhaag-button__icon > *:first-child {
  font-size: var(--denhaag-typography-scale-lg-font-size);
}

.denhaag-button--large .denhaag-button__icon > *:first-child {
  font-size: var(--denhaag-typography-scale-xl-font-size);
}

.denhaag-button--icon-only {
  --denhaag-button-medium-size-padding-inline: 0.75rem;

  height: var(--denhaag-button-icon-only-height);
  padding-inline-start: var(--denhaag-button-medium-size-padding-inline);
  padding-inline-end: var(--denhaag-button-medium-size-padding-inline);
}

.denhaag-button--icon-only .denhaag-button__icon {
  height: var(--denhaag-button-icon-only-icon-height);
}
