.denhaag-button {
  --denhaag-button-focus-border-offset: calc(-1 * var(--denhaag-focus-border-width, 1px));
  --denhaag-icon-size: var(--denhaag-typography-scale-lg-font-size);

  align-items: center;
  background-color: var(
    --denhaag-button-background-color,
    var(--denhaag-button-primary-action-background-color, var(--denhaag-color-green-3))
  );
  border: 0;
  border-radius: var(--denhaag-button-border-radius, var(--denhaag-border-radius));
  color: var(--denhaag-button-color, var(--denhaag-button-primary-action-color, var(--denhaag-color-white)));
  cursor: var(--denhaag-button-cursor, default);
  display: inline-flex;
  font-family: var(--denhaag-button-font-family, var(--denhaag-typography-sans-serif-font-family));
  font-weight: var(--denhaag-button-font-weight, var(--denhaag-typography-weight-regular));
  font-size: var(--denhaag-button-font-size, var(--denhaag-typography-scale-base-font-size));
  justify-content: center;
  line-height: 1.5;
  padding-block: var(
    --denhaag-button-padding-block,
    var(--denhaag-button-medium-size-padding-block, var(--denhaag-space-xs))
  );
  padding-inline: var(
    --denhaag-button-padding-inline,
    var(--denhaag-button-medium-size-padding-inline, var(--denhaag-space-md))
  );
  position: relative;
  text-decoration: none;
  transition-property: background-color, border-color, color, transform;
  transition-duration: var(--denhaag-button-transition-duration, 50ms);
  transition-timing-function: var(--denhaag-button-transition-timing-function, ease-in-out);
  transition-delay: var(--denhaag-button-transition-delay);
  transform: translate(var(--denhaag-button-transform-x, 0), var(--denhaag-button-transform-y, 0));

  @media (prefers-reduced-motion: reduce) {
    --denhaag-button-transition-duration: 0;
  }
}

.denhaag-button--reduced-button-transition {
  --denhaag-button-transition-duration: 0;
}

a.denhaag-button {
  --denhaag-button-cursor: pointer;
}

.denhaag-button.denhaag-button--hover,
.denhaag-button:hover {
  --denhaag-button-background-color: var(
    --denhaag-button-primary-action-hover-background-color,
    var(--denhaag-color-green-4)
  );
  --denhaag-button-color: var(--denhaag-button-primary-action-hover-color, var(--denhaag-color-white));
  --denhaag-button-transform-y: var(--denhaag-button-hover-transform-y, -2px);
}

.denhaag-button--focus-visible::after,
.denhaag-button:focus-visible::after {
  border: var(--denhaag-focus-border);
  inset: var(--denhaag-button-focus-border-offset);
  content: "";
  display: block; // position:absolute is always block by default, not sure why we need to explicitly set it, but it is needed for the focus outline to be visible when the button has `display: inline-flex`.
  position: absolute;
}

.denhaag-button--focus,
.denhaag-button:focus,
.denhaag-button--focus-visible,
.denhaag-button:focus-visible {
  --denhaag-button-transform-y: var(--denhaag-button-focus-transform-y, -1px);

  outline: none;
}

.denhaag-button.denhaag-button--disabled,
.denhaag-button.denhaag-button:disabled {
  --denhaag-button-background-color: var(
    --denhaag-button-primary-action-disabled-background-color,
    var(--denhaag-color-grey-2)
  );
  --denhaag-button-color: var(--denhaag-button-primary-action-disabled-color, var(--denhaag-color-white));
}

.denhaag-button--secondary-action {
  // Due to the accessibility focus outline overlapping with the border, the outline needs to be repositioned for the border variant.
  --denhaag-button-focus-border-offset: calc(-1 * (var(--denhaag-focus-border-width, 1px) * 1.5));
  --denhaag-button-background-color: var(
    --denhaag-button-secondary-action-background-color,
    var(--denhaag-color-white)
  );
  --denhaag-button-color: var(--denhaag-button-secondary-action-color, var(--denhaag-color-green-3));
  --denhaag-button-padding-block: calc(
    var(--denhaag-button-medium-size-padding-block, var(--denhaag-space-xs)) - var(--denhaag-button-border-width)
  );
  --denhaag-button-padding-inline: calc(
    var(--denhaag-button-medium-size-padding-inline, var(--denhaag-space-md)) - var(--denhaag-button-border-width)
  );

  border: var(--denhaag-button-border, var(--denhaag-border-width, 1px)) solid
    var(--denhaag-button-secondary-action-border-color, var(--denhaag-color-green-3));
}

.denhaag-button--secondary-action.denhaag-button--hover,
.denhaag-button--secondary-action:hover {
  --denhaag-button-background-color: var(
    --denhaag-button-secondary-action-hover-background-color,
    var(--denhaag-color-white)
  );
  --denhaag-button-color: var(--denhaag-button-secondary-action-hover-color, var(--denhaag-color-green-4));

  border-color: var(--denhaag-button-secondary-action-hover-border-color, var(--denhaag-color-green-4));
}

.denhaag-button--secondary-action.denhaag-button--disabled,
.denhaag-button--secondary-action.denhaag-button:disabled,
.denhaag-button--tertiary-action.denhaag-button--disabled,
.denhaag-button--tertiary-action.denhaag-button:disabled {
  --denhaag-button-background-color: var(
    --denhaag-button-secondary-action-disabled-background-color,
    var(--denhaag-color-white)
  );
  --denhaag-button-color: var(--denhaag-button-secondary-action-disabled-color, var(--denhaag-color-grey-2));

  border-color: var(--denhaag-button-secondary-action-disabled-border-color, var(--denhaag-color-grey-2));
}

.denhaag-button--tertiary-action {
  --denhaag-button-background-color: var(
    --denhaag-page-buttons-outline-dark-action-background-color,
    var(--denhaag-color-white)
  );
  --denhaag-button-color: var(--denhaag-page-buttons-outline-dark-action-color, var(--denhaag-color-grey-4));

  border: var(--denhaag-button-border-width) solid
    var(--denhaag-page-buttons-outline-dark-action-border-color, var(--denhaag-color-grey-2));
}

.denhaag-button--tertiary-action.denhaag-button--hover,
.denhaag-button--tertiary-action:hover {
  --denhaag-button-background-color: var(
    --denhaag-button-secondary-action-hover-background-color,
    var(--denhaag-color-white)
  );
  --denhaag-button-color: var(--denhaag-button-secondary-action-hover-color, var(--denhaag-color-green-3));

  border-color: currentcolor;
}

/* Due to the accessibility focus outline overlapping with the border, the outline needs to be repositioned for the border variant */
.denhaag-button--tertiary-action.denhaag-button--focus::after,
.denhaag-button--tertiary-action:focus::after {
  inset: -3px;
}

.denhaag-button--large {
  --denhaag-button-font-size: var(--denhaag-typography-scale-lg-font-size);
  --denhaag-button-padding-block: var(--denhaag-button-large-size-padding-block, 0.4063rem);
  --denhaag-button-padding-inline: var(--denhaag-button-large-size-padding-inline, var(--denhaag-space-lg));
  --denhaag-icon-size: var(--denhaag-typography-scale-xl-font-size);

  line-height: var(--denhaag-button-large-size-line-height, 1.75);
}

.denhaag-button--large.denhaag-button--secondary-action {
  --denhaag-button-padding-block: calc(
    var(--denhaag-button-large-size-padding-block, 0.4063rem) - var(--denhaag-button-border-width)
  );
  --denhaag-button-padding-inline: calc(
    var(--denhaag-button-large-size-padding-inline, var(--denhaag-space-lg)) - var(--denhaag-button-border-width)
  );
}

.denhaag-button--start-icon .denhaag-button__icon {
  display: inherit;
  margin-inline-end: var(--denhaag-space-xs);
  margin-inline-start: calc(0px - var(--denhaag-space-2xs));
}

.denhaag-button--end-icon .denhaag-button__icon {
  display: inherit;
  margin-inline-end: calc(0px - var(--denhaag-space-2xs));
  margin-inline-start: var(--denhaag-space-xs);
}

.denhaag-button__sr-only {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.denhaag-button--icon-only {
  --denhaag-button-padding-inline: var(--denhaag-space-sm);

  block-size: var(--denhaag-button-icon-only-height, 2.6875rem);
  display: grid;
  place-content: center;
}

.denhaag-button--icon-only .denhaag-button__icon {
  block-size: var(--denhaag-button-icon-only-icon-height, var(--denhaag-space-lg));
}

.denhaag-button__icon:empty {
  display: none;
}
