.denhaag-button {
  --denhaag-button-focus-border-offset: calc(-1 * var(--denhaag-focus-border-width));

  align-items: center;
  background-color: var(--denhaag-button-primary-action-background-color, var(--denhaag-color-green-3));
  border: 0;
  border-radius: var(--denhaag-button-border-radius, var(--denhaag-border-radius));
  color: var(--denhaag-button-primary-action-color, var(--denhaag-color-white));
  cursor: var(--denhaag-button-cursor, default);
  display: inline-flex;
  font-family: var(--denhaag-button-font-family, var(--denhaag-typography-sans-serif-font-family));
  font-weight: var(--denhaag-button-font-weight, var(--denhaag-typography-weight-regular));
  font-size: var(--denhaag-button-font-size, var(--denhaag-typography-scale-base-font-size));
  justify-content: center;
  line-height: 1.5;
  padding-block: var(--denhaag-button-medium-size-padding-block);
  padding-inline: var(--denhaag-button-medium-size-padding-inline);
  position: relative;
  text-decoration: none;
  transition-property: background-color, border-color, color, transform;
  transition-duration: var(--denhaag-button-transition-duration);
  transition-timing-function: var(--denhaag-button-transition-timing-function);
  transition-delay: var(--denhaag-button-transition-delay);
  transform: translate(var(--denhaag-button-transform-x, 0), var(--denhaag-button-transform-y, 0));

  @media (prefers-reduced-motion: reduce) {
    --denhaag-button-transition-duration: 0;
  }
}

.denhaag-button--reduced-button-transition {
  --denhaag-button-transition-duration: 0;
}

a.denhaag-button {
  --denhaag-button-cursor: pointer;
}

.denhaag-button.denhaag-button--hover,
.denhaag-button:hover {
  --denhaag-button-transform-y: var(--denhaag-button-hover-transform-y);

  background-color: var(--denhaag-button-primary-action-hover-background-color, var(--denhaag-color-green-4));
  color: var(--denhaag-button-primary-action-hover-color, var(--denhaag-color-white));
}

.denhaag-button--focus-visible::after,
.denhaag-button:focus-visible::after {
  border: var(--denhaag-focus-border);
  bottom: var(--denhaag-button-focus-border-offset);
  content: "";
  display: block;
  left: var(--denhaag-button-focus-border-offset);
  position: absolute;
  right: var(--denhaag-button-focus-border-offset);
  top: var(--denhaag-button-focus-border-offset);
}

.denhaag-button--focus,
.denhaag-button:focus,
.denhaag-button--focus-visible,
.denhaag-button:focus-visible {
  --denhaag-button-transform-y: var(--denhaag-button-focus-transform-y);

  outline: none;
}

.denhaag-button.denhaag-button--disabled,
.denhaag-button.denhaag-button:disabled {
  background-color: var(--denhaag-button-primary-action-disabled-background-color, var(--denhaag-color-grey-2));
  color: var(--denhaag-button-primary-action-disabled-color, var(--denhaag-color-white));
}

.denhaag-button--secondary-action {
  // Due to the accessibility focus outline overlapping with the border, the outline needs to be repositioned for the border variant.
  --denhaag-button-focus-border-offset: calc(-1 * (var(--denhaag-focus-border-width) * 1.5));

  background-color: var(--denhaag-button-secondary-action-background-color, var(--denhaag-color-white));
  border-color: var(--denhaag-button-secondary-action-border-color, var(--denhaag-color-green-3));
  border-style: solid;
  border-width: var(--denhaag-button-border-width, 1px);
  color: var(--denhaag-button-secondary-action-color, var(--denhaag-color-green-3));
  padding-block-end: calc(var(--denhaag-button-medium-size-padding-block) - var(--denhaag-button-border-width));
  padding-block-start: calc(var(--denhaag-button-medium-size-padding-block) - var(--denhaag-button-border-width));
  padding-inline-end: calc(
    var(--denhaag-button-medium-size-padding-inline, var(--denhaag-space-md)) - var(--denhaag-button-border-width)
  );
  padding-inline-start: calc(
    var(--denhaag-button-medium-size-padding-inline, var(--denhaag-space-md)) - var(--denhaag-button-border-width)
  );
}

.denhaag-button--secondary-action.denhaag-button--hover,
.denhaag-button--secondary-action:hover {
  background-color: var(--denhaag-button-secondary-action-hover-background-color, var(--denhaag-color-white));
  border-color: var(--denhaag-button-secondary-action-hover-border-color, var(--denhaag-color-green-4));
  color: var(--denhaag-button-secondary-action-hover-color, var(--denhaag-color-green-4));
}

.denhaag-button--secondary-action.denhaag-button--disabled,
.denhaag-button--secondary-action.denhaag-button:disabled {
  background-color: var(--denhaag-button-secondary-action-disabled-background-color, var(--denhaag-color-white));
  border-color: var(--denhaag-button-secondary-action-disabled-border-color, var(--denhaag-color-grey-2));
  color: var(--denhaag-button-secondary-action-disabled-color, var(--denhaag-color-grey-2));
}

.denhaag-button--large {
  --denhaag-button-font-size: var(--denhaag-typography-scale-lg-font-size);
  --denhaag-button-medium-size-padding-block: var(--denhaag-button-large-size-padding-block);
  --denhaag-button-medium-size-padding-inline: var(--denhaag-button-large-size-padding-inline, var(--denhaag-space-lg));

  line-height: var(--denhaag-button-large-size-line-height);
}

.denhaag-button--large.denhaag-button--secondary-action {
  --denhaag-button-medium-size-padding-block: calc(
    var(--denhaag-button-large-size-padding-block) - var(--denhaag-button-border-width)
  );
  --denhaag-button-medium-size-padding-inline: calc(
    var(--denhaag-button-large-size-padding-inline, var(--denhaag-space-lg)) - var(--denhaag-button-border-width)
  );
}

.denhaag-button__icon > *:first-child {
  font-size: var(--denhaag-typography-scale-lg-font-size);
}

.denhaag-button--large .denhaag-button__icon > *:first-child {
  font-size: var(--denhaag-typography-scale-xl-font-size);
}

.denhaag-button--start-icon .denhaag-button__icon {
  display: inherit;
  margin-inline-end: 8px;
  margin-inline-start: -4px;
}

.denhaag-button--end-icon .denhaag-button__icon {
  display: inherit;
  margin-inline-end: -4px;
  margin-inline-start: 8px;
}

.denhaag-button__sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding-block-start: 0;
  padding-block-end: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  margin-block-start: -1px;
  margin-block-end: -1px;
  margin-inline-start: -1px;
  margin-inline-end: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.denhaag-button--icon-only {
  --denhaag-button-medium-size-padding-inline: 0.75rem;

  height: var(--denhaag-button-icon-only-height);
}

.denhaag-button--icon-only .denhaag-button__icon {
  height: var(--denhaag-button-icon-only-icon-height, var(--denhaag-space-lg));
}
