@import "~@utrecht/components/form-label/css";

.denhaag-form-control-label {
  display: flex;
  align-items: flex-start;
  margin-block-end: var(--denhaag-form-control-label-margin-block-end, var(--denhaag-space-xs));
  cursor: pointer;
}

.denhaag-form-control-label__input {
  display: inline-flex;
  align-items: center;
  height: calc(var(--denhaag-typography-scale-base-line-height) * var(--utrecht-form-label-font-size));
  margin-inline-end: var(--denhaag-form-control-label-input-margin-inline-end, var(--denhaag-space-xs));
}

.denhaag-form-control-label__label {
  @extend .utrecht-form-label;

  line-height: var(--denhaag-typography-scale-base-line-height);
  font-weight: var(--denhaag-typography-weight-regular);
}

.denhaag-form-control-label.denhaag-form-control-label--disabled {
  cursor: default;
}
