.denhaag-breadcrumb {
  --denhaag-breadcrumb-chevron-display: none;
  --denhaag-breadcrumb-link-background-color: transparent;
  --denhaag-breadcrumb-link-icon-content: "";
  --denhaag-breadcrumb-link-pointer-events: bounding-box;
  --denhaag-breadcrumb-item-display: none;

  color: var(--denhaag-breadcrumb-color, inherit);
  font-weight: var(--denhaag-breadcrumb-font-weight, 400);
  padding-block-end: var(--denhaag-breadcrumb-padding-block);
  padding-block-start: var(--denhaag-breadcrumb-padding-block);
  padding-inline-end: var(--denhaag-breadcrumb-padding-inline);
  padding-inline-start: var(--denhaag-breadcrumb-padding-inline);
}

.denhaag-breadcrumb__list {
  block-size: 100%;
  display: flex;
  margin-block-end: 0;
  margin-block-start: 0;
}

ol.denhaag-breadcrumb__list {
  list-style: none;
  padding-inline-start: 0;
}

.denhaag-breadcrumb__item {
  align-items: center;
  display: var(--denhaag-breadcrumb-item-display);
}

.denhaag-breadcrumb__item:nth-last-child(2) {
  --denhaag-breadcrumb-item-display: flex;
}

// truncate modifier is set by JS.
.denhaag-breadcrumb__item--truncated {
  --denhaag-breadcrumb-text-max-width: var(--denhaag-breadcrumb-truncated-max-width);
  --denhaag-breadcrumb-gap: 0;
}

.denhaag-breadcrumb__item--hidden .denhaag-breadcrumb__link::before {
  aspect-ratio: var(--denhaag-breadcrumb-hidden-link-before-aspect-ratio);
  background-color: var(--denhaag-breadcrumb-link-background-color);
  border-radius: var(--denhaag-breadcrumb-dots-border-radius, var(--denhaag-border-radius));
  color: var(--denhaag-breadcrumb-dots-color);
  content: "...";
  left: var(--denhaag-breadcrumb-hidden-link-before-left, auto);
  line-height: var(--denhaag-breadcrumb-hidden-link-before-line-height, 0);
  max-width: calc(var(--denhaag-breadcrumb-gap) * 3);
  padding-block-start: var(--denhaag-breadcrumb-hidden-link-before-padding-block, 0.1875rem);
  padding-block-end: var(--denhaag-breadcrumb-hidden-link-before-padding-block, 0.1875rem);
  padding-inline-start: var(--denhaag-breadcrumb-hidden-link-before-padding-inline, 0.2813rem);
  padding-inline-end: var(--denhaag-breadcrumb-hidden-link-before-padding-inline, 0.2813rem);
  position: var(--denhaag-breadcrumb-hidden-link-before-position, absolute);
  top: var(--denhaag-breadcrumb-hidden-link-before-top, auto);
  vertical-align: var(--denhaag-breadcrumb-hidden-link-before-vertical-align, baseline);
}

@media (max-width: 1024px) {
  // This is styling only for mobile. Not for desktop and will break specific styling.
  .denhaag-breadcrumb__item:nth-last-child(2) > .denhaag-breadcrumb__link::before {
    background: var(--denhaag-breadcrumb-link-color);
    clip-path: path(
      "M6.756 12.0899C6.43057 12.4153 5.90293 12.4153 5.57749 12.0899L0.577491 7.0899C0.421212 6.93362 0.333414 6.72166 0.333414 6.50065C0.333414 6.27964 0.421212 6.06767 0.577491 5.91139L5.57749 0.911394C5.90293 0.585957 6.43057 0.585957 6.756 0.911394C7.08144 1.23683 7.08144 1.76447 6.756 2.08991L3.17859 5.66732L12.8334 5.66732C13.2937 5.66732 13.6667 6.04041 13.6667 6.50065C13.6667 6.96089 13.2937 7.33398 12.8334 7.33398L3.17859 7.33398L6.756 10.9114C7.08144 11.2368 7.08144 11.7645 6.756 12.0899Z"
    );
    content: var(--denhaag-breadcrumb-link-icon-content);
    height: var(--denhaag-breadcrumb-link-icon-height, var(--denhaag-breadcrumb-link-icon-width));
    margin-inline-end: var(--denhaag-breadcrumb-link-icon-margin-inline, var(--denhaag-breadcrumb-link-icon-width));
    width: var(--denhaag-breadcrumb-link-icon-width);
  }
}

.denhaag-breadcrumb__link {
  align-items: center;
  color: var(--denhaag-breadcrumb-link-color, inherit);
  display: flex;
  gap: var(--denhaag-breadcrumb-gap);
  padding-block-start: var(--denhaag-breadcrumb-spacing);
  padding-block-end: var(--denhaag-breadcrumb-spacing);
  padding-inline-start: var(--denhaag-breadcrumb-spacing);
  padding-inline-end: var(--denhaag-breadcrumb-spacing);
  position: relative;
  text-decoration: var(--denhaag-breadcrumb-link-text-decoration, none);
}

.denhaag-breadcrumb__link:hover,
.denhaag-breadcrumb__link--hover {
  --denhaag-breadcrumb-link-color: var(--denhaag-breadcrumb-link-hover-color, inherit);
  --denhaag-breadcrumb-link-text-decoration: var(--denhaag-breadcrumb-link-hover-text-decoration, underline);
}

.denhaag-breadcrumb__link:focus-visible,
.denhaag-breadcrumb__link--focus {
  --denhaag-breadcrumb-link-color: var(--denhaag-breadcrumb-link-focus-color, inherit);
  --denhaag-breadcrumb-link-text-decoration: var(--denhaag-breadcrumb-link-focus-text-decoration, underline);

  outline: var(--denhaag-breadcrumb-link-focus-outline, var(--denhaag-link-focus-outline));
}

.denhaag-breadcrumb__link--current .denhaag-breadcrumb__link,
.denhaag-breadcrumb__item:last-child .denhaag-breadcrumb__link {
  pointer-events: var(--denhaag-breadcrumb-link-pointer-events);
}

.denhaag-breadcrumb__item--hidden {
  --denhaag-breadcrumb-link-background-color: var(--denhaag-breadcrumb-dots-background-color);
  --denhaag-breadcrumb-text-max-width: fit-content;
  --denhaag-breadcrumb-text-overflow: var(--denhaag-breadcrumb-hidden-text-overflow, visible);
}

.denhaag-breadcrumb__item--hidden:hover {
  --denhaag-breadcrumb-link-background-color: var(--denhaag-breadcrumb-dots-hover-background-color);
}

.denhaag-breadcrumb__link--current,
.denhaag-breadcrumb__link.denhaag-link--current,
.denhaag-breadcrumb__item:last-child > .denhaag-breadcrumb__link {
  --denhaag-breadcrumb-link-color: var(--denhaag-breadcrumb-current-color, var(--denhaag-breadcrumb-color));
}

// SVG for the separator.
.denhaag-breadcrumb__link > .denhaag-icon + .denhaag-icon,
.denhaag-breadcrumb__link > .denhaag-breadcrumb__text + .denhaag-icon {
  color: initial;
  font-size: inherit;
  display: var(--denhaag-breadcrumb-chevron-display);
}

.denhaag-breadcrumb__item--hidden .denhaag-breadcrumb__text + .denhaag-icon {
  margin-inline-start: var(--denhaag-breadcrumb-hidden-icon-margin-inline-start, var(--denhaag-space-inline-2xl));
}

[dir="rtl"] .denhaag-breadcrumb__link > .denhaag-breadcrumb__text + .denhaag-icon,
[dir="rtl"] .denhaag-breadcrumb__item:nth-last-child(2) > .denhaag-breadcrumb__link::before {
  transform: scaleX(-1);
}

.denhaag-breadcrumb__text {
  background-color: var(--denhaag-breadcrumb-link-background-color);
  max-width: var(--denhaag-breadcrumb-text-max-width, 100%);
  overflow: var(--denhaag-breadcrumb-text-overflow, hidden);
  position: var(--denhaag-breadcrumb-text-position, relative);
  text-overflow: var(--denhaag-breadcrumb-text-text-overflow, ellipsis);
  white-space: var(--denhaag-breadcrumb-text-white-space, nowrap);
}

.denhaag-breadcrumb__item--hidden .denhaag-breadcrumb__text {
  --denhaag-breadcrumb-text-max-width: var(--denhaag-breadcrumb-hidden-text-max-width, unset);
  --denhaag-breadcrumb-text-text-overflow: var(--denhaag-breadcrumb-hidden-text-text-overflow, unset);
  --denhaag-breadcrumb-text-white-space: var(--denhaag-breadcrumb-hidden-text-white-space, unset);
  --denhaag-breadcrumb-text-position: var(--denhaag-breadcrumb-hidden-text-position, absolute);
  --denhaag-breadcrumb-link-background-color: var(
    --denhaag-breadcrumb-hidden-text-background-color,
    var(--denhaag-color-grey-4)
  );

  visibility: var(--denhaag-breadcrumb-hidden-text-visibility, hidden);
  opacity: var(--denhaag-breadcrumb-item-tooltip-opacity, 0%);
  bottom: var(--denhaag-breadcrumb-hidden-text-bottom, -100%);
  left: var(--denhaag-breadcrumb-hidden-text-left, -50%);
  width: var(--denhaag-breadcrumb-hidden-text-width, max-content);
  height: var(--denhaag-breadcrumb-hidden-text-height, fit-content);
  color: var(--denhaag-breadcrumb-hidden-text-color, var(--denhaag-color-white));
  font-family: var(--denhaag-breadcrumb-hidden-text-font-family, var(--denhaag-typography-sans-serif-font-family));
  font-size: var(--denhaag-breadcrumb-hidden-text-font-size, var(--denhaag-typography-scale-s-font-size));
  line-height: var(--denhaag-breadcrumb-hidden-text-height, var(--denhaag-typography-scale-s-line-height));
  font-weight: var(--denhaag-breadcrumb-hidden-text-font-weight, var(--denhaag-typography-weight-regular));
  padding-block-start: var(--denhaag-breadcrumb-hidden-text-padding-block, var(--denhaag-space-block-xs));
  padding-block-end: var(--denhaag-breadcrumb-hidden-text-padding-block, var(--denhaag-space-block-xs));
  padding-inline-start: var(--denhaag-breadcrumb-hidden-text-padding-inline, 0.75rem);
  padding-inline-end: var(--denhaag-breadcrumb-hidden-text-padding-inline, 0.75rem);
  transform: var(
    --denhaag-breadcrumb-item-tooltip-transform,
    translate(
      calc(var(--denhaag-breadcrumb-spacing) + var(--denhaag-breadcrumb-gap) - 1px),
      calc(var(--denhaag-breadcrumb-spacing) + var(--denhaag-breadcrumb-gap))
    )
  );
  transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
  max-width: fit-content;
}

.denhaag-breadcrumb__link:hover .denhaag-breadcrumb__text {
  --denhaag-breadcrumb-item-tooltip-opacity: 100%;
  --denhaag-breadcrumb-item-tooltip-transform: translate(
    calc(var(--denhaag-breadcrumb-spacing) + var(--denhaag-breadcrumb-gap) - 1px),
    var(--denhaag-breadcrumb-gap)
  );

  visibility: visible;
  opacity: var(--denhaag-breadcrumb-item-tooltip-opacity);
}

.denhaag-breadcrumb__item--hidden .denhaag-breadcrumb__text::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: var(--denhaag-breadcrumb-hidden-arrow-size) solid transparent;
  border-right: var(--denhaag-breadcrumb-hidden-arrow-size) solid transparent;
  border-bottom: var(--denhaag-breadcrumb-hidden-arrow-size) solid
    var(--denhaag-breadcrumb-hidden-text-background-color);
  left: calc(50% - var(--denhaag-breadcrumb-hidden-arrow-size));
  top: calc(-1 * var(--denhaag-breadcrumb-hidden-arrow-size));
}

@media (min-width: 1024px) {
  .denhaag-breadcrumb {
    --denhaag-breadcrumb-chevron-display: inline-block;
    --denhaag-breadcrumb-link-icon-content: unset;
    --denhaag-breadcrumb-padding-block: var(--denhaag-breadcrumb-padding-block-md);

    background-color: var(--denhaag-breadcrumb-background-color, transparent);
  }

  .denhaag-breadcrumb__item:not(:nth-last-child(2)) {
    --denhaag-breadcrumb-item-display: flex;
  }
}

@media (min-width: 1124px) {
  .denhaag-breadcrumb {
    --denhaag-breadcrumb-padding-inline: 0;
  }
}
