.denhaag-breadcrumb {
  --denhaag-breadcrumb-chevron-display: none;
  --denhaag-breadcrumb-link-background-color: transparent;
  --denhaag-breadcrumb-link-icon-content: "";
  --denhaag-breadcrumb-link-pointer-events: bounding-box;
  --denhaag-breadcrumb-item-display: none;

  display: flex;
  justify-content: center;
  height: var(--denhaag-breadcrumb-height, 80px);
  color: var(--denhaag-breadcrumb-color, inherit);
  font-weight: var(--denhaag-breadcrumb-font-weight, 400);
  border-bottom-width: var(--denhaag-breadcrumb-border-bottom-width, 1px);
  border-bottom-style: var(--denhaag-breadcrumb-border-bottom-style, solid);
  border-bottom-color: var(--denhaag-breadcrumb-border-bottom-color, var(--denhaag-color-grey-1, #f1f1f1));
  background-color: var(--denhaag-breadcrumb-background-color, var(--denhaag-color-white, #fff));
  box-shadow: var(--denhaag-breadcrumb-box-shadow, 0 2px 0 0 rgb(0 0 0 / 6%));

  @media (width >= 1024px) {
    --denhaag-breadcrumb-chevron-display: inline-block;
    --denhaag-breadcrumb-link-icon-content: unset;

    height: auto;
    padding-block-start: var(--denhaag-breadcrumb-lg-padding-block-start, var(--basis-space-block-lg));
    padding-block-end: var(--denhaag-breadcrumb-lg-padding-block-end, var(--basis-space-block-lg));
    border-bottom-width: var(--denhaag-breadcrumb-lg-border-bottom-width);
    border-bottom-style: var(--denhaag-breadcrumb-lg-border-bottom-style);
    border-bottom-color: var(--denhaag-breadcrumb-lg-border-bottom-color);
    background-color: var(--denhaag-breadcrumb-lg-background-color, var(--denhaag-color-warmgrey-1));
    box-shadow: var(--denhaag-breadcrumb-lg-box-shadow);
  }
}

.denhaag-breadcrumb__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.denhaag-breadcrumb__title {
  font-size: var(--denhaag-breadcrumb-title-font-size, var(--basis-text-font-size-sm));
  opacity: var(--denhaag-breadcrumb-title-opacity, 50%);

  @media (width >= 1024px) {
    display: none;
  }
}

.denhaag-breadcrumb__list {
  display: flex;
  gap: var(--denhaag-breadcrumb-list-gap, var(--basis-space-inline-md));
  margin-block-end: 0;
  margin-block-start: 0;
}

ol.denhaag-breadcrumb__list {
  list-style: none;
  padding-inline-start: 0;
}

.denhaag-breadcrumb__item {
  align-items: center;
  display: var(--denhaag-breadcrumb-item-display);
  font-weight: var(--denhaag-breadcrumb-item-font-weight, var(--basis-text-font-weight-bold));

  @media (width >= 1024px) {
    --denhaag-breadcrumb-item-display: flex;

    font-weight: var(--denhaag-breadcrumb-item-lg-font-weight, var(--basis-text-font-weight-normal));
  }

  &.denhaag-breadcrumb__item--mobile-item {
    --denhaag-breadcrumb-item-display: flex;
  }
}

.denhaag-breadcrumb__link {
  align-items: center;
  color: var(--denhaag-breadcrumb-link-color, inherit);
  display: flex;
  gap: var(--denhaag-breadcrumb-link-gap, var(--basis-space-inline-md));
  pointer-events: var(--denhaag-breadcrumb-link-pointer-events);
  position: relative;
  text-decoration: var(--denhaag-breadcrumb-link-text-decoration, none);

  --nl-link-text-decoration-line: var(--denhaag-breadcrumb-link-text-decoration, none);
}

.denhaag-breadcrumb__link--disabled {
  --nl-link-color: var(--denhaag-breadcrumb-current-color);

  cursor: none;
  pointer-events: none;
}

.denhaag-breadcrumb__link:hover,
.denhaag-breadcrumb__link--hover {
  --denhaag-breadcrumb-link-color: var(--denhaag-breadcrumb-link-hover-color, inherit);
  --denhaag-breadcrumb-link-text-decoration: var(--denhaag-breadcrumb-link-hover-text-decoration, underline);
}

.denhaag-breadcrumb__link:focus-visible,
.denhaag-breadcrumb__link--focus {
  --denhaag-breadcrumb-link-color: var(--denhaag-breadcrumb-link-focus-color, inherit);
  --denhaag-breadcrumb-link-text-decoration: var(--denhaag-breadcrumb-link-focus-text-decoration, underline);

  outline: var(--denhaag-breadcrumb-link-focus-outline-width) var(--denhaag-breadcrumb-link-focus-outline-style)
    var(--denhaag-breadcrumb-link-focus-outline-color);
}

.denhaag-breadcrumb__item:not(:first-child, :nth-last-child(3), :nth-last-child(2), :last-child) {
  --denhaag-breadcrumb-link-background-color: var(--denhaag-breadcrumb-dots-background-color, inherit);

  @media (width >= 1024px) {
    --denhaag-breadcrumb-link-pointer-events: none;
  }
}

.denhaag-breadcrumb__item:not(:first-child, :nth-last-child(3), :nth-last-child(2), :last-child):hover {
  --denhaag-breadcrumb-link-background-color: var(--denhaag-breadcrumb-dots-hover-background-color, inherit);
}

.denhaag-breadcrumb__toggle-button {
  width: var(--denhaag-breadcrumb-toggle-button-width, var(--basis-size-sm));
  height: var(--denhaag-breadcrumb-toggle-button-height, var(--basis-size-sm));
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--denhaag-breadcrumb-toggle-button-border-radius, var(--basis-border-radius-md));
  border-width: var(--denhaag-breadcrumb-toggle-button-border-size, 1px);
  border-style: var(--denhaag-breadcrumb-toggle-button-border-style, solid);
  border-color: var(--denhaag-breadcrumb-toggle-button-border-color, var(--denhaag-color-grey-2));
  background: var(--denhaag-breadcrumb-toggle-button-background-color, transparent);
  color: var(--denhaag-breadcrumb-toggle-button-color, var(--denhaag-color-green-3));

  @media (width >= 1024px) {
    display: none;
  }
}

/* SVG for the separator */
.denhaag-breadcrumb__link > .denhaag-icon + .denhaag-icon,
.denhaag-breadcrumb__link > .denhaag-breadcrumb__text + .denhaag-icon {
  color: initial;
  font-size: inherit;
  display: var(--denhaag-breadcrumb-chevron-display);
}

[dir="rtl"] .denhaag-breadcrumb__link > .denhaag-breadcrumb__text + .denhaag-icon,
[dir="rtl"] .denhaag-breadcrumb__item:nth-last-child(3) > .denhaag-breadcrumb__link::before {
  transform: scaleX(-1);
}

.denhaag-breadcrumb__text {
  background-color: var(--denhaag-breadcrumb-link-background-color);
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
}

.denhaag-breadcrumb__item--hidden .denhaag-breadcrumb__text {
  aspect-ratio: 24/16;
  border-radius: var(--denhaag-breadcrumb-dots-border-radius, var(--denhaag-border-radius));
  max-width: calc(var(--denhaag-breadcrumb-spacing, 8px) * 3);
  text-indent: calc(var(--denhaag-breadcrumb-spacing, 8px) * 3);
}

.denhaag-breadcrumb__item--hidden .denhaag-breadcrumb__text::before {
  color: var(--denhaag-breadcrumb-dots-color, inherit);
  content: "...";
  left: calc(50% - 7px);
  line-height: 0;
  position: absolute;
  text-indent: 0;
  top: calc(50% - 5px);
  vertical-align: baseline;
}

// Deprecated, but added to prevent breaking changes.
/* stylelint-disable selector-class-pattern */
/* stylelint-disable no-descending-specificity */
.breadcrumbs-container {
  .denhaag-breadcrumb {
    .denhaag-breadcrumb__list {
      margin-inline-end: auto;
      margin-inline-start: auto;
      max-width: var(--denhaag-breadcrumb-list-max-width, 100%);

      .denhaag-breadcrumb__item {
        .denhaag-breadcrumb__link {
          padding-inline-start: var(--denhaag-breadcrumb-spacing, 8px);
        }
      }

      .denhaag-breadcrumb__item:not(:first-child, :nth-last-child(3), :nth-last-child(2), :last-child)
        .denhaag-breadcrumb__text {
        aspect-ratio: 24/16;
        border-radius: var(--denhaag-breadcrumb-dots-border-radius, var(--denhaag-border-radius));
        max-width: calc(var(--denhaag-breadcrumb-spacing, 8px) * 3);
        text-indent: calc(var(--denhaag-breadcrumb-spacing, 8px) * 3);
      }

      .denhaag-breadcrumb__item:not(:first-child, :nth-last-child(3), :nth-last-child(2), :last-child)
        .denhaag-breadcrumb__text::before {
        color: var(--denhaag-breadcrumb-dots-color, inherit);
        content: "...";
        left: calc(50% - 7px);
        line-height: 0;
        position: absolute;
        text-indent: 0;
        top: calc(50% - 5px);
        vertical-align: baseline;
      }
    }
  }
}
/* stylelint-enable no-descending-specificity */
/* stylelint-enable selector-class-pattern */
