@mixin inline-start-separator {
  border-inline-start: var(--denhaag-article-meta-border-width, 1px) solid
    var(--denhaag-article-meta-border-color, var(--denhaag-color-grey-2));
  padding-inline-start: var(--denhaag-article-meta-gap, var(--denhaag-space-sm));
}

.denhaag-article-meta {
  border-block-start: var(--denhaag-article-meta-border-width, 1px) solid
    var(--denhaag-article-meta-border-color, var(--denhaag-color-grey-2));
  color: var(--denhaag-article-meta-color, var(--denhaag-color-grey-4));
  display: flex;
  flex-direction: column;
  line-height: var(--denhaag-typography-scale-base-line-height);
  gap: var(--denhaag-article-meta-gap, var(--denhaag-space-sm));
  padding-block: var(--denhaag-space-md) var(--denhaag-space-5xl);
  margin-block-start: var(--denhaag-article-meta-margin-block-start, var(--denhaag-space-2xl));
}

.denhaag-article-meta--horizontal {
  flex-direction: row;
}

.denhaag-article-meta__item {
  margin-block: 0;
}

.denhaag-article-meta--horizontal > .denhaag-article-meta__item + .denhaag-article-meta__item {
  @include inline-start-separator;
}

@media (min-width: 620px) {
  .denhaag-article-meta--responsive {
    flex-direction: row;
  }

  .denhaag-article-meta--responsive > .denhaag-article-meta__item + .denhaag-article-meta__item {
    @include inline-start-separator;
  }
}
