@mixin inline-start-separator {
  border-inline-start: var(--denhaag-article-meta-horizontal-item-border-width)
    var(--denhaag-article-meta-horizontal-item-border-style, solid)
    var(--denhaag-article-meta-horizontal-item-border-color, var(--denhaag-article-meta-border-color));
  padding-inline-start: var(--denhaag-article-meta-gap);
}

.denhaag-article-meta {
  border-block-start: var(--denhaag-article-meta-border-width) var(--denhaag-article-meta-border-style)
    var(--denhaag-article-meta-border-color);
  color: var(--denhaag-article-meta-color);
  display: flex;
  flex-direction: column;
  line-height: var(--denhaag-article-meta-line-height);
  gap: var(--denhaag-article-meta-gap);
  font-family: var(--denhaag-article-meta-font-family);
  font-weight: var(--denhaag-article-meta-font-weight);
  font-size: var(--denhaag-article-meta-font-size);
  padding-block-start: var(--denhaag-article-meta-padding-block-start);
  padding-block-end: var(--denhaag-article-meta-padding-block-end);
  margin-block-start: var(--denhaag-article-meta-margin-block-start);
}

.denhaag-article-meta--horizontal {
  flex-direction: row;
}

.denhaag-article-meta__item {
  margin-block-start: 0;
  margin-block-end: 0;
}

.denhaag-article-meta--horizontal > .denhaag-article-meta__item + .denhaag-article-meta__item {
  @include inline-start-separator;
}

@media (width >= 620px) {
  .denhaag-article-meta--responsive {
    flex-direction: row;
  }

  .denhaag-article-meta--responsive > .denhaag-article-meta__item + .denhaag-article-meta__item {
    @include inline-start-separator;
  }
}
