// .denhaag-card-calendar__wrapper {

// }

.denhaag-card-calendar__item {
  position: var(--denhaag-card-calendar-item-position);
  width: var(--denhaag-card-calendar-item-width);
  max-width: var(--denhaag-card-calendar-item-max-width);
  padding-inline-start: var(--denhaag-card-calendar-item-padding-inline);
  padding-inline-end: var(--denhaag-card-calendar-item-padding-inline);
  padding-block-start: var(--denhaag-card-calendar-item-padding-block);
  padding-block-end: var(--denhaag-card-calendar-item-padding-block);
  border: var(--denhaag-card-calendar-item-border);
  border-color: var(--denhaag-card-calendar-item-border-color);
  border-radius: var(--denhaag-card-calendar-item-border-radius);

  &::after {
    position: var(--denhaag-card-calendar-item-underline-position);
    content: var(--denhaag-card-calendar-item-underline-content);
    left: var(--denhaag-card-calendar-item-underline-left);
    right: var(--denhaag-card-calendar-item-underline-right);
    bottom: var(--denhaag-card-calendar-item-underline-bottom);
    height: var(--denhaag-card-calendar-item-underline-height);
    background-color: var(--denhaag-card-calendar-item-underline-background-color);
  }
}

.denhaag-card-calendar__item__date {
  background-color: var(--denhaag-card-calendar-item-date-header-background-color);
  padding-inline-start: var(--denhaag-card-calendar-item-date-header-padding-inline);
  padding-inline-end: var(--denhaag-card-calendar-item-date-header-padding-inline);
  padding-block-start: var(--denhaag-card-calendar-item-date-header-padding-block);
  padding-block-end: var(--denhaag-card-calendar-item-date-header-padding-block);
  border-radius: var(--denhaag-card-calendar-item-date-header-border-radius);
  text-align: var(--denhaag-card-calendar-item-date-header-text-align);

  span {
    font-family: var(--denhaag-card-calendar-item-date-text-font-family);
    font-weight: var(--denhaag-card-calendar-item-date-text-font-weight);
    color: var(--denhaag-card-calendar-item-date-text-color);
  }

  &::before,
  &::after {
    position: var(--denhaag-card-calendar-item-date-header-circles-position);
    content: var(--denhaag-card-calendar-item-date-header-circles-content);
    top: var(--denhaag-card-calendar-item-date-header-circles-top);
    width: var(--denhaag-card-calendar-item-date-header-circles-width);
    height: var(--denhaag-card-calendar-item-date-header-circles-height);
    background-color: var(--denhaag-card-calendar-item-date-header-circles-background-color);
    border: var(--denhaag-card-calendar-item-date-header-circles-border);
    border-color: var(--denhaag-card-calendar-item-date-header-circles-border-color);
    border-radius: var(--denhaag-card-calendar-item-date-header-circles-border-radius);
  }
  &::before {
    left: var(--denhaag-card-calendar-item-date-header-circle-left-left);
  }

  &::after {
    right: var(--denhaag-card-calendar-item-date-header-circle-right-right);
  }
}

.denhaag-card-calendar__item__title {
  color: var(--denhaag-card-calendar-item-title-color);
  margin-block-start: var(--denhaag-card-calendar-item-title-margin-block-start);
  margin-block-end: var(--denhaag-card-calendar-item-title-margin-block-end);
  margin-inline-start: var(--denhaag-card-calendar-item-title-margin-inline);
  margin-inline-end: var(--denhaag-card-calendar-item-title-margin-inline);

  a {
    color: var(--denhaag-card-calendar-item-title-color);
    text-decoration: var(--denhaag-card-calendar-item-title-anchor-text-decoration);
  }
}

.denhaag-card-calendar__item__content {
  color: var(--denhaag-card-calendar-item-content-color);
  margin-block-start: var(--denhaag-card-calendar-item-content-margin-block-start);
  margin-block-end: var(--denhaag-card-calendar-item-content-margin-block-end);
  margin-inline-start: var(--denhaag-card-calendar-item-content-margin-inline);
  margin-inline-end: var(--denhaag-card-calendar-item-content-margin-inline);
}

.denhaag-card-calendar__item__footer {
  display: var(--denhaag-card-calendar-item-footer-display);
  justify-content: var(--denhaag-card-calendar-item-footer-justify-content);
  align-items: var(--denhaag-card-calendar-item-footer-align-items);
  margin-block-start: var(--denhaag-card-calendar-item-footer-margin-block-start);
}

.denhaag-card-calendar__item__footer__time {
  font-family: var(--denhaag-card-calendar-item-footer-time-font-family);
  font-size: var(--denhaag-card-calendar-item-footer-time-font-size);
  font-weight: var(--denhaag-card-calendar-item-footer-time-font-weight);
  color: var(--denhaag-card-calendar-item-footer-time-color);
}

.denhaag-card-calendar__item__footer__action {
  color: var(--denhaag-card-calendar-item-footer-action-color);
}
