.denhaag-calendar {
  --denhaag-calendar-card-footer-action-transition-duration: 100ms;

  container: calendar / inline-size;

  @media (prefers-reduced-motion: reduce) {
    --denhaag-calendar-card-footer-action-transition-duration: 0ms;
  }
}

// 768 breakpoint in design.
/* stylelint-disable-next-line */
@container calendar (min-width: 600px) {
  .denhaag-calendar__wrapper {
    --denhaag-calendar-columns: 2;
    --denhaag-calendar-gap: var(--denhaag-space-lg);
  }
}

// 1024 breakpoint in design.
/* stylelint-disable-next-line */
@container calendar (min-width: 904px) {
  .denhaag-calendar__wrapper {
    --denhaag-calendar-columns: 3;
    --denhaag-calendar-gap: var(--denhaag-space-2xl);
  }
}

// 1280 breakpoint in design.
/* stylelint-disable-next-line */
@container calendar (min-width: 1080px) {
  .denhaag-calendar__wrapper {
    --denhaag-calendar-gap: var(--denhaag-space-3xl);
  }
}

.denhaag-calendar__wrapper {
  display: grid;
  gap: var(--denhaag-calendar-gap, var(--denhaag-space-md));
  grid-template-columns: repeat(var(--denhaag-calendar-columns, 1), 1fr);
}

.denhaag-calendar__card {
  --denhaag-icon-size: var(--denhaag-space-lg);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  gap: var(--denhaag-space-md);
  position: relative;
  padding-inline: var(--denhaag-space-xs);
  padding-block: var(--denhaag-space-xs) var(--denhaag-space-lg);
  border: 1px solid var(--denhaag-color-grey-2);
  border-radius: var(--denhaag-space-xs);
  font-family: var(--denhaag-typography-sans-serif-font-family);

  &::after {
    position: absolute;
    content: "";
    inset-inline: var(--denhaag-space-md);
    bottom: calc(0px - var(--denhaag-space-2xs));
    height: 1px;
    background-color: var(--denhaag-color-grey-2);
  }

  &:focus-visible,
  &--focus {
    --denhaag-calendar-card-header-background-color: var(--denhaag-color-green-1);

    outline: none;
  }

  .denhaag-icon {
    transition: var(--denhaag-calendar-card-footer-action-transition-property, transform)
      var(--denhaag-calendar-card-footer-action-transition-duration)
      var(--denhaag-calendar-card-footer-action-transition-ease, ease-in-out);
  }
}

.denhaag-calendar__card-header {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--denhaag-calendar-card-header-background-color, var(--denhaag-color-grey-1));
  border-radius: var(--denhaag-space-2xs) var(--denhaag-space-2xs) 0 0;
  color: var(--denhaag-calendar-card-header-color, var(--denhaag-color-green-3));
  display: flex;
  font-family: var(--denhaag-typography-sans-serif-alternate-font-family);
  font-weight: var(--denhaag-typography-weight-bold);
  font-size: var(--denhaag-typography-scale-lg-font-size);
  justify-content: center;
  padding-inline: var(--denhaag-space-xl);
  padding-block: var(--denhaag-space-md);
  position: relative;
  text-align: center;

  &::before,
  &::after {
    aspect-ratio: 1;
    background-color: var(--denhaag-calendar-card-header-circles-background-color, var(--denhaag-color-white));
    border: var(--denhaag-calendar-card-header-circles-border, 1px solid var(--denhaag-color-grey-2));
    border-radius: var(--denhaag-space-xs);
    content: "";
    height: var(--denhaag-space-xs);
    position: absolute;
    top: var(--denhaag-space-sm);
    width: var(--denhaag-space-xs);
  }

  &::before {
    left: var(--denhaag-space-sm);
  }

  &::after {
    right: var(--denhaag-space-sm);
  }
}

.denhaag-calendar__card-content {
  display: flex;
  flex-direction: column;
  gap: var(--denhaag-space-2xs);
  height: 100%;
  padding-inline: calc(var(--denhaag-space-xl) - var(--denhaag-space-xs));
}

.denhaag-calendar__card-title {
  color: var(--denhaag-calendar-card-title-color, var(--denhaag-color-grey-5));
  margin-block: 0;
  margin-inline: 0;
  font-size: var(--denhaag-typography-scale-base-font-size);
  font-weight: var(--denhaag-typography-weight-bold);
  overflow-wrap: var(--denhaag-calendar-card-title-word-break, break-word);
  word-wrap: var(--denhaag-calendar-card-title-word-break, break-word);
  -ms-word-break: var(--denhaag-calendar-card-title-ms-word-break, break-all);
  word-break: var(--denhaag-calendar-card-title-word-break, break-word);
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  line-height: var(--denhaag-typography-scale-base-line-height);
}

.denhaag-calendar__card-title-anchor {
  color: var(--denhaag-calendar-card-title-color, var(--denhaag-color-grey-5));
  text-decoration: none;
  outline: 0;

  &::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.denhaag-calendar__card-description {
  color: var(--denhaag-color-grey-4);
  margin-block: 0;
  margin-inline: 0;
}

.denhaag-calendar__card-footer {
  align-self: stretch;
  align-items: center;
  color: var(--denhaag-color-blue-3);
  display: flex;
  font-size: var(--denhaag-typography-scale-s-font-size);
  font-weight: var(--denhaag-typography-weight-regular);
  gap: var(--denhaag-space-md);
  justify-content: flex-end;
  padding-inline: calc(var(--denhaag-space-xl) - var(--denhaag-space-xs));
  padding-block-start: var(--denhaag-space-xs);
}

.denhaag-calendar__card-footer-time {
  --denhaag-icon-size: var(--denhaag-space-md);

  align-items: center;
  color: var(--denhaag-color-grey-4);
  display: flex;
  gap: var(--denhaag-space-2xs);
  width: 100%;
}

.denhaag-calendar__card--hover,
.denhaag-calendar__card:hover {
  --denhaag-calendar-card-header-background-color: var(--denhaag-color-green-1);

  cursor: pointer;
  box-shadow: var(--denhaag-calendar-card-hover-box-shadow, var(--denhaag-box-shadow-default));

  .denhaag-icon:last-child {
    transform: translateX(var(--denhaag-space-2xs));
  }
}

.denhaag-calendar__card--focus-visible,
.denhaag-calendar__card:focus-within {
  border: var(--denhaag-focus-border);
  box-shadow: var(--denhaag-box-shadow-default);
}
