.nl-data-badge {
  &.nl-data-badge--neutral {
    background-color: var(--nl-data-badge-neutral-background-color);
    color: var(--nl-data-badge-neutral-color);
  }

  &.nl-data-badge--success {
    background-color: var(--nl-data-badge-success-background-color);
    color: var(--nl-data-badge-success-color);
  }

  &.nl-data-badge--warning {
    background-color: var(--nl-data-badge-warning-background-color);
    color: var(--nl-data-badge-warning-color);
  }

  &.nl-data-badge--error {
    background-color: var(--nl-data-badge-error-background-color);
    color: var(--nl-data-badge-error-color);
  }
}
