.denhaag-button {
  box-shadow: none;
  transition: none;
  text-transform: none;
}

.denhaag-button--hover, .denhaag-button:hover {
  box-shadow: none;
}

.denhaag-button--focus, .denhaag-button:focus {
  box-shadow: none;
}
