@use "~@utrecht/focus-ring-css/src/mixin" as *;
@use "../dist/mixin" as *;

.denhaag-theme {
  @include denhaag-theme;

  &:focus {
    @include utrecht-focus;
  }

  &:focus-visible {
    @include utrecht-focus-visible;
  }
}
