/* This file is meant only for storybook overwrites. NOT FOR EXPORT! */
.denhaag-hero {
  margin-block-start: -1rem;
  margin-block-end: -1rem;
  margin-inline-start: -1rem;
  margin-inline-end: -1rem;
}
