.denhaag-button-group {
  gap: var(--denhaag-button-group-gap);
  padding-block-start: var(--denhaag-button-group-padding, var(--denhaag-button-group-gap));
  padding-block-end: var(--denhaag-button-group-padding, var(--denhaag-button-group-gap));

  @media (min-width: 481px) {
    --denhaag-button-group-flex-direction: row;
  }

  &--multiple {
    display: flex;
    flex-direction: var(--denhaag-button-group-flex-direction, column);
  }
}
