.denhaag-button-group {
  gap: var(--denhaag-button-group-gap, var(--denhaag-space-md));

  @media (min-width: 768px) {
    --denhaag-button-group-flex-direction: row;
  }

  &--multiple {
    display: flex;
    flex-direction: var(--denhaag-button-group-flex-direction, column);
  }
}
