.denhaag-modal {
  &__footer {
    display: flex;
    flex-direction: var(--denhaag-modal-footer-direction);
    gap: var(--denhaag-modal-gap, var(--denhaag-modal-padding-block));
    padding-block-start: var(--denhaag-modal-footer-padding-block);
    padding-block-end: var(--denhaag-modal-footer-padding-block);
    padding-inline-start: var(--denhaag-modal-footer-padding-inline);
    padding-inline-end: var(--denhaag-modal-footer-padding-inline);
  }
}
