.denhaag-modal {
  &__content {
    flex: 1 1 auto;
    max-height: 100%;
    overflow-y: auto;
    padding-block-start: var(--denhaag-modal-content-padding-block);
    padding-block-end: var(--denhaag-modal-content-padding-block);
    padding-inline-start: var(--denhaag-modal-content-padding-inline);
    padding-inline-end: var(--denhaag-modal-content-padding-inline);
  }
}
