.denhaag-modal {
  &__dialog {
    width: auto;
    max-height: calc(100% - (var(--denhaag-modal-offset-y) * 2));
    max-width: var(--denhaag-modal-width);
    pointer-events: visiblePainted;
    display: flex;
    flex-direction: column;
    background-color: var(--denhaag-modal-background-color);
    background-clip: padding-box;
  }
}
