.denhaag-modal {
  &__title {
    margin: 0;
    color: var(--denhaag-modal-title-color);
    font-family: var(--denhaag-modal-title-font-family);
    font-style: var(--denhaag-modal-title-font-style);
    font-weight: var(--denhaag-modal-title-font-weight);
    font-size: var(--denhaag-modal-title-font-size);
    line-height: var(--denhaag-modal-title-line-height);
  }
}
