.denhaag-modal {
  --denhaag-modal-footer-direction: column;

  width: 100%;
  max-width: none;
  height: 100%;
  max-height: none;
  align-items: center;
  box-sizing: border-box;
  display: var(--denhaag-modal-display);
  justify-content: center;
  overflow: hidden;
  left: 0;
  outline: 0;
  margin: 0;
  top: 0;
  padding-block-start: var(--denhaag-modal-padding-block);
  padding-block-end: var(--denhaag-modal-padding-block);
  padding-inline-start: var(--denhaag-modal-padding-inline);
  padding-inline-end: var(--denhaag-modal-padding-inline);
  pointer-events: none;
  position: fixed;
  z-index: var(--denhaag-modal-index);
  border: none;

  @media (width >= 30rem) {
    --denhaag-modal-footer-direction: row;
  }

  &[open] {
    --denhaag-modal-display: flex;
  }

  &::backdrop {
    background: none;
  }
}
