.denhaag-modal {
  --denhaag-modal-footer-direction: column;

  align-items: center;
  box-sizing: border-box;
  display: var(--denhaag-modal-display);
  height: 100%;
  justify-content: center;
  left: 0;
  overflow: hidden;
  outline: 0;
  padding-block-start: var(--denhaag-modal-padding-block);
  padding-block-end: var(--denhaag-modal-padding-block);
  padding-inline-start: var(--denhaag-modal-padding-inline);
  padding-inline-end: var(--denhaag-modal-padding-inline);
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: var(--denhaag-modal-index);

  @media (width >= 30rem) {
    --denhaag-modal-footer-direction: row;
  }

  &--open {
    --denhaag-modal-display: flex;
  }

  &::after {
    background-color: var(--denhaag-modal-overlay-background-color);
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }

  &__dialog {
    max-height: calc(100% - (var(--denhaag-modal-offset-y) * 2));
    max-width: var(--denhaag-modal-width);
    position: relative;
    pointer-events: visiblePainted;
    width: auto;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    max-height: var(--denhaag-modal-max-height);
    background-color: var(--denhaag-modal-background-color);
    background-clip: padding-box;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 1;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--denhaag-modal-gap, var(--denhaag-modal-header-padding-block));
    padding-block-start: var(--denhaag-modal-header-padding-block);
    padding-block-end: var(--denhaag-modal-header-padding-block);
    padding-inline-start: var(--denhaag-modal-header-padding-inline);
    padding-inline-end: var(--denhaag-modal-header-padding-inline);
    border-bottom-style: var(--denhaag-modal-header-border-bottom-style);
    border-bottom-width: var(--denhaag-modal-header-border-bottom-width);
    border-bottom-color: var(--denhaag-modal-header-border-bottom-color);
  }

  &__title {
    margin: 0;
    color: var(--denhaag-modal-title-color);
    font-family: var(--denhaag-modal-title-font-family);
    font-style: var(--denhaag-modal-title-font-style);
    font-weight: var(--denhaag-modal-title-font-weight);
    font-size: var(--denhaag-modal-title-font-size);
    line-height: var(--denhaag-modal-title-line-height);
  }

  &__close {
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: var(--denhaag-modal-close-gap);
    color: var(--denhaag-modal-close-color);
    font-size: var(--denhaag-modal-close-font-size);
    font-weight: var(--denhaag-modal-close-font-weight);

    &:hover,
    &--hover {
      --denhaag-modal-close-color: var(--denhaag-modal-close-hover-color);
    }

    &:focus-visible,
    &--focus {
      outline: var(--denhaag-focus-border);
    }

    svg {
      font-size: var(--denhaag-modal-close-size, inherit);
      pointer-events: none;
    }
  }

  &__content {
    flex: 1 1 auto;
    max-height: 100%;
    overflow-y: auto;
    padding-block-start: var(--denhaag-modal-content-padding-block);
    padding-block-end: var(--denhaag-modal-content-padding-block);
    padding-inline-start: var(--denhaag-modal-content-padding-inline);
    padding-inline-end: var(--denhaag-modal-content-padding-inline);
  }

  &__footer {
    display: flex;
    flex-direction: var(--denhaag-modal-footer-direction);
    gap: var(--denhaag-modal-gap, var(--denhaag-modal-padding-block));
    padding-block-start: var(--denhaag-modal-footer-padding-block);
    padding-block-end: var(--denhaag-modal-footer-padding-block);
    padding-inline-start: var(--denhaag-modal-footer-padding-inline);
    padding-inline-end: var(--denhaag-modal-footer-padding-inline);
  }
}
