/* Only purpose is to show stories correct */
.denhaag-story--css-components-feedback-modal-wrapper {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.denhaag-story--css-components-feedback-modal-wrapper .denhaag-modal {
  position: absolute;
}
