.denhaag-timeline__step-label--active {
  font-weight: var(--denhaag-timeline-step-label-active-font-weight);
  color: var(--denhaag-timeline-step-label-active-color);
}

.denhaag-timeline__step-label--completed--hover,
.denhaag-timeline__step-label--completed:not(:only-child):hover {
  color: var(--denhaag-timeline-step-label-completed-hover-color);
  cursor: pointer;
}

.denhaag-timeline__step-label--disabled {
  color: var(--denhaag-timeline-step-label-disabled-color);
}
