.denhaag-timeline__step {
  padding-block-start: 12px;
  padding-block-end: 12px;
}

.denhaag-timeline__step:focus,
.denhaag-timeline__step:focus-visible {
  outline: var(--denhaag-focus-border);
}

.denhaag-timeline__step__collapse-icon {
  padding-inline-start: 4px;
  height: 16px;
  width: 16px;
}
