.denhaag-timeline__step-label {
  display: flex;
}

.denhaag-timeline__step-label__text {
  text-overflow: ellipsis;
  overflow: hidden;

  font-size: var(--denhaag-font-size-base);
  line-height: 24px;

  display: flex;
  align-items: center;

  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.denhaag-timeline__step-label__text:hover {
  overflow: visible;
  white-space: normal;
  height: auto;
}

.denhaag-timeline__step-label--active {
  font-weight: 700;
  color: var(--denhaag-blue-3);
}

.denhaag-timeline__step-label--completed:not(:only-child):hover {
  color: var(--denhaag-blue-3);
  cursor: pointer;
}

.denhaag-timeline__step-label--disabled {
  color: var(--denhaag-grey-2);
}
