.denhaag-icon-button {
  display: inline-flex;
  color: var(--denhaag-icon-button-color, var(--denhaag-color-grey-4));
  padding-inline: var(--denhaag-icon-button-padding-inline, var(--denhaag-space-3xs));
  padding-block: var(--denhaag-icon-button-padding-block, var(--denhaag-space-3xs));
  border: 0;
  border-radius: 0;
  outline: 0;
  cursor: pointer;
  background-color: transparent;
  appearance: none;
}

.denhaag-icon-button:hover,
.denhaag-icon-button--hover {
  color: var(--denhaag-icon-button-hover-color, var(--denhaag-color-blue-4));
}

.denhaag-icon-button:focus-visible,
.denhaag-icon-button--focus {
  color: var(--denhaag-icon-button-focus-color);
  outline-color: var(--denhaag-icon-button-focus-outline-color, var(--denhaag-focus-border-color));
  outline-width: var(--denhaag-icon-button-focus-outline-width, var(--denhaag-focus-border-width));
  outline-style: var(--denhaag-icon-button-focus-outline-style, var(--denhaag-focus-border-style));
  outline-offset: var(--denhaag-icon-button-focus-outline-offset, 0);
}
