.denhaag-accordion-section__content {
  background-color: var(--denhaag-accordion-section-content-background-color, #fff);
  display: grid;
  transition: var(--denhaag-accordion-section-content-transition, grid-template-rows 400ms ease-in-out);
  grid-template-rows: 0fr;

  @media (prefers-reduced-motion) {
    transition: none;
  }

  &--expanded {
    grid-template-rows: 1fr;
  }
}
