.denhaag-accordion-section__content-body {
  padding-block: var(--denhaag-accordion-section-content-padding-block-end, 24px);
  padding-inline-end: var(--denhaag-accordion-section-content-padding-inline-end, 16px);
  padding-inline-start: var(--denhaag-accordion-section-content-padding-inline-start, 16px);
}
