.denhaag-accordion {
  font-family: var(--denhaag-accordion-font-family, inherit);
}

.denhaag-accordion-container {
  border: var(--denhaag-accordion-border);
  position: relative;
}

.denhaag-accordion-container:last-child {
  border-bottom-left-radius: var(--denhaag-accordion-border-radius, var(--denhaag-border-radius));
  border-bottom-right-radius: var(--denhaag-accordion-border-radius, var(--denhaag-border-radius));
  border-top: 0;
}

.denhaag-accordion-container:first-child {
  border-top-left-radius: var(--denhaag-accordion-border-radius, var(--denhaag-border-radius));
  border-top-right-radius: var(--denhaag-accordion-border-radius, var(--denhaag-border-radius));
  border-top: var(--denhaag-accordion-border);
}

.denhaag-accordion-container + .denhaag-accordion-container {
  border-top: 0;
}

.denhaag-accordion__panel {
  color: inherit;
  cursor: pointer;
  outline: 0;
  position: relative;
  align-items: center;
  border-radius: 0;
  justify-content: center;
  text-decoration: none;
  background-color: transparent;
  display: flex;
  padding-block-start: 0;
  padding-block-end: 0;
  padding-inline-start: var(--denhaag-accordion-padding);
  padding-inline-end: var(--denhaag-accordion-padding);
  min-height: calc(4 * var(--denhaag-accordion-margin));
}

.denhaag-accordion__panel:focus,
.denhaag-accordion__panel--focus {
  border: var(--denhaag-accordion-focus-border);
}

.denhaag-accordion__title {
  font-style: normal;
  font-size: var(--denhaag-accordion-title-font-size, 1rem);
  line-height: var(--denhaag-accordion-line-height);
  display: flex;
  align-items: center;
  margin-block-start: 0;
  margin-block-end: 0;
}

.denhaag-accordion__panel--expanded .denhaag-accordion__title {
  font-weight: var(--denhaag-accordion-expanded-font-weight);
  color: var(--denhaag-accordion-active-color);
}

.denhaag-accordion__panel .denhaag-accordion__title,
.denhaag-accordion__panel:hover .denhaag-accordion__title,
.denhaag-accordion__panel:focus .denhaag-accordion__title {
  font-weight: var(--denhaag-accordion-font-weight);
}

.denhaag-accordion__panel--expanded:hover .denhaag-accordion__title,
.denhaag-accordion__panel--expanded:focus .denhaag-accordion__title {
  font-weight: var(--denhaag-accordion-expanded-font-weight);
  color: var(--denhaag-accordion-active-color);
}

.denhaag-accordion__summary {
  color: var(--denhaag-accordion-summary-color);
  flex-grow: 1;
  font-weight: var(--denhaag-accordion-font-weight);
  padding-inline-end: var(--denhaag-accordion-padding);
}

.denhaag-accordion__panel[aria-disabled="true"] {
  pointer-events: none;
}

.denhaag-accordion__icon .denhaag-icon {
  color: var(--denhaag-accordion-icon-color);
}

.denhaag-accordion__panel[aria-disabled="true"] .denhaag-accordion__title,
.denhaag-accordion__panel[aria-disabled="true"] .denhaag-icon {
  color: var(--denhaag-accordion-disabled-color);
}

.denhaag-accordion__panel--expanded .denhaag-accordion__summary {
  font-weight: var(--denhaag-accordion-expanded-font-weight);
}

.denhaag-accordion__panel--expanded .denhaag-accordion__icon .denhaag-icon {
  transform: var(--denhaag-accordion-expanded-transform);
}

.denhaag-accordion__panel--expanded .denhaag-accordion__summary,
.denhaag-accordion__panel--expanded .denhaag-accordion__icon .denhaag-icon,
.denhaag-accordion__panel:not(.denhaag-accordion__panel[aria-disabled="true"]):hover .denhaag-accordion__title,
.denhaag-accordion__panel:not(.denhaag-accordion__panel[aria-disabled="true"]):hover .denhaag-icon {
  color: var(--denhaag-accordion-active-color);
}

.denhaag-accordion__collapse {
  overflow: hidden;
  visibility: hidden;
  min-height: 0;
  height: 0;
}

.denhaag-accordion__panel--expanded + .denhaag-accordion__collapse {
  visibility: visible;
  height: auto;
}

.denhaag-accordion__details {
  padding-block-start: 0;
  padding-block-end: 0;
  padding-inline-start: var(--denhaag-accordion-padding);
  padding-inline-end: var(--denhaag-accordion-padding);
  margin-inline-end: calc((2 * var(--denhaag-accordion-padding)) + (2 * var(--denhaag-accordion-margin)));
}

.denhaag-accordion__paragraph {
  font-weight: var(--denhaag-accordion-font-weight);
  font-size: var(--denhaag-accordion-paragraph-font-size, 1rem);
  line-height: var(--denhaag-accordion-line-height);
  color: var(--denhaag-accordion-paragraph-color);
  margin-block-start: var(
    --denhaag-accordion-paragraph-margin-block-start,
    var(--denhaag-accordion-paragraph-margin-block)
  );
  margin-block-end: var(
    --denhaag-accordion-paragraph-margin-block-end,
    var(--denhaag-accordion-paragraph-margin-block)
  );
}
