.denhaag-accordion {
  font-family: var(--denhaag-accordion-font-family, var(--denhaag-typography-sans-serif-font-family));

  @media (prefers-reduced-motion: reduce) {
    --denhaag-accordion-transition-duration: 0ms;
    --denhaag-accordion-open-transition-duration: 0ms;
  }
}

.denhaag-accordion--reduced-motion {
  --denhaag-accordion-transition-duration: 0ms;
  --denhaag-accordion-open-transition-duration: 0ms;
}

.denhaag-accordion__container {
  border: 1px solid var(--denhaag-color-grey-3);
  position: relative;
}

.denhaag-accordion__container::details-content {
  content-visibility: visible !important;
  overflow: hidden;
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows var(--denhaag-accordion-transition-duration, 400ms) ease;
}

.denhaag-accordion__container:last-child {
  border-bottom-left-radius: var(--denhaag-accordion-container-border-radius, var(--denhaag-border-radius));
  border-bottom-right-radius: var(--denhaag-accordion-container-border-radius, var(--denhaag-border-radius));
  border-top: var(--denhaag-accordion-container-border-top);
}

.denhaag-accordion__container:first-child {
  --denhaag-accordion-container-border-top: 1px solid var(--denhaag-color-grey-3);

  border-top-left-radius: var(--denhaag-accordion-container-border-radius, var(--denhaag-border-radius));
  border-top-right-radius: var(--denhaag-accordion-container-border-radius, var(--denhaag-border-radius));
}

.denhaag-accordion__container + .denhaag-accordion__container {
  border-top: var(--denhaag-accordion-container-border-top);
}

.denhaag-accordion__panel {
  align-items: center;
  display: flex;
  font-family: inherit;
  font-size: var(--denhaag-typography-scale-base-font-size);
  font-weight: var(--denhaag-typography-weight-regular);
  margin-block: 0;
  min-height: var(--denhaag-space-4xl);
  outline: 0;
}

.denhaag-accordion__panel > .denhaag-icon {
  color: inherit;
  font-size: var(--denhaag-space-xl);
  position: absolute;
  pointer-events: none;
  top: var(--denhaag-space-sm);
  right: var(--denhaag-space-md);
  transform: var(--denhaag-accordion-icon-transform, rotate(0deg));
  transition: transform var(--denhaag-accordion-transition-duration, 400ms) ease-in-out;
}

.denhaag-accordion__title {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  background: inherit;
  border: none;
  color: inherit; // Fix for iPhone.
  text-align: inherit;
  hyphens: auto;
  flex-grow: 1;
  padding-block: var(--denhaag-space-sm);
  padding-inline: var(--denhaag-space-md) calc((var(--denhaag-space-md) * 2) + var(--denhaag-space-xl));
  margin-block: 0;
}

.denhaag-accordion__panel--hover .denhaag-accordion__title {
  color: var(--denhaag-color-green-3);
  outline: 0;
}

.denhaag-accordion__container[open] .denhaag-accordion__title {
  color: var(--denhaag-color-green-3);
  font-weight: var(--denhaag-typography-weight-bold);
}

.denhaag-accordion__panel--hover > .denhaag-icon {
  color: var(--denhaag-color-green-3);
  outline: 0;
}

.denhaag-accordion__container[open] .denhaag-accordion__panel > .denhaag-icon {
  --denhaag-accordion-icon-transform: rotate(180deg);

  color: var(--denhaag-color-green-3);
}

.denhaag-accordion__container--disabled,
.denhaag-accordion__container[inert] {
  background-color: var(--denhaag-color-grey-1);
}

.denhaag-accordion__container[open]::details-content {
  grid-template-rows: 1fr;
}

.denhaag-accordion__container:not([inert]) .denhaag-accordion__panel:hover .denhaag-accordion__title,
.denhaag-accordion__container:not([inert]) .denhaag-accordion__panel:hover .denhaag-icon {
  color: var(--denhaag-color-green-3);
  outline: 0;
}

.denhaag-accordion__panel--focus::after,
.denhaag-accordion__panel:focus-visible::after {
  border-radius: var(--denhaag-border-radius);
  content: "";
  height: 100%;
  left: 0;
  outline: var(--denhaag-focus-border);
  position: absolute;
  top: 0;
  width: 100%;
}

.denhaag-accordion__details {
  overflow: hidden;
  padding-block-start: var(--denhaag-space-3xs);
}

.denhaag-accordion__details-content {
  padding-block: 0 var(--denhaag-space-md);
  padding-inline: var(--denhaag-space-md);
}
