.denhaag-accordion {
  font-family: var(--denhaag-accordion-font-family);
}

.denhaag-accordion__container {
  border: var(--denhaag-accordion-container-border);
  position: var(--denhaag-accordion-container-position);
}

.denhaag-accordion__container:last-child {
  border-bottom-left-radius: var(--denhaag-accordion-container-border-radius);
  border-bottom-right-radius: var(--denhaag-accordion-container-border-radius);
  border-top: var(--denhaag-accordion-container-border-top);
}

.denhaag-accordion__container:first-child {
  --denhaag-accordion-container-border-top: var(--denhaag-accordion-container-border);

  border-top-left-radius: var(--denhaag-accordion-container-border-radius);
  border-top-right-radius: var(--denhaag-accordion-container-border-radius);
}

.denhaag-accordion__container + .denhaag-accordion__container {
  border-top: var(--denhaag-accordion-container-border-top);
}

.denhaag-accordion__panel {
  outline: var(--denhaag-accordion-panel-outline);
  align-items: var(--denhaag-accordion-panel-align-items);
  border-radius: var(--denhaag-accordion-panel-border-radius);
  text-decoration: var(--denhaag-accordion-panel-text-decoration);
  background-color: var(--denhaag-accordion-panel-background-color);
  display: var(--denhaag-accordion-panel-display);
  padding-block-start: var(--denhaag-accordion-panel-padding-block);
  padding-block-end: var(--denhaag-accordion-panel-padding-block);
  padding-inline-end: var(--denhaag-accordion-panel-padding-inline);
  position: relative;
  min-height: var(--denhaag-accordion-panel-min-height);
  margin-block-start: var(--denhaag-accordion-panel-margin-block);
  margin-block-end: var(--denhaag-accordion-panel-margin-block);
  width: var(--denhaag-accordion-panel-width);
}

.denhaag-accordion__panel > .denhaag-icon {
  color: var(--denhaag-accordion-icon-color);
  position: var(--denhaag-accordion-icon-position);
  top: var(--denhaag-accordion-icon-top);
  right: var(--denhaag-accordion-icon-right);
  transform: var(--denhaag-accordion-icon-transform);
}

.denhaag-accordion__title {
  --utrecht-heading-5-margin-block-start: 0;
  --utrecht-heading-5-margin-block-end: 0;

  background: var(--denhaag-accordion-title-background);
  border: var(--denhaag-accordion-title-border);
  flex-grow: var(--denhaag-accordion-title-flex-grow);
  hyphens: auto;
  padding-block-start: var(--denhaag-accordion-title-padding-block);
  padding-block-end: var(--denhaag-accordion-title-padding-block);
  padding-inline-start: var(--denhaag-accordion-title-padding-inline);
  padding-inline-end: calc(
    (var(--denhaag-accordion-title-padding-inline) * 2) + var(--denhaag-accordion-icon-width, 0)
  );
  text-align: var(--denhaag-accordion-title-text-align);
}

.denhaag-accordion__panel--focus .denhaag-accordion__title,
.denhaag-accordion__panel--focus .denhaag-icon,
.denhaag-accordion__title--hover,
.denhaag-accordion__title--hover + .denhaag-icon {
  color: var(--denhaag-accordion-panel-color);
}

.denhaag-accordion__title--disabled,
.denhaag-accordion__title[disabled],
.denhaag-accordion__title--disabled + .denhaag-icon,
.denhaag-accordion__title[disabled] + .denhaag-icon {
  z-index: 1;
}

.denhaag-accordion__title--disabled::before,
.denhaag-accordion__title[disabled]::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--denhaag-accordion-title-disabled-background-color);
  z-index: -1;
}

.denhaag-accordion__title:focus-visible,
.denhaag-accordion__title--focus {
  outline: none;
}

.denhaag-accordion__title:focus-visible::after,
.denhaag-accordion__title--focus::after {
  border-radius: var(--denhaag-accordion-title-focus-border-radius);
  content: "";
  height: 100%;
  left: 0;
  outline: var(--denhaag-accordion-title-focus-outline);
  position: absolute;
  top: 0;
  width: 100%;
}

.denhaag-accordion__container--open {
  --denhaag-accordion-details-display: var(--denhaag-accordion-details-open-display);
  --denhaag-accordion-title-color: var(--denhaag-accordion-container-open-title-color);
  --denhaag-accordion-icon-color: var(--denhaag-accordion-container-open-icon-color);
  --denhaag-accordion-icon-transform: var(--denhaag-accordion-container-open-icon-transform);
  --utrecht-heading-font-weight: var(--denhaag-accordion-container-open-title-font-weight);
}

.denhaag-accordion__container--open .denhaag-accordion__panel:hover,
.denhaag-accordion__container--open .denhaag-accordion__panel > .denhaag-icon:hover {
  --denhaag-accordion-title-color: var(--denhaag-accordion-container-open-color);
}

.denhaag-accordion__panel:focus .denhaag-accordion__title:not([disabled]),
.denhaag-accordion__panel:focus .denhaag-accordion__title:not([disabled]) + .denhaag-icon,
.denhaag-accordion__panel:hover .denhaag-accordion__title:not([disabled]),
.denhaag-accordion__panel:hover .denhaag-accordion__title:not([disabled]) + .denhaag-icon {
  color: var(--denhaag-accordion-panel-color);
}

.denhaag-accordion__details {
  padding-block-start: var(--denhaag-accordion-details-padding-block-start);
  padding-block-end: var(--denhaag-accordion-details-padding-block-end);
  padding-inline-start: var(--denhaag-accordion-details-padding-inline);
  padding-inline-end: var(--denhaag-accordion-details-padding-inline);
  margin-inline-end: var(--denhaag-accordion-details-margin-inline-end);
  display: var(--denhaag-accordion-details-display);
}
