.denhaag-image-banner {
  height: var(--denhaag-image-banner-height);
  width: var(--denhaag-image-banner-width);
  display: var(--denhaag-image-banner-display);
  grid-gap: var(--denhaag-image-banner-grid-gap);
  grid-template-columns: var(--denhaag-image-banner-grid-template-columns);

  @media (prefers-reduced-motion: reduce) {
    --denhaag-image-banner-transition: none;
  }
}

.denhaag-image-banner--reduced-motion {
  --denhaag-image-banner-transition: none;
}

.denhaag-image-banner__card {
  align-items: var(--denhaag-image-banner-card-align-items);
  display: var(--denhaag-image-banner-card-display);
  height: var(--denhaag-image-banner-card-height);
  overflow: var(--denhaag-image-banner-card-overflow);
  position: var(--denhaag-image-banner-card-position);
}

.denhaag-image-banner__card--focus,
.denhaag-image-banner__card:focus-visible {
  outline: var(--denhaag-image-banner-card-focus-outline);
}

.denhaag-image-banner__image {
  height: var(--denhaag-image-banner-image-height);
  left: var(--denhaag-image-banner-image-left);
  top: var(--denhaag-image-banner-image-top);
  object-fit: var(--denhaag-image-banner-image-object-fit);
  position: var(--denhaag-image-banner-image-position);
  transition: var(--denhaag-image-banner-transition);
  width: var(--denhaag-image-banner-image-width);
  z-index: var(--denhaag-image-banner-image-z-index);
}

.denhaag-image-banner .denhaag-icon {
  color: var(--denhaag-image-banner-denhaag-icon-color);
  transition: var(--denhaag-image-banner-transition);
}

.denhaag-image-banner__paragraph {
  color: var(--denhaag-image-banner-paragraph-color);
  display: var(--denhaag-image-banner-paragraph-display);
  letter-spacing: var(--denhaag-image-banner-paragraph-letter-spacing);
  line-height: var(--denhaag-image-banner-paragraph-line-height);
  text-transform: var(--denhaag-image-banner-paragraph-text-transform);
}

.denhaag-image-banner__card--active .denhaag-image-banner__image {
  box-shadow: var(--denhaag-image-banner-card-active-image-box-shadow);
}

.denhaag-image-banner__card--hover .denhaag-image-banner__image {
  transform: var(--denhaag-image-banner-card-hover-image-transform);
}

.denhaag-image-banner__card:active .denhaag-image-banner__image {
  box-shadow: var(--denhaag-image-banner-card-active-image-box-shadow);
}

.denhaag-image-banner__card--active,
.denhaag-image-banner__card:active {
  transform: var(--denhaag-image-banner-card-active-transform);
}

.denhaag-image-banner__card:hover .denhaag-image-banner__image {
  transform: var(--denhaag-image-banner-card-hover-image-transform);
}

.denhaag-image-banner__card--hover,
.denhaag-image-banner__card:hover {
  .denhaag-icon {
    transform: var(--denhaag-image-banner-card-hover-denhaag-icon-transform);
  }

  .denhaag-image-banner__paragraph {
    display: var(--denhaag-image-banner-card-hover-paragraph-display);
  }
}

.denhaag-image-banner__content {
  background-color: var(--denhaag-image-banner-content-background-color);
  display: var(--denhaag-image-banner-content-display);
  grid-gap: var(--denhaag-image-banner-content-grid-gap);
  width: calc(
    100% -
      (
        (2 * var(--denhaag-image-banner-content-margin-inline)) +
          (2 * var(--denhaag-image-banner-content-padding-inline))
      )
  );
  max-height: var(--denhaag-image-banner-content-max-height);
  margin-block-end: var(--denhaag-image-banner-content-margin-block-end);
  margin-inline-end: var(--denhaag-image-banner-content-margin-inline);
  margin-inline-start: var(--denhaag-image-banner-content-margin-inline);
  padding-inline-end: var(--denhaag-image-banner-content-padding-inline);
  padding-inline-start: var(--denhaag-image-banner-content-padding-inline);
  padding-block-end: var(--denhaag-image-banner-content-padding-block-end);
  padding-block-start: var(--denhaag-image-banner-content-padding-block-start);
  z-index: var(--denhaag-image-banner-content-z-index);
}

.denhaag-image-banner__link {
  color: var(--denhaag-image-banner-link-color);
  text-decoration: var(--denhaag-image-banner-link-text-decoration);
}

.denhaag-image-banner__link::after {
  bottom: var(--denhaag-image-banner-link-after-bottom);
  content: "";
  left: var(--denhaag-image-banner-link-after-left);
  position: var(--denhaag-image-banner-link-after-position);
  right: var(--denhaag-image-banner-link-after-right);
  top: var(--denhaag-image-banner-link-after-top);
}

.denhaag-image-banner__icon {
  display: var(--denhaag-image-banner-icon-display);
  justify-content: var(--denhaag-image-banner-icon-justify-content);
}

@media (min-width: 312px) {
  .denhaag-image-banner--big {
    --denhaag-image-banner-grid-template-columns: var(--denhaag-image-banner-big-grid-template-columns);

    .denhaag-image-banner__card {
      --denhaag-image-banner-card-height: var(--denhaag-image-banner-big-card-height);

      justify-content: var(--denhaag-image-banner-big-card-justify-content);
    }

    .denhaag-image-banner__content {
      width: var(--denhaag-image-banner-big-content-width);
    }
  }
}
