.denhaag-image-banner {
  --denhaag-image-image-height: 100%;

  height: var(--denhaag-image-banner-height, auto);
  width: var(--denhaag-image-banner-width, 100%);
  display: grid;
  grid-gap: var(--denhaag-image-banner-grid-gap, var(--denhaag-space-md));
  grid-template-columns: var(--denhaag-image-banner-grid-template-columns, repeat(auto-fill, minmax(312px, 1fr)));
}

.denhaag-theme {
  @media (prefers-reduced-motion: reduce) {
    --denhaag-image-banner-transition: none;
  }
}

.denhaag-image-banner--reduced-motion {
  --denhaag-image-banner-transition: none;
}

.denhaag-image-banner__card {
  position: relative;
}

.denhaag-image-banner__card-inner {
  align-items: var(--denhaag-image-banner-card-align-items, end);
  box-sizing: border-box;
  display: flex;
  height: var(--denhaag-image-banner-card-height, 378px);
  overflow: var(--denhaag-image-banner-card-overflow, clip);
  position: relative;
  padding: var(--denhaag-space-xl);
}

.denhaag-image-banner__card--focus::before,
.denhaag-image-banner__card:has(a:focus-visible)::before {
  content: "";
  position: absolute;
  inset: var(--denhaag-image-banner-focus-inset, 0);
  outline: var(--denhaag-focus-border);
  pointer-events: none;
  z-index: var(--denhaag-image-banner-focus-z-index, 10);
}

.denhaag-image-banner__image {
  inset: 0;
  position: absolute;
  transition: var(--denhaag-image-banner-transition, all ease-in-out 200ms);
  z-index: var(--denhaag-image-banner-image-z-index, 0);
}

.denhaag-image-banner .denhaag-icon {
  color: var(--denhaag-image-banner-denhaag-icon-color, var(--denhaag-color-blue-3));
  transition-property: all;
}

.denhaag-image-banner__paragraph {
  --utrecht-paragraph-color: var(--denhaag-image-banner-paragraph-color, var(--denhaag-color-green-3));
  --denhaag-posttypelabel-letter-spacing: var(--denhaag-image-banner-paragraph-letter-spacing, 0);
  --utrecht-paragraph-line-height: var(
    --denhaag-image-banner-paragraph-line-height,
    var(--denhaag-typography-scale-s-line-height)
  );
  --denhaag-posttypelabel-text-transform: var(--denhaag-image-banner-paragraph-text-transform, none);

  display: var(--denhaag-image-banner-paragraph-display, none);
}

.denhaag-image-banner__card--active {
  transform: var(--denhaag-image-banner-card-active-transform, translateY(1px));

  .denhaag-image-banner__image {
    box-shadow: var(--denhaag-image-banner-card-active-image-box-shadow, 0 4px 50px rgb(0 0 0 / 2%));
  }
}

.denhaag-image-banner__card--focus,
.denhaag-image-banner__card--hover {
  --denhaag-image-banner-paragraph-display: block;

  .denhaag-icon {
    transform: var(--denhaag-image-banner-card-hover-denhaag-icon-transform, translateX(4px));
  }

  .denhaag-image-banner__image {
    transform: var(--denhaag-image-banner-card-hover-image-transform, scale(1.08));
  }
}

.denhaag-image-banner__card:active {
  transform: var(--denhaag-image-banner-card-active-transform, translateY(1px));

  .denhaag-image-banner__image {
    box-shadow: var(--denhaag-image-banner-card-active-image-box-shadow, 0 4px 50px rgb(0 0 0 / 2%));
  }
}

.denhaag-image-banner__card:has(a:focus-visible),
.denhaag-image-banner__card:hover {
  --denhaag-image-banner-paragraph-display: block;

  .denhaag-icon {
    transform: var(--denhaag-image-banner-card-hover-denhaag-icon-transform, translateX(4px));
  }

  .denhaag-image-banner__image {
    transform: var(--denhaag-image-banner-card-hover-image-transform, scale(1.08));
  }
}

.denhaag-image-banner__content {
  background-color: var(--denhaag-image-banner-content-background-color, var(--denhaag-color-white));
  display: grid;
  grid-gap: var(--denhaag-image-banner-content-grid-gap, var(--denhaag-space-2xs));
  width: var(--denhaag-image-banner-content-width, 100%);
  max-height: var(--denhaag-image-banner-content-max-height, 155px);
  padding-inline: var(--denhaag-image-banner-content-padding-inline, var(--denhaag-space-md));
  padding-block-end: var(--denhaag-image-banner-content-padding-block-end, var(--denhaag-space-xs));
  padding-block-start: var(--denhaag-image-banner-content-padding-block-start, var(--denhaag-space-md));
  z-index: var(--denhaag-image-banner-content-z-index, 1);
}

.denhaag-image-banner__link {
  color: var(--denhaag-image-banner-link-color, inherit);
  text-decoration: var(--denhaag-image-banner-link-text-decoration, inherit);
  outline: none;
}

.denhaag-image-banner__link::after {
  content: "";
  inset: var(--denhaag-image-banner-link-after-inset, 0);
  position: absolute;
}

.denhaag-image-banner__icon {
  display: flex;
  justify-content: var(--denhaag-image-banner-icon-justify-content, end);
}

.denhaag-image-banner__heading {
  --utrecht-space-around: var(--denhaag-image-banner-heading-space-around, 0);
  --denhaag-alert-heading-margin-block-end: var(--denhaag-image-banner-heading-margin-block-end, 0);
}

.denhaag-image-banner--big {
  --denhaag-image-banner-grid-template-columns: var(--denhaag-image-banner-big-grid-template-columns, 1);

  .denhaag-image-banner__card-inner {
    --denhaag-image-banner-card-height: var(--denhaag-image-banner-big-card-height, 413px);

    justify-content: var(--denhaag-image-banner-big-card-justify-content, end);
  }

  .denhaag-image-banner__content {
    width: var(--denhaag-image-banner-big-content-width, 315px);
  }
}
