.denhaag-contact-timeline__step-item-sender {
  font-size: var(--denhaag-contact-timeline-step-details-sender-font-size);
  font-weight: var(--denhaag-contact-timeline-step-details-sender-font-weight);
  margin-block-start: var(--denhaag-contact-timeline-step-details-sender-margin-block-start);
}
