.denhaag-process-steps__step-header-toggle {
  &.denhaag-contact-timeline__step-header-toggle {
    --utrecht-button-subtle-hover-color: var(--denhaag-contact-timeline-step-header-toggle-hover-color);
    --utrecht-button-subtle-focus-color: var(--denhaag-contact-timeline-step-header-toggle-focus-color);
    --utrecht-button-subtle-active-color: var(--denhaag-contact-timeline-step-header-toggle-active-color);
    --utrecht-button-min-block-size: 0;
    --utrecht-button-max-inline-size: 100%;

    @media (width >= 1024px) {
      --utrecht-button-max-inline-size: fit-content;

      gap: var(--denhaag-contact-timeline-step-header-toggle-gap);
    }

    justify-content: space-between;
    width: 100%;
  }
}
