.denhaag-contact-timeline__step-header {
  --denhaag-process-steps-step-header-align-items: var(--denhaag-contact-timeline-mobile-step-marker-align-items);
  --denhaag-step-marker-margin: var(--denhaag-contact-timeline-mobile-step-marker-margin);
}

.denhaag-contact-timeline {
  .denhaag-contact-timeline__step-header__date {
    width: 96px;
  }

  .denhaag-contact-timeline__step-header__channel {
    width: 80px;
  }

  .denhaag-step-marker__connector--main-to-main {
    margin-inline-start: 112px;
  }

  &.denhaag-contact-timeline--mobile {
    --denhaag-process-steps-step-distance: var(--denhaag-contact-timeline-mobile-step-distance);

    .denhaag-process-steps__step {
      padding-block-end: var(--denhaag-contact-timeline-mobile-step-padding-block-end);
    }

    .denhaag-process-steps__step-body {
      position: unset;
    }

    .denhaag-step-marker__connector--main-to-main {
      top: calc(var(--denhaag-step-marker-size) / 2);
      bottom: var(--denhaag-contact-timeline-mobile-step-marker-connector-bottom);
      margin-inline-start: 0;
    }
  }
}

.denhaag-contact-timeline__meta {
  display: flex;
  gap: var(--denhaag-contact-timeline-mobile-meta-gap);
  align-items: center;
}

.denhaag-contact-timeline__meta-marker {
  width: var(--denhaag-contact-timeline-mobile-meta-marker-size);
  height: var(--denhaag-contact-timeline-mobile-meta-marker-size);
  background-color: var(--denhaag-contact-timeline-mobile-meta-marker-color);
  border-radius: 50%;
}
