.denhaag-badge-counter {
  --denhaag-dot-indicator-size: 8px;
}

.denhaag-badge-counter__counter {
  border-radius: var(--utrecht-badge-counter-border-radius);
  background-color: var(--utrecht-badge-counter-background-color);
  padding-block-start: var(--utrecht-badge-counter-padding-block);
  padding-block-end: var(--utrecht-badge-counter-padding-block);
  padding-inline-start: var(--utrecht-badge-counter-padding-inline);
  padding-inline-end: var(--utrecht-badge-counter-padding-inline);

  color: var(--utrecht-badge-counter-color);
  font-family: var(--utrecht-badge-counter-font-family);
  font-size: var(--utrecht-badge-counter-font-size);
  font-weight: var(--utrecht-badge-counter-font-weight);
}
