.denhaag-process-steps__step-heading {
  display: flex;
  align-items: center;
  color: var(--denhaag-process-steps-step-heading-color);
  font-family: var(--denhaag-process-steps-step-heading-font-family);
  font-size: var(--denhaag-process-steps-step-heading-font-size);
  font-weight: var(--denhaag-process-steps-step-heading-font-weight);
  line-height: var(--denhaag-process-steps-step-heading-line-height);
  text-align: start;
  overflow-wrap: var(--denhaag-process-steps-step-heading-overflow-wrap, anywhere);
  margin-block-start: 0;
  margin-block-end: 0;
}

.denhaag-process-steps__step-heading--not-checked {
  color: var(--denhaag-process-steps-step-heading-not-checked-color);
}

.denhaag-process-steps__step-heading--checked {
  color: var(--denhaag-process-steps-step-heading-checked-color);
  font-size: var(
    --denhaag-process-steps-step-heading-checked-font-size,
    var(--denhaag-process-steps-step-heading-font-size)
  );
  font-weight: var(
    --denhaag-process-steps-step-heading-checked-font-weight,
    var(--denhaag-process-steps-step-heading-font-weight)
  );
}

.denhaag-process-steps__step-heading--current {
  color: var(--denhaag-process-steps-step-heading-current-color);
  font-size: var(
    --denhaag-process-steps-step-heading-current-font-size,
    var(--denhaag-process-steps-step-heading-font-size)
  );
  font-weight: var(
    --denhaag-process-steps-step-heading-current-font-weight,
    var(--denhaag-process-steps-step-heading-font-weight)
  );
}

.denhaag-process-steps__step-heading--warning {
  color: var(--denhaag-process-steps-step-heading-warning-color);
}

.denhaag-process-steps__step-heading--error {
  color: var(--denhaag-process-steps-step-heading-error-color);
}
