.denhaag-process-steps__step-marker {
  position: relative;
  z-index: 1;
  align-items: center;
  background-color: var(--denhaag-process-steps-step-marker-background-color, var(--denhaag-color-grey-1));
  block-size: var(--denhaag-process-steps-step-marker-size, var(--denhaag-space-lg));
  border: 2px solid var(--denhaag-process-steps-step-marker-border-color, transparent);
  border-radius: 50%;
  box-sizing: border-box;
  color: var(--denhaag-process-steps-step-marker-color, var(--denhaag-color-grey-4));
  display: flex;
  flex-grow: 0;
  font-size: var(--denhaag-process-steps-step-marker-font-size);
  font-weight: var(--denhaag-typography-weight-regular);
  inline-size: var(--denhaag-process-steps-step-marker-size, var(--denhaag-space-lg));
  justify-content: center;
  margin-block: var(--denhaag-process-steps-step-marker-margin, auto);
  padding-inline-end: 0;
  min-inline-size: var(--denhaag-space-2xl);
  min-block-size: var(--denhaag-space-2xl);

  .denhaag-icon {
    block-size: var(--denhaag-space-xl);
    inline-size: var(--denhaag-space-xl);
  }
}

.denhaag-process-steps__step-marker--checked {
  background-color: var(--denhaag-process-steps-step-marker-checked-background-color, var(--denhaag-color-white));
  border-color: var(--denhaag-process-steps-step-marker-checked-border-color, var(--denhaag-color-green-3));
  color: var(--denhaag-process-steps-step-marker-checked-color, var(--denhaag-color-green-3));
}

.denhaag-process-steps__step-marker--current {
  background-color: var(--denhaag-process-steps-step-marker-current-background-color, var(--denhaag-color-green-3));
  color: var(--denhaag-process-steps-step-marker-current-color, var(--denhaag-color-white));
}
