.denhaag-process-steps__step {
  position: relative;
  padding-block-end: 0;
  padding-block-start: 0;
}

.denhaag-process-steps__step + .denhaag-process-steps__step {
  margin-block-start: var(--denhaag-process-steps-step-distance);
}

.denhaag-process-steps__step-line,
.denhaag-process-steps__step + .denhaag-process-steps__step::after {
  content: "";
  position: absolute;
  left: calc(max(var(--denhaag-process-steps-step-marker-size, var(--denhaag-space-lg)), var(--denhaag-space-2xl)) / 2);
  top: calc(-1 * (var(--denhaag-process-steps-step-distance) + 10px));
  height: calc(var(--denhaag-process-steps-step-distance) + 10px);
  outline: 1px dashed var(--denhaag-process-steps-step-line-color, var(--denhaag-color-grey-1));
}

.denhaag-process-steps__step-line--connected,
.denhaag-process-steps__step + .denhaag-process-steps__step--checked::after,
.denhaag-process-steps__step + .denhaag-process-steps__step--current::after {
  outline-style: solid;
  outline-color: var(--denhaag-process-steps-step-line-connected-color, var(--denhaag-color-green-3));
}
