.denhaag-process-steps__step-heading-label {
  display: flex;
  align-items: center;
  color: var(--denhaag-process-steps-step-heading-color, var(--denhaag-color-grey-4));
  font-family: var(--denhaag-process-steps-step-heading-font-family);
  font-size: var(--denhaag-process-steps-step-heading-font-size, var(--denhaag-typography-scale-base-font-size));
  font-weight: var(--denhaag-process-steps-step-heading-font-weight, var(--denhaag-typography-weight-bold));
  line-height: var(--denhaag-process-steps-step-heading-line-height, var(--denhaag-typography-scale-base-line-height));
}

.denhaag-process-steps__step-heading-label--current {
  color: var(--denhaag-process-steps-step-heading-current-color, var(--denhaag-color-green-3));
  font-weight: var(--denhaag-process-steps-step-heading-current-font-weight, var(--denhaag-typography-weight-bold));
}

.denhaag-process-steps__step-heading-label-checked {
  color: var(--denhaag-process-steps-step-heading-checked-color);
}
