.denhaag-process-steps__step-meta {
  position: relative;
  margin-inline-start: calc(var(--denhaag-step-marker-size) + 16px);
  font-size: var(--denhaag-process-steps-step-meta-font-size);
  color: var(--denhaag-process-steps-step-meta-color);
}

.denhaag-process-steps__step-meta--date {
  font-size: var(--denhaag-process-steps-step-meta-date-font-size, var(--denhaag-process-steps-step-meta-font-size));
  color: var(--denhaag-process-steps-step-meta-date-color, var(--denhaag-process-steps-step-meta-color));
}
