.denhaag-process-steps__sub-step-list {
  list-style: none; /* reset <ol> */
  padding-inline-start: 0; /* overwrite <ol> */
  margin-block-end: 0; /* reset <ol> */
  margin-block-start: 0; /* reset <ol> */
  display: none;
}

.denhaag-process-steps__step--expanded,
.denhaag-process-steps__step[aria-expanded="true"] {
  .denhaag-process-steps__sub-step-list {
    display: block;
  }
}
