.denhaag-tabs__tab {
  padding-block-start: 8px;
  padding-inline-start: 16px;
  padding-block-end: 8px;
  padding-inline-end: 16px;
  font-size: var(--denhaag-tab-font-size, 16px);
  color: var(--denhaag-tab-color, var(--denhaag-color-grey-4));
  font-weight: 400;
  line-height: 1.5;
}

.denhaag-tabs__tab.denhaag-tabs__tab--selected {
  font-weight: 700;
}
