.denhaag-tabs__container {
  border-bottom: 2px solid var(--denhaag-color-grey-2);
}

.denhaag-tabs__tab-indicator {
  background-color: var(--denhaag-color-blue-3);
  height: var(--denhaag-tab-indicator-height, 2px);
}
