.denhaag-card__actions {
  padding-block-end: var(--denhaag-card-actions-padding-block-end, 0);
  padding-block-start: var(--denhaag-card-actions-padding-block-start, 8px);
  padding-inline-end: var(--denhaag-card-actions-padding-inline-end, 0);
  padding-inline-start: var(--denhaag-card-actions-padding-inline-start, 0);
  justify-content: space-between;
}
