:root {
  /**
  * @tokens MenuButton
  * @presenter Color
  */
  --denhaag-menu-button-color: var(--denhaag-grey-4);
  --denhaag-menu-button-active-color: var(--denhaag-blue-3);
  --denhaag-menu-button-hover-color: var(--denhaag-menu-button-active-color);

  /**
  * @tokens MenuButton
  * @presenter FontFamily
  */
  --denhaag-menu-button-font-family: var(--denhaag-font-family);

  /**
  * @tokens MenuButton
  * @presenter FontSize
  */
  --denhaag-menu-button-font-size: var(--denhaag-fontsize-medium);

  /**
  * @tokens MenuButton
  * @presenter FontWeight
  */
  --denhaag-menu-button-active-font-weight: 700;
  --denhaag-menu-button-font-weight: 500;

  /**
  * @tokens MenuButton
  * @presenter LineHeight
  */
  --denhaag-menu-button-line-height: 21px;

  /**
  * @tokens MenuButton
  * @presenter Spacing
  */
  --denhaag-menu-button-margin-inline-end: 40px;
  --denhaag-menu-button-chevron-padding-inline-start: 4px;
  --denhaag-menu-button-chevron-size: 12px;

  /**
  * @tokens MenuButton
  * @presenter Color
  */
  --denhaag-menu-button-chevron-active-color: var(--denhaag-menu-button-hover-color);
  --denhaag-menu-button-chevron-hover-color: var(--denhaag-menu-button-chevron-active-color);
}
