:root {
  /**
  * @tokens Alerts
  * @presenter BorderRadius
  */
  --denhaag-alert-border-radius: var(--denhaag-border-radius);

  /**
  * @tokens Alerts
  * @presenter Spacing
  */
  --denhaag-alert-padding-block-start: 24px;
  --denhaag-alert-padding-block-end: 24px;
  --denhaag-alert-padding-inline-start: 24px;
  --denhaag-alert-padding-inline-end: 24px;

  /**
  * @tokens Alerts
  * @presenter Spacing
  */
  --denhaag-alert-close-focus-border-color: var(--denhaag-ocher-4);
  --denhaag-alert-close-focus-border-width: var(--denhaag-focus-border-width);
  --denhaag-alert-close-focus-border-style: var(--denhaag-focus-border-style);
  --denhaag-alert-close-focus-border-offset: 3px;

  /**
  * @tokens Alerts
  * @presenter Spacing
  */
  --denhaag-alert-content-margin-inline-start: 24px;
  --denhaag-alert-content-margin-inline-end: 24px;

  /**
  * @tokens Alerts
  * @presenter Spacing
  */
  --denhaag-alert-action-padding-block-start: 16px;

  /**
  * @tokens Alerts
  * @presenter Color
  */
  --denhaag-alert-error-background-color: var(--denhaag-red-1);
  --denhaag-alert-error-title-color: var(--denhaag-red-5);
  --denhaag-alert-error-paragraph-color: var(--denhaag-red-5);
  --denhaag-alert-error-icon-color: var(--denhaag-red-3);
  --denhaag-alert-error-action-button-background-color: var(--denhaag-red-3);
  --denhaag-alert-error-action-button-hover-background-color: var(--denhaag-red-4);
  --denhaag-alert-error-action-button-text-color: white;
  --denhaag-alert-error-close-icon-color: var(--denhaag-red-5);

  /**
  * @tokens Alerts
  * @presenter Color
  */
  --denhaag-alert-info-background-color: var(--denhaag-blue-1);
  --denhaag-alert-info-title-color: var(--denhaag-blue-5);
  --denhaag-alert-info-paragraph-color: var(--denhaag-blue-5);
  --denhaag-alert-info-icon-color: var(--denhaag-blue-3);
  --denhaag-alert-info-action-button-background-color: var(--denhaag-blue-3);
  --denhaag-alert-info-action-button-hover-background-color: var(--denhaag-blue-4);
  --denhaag-alert-info-action-button-text-color: white;
  --denhaag-alert-info-close-icon-color: var(--denhaag-blue-5);

  /**
  * @tokens Alerts
  * @presenter Color
  */
  --denhaag-alert-success-background-color: var(--denhaag-green-1);
  --denhaag-alert-success-title-color: var(--denhaag-green-5);
  --denhaag-alert-success-paragraph-color: var(--denhaag-green-5);
  --denhaag-alert-success-icon-color: var(--denhaag-green-3);
  --denhaag-alert-success-action-button-background-color: var(--denhaag-green-3);
  --denhaag-alert-success-action-button-hover-background-color: var(--denhaag-green-4);
  --denhaag-alert-success-action-button-text-color: white;
  --denhaag-alert-success-close-icon-color: var(--denhaag-green-5);

  /**
  * @tokens Alerts
  * @presenter Color
  */
  --denhaag-alert-warning-background-color: var(--denhaag-orange-1);
  --denhaag-alert-warning-title-color: var(--denhaag-orange-5);
  --denhaag-alert-warning-paragraph-color: var(--denhaag-orange-5);
  --denhaag-alert-warning-icon-color: var(--denhaag-orange-3);
  --denhaag-alert-warning-action-button-background-color: var(--denhaag-orange-3);
  --denhaag-alert-warning-action-button-hover-background-color: var(--denhaag-orange-4);
  --denhaag-alert-warning-action-button-text-color: white;
  --denhaag-alert-warning-close-icon-color: var(--denhaag-orange-5);
}
