:root {
  --denhaag-button-border-radius: var(--denhaag-border-radius);
  --denhaag-button-border-width: 1px;
  --denhaag-button-focus-border-color: var(--denhaag-focus-border-color);
  --denhaag-button-focus-border-width: var(--denhaag-focus-border-width);
  --denhaag-button-focus-border-style: var(--denhaag-focus-border-style);
  --denhaag-button-font-family: var(--denhaag-font-family);

  --denhaag-button-primary-action-background-color: var(--denhaag-green-3);
  --denhaag-button-primary-action-color: var(--denhaag-white);
  --denhaag-button-primary-action-hover-background-color: var(--denhaag-green-4);
  --denhaag-button-primary-action-hover-color: var(--denhaag-white);
  --denhaag-button-primary-action-disabled-background-color: var(--denhaag-grey-2);
  --denhaag-button-primary-action-disabled-color: var(--denhaag-white);

  --denhaag-button-secondary-action-background-color: var(--denhaag-white);
  --denhaag-button-secondary-action-color: var(--denhaag-green-3);
  --denhaag-button-secondary-action-border-color: var(--denhaag-green-3);
  --denhaag-button-secondary-action-hover-background-color: var(--denhaag-white);
  --denhaag-button-secondary-action-hover-color: var(--denhaag-green-4);
  --denhaag-button-secondary-action-hover-border-color: var(--denhaag-green-4);
  --denhaag-button-secondary-action-disabled-background-color: var(--denhaag-white);
  --denhaag-button-secondary-action-disabled-color: var(--denhaag-grey-2);
  --denhaag-button-secondary-action-disabled-border-color: var(--denhaag-grey-2);

  --denhaag-button-padding-block: 8px;
  --denhaag-button-padding-inline: 16px;
  --denhaag-button-medium-size-padding-block: var(--denhaag-button-padding-block);
  --denhaag-button-medium-size-padding-inline: var(--denhaag-button-padding-inline);
  --denhaag-button-large-size-padding-block: 10px;
  --denhaag-button-large-size-padding-inline: 20px;
}
