:root {
  --utrecht-document-font-family: var(--denhaag-font-family);
  --utrecht-document-font-size: normal;
  --utrecht-heading-font-weight: 700;
  --utrecht-heading-color: var(--denhaag-grey-4);
  --utrecht-document-line-height: normal;

  --utrecht-heading-1-font-size: var(--denhaag-font-size-3xl);
  --utrecht-heading-1-font-family: var(--denhaag-font-family);
  --utrecht-heading-1-font-weight: 700;
  --utrecht-heading-1-font-style: normal;
  --utrecht-heading-1-line-height: normal;
  --utrecht-heading-1-margin-block-start: 0;
  --utrecht-heading-1-margin-block-end: 0;
  --utrecht-heading-1-color: var(--denhaag-grey-4);

  --utrecht-heading-2-font-size: var(--denhaag-font-size-2xl);
  --utrecht-heading-2-font-family: var(--denhaag-font-family);
  --utrecht-heading-2-font-weight: 700;
  --utrecht-heading-2-font-style: normal;
  --utrecht-heading-2-line-height: normal;
  --utrecht-heading-2-margin-block-start: 0;
  --utrecht-heading-2-margin-block-end: 0;
  --utrecht-heading-2-color: var(--denhaag-grey-4);

  --utrecht-heading-3-font-size: var(--denhaag-font-size-xl);
  --utrecht-heading-3-font-family: var(--denhaag-font-family);
  --utrecht-heading-3-font-weight: 700;
  --utrecht-heading-3-font-style: normal;
  --utrecht-heading-3-line-height: normal;
  --utrecht-heading-3-margin-block-start: 0;
  --utrecht-heading-3-margin-block-end: 0;
  --utrecht-heading-3-color: var(--denhaag-grey-4);

  --utrecht-heading-4-font-size: var(--denhaag-font-size-lg);
  --utrecht-heading-4-font-family: var(--denhaag-font-family);
  --utrecht-heading-4-font-weight: 700;
  --utrecht-heading-4-font-style: normal;
  --utrecht-heading-4-line-height: normal;
  --utrecht-heading-4-margin-block-start: 0;
  --utrecht-heading-4-margin-block-end: 0;
  --utrecht-heading-4-color: var(--denhaag-grey-4);

  --utrecht-heading-5-font-size: var(--denhaag-font-size-base);
  --utrecht-heading-5-font-family: var(--denhaag-font-family);
  --utrecht-heading-5-font-weight: 700;
  --utrecht-heading-5-font-style: normal;
  --utrecht-heading-5-line-height: normal;
  --utrecht-heading-5-margin-block-start: 0;
  --utrecht-heading-5-margin-block-end: 0;
  --utrecht-heading-5-color: var(--denhaag-grey-4);

  --utrecht-paragraph-font-size: var(--denhaag-font-size-base);
  --utrecht-paragraph-font-family: var(--denhaag-font-family);
  --utrecht-paragraph-font-weight: 400;
  --utrecht-paragraph-font-style: normal;
  --utrecht-paragraph-line-height: normal;
  --utrecht-paragraph-margin-block: 0;
  --utrecht-paragraph-color: var(--denhaag-grey-4);

  --utrecht-paragraph-lead-font-size: var(--denhaag-font-size-lg);
  --utrecht-paragraph-lead-font-weight: 700;
  --utrecht-paragraph-lead-line-height: normal;
}
