:root {
  --denhaag-timeline-font-family: var(--denhaag-font-family);
  --denhaag-timeline-font-size: var(--denhaag-font-size-base);
  --denhaag-timeline-line-height: 24px;

  --denhaag-timeline-step-collapse-icon-size: 16px;
  --denhaag-timeline-step-collapse-icon-start-padding: 4px;

  --denhaag-timeline-step-content-color: var(--denhaag-grey-4);
  --denhaag-timeline-step-content-margin: 12px;

  --denhaag-timeline-step-icon-active-color: var(--denhaag-blue-3);
  --denhaag-timeline-step-icon-color: var(--denhaag-grey-3);
  --denhaag-timeline-step-icon-completed-color: var(--denhaag-green-3);
  --denhaag-timeline-step-icon-margin: auto;
  --denhaag-timeline-step-icon-padding: 12px;
  --denhaag-timeline-step-icon-size: 20px;
  --denhaag-timeline-step-icon-text-active-color: var(--denhaag-white);
  --denhaag-timeline-step-icon-text-font-size: var(--denhaag-font-size-s);

  --denhaag-timeline-step-label-active-color: var(--denhaag-blue-3);
  --denhaag-timeline-step-label-active-font-weight: 700;
  --denhaag-timeline-step-label-completed-hover-color: var(--denhaag-blue-3);
  --denhaag-timeline-step-label-disabled-color: var(--denhaag-grey-2);

  --denhaag-timeline-step-outline-offset: 2px;
  --denhaag-timeline-step-outline: var(--denhaag-focus-border);
  --denhaag-timeline-step-padding: 12px;
}
