.denhaag-cta-download {
  --denhaag-cta-download-icon-width-fallback: calc(var(--denhaag-cta-download-gap) * 4);

  align-items: center;
  border-left: 1px solid var(--denhaag-cta-download-border-color, currentColor);
  border-right: 1px solid var(--denhaag-cta-download-border-color, currentColor);
  box-shadow:
    0 1px 0 var(--denhaag-cta-download-border-color, currentColor),
    inset 0 1px 0 var(--denhaag-cta-download-border-color, currentColor);
  color: var(--denhaag-cta-download-color);
  display: flex;
  flex-direction: row;
  font-family: var(--denhaag-cta-download-font-family, inherit);
  font-size: var(--denhaag-cta-download-font-size, 1rem);
  font-weight: var(--denhaag-cta-download-font-weight, inherit);
  line-height: var(--denhaag-cta-download-line-height, inherit);
  gap: var(--denhaag-cta-download-gap);
  overflow-wrap: break-word;
  padding-block-start: var(--denhaag-cta-download-padding-block, var(--denhaag-cta-download-gap));
  padding-block-end: var(--denhaag-cta-download-padding-block, var(--denhaag-cta-download-gap));
  padding-inline-start: var(--denhaag-cta-download-padding-inline, calc(var(--denhaag-cta-download-gap) / 1.5));
  padding-inline-end: var(--denhaag-cta-download-padding-inline, calc(var(--denhaag-cta-download-gap) / 1.5));
  text-decoration: none;
  word-wrap: break-word;
}

.denhaag-cta-download:hover,
.denhaag-cta-download--hover {
  --denhaag-cta-download-dot-background-color: var(
    --denhaag-cta-download-hover-dot-background-color,
    var(--denhaag-cta-download-color)
  );
}

.denhaag-cta-download:hover .denhaag-cta-link__dot {
  background-color: var(--denhaag-cta-download-hover-dot-background-color, var(--denhaag-cta-download-color));
}

.denhaag-cta-download:focus-visible,
.denhaag-cta-download--focus {
  --denhaag-cta-download-dot-background-color: var(
    --denhaag-cta-download-focus-dot-background-color,
    var(--denhaag-cta-download-hover-dot-background-color)
  );

  outline: var(--denhaag-cta-download-focus-outline);
}

.denhaag-cta-download__dot {
  align-items: center;
  aspect-ratio: 1 / 1;
  background-color: var(--denhaag-cta-download-dot-background-color, var(--denhaag-cta-download-color));
  border-radius: var(--denhaag-cta-download-width, 50%);
  color: var(--denhaag-cta-download-dot-color);
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  height: auto;
  justify-content: center;
  width: var(--denhaag-cta-download-width, var(--denhaag-cta-download-icon-width-fallback));
}

.denhaag-cta-download__excerpt {
  display: flex;
  flex-direction: column;
  gap: var(--denhaag-cta-download-excerpt-gap, calc(var(--denhaag-cta-download-gap) / 6));
  max-width: calc(
    100% -
      (
        var(--denhaag-cta-download-width, var(--denhaag-cta-download-icon-width-fallback)) +
          var(--denhaag-cta-download-gap)
      )
  );
}

.denhaag-cta-download__title {
  color: var(--denhaag-cta-download-title-color-color, inherit);
  font-size: var(--denhaag-cta-download-title-font-size, var(--denhaag-cta-download-font-size, 1rem));
  font-weight: var(--denhaag-cta-download-title-font-weight, inherit);
  margin-block-start: 0;
  margin-block-end: 0;
}
