.denhaag-sidenav {
  display: var(--denhaag-sidenav-display);
  flex-direction: var(--denhaag-sidenav-flex-direction);
  row-gap: var(--denhaag-sidenav-row-gap);
  min-width: var(--denhaag-sidenav-min-width);

  @media (width <= 767px) {
    display: var(--denhaag-sidenav-mobile-display);
  }
}

.denhaag-sidenav__list {
  list-style: none;
  margin-block-end: 0;
  margin-block-start: 0;
  padding-block-end: 0;
  padding-block-start: 0;
  padding-inline-start: 0;
}

.denhaag-sidenav__list--child {
  margin-inline-start: var(--denhaag-sidenav-list-child-margin-inline-start);
}

.denhaag-sidenav__item {
  font-family: var(--denhaag-sidenav-item-font-family, sans-serif);
  font-size: var(--denhaag-sidenav-item-font-size);
  font-weight: var(--denhaag-sidenav-item-font-weight, normal);
  line-height: 1.5;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.denhaag-sidenav__link {
  text-decoration: none;
  color: var(--denhaag-sidenav-link-color);
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
  column-gap: 16px;
  padding-block-start: var(--denhaag-sidenav-link-padding-block-start);
  padding-block-end: var(--denhaag-sidenav-link-padding-block-end);
}

.denhaag-sidenav__link:hover,
.denhaag-sidenav__link--hover {
  color: var(--denhaag-sidenav-link-hover-color);
  cursor: pointer;
}

.denhaag-sidenav__link:focus-visible,
.denhaag-sidenav__link--focus {
  outline: var(--denhaag-focus-border);
}

.denhaag-sidenav__link--current {
  color: var(--denhaag-sidenav-link-active-color);
  font-weight: var(--denhaag-sidenav-link-active-font-weight);
}

.denhaag-sidenav__link--child {
  padding-inline-start: var(--denhaag-sidenav-link-child-padding-inline-start);
}
