.denhaag-card-news {
  border: 1px solid var(--denhaag-color-grey-2);
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  gap: var(--denhaag-card-news-gap, var(--denhaag-space-md));
  height: var(--denhaag-card-news-height);
  padding-block: var(--denhaag-card-news-padding, var(--denhaag-space-md));
  padding-inline: var(--denhaag-card-news-padding, var(--denhaag-space-md));
  position: relative;
  text-decoration: none;
  transition-duration: var(--denhaag-card-news-transition-duration, 200ms);
  transition-property: box-shadow, transform;
  transition-timing-function: var(--denhaag-card-news-transition-timing-function, ease-in-out);

  @media (prefers-reduced-motion: reduce) {
    --denhaag-card-news-transition-duration: 0ms;
  }
}

.denhaag-card-news--reduced-motion {
  --denhaag-card-news-transition-duration: 0ms;
}

.denhaag-card-news--hover,
.denhaag-card-news:hover {
  --denhaag-card-news-icon-opacity: 100%;

  box-shadow: var(--denhaag-box-shadow-default);
  transform: var(--denhaag-card-news-translate, translateY(calc(0px - var(--denhaag-space-3xs))));
}

.denhaag-card-news:focus-visible,
.denhaag-card-news--focus,
.denhaag-card-news:focus-within:not(:focus-visible) {
  --denhaag-card-news-icon-opacity: 100%;
  --denhaag-card-news-translate: 0;

  box-shadow: var(--denhaag-box-shadow-default);
  transition: var(--denhaag-card-news-focus-transition, none);
}

.denhaag-card-news__image-container {
  z-index: 0; // Prevents image from overlapping content.
}

.denhaag-card-news__image {
  aspect-ratio: var(--denhaag-card-news-image-aspect-ratio, 16 / 9);
  height: auto;
  object-fit: cover;
  transition: transform var(--denhaag-card-news-transition-timing-function, ease-in-out)
    var(--denhaag-card-news-transition-duration, 200ms);
  width: 100%;
}

.denhaag-card-news--hover .denhaag-card-news__image,
.denhaag-card-news:hover .denhaag-card-news__image {
  transform: var(--denhaag-card-news-translate, translateY(calc(0px - var(--denhaag-space-3xs)))) scale(1.02);
}

.denhaag-card-news .denhaag-icon {
  --denhaag-card-news-icon-translate: translateX(-0.1875rem);

  transition: transform var(--denhaag-card-news-transition-timing-function, ease-in-out)
    var(--denhaag-card-news-transition-duration, 200ms);
  transform: var(--denhaag-card-news-icon-translate, translateY(calc(0px - var(--denhaag-space-3xs))));
}

.denhaag-card-news--hover .denhaag-icon,
.denhaag-card-news:hover .denhaag-icon {
  --denhaag-card-news-icon-translate: translateX(0);
}

.denhaag-card-news__content {
  display: flex;
  flex-direction: column;
  z-index: 1; // Enables content to overlap image.
}

.denhaag-card-news__date {
  color: var(--denhaag-card-news-date-color, var(--denhaag-color-green-4));
  font: var(
    --denhaag-card-news-date-font,
    normal var(--denhaag-typography-weight-regular) var(--denhaag-typography-scale-s-font-size) /
      var(--denhaag-typography-scale-s-line-height) var(--denhaag-typography-sans-serif-font-family)
  );
  order: 1;
}

.denhaag-card-news__heading {
  margin-block-end: var(--denhaag-card-news-text-margin-block-end, var(--denhaag-space-xs));
  margin-block-start: var(--denhaag-card-news-heading-margin-block-start, var(--denhaag-space-xs));
  order: 2;
}

.denhaag-card-news__paragraph {
  margin-block-end: var(--denhaag-card-news-text-margin-block-end, var(--denhaag-space-xs));
  order: 3;

  @media (min-width: 25.9375rem) {
    --denhaag-card-news-paragraph-display: block;
  }
}

.denhaag-card-news .utrecht-paragraph {
  display: var(--denhaag-card-news-paragraph-display, none);
}

.denhaag-card-news__icon {
  aspect-ratio: 1;
  align-self: var(--denhaag-card-news-icon-align-self, flex-end);
  clear: both;
  color: var(--denhaag-card-news-icon-color, var(--denhaag-color-blue-3));
  height: var(--denhaag-card-news-icon-size, var(--denhaag-space-xl));
  opacity: var(--denhaag-card-news-icon-opacity, 0%);
  order: 4;
  position: relative;
  transition: opacity var(--denhaag-card-news-transition-duration, 200ms)
    var(--denhaag-card-news-transition-timing-function, ease-in-out);
  width: var(--denhaag-card-news-icon-size, var(--denhaag-space-xl));
}

.denhaag-card-news--hover .denhaag-card-news__icon,
.denhaag-card-news:hover .denhaag-card-news__icon {
  opacity: var(--denhaag-card-news-icon-opacity, 0%);
}

.denhaag-card-news__icon::before {
  background-color: var(--denhaag-color-blue-3);
  border-radius: var(--denhaag-border-radius);
  content: "";
  display: block;
  height: var(--denhaag-space-3xs);
  left: 0;
  position: absolute;
  top: calc(var(--denhaag-space-xs) + var(--denhaag-border-radius));
  width: var(--denhaag-space-xs);
}

.denhaag-card-news__link {
  color: inherit;
  text-decoration: inherit;
}

.denhaag-card-news__link:focus-visible {
  outline: none;
}

.denhaag-card-news__link::after {
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.denhaag-card-news--focus .denhaag-card-news__link::after,
.denhaag-card-news:focus-within .denhaag-card-news__link:focus-visible::after {
  outline: var(--denhaag-focus-border);
}
