.denhaag-card-news {
  border: 1px solid var(--denhaag-color-grey-2);
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  gap: var(--denhaag-card-news-gap, var(--denhaag-space-md));
  height: var(--denhaag-card-news-height);
  padding-block: var(--denhaag-card-news-padding, var(--denhaag-space-md));
  padding-inline: var(--denhaag-card-news-padding, var(--denhaag-space-md));
  position: relative;
  text-decoration: none;
  transition-duration: var(--denhaag-card-news-transition-duration, 200ms);
  transition-property: box-shadow, transform;
  transition-timing-function: var(--denhaag-card-news-transition-timing-function, ease-in-out);

  @media (prefers-reduced-motion: reduce) {
    --denhaag-card-news-transition-duration: 0ms;
  }
}

.denhaag-card-news--reduced-motion {
  --denhaag-card-news-transition-duration: 0ms;
}

.denhaag-card-news--hover,
.denhaag-card-news:hover {
  --denhaag-card-news-icon-opacity: 100%;

  box-shadow: var(--denhaag-box-shadow-default);
  transform: var(--denhaag-card-news-translate, translateY(calc(0px - var(--denhaag-space-3xs))));
}

.denhaag-card-news:focus-visible,
.denhaag-card-news--focus,
.denhaag-card-news:focus-within:not(:focus-visible) {
  --denhaag-card-news-icon-opacity: 100%;
  --denhaag-card-news-translate: 0;

  box-shadow: var(--denhaag-box-shadow-default);
  transition: var(--denhaag-card-news-focus-transition, none);
}

.denhaag-card-news__image-container {
  overflow: hidden; // Prevents image from overflowing card and show the placeholder image when image is loaded.
  z-index: 0; // Prevents image from overlapping content.
}

.denhaag-card-news__image {
  aspect-ratio: var(--denhaag-card-news-image-aspect-ratio, 16 / 9);
  height: auto;
  object-fit: cover;
  transition: transform var(--denhaag-card-news-transition-timing-function, ease-in-out)
    var(--denhaag-card-news-transition-duration, 200ms);
  width: 100%;
}

.denhaag-card-news--hover .denhaag-card-news__image,
.denhaag-card-news:hover .denhaag-card-news__image {
  transform: var(--denhaag-card-news-translate, translateY(calc(0px - var(--denhaag-space-3xs)))) scale(1.02);
}

.denhaag-card-news .denhaag-icon {
  --denhaag-card-news-icon-translate: translateX(-0.1875rem);

  transition: transform var(--denhaag-card-news-transition-timing-function, ease-in-out)
    var(--denhaag-card-news-transition-duration, 200ms);
  transform: var(--denhaag-card-news-icon-translate, translateY(calc(0px - var(--denhaag-space-3xs))));
}

.denhaag-card-news--hover .denhaag-icon,
.denhaag-card-news:hover .denhaag-icon {
  --denhaag-card-news-icon-translate: translateX(0);
}

.denhaag-card-news__content {
  display: flex;
  flex-direction: column;
  z-index: 1; // Enables content to overlap image.
}

.denhaag-card-news__meta {
  align-items: center;
  color: var(--denhaag-card-news-date-color, var(--denhaag-color-green-4));
  display: flex;
  font: var(
    --denhaag-card-news-date-font,
    normal var(--denhaag-typography-weight-regular) var(--denhaag-typography-scale-s-font-size) /
      var(--denhaag-typography-scale-s-line-height) var(--denhaag-typography-sans-serif-font-family)
  );
  gap: var(--denhaag-space-sm);
  order: 1;

  & > * {
    // All children of the meta element must be display-flex
    display: inline-flex;
    gap: var(--denhaag-space-xs);
  }

  & > :has([class*="denhaag-dot"]) {
    color: var(--denhaag-color-red-3);
    font-weight: var(--denhaag-typography-weight-bold);
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  @each $modifier, $color in ("active", "green"), ("pending", "blue") {
    & > :has(.denhaag-dot--#{$modifier}) {
      color: var(--denhaag-color-#{$color}-3);
    }
  }

  & > :not(:first-child)::before {
    // Using a pseudo element to create a separator between the items.
    // Set background instead of content: '|', to avoid a blurry line.
    background-color: var(--denhaag-color-blue-2);
    content: "";
    block-size: var(--denhaag-space-md);
    inline-size: 1px;
    inset-inline-start: 1px;
  }
}

.denhaag-card-news__heading {
  margin-block: var(--denhaag-card-news-heading-margin-block-start, var(--denhaag-space-xs))
    var(--denhaag-card-news-text-margin-block-end, var(--denhaag-space-xs));
  order: 2;
}

.denhaag-card-news__paragraph {
  margin-block-end: var(--denhaag-card-news-text-margin-block-end, var(--denhaag-space-xs));
  order: 3;

  @media (min-width: 25.9375rem) {
    --denhaag-card-news-paragraph-display: block;
  }
}

.denhaag-card-news .utrecht-paragraph {
  display: var(--denhaag-card-news-paragraph-display, none);
}

.denhaag-card-news__icon {
  aspect-ratio: 1;
  align-self: var(--denhaag-card-news-icon-align-self, flex-end);
  clear: both;
  color: var(--denhaag-card-news-icon-color, var(--denhaag-color-blue-3));
  height: var(--denhaag-card-news-icon-size, var(--denhaag-space-xl));
  opacity: var(--denhaag-card-news-icon-opacity, 0%);
  order: 4;
  position: relative;
  transition: opacity var(--denhaag-card-news-transition-duration, 200ms)
    var(--denhaag-card-news-transition-timing-function, ease-in-out);
  width: var(--denhaag-card-news-icon-size, var(--denhaag-space-xl));
}

.denhaag-card-news--hover .denhaag-card-news__icon,
.denhaag-card-news:hover .denhaag-card-news__icon {
  opacity: var(--denhaag-card-news-icon-opacity, 0%);
}

.denhaag-card-news__icon::before {
  background-color: var(--denhaag-color-blue-3);
  border-radius: var(--denhaag-border-radius);
  content: "";
  display: block;
  height: var(--denhaag-space-3xs);
  left: 0;
  position: absolute;
  top: calc(var(--denhaag-space-xs) + var(--denhaag-border-radius));
  width: var(--denhaag-space-xs);
}

.denhaag-card-news__link {
  color: inherit;
  text-decoration: inherit;
}

.denhaag-card-news__link:focus-visible {
  outline: none;
}

.denhaag-card-news__link::after {
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.denhaag-card-news--focus .denhaag-card-news__link::after,
.denhaag-card-news:focus-within .denhaag-card-news__link:focus-visible::after {
  outline: var(--denhaag-focus-border);
}

.denhaag-featured-posts {
  container: container / inline-size;
}

@container container (min-width: 700px) {
  .denhaag-card-news--featured {
    --denhaag-card-news-image-aspect-ratio: 4 / 3;
    --utrecht-heading-4-font-family: var(--utrecht-heading-2-font-family);
    --utrecht-heading-4-font-size: var(--utrecht-heading-2-font-size);
    --utrecht-heading-4-font-style: var(--utrecht-heading-2-font-style);
    --utrecht-heading-4-font-weight: var(--utrecht-heading-2-font-weight);
    --utrecht-heading-4-line-height: var(--utrecht-heading-2-line-height);

    align-items: center;
    column-gap: var(--denhaag-space-3xl);
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "image content";

    [class^="utrecht-heading-"] {
      --utrecht-space-around: 0;

      margin-block-start: 8px;
    }

    .denhaag-card-news__image-container {
      aspect-ratio: var(--denhaag-card-news-image-aspect-ratio); // overwrite hard-coded variable.
      grid-area: image;
    }

    .denhaag-card-news__content {
      grid-area: content;
      position: relative;
      padding-inline-end: calc(var(--denhaag-space-sm) + var(--denhaag-space-md) + var(--denhaag-space-xl));

      .denhaag-card-news__icon {
        position: absolute;
        bottom: 0;
        right: var(--denhaag-space-sm);
      }
    }

    .denhaag-card-news__paragraph {
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      display: -webkit-box;
    }
  }
}

@container container (min-width: 800px) {
  .denhaag-card-news--featured {
    column-gap: var(--denhaag-space-4xl);
  }
}

@container container (min-width: 1024px) {
  .denhaag-card-news--featured {
    column-gap: var(--denhaag-space-5xl);
  }
}
