.denhaag-highlighted-links {
  --denhaag-link-group-list-margin-block-start: var(--denhaag-space-xs);
  --denhaag-link-group-list-margin-block-end: 0;

  background-color: var(--denhaag-highlighted-links-background-color, var(--denhaag-color-warmgrey-1));
  padding-block: var(--denhaag-highlighted-links-padding-block, var(--denhaag-space-3xl));
  width: 100%;
}

@media (min-width: 48rem) {
  .denhaag-highlighted-links {
    --denhaag-link-group-list-columns: var(--denhaag-highlighted-links-columns-sm, 2);
  }
}

@media (min-width: 68.875rem) {
  .denhaag-highlighted-links {
    --denhaag-link-group-list-columns: var(--denhaag-highlighted-links-columns-md, 2);
  }
}

@media (min-width: 80rem) {
  .denhaag-highlighted-links {
    --denhaag-link-group-list-columns: var(--denhaag-highlighted-links-columns-lg, 3);
  }
}
