.denhaag-highlighted-links {
  background-color: var(--denhaag-highlighted-links-background-color);
  padding-block-start: var(--denhaag-highlighted-links-padding-block-start);
  padding-block-end: var(--denhaag-highlighted-links-padding-block-end);
  width: var(--denhaag-highlighted-links-width);
}

.denhaag-highlighted-links__list {
  --denhaag-link-group-navigation-list-margin-block-end: 0;

  display: var(--denhaag-highlighted-links-list-display);
  gap: var(--denhaag-highlighted-links-list-gap);
}

@media (width >= 48rem) {
  .denhaag-highlighted-links__list {
    grid-template-columns: var(--denhaag-highlighted-links-list-grid-template-columns);
  }
}

@media (width >= 68.875rem) {
  .denhaag-highlighted-links__list {
    --denhaag-highlighted-links-list-grid-template-columns: var(
      --denhaag-highlighted-links-list-grid-template-columns-2
    );
  }
}

@media (width >= 80rem) {
  .denhaag-highlighted-links__list {
    --denhaag-highlighted-links-list-grid-template-columns: var(
      --denhaag-highlighted-links-list-grid-template-columns-3
    );
  }
}
