.denhaag-stepper__step {
  margin-block-start: 12px;
  margin-block-end: 12px;
}

.denhaag-stepper__step-content {
  margin-block-start: 12px;
  color: var(--denhaag-grey-4);
  font-size: var(--denhaag-font-size-base);
}

.denhaag-stepper__step-icon {
  color: var(--denhaag-grey-3);
  font-family: var(--denhaag-font-family);
  font-size: var(--denhaag-font-size-s);
  height: 20px;
  line-height: 20px;
  text-align: center;
  width: 20px;
}

.denhaag-stepper__step-icon--active {
  color: var(--denhaag-blue-3);
}

.denhaag-stepper__step-icon--completed {
  border: none;
  color: var(--denhaag-green-3);
  height: 20px;
  width: 20px;
}

.denhaag-stepper__step-icon__text {
  font-family: var(--denhaag-font-family);
  font-size: var(--denhaag-font-size-s);
  color: var(--denhaag-grey-3);
}

.denhaag-stepper__step-icon__text--active {
  fill: var(--denhaag-white);
}
