.denhaag-stepper__step {
  margin-block-start: 12px;
  margin-block-end: 12px;
}

.denhaag-stepper__step:hover {
  color: var(--denhaag-blue-3);
}

.denhaag-stepper__step:focus {
  border: var(--denhaag-focus-border);
}

.denhaag-stepper__step-content {
  margin-block-start: 12px;

  /* Sans/base/400 */
  font-family: var(--denhaag-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: var(--denhaag-font-size-base);
  line-height: 24px;

  /* identical to box height, or 150% */
  display: flex;
  align-items: center;

  /* Grey/4 */
  color: var(--denhaag-grey-4);
}

.denhaag-stepper__step-icon {
  color: var(--denhaag-grey-3);
  font-family: var(--denhaag-font-family);
  font-size: var(--denhaag-font-size-s);
  font-weight: 500;
  height: 20px;
  line-height: 20px;
  text-align: center;
  width: 20px;
}

.denhaag-stepper__step-icon--active {
  color: var(--denhaag-blue-3);
}

.denhaag-stepper__step-icon--completed {
  border: none;
  color: var(--denhaag-green-3);
  height: 20px;
  width: 20px;
}

.denhaag-stepper__step-icon__text {
  font-family: var(--denhaag-font-family);
  font-size: var(--denhaag-font-size-s);
  color: var(--denhaag-grey-3);
}

.denhaag-stepper__step-icon__text--active {
  fill: var(--denhaag-white);
}

.denhaag-stepper__step-label {
  /* Sans/base/400 */
  font-family: var(--denhaag-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: var(--denhaag-font-size-base);
  line-height: 24px;

  /* identical to box height, or 150% */
  display: flex;
  align-items: center;

  /* Grey/4 */
  color: var(--denhaag-grey-4);
}

.denhaag-stepper__step-label-active {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: var(--denhaag-blue-3);
}

.denhaag-stepper__step__step-label__collapse-icon {
  padding-inline-start: 4px;
  height: 16px;
  width: 16px;
}
