.denhaag-tabs {
  display: flex;
  position: relative;
}

.denhaag-tabs__list {
  display: flex;
  width: var(--denhaag-tabs-width, 100%);
  border-bottom: var(--denhaag-tabs-border-width) var(--denhaag-tabs-border-style) var(--denhaag-tabs-border-color);
}

.denhaag-tabs__tab-indicator {
  background-color: var(--denhaag-tabs-tab-indicator-border-color);
  height: var(--denhaag-tabs-tab-indicator-border-width);
  position: absolute;
  bottom: var(--denhaag-tabs-tab-indicator-bottom, 0);
  inset-inline-start: var(--_denhaag-tabs-tab-indicator-inset-inline-start, 0);
  width: var(--_denhaag-tabs-tab-indicator-size, 0);
}
