.denhaag-tabs__tab {
  padding-block-start: var(--denhaag-tabs-tab-padding-block-start);
  padding-inline-start: var(--denhaag-tabs-tab-padding-inline-start);
  padding-block-end: var(--denhaag-tabs-tab-padding-block-end);
  padding-inline-end: var(--denhaag-tabs-tab-padding-inline-end);
  color: var(--denhaag-tabs-tab-color);
  font-size: var(--denhaag-tabs-tab-font-size);
  font-weight: var(--denhaag-tabs-tab-font-weight);
  font-family: var(--denhaag-tabs-tab-font-family);
  line-height: var(--denhaag-tabs-tab-line-height);
  position: relative;
}

.denhaag-tabs__tab:hover {
  color: var(--denhaag-tabs-tab-hover-color);
  font-weight: var(--denhaag-tabs-tab-hover-font-weight);
}

.denhaag-tabs__tab:focus {
  color: var(--denhaag-tabs-tab-focus-color);
  font-weight: var(--denhaag-tabs-tab-focus-font-weight);
  border: var(--denhaag-focus-border);
}

.denhaag-tabs__tab.denhaag-tabs__tab--selected {
  font-weight: var(--denhaag-tabs-tab-selected-font-weight);
  color: var(--denhaag-tabs-tab-selected-color);
}

.denhaag-tabs__tab.denhaag-tabs__tab--selected:hover {
  color: var(--denhaag-tabs-tab-hover-color);
  font-weight: var(--denhaag-tabs-tab-hover-font-weight);
}

.denhaag-tabs__tab.denhaag-tabs__tab--selected:focus {
  color: var(--denhaag-tabs-tab-focus-color);
  font-weight: var(--denhaag-tabs-tab-focus-font-weight);
}

.denhaag-tabs__tab:focus-visible {
  outline: var(--denhaag-tabs-tab-outline);
}
