.denhaag-tabs {
  display: flex;
  position: relative;
}

.denhaag-tabs__container {
  display: flex;
  width: 100%;
  border-bottom: var(--denhaag-tabs-border-width) var(--denhaag-tabs-border-style) var(--denhaag-tabs-border-color);
}

.denhaag-tabs__tab-indicator {
  background-color: var(--denhaag-tabs-tab-indicator-border-color);
  height: var(--denhaag-tabs-tab-indicator-border-width);
  position: absolute;
  bottom: 0;
}