.denhaag-tabs {
  min-height: 0;
}

.denhaag-tabs__tab {
  min-height: 0;
  text-transform: none;
  opacity: inherit;
}

.denhaag-tabs__tab-indicator {
  transition: none;
}

.denhaag-tabs__tab-panel {
  padding: 0;
}
