.denhaag-list__item {
  background-color: white;
  padding-block: var(--denhaag-listitem-padding-block);
  padding-inline: var(--denhaag-listitem-padding-inline);
}

.denhaag-list__item:focus {
  border-color: var(--denhaag-listitem-focus-border-color);
  border-style: var(--denhaag-listitem-focus-border-style);
  border-width: var(--denhaag-listitem-border-size);
  padding-block: calc(var(--denhaag-listitem-padding-block) - var(--denhaag-listitem-border-size));
  padding-inline: calc(var(--denhaag-listitem-padding-inline) - var(--denhaag-listitem-border-size));
}

.denhaag-list__item:active {
  border: var(--denhaag-listitem-border-size) solid var(--denhaag-blue-3);
  padding-block: calc(var(--denhaag-listitem-padding-block) - var(--denhaag-listitem-border-size));
  padding-inline: calc(var(--denhaag-listitem-padding-inline) - var(--denhaag-listitem-border-size));
}

.denhaag-list__item:active > .denhaag-list__secondaryaction {
  right: calc(var(--denhaag-listitem-secondaryaction-right) - var(--denhaag-listitem-border-size));
}

.denhaag-list__item:focus > .denhaag-list__secondaryaction {
  right: calc(var(--denhaag-listitem-secondaryaction-right) - var(--denhaag-listitem-border-size));
  color: var(--denhaag-blue-3);
}

.denhaag-list__item:focus .denhaag-list__itemtextprimary {
  color: var(--denhaag-blue-3);
}

.denhaag-list__item:focus .denhaag-list__itemicon {
  color: var(--denhaag-blue-3);
}

.denhaag-list__item:hover > .denhaag-list__secondaryaction {
  color: var(--denhaag-blue-3);
}

.denhaag-list__item:hover .denhaag-list__itemtextprimary {
  color: var(--denhaag-blue-3);
}

.denhaag-list__item:hover .denhaag-list__itemicon {
  color: var(--denhaag-blue-3);
}

.denhaag-list__item[secondarytext] .denhaag-list__itemtextprimary {
  line-height: var(--denhaag-listitemtext-secondary-primarytext-lineheight);
}

.denhaag-list__item[actionType="action"]:hover .denhaag-list__itemtextprimary,
.denhaag-list__item[actionType="action"]:hover .denhaag-list__itemicon {
  color: var(--denhaag-grey-4);
}

.denhaag-list__item[actionType="action"]:focus .denhaag-list__itemtextprimary,
.denhaag-list__item[actionType="action"]:focus .denhaag-list__itemicon {
  color: var(--denhaag-grey-4);
}

.denhaag-list__item[secondarytext] {
  padding-block: var(--denhaag-listitem-padding-block-secondary);
}

.denhaag-list__item[secondarytext]:active {
  padding-block: calc(var(--denhaag-listitem-padding-block-secondary) - var(--denhaag-listitem-border-size));
}

.denhaag-list__item[secondarytext]:focus {
  padding-block: calc(var(--denhaag-listitem-padding-block-secondary) - var(--denhaag-listitem-border-size));
}

.denhaag-list__item[actionType="action"] {
  cursor: default;
}

.denhaag-list__item.denhaag-list__itemfocused {
  background-color: white;
}
