:root {
    --denhaag-listitem-padding-inline: 16px;
    --denhaag-listitem-padding-block: 12px;
    --denhaag-listitem-border-size: 2px;
}

.denhaag-list__item {
    padding-block: var(--denhaag-listitem-padding-block);
    padding-inline: var(--denhaag-listitem-padding-inline);
}

.denhaag-list__item:active {
    border: var(--denhaag-listitem-border-size) solid var(--denhaag-blue-3);
    padding-block: calc(var(--denhaag-listitem-padding-block) - var(--denhaag-listitem-border-size));
    padding-inline: calc(var(--denhaag-listitem-padding-inline) - var(--denhaag-listitem-border-size));
}