.denhaag-list__itemtextprimary {
  color: var(--denhaag-list-item-text-primary-color);
  font-family: var(--denhaag-list-font-family);
  font-weight: var(--denhaag-list-item-text-primary-weight);
}

.denhaag-list__itemtextsecondary {
  color: var(--denhaag-list-item-text-secondary-color);
  font-family: var(--denhaag-list-font-family);
  font-weight: var(--denhaag-list-item-text-secondary-weight);
  font-size: var(--denhaag-list-item-text-secondary-font-size);
  line-height: var(--denhaag-list-item-text-secondary-line-height);
  padding-block-end: var(--denhaag-list-item-text-secondary-bottom-padding);
}
