.denhaag-list__secondary-action {
  right: var(--denhaag-list-item-secondary-action-right);
  color: var(--denhaag-list-item-secondary-action-color);
}

.denhaag-list__secondary-action button {
  padding-inline: var(--denhaag-list-item-secondary-action-padding);
  padding-block: var(--denhaag-list-item-secondary-action-padding);
}

.denhaag-list__secondary-action button:focus {
  border-color: var(--denhaag-list-item-focus-border-color);
  border-style: var(--denhaag-list-item-focus-border-style);
  border-width: var(--denhaag-list-item-border-size);
  box-sizing: border-box;
  color: var(--denhaag-list-item-secondary-action-focus-color);
  padding-inline: calc(var(--denhaag-list-item-secondary-action-padding) - var(--denhaag-focus-border-width));
  padding-block: calc(var(--denhaag-list-item-secondary-action-padding) - var(--denhaag-focus-border-width));
}
