.denhaag-list__secondary-action {
  right: var(--denhaag-list-item-secondary-action-right);
  color: var(--denhaag-list-item-secondary-action-color);

  --denhaag-icon-button-focus-outline-color: var(--denhaag-list-item-focus-border-color);
  --denhaag-icon-button-focus-outline-width: var(--denhaag-list-item-border-size);
  --denhaag-icon-button-focus-outline-style: var(--denhaag-list-item-focus-border-style);

  --denhaag-icon-button-padding-inline-start: var(--denhaag-list-item-secondary-action-padding);
  --denhaag-icon-button-padding-inline-end: var(--denhaag-list-item-secondary-action-padding);
  --denhaag-icon-button-padding-block-start: var(--denhaag-list-item-secondary-action-padding);
  --denhaag-icon-button-padding-block-end: var(--denhaag-list-item-secondary-action-padding);

}
