:root {
  --denhaag-list-item-secondaryaction-focus-color: var(--denhaag-blue-3);
}

.denhaag-list__secondaryaction {
  right: 16px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.denhaag-list__secondaryaction:focus-within {
  right: 14px;
}

.denhaag-list__secondaryaction button {
  padding-inline: 2px 2px;
  padding-block: 2px 2px;
  right: 6px;
}

.denhaag-list__secondaryaction button:active {
  right: 4px;
}

.denhaag-list__secondaryaction button:focus {
  border-color: var(--denhaag-listitem-focus-border-color);
  border-style: var(--denhaag-listitem-focus-border-style);
  border-width: var(--denhaag-listitem-border-size);
  border-radius: 0%;
  box-sizing: border-box;
  color: var(--denhaag-list-item-secondaryaction-focus-color);
  /* padding-block: calc(var(--denhaag-listitem-padding-block) - var(--denhaag-listitem-border-size)); */
  /* padding-inline: 2px 4px;
  padding-block: 2px 2px; */
}
