.denhaag-list {
    margin-inline: 16px 16px;
    margin-block: 8px 8px;
}

.denhaag-list__itemicon {
    color: inherit;
    min-width: 48px;
}

.denhaag-list__subheader {
    padding-block: 12px 12px;
    padding-inline: 0 0;
}

.denhaag-list__item {
    padding-block: 12px 12px;
    padding-inline: 0 0;
}

.denhaag-list__itemtext {
    margin-block: 0 0;
}
