.denhaag-file-upload {
  border-color: var(--denhaag-file-upload-border-color);
  border-radius: var(--denhaag-file-upload-border-radius);
  border-style: solid;
  border-width: var(--denhaag-file-upload-border-width);
  margin-block-end: var(--denhaag-file-upload-margin-block-end);
  padding-block: var(--denhaag-file-upload-padding-block);
  padding-inline: var(--denhaag-file-upload-padding-inline);
  text-align: var(--denhaag-file-upload-text-align);

  &--drag-file {
    background-color: var(--denhaag-file-upload-drag-file-background-color);
    border-width: var(--denhaag-file-upload-drag-file-border-width);
    border-style: var(--denhaag-file-upload-drag-file-border-style);
    border-color: var(--denhaag-file-upload-drag-file-border-color);
  }

  &--drag-file-within {
    background-color: var(--denhaag-file-upload-drag-file-within-background-color);
    border-width: var(--denhaag-file-upload-drag-file-within-border-width);
    border-style: var(--denhaag-file-upload-drag-file-within-border-style);
    border-color: var(--denhaag-file-upload-drag-file-within-border-color);
  }
}
