/* copied from main branch, Process Steps component */
@import "./Step";
@import "./StepList";
@import "./StepHeader";
@import "./StepHeaderToggle";
@import "./StepHeading";
@import "./StepDetails";
@import "./StepBody";
@import "./StepMeta";
@import "./SubStep";
@import "./SubStepHeading";

/* procedure specific styling */
.denhaag-procedure {
  --denhaag-procedure-step-heading-line-height: var(--utrecht-heading-4-line-height);
  --denhaag-process-steps-step-distance: 32px;
  --denhaag-process-steps-sub-step-distance: 24px;
  --denhaag-step-marker-font-size: var(
    --denhaag-procedure-step-marker-mobile-font-size,
    var(--denhaag-typography-scale-s-font-size)
  );
  --denhaag-step-marker-size: var(--denhaag-procedure-step-marker-mobile-size, var(--denhaag-space-xl));

  counter-reset: denhaag-step-marker;
}

/* copied from main branch, Process Steps component */
.denhaag-procedure .denhaag-step-marker {
  position: relative;
  z-index: 1;
  align-items: center;
  background-color: var(--denhaag-step-marker-background-color);
  block-size: var(--denhaag-step-marker-size, 32px);
  border-style: solid;
  border-width: var(--denhaag-step-marker-border-width, 2px);
  border-color: var(--denhaag-step-marker-border-color, transparent);
  border-radius: var(--denhaag-step-marker-border-radius, 50%);
  box-sizing: border-box;
  color: var(--denhaag-step-marker-color);
  display: flex;
  flex-grow: 0;
  font-family: var(--denhaag-step-marker-font-family, var(--denhaag-typography-sans-serif-font-family));
  font-size: var(--denhaag-step-marker-font-size, var(--denhaag-typography-scale-s-font-size));
  font-weight: var(--denhaag-step-marker-font-weight, 400);
  inline-size: var(--denhaag-step-marker-size, 32px);
  justify-content: center;
  margin-block: var(--denhaag-step-marker-margin, auto);
  padding-inline-end: 0;
  min-inline-size: var(--denhaag-step-marker-min-size, var(--denhaag-step-marker-size, 32px));
  min-block-size: var(--denhaag-step-marker-min-size, var(--denhaag-step-marker-size, 32px));
}

.denhaag-procedure .denhaag-step-marker--current {
  background-color: var(--denhaag-step-marker-current-background-color, var(--denhaag-color-green-3));
  border-color: var(--denhaag-step-marker-current-border-color, var(--denhaag-color-green-3));
  color: var(--denhaag-step-marker-current-color, var(--denhaag-color-white));
}

.denhaag-procedure .denhaag-step-marker__connector {
  position: absolute;
  left: calc(var(--denhaag-step-marker-size, 32px) / 2);
  top: 0;
  height: 100%;
  outline: var(--denhaag-step-marker-connector-width, 1px) var(--denhaag-step-marker-connector-style, dashed)
    var(--denhaag-step-marker-connector-color, var(--denhaag-color-grey-2));
}

.denhaag-procedure .denhaag-step-marker__connector--main-to-nested {
  top: calc(-1 * var(--denhaag-step-marker-size) / 2);
  padding-block-end: calc(var(--denhaag-process-steps-step-distance) + var(--denhaag-step-marker-nested-size, 16px));
}

.denhaag-procedure .denhaag-step-marker__connector--checked,
.denhaag-procedure .denhaag-step-marker__connector--current {
  outline-width: var(
    --denhaag-step-marker-connector-checked-outline-width,
    var(--denhaag-step-marker-connector-outline-width, 1px)
  );
  outline-style: var(--denhaag-step-marker-connector-checked-outline-style, solid);
  outline-color: var(--denhaag-step-marker-connector-checked-outline-color, var(--denhaag-color-green-3));
}

/* procedure specific styling */
.denhaag-procedure__heading {
  font-family: var(--denhaag-procedure-heading-font-family, var(--denhaag-typography-sans-serif-alternate-font-family));
  font-weight: var(--denhaag-procedure-heading-font-weight, var(--denhaag-typography-weight-bold));
  font-size: var(--denhaag-procedure-heading-font-size, var(--denhaag-typography-scale-2xl-font-size));
  line-height: var(--denhaag-procedure-heading-line-height, var(--denhaag-typography-scale-s-line-height));
  margin-block-end: var(--denhaag-procedure-heading-margin-block-end, var(--denhaag-space-xl));
  margin-block-start: var(--denhaag-procedure-heading-margin-block-start, 0);
}

.denhaag-procedure .denhaag-process-steps__step-header {
  cursor: unset;
}

.denhaag-procedure .denhaag-process-steps__step:last-of-type .denhaag-step-marker__connector--current {
  outline-style: unset;
}

.denhaag-procedure .denhaag-process-steps__step-heading {
  font-family: var(--utrecht-heading-font-family, var(--denhaag-typography-sans-serif-font-family));
}

.denhaag-procedure .denhaag-step-marker::before {
  counter-increment: denhaag-step-marker;
  content: counter(denhaag-step-marker);
}

.denhaag-procedure .denhaag-link--external {
  --denhaag-link-external-display: var(--denhaag-procedure-link-external-display, inline-flex);
}

.denhaag-procedure .denhaag-link--external .denhaag-link__icon {
  --denhaag-link-icon-align: var(--denhaag-procedure-link-external-icon-align, bottom);

  align-self: var(--denhaag-procedure-link-external-icon-align-self, unset);
  width: var(
    --denhaag-procedure-link-external-icon-width,
    0.625rem
  ) !important; /* because default uses --denhaag-link-icon-size for width and height */
}

@media (max-width: 767px) {
  .denhaag-procedure .denhaag-process-steps__step + .denhaag-process-steps__step::after {
    left: calc(var(--denhaag-step-marker-size, 32px) / 2);
  }
}

@media (min-width: 768px) {
  .denhaag-procedure {
    --denhaag-step-marker-size: var(--denhaag-procedure-step-marker-desktop-size, var(--denhaag-space-2xl));
    --denhaag-step-marker-font-size: var(
      --denhaag-procedure-step-marker-desktop-font-size,
      var(--denhaag-typography-scale-base-font-size)
    );
    --denhaag-procedure-step-heading-font-size: var(--denhaag-typography-scale-lg-font-size);
  }
}
