.denhaag-procedure__list {
  font-family: var(--denhaag-typography-sans-serif-font-family);
  font-size: var(--denhaag-typography-scale-base-font-size);
  line-height: 24px;
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  position: relative;
}

.denhaag-procedure__step {
  position: relative;
  padding-block-end: 0;
  padding-block-start: 0;
}

.denhaag-procedure__step + .denhaag-procedure__step {
  margin-block-start: 40px;
  position: relative;
}

.denhaag-procedure__step + .denhaag-procedure__step::before {
  content: "";
  height: 120px;
  width: 3px;
  background-color: var(--denhaag-color-green-3);
  position: absolute;
  top: -120px;
  left: 16px;
}

.denhaag-procedure__step-header {
  display: flex;
  align-items: center;
  gap: 16px;
}

.denhaag-procedure__step-heading {
  display: flex;
  align-items: center;
  color: black;
  font-size: var(--denhaag-typography-scale-base-font-size);
  font-weight: var(--denhaag-typography-weight-bold);
  line-height: var(--denhaag-typography-scale-base-line-height);
  text-align: start;
  margin-block-start: 0;
  margin-block-end: 0;
}

.denhaag-procedure__step-marker {
  background-color: var(--denhaag-color-green-3);
  border-color: var(--denhaag-color-green-3);
  color: var(--denhaag-color-white);
  position: relative;
  z-index: 1;
  align-items: center;
  block-size: 32px;
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
  box-sizing: border-box;
  display: flex;
  flex-grow: 0;
  font-family: var(--denhaag-typography-sans-serif-font-family);
  font-size: var(--denhaag-typography-scale-s-font-size);
  font-weight: var(--denhaag-step-marker-font-weight);
  inline-size: 32px;
  justify-content: center;
  margin-block-end: auto;
  margin-block-start: auto;
  padding-inline-end: 0;
}

.denhaag-procedure__step-body {
  position: relative;
}

.denhaag-procedure__step-meta {
  position: relative;
  margin-inline-start: calc(32px + 16px);
  font-size: 16px;
  color: black;
}
