/* copied from main branch, Process Steps component */
@import "./Step";
@import "./StepList";
@import "./StepHeader";
@import "./StepHeaderToggle";
@import "./StepHeading";
@import "./StepDetails";
@import "./StepBody";
@import "./StepMeta";
@import "./SubStep";
@import "./SubStepHeading";

/* procedure specific styling */
.denhaag-procedure {
  --denhaag-procedure-step-heading-line-height: var(--utrecht-heading-4-line-height);
  --denhaag-process-steps-step-distance: 32px;
  --denhaag-process-steps-sub-step-distance: 24px;
  --denhaag-step-marker-font-size: var(
    --denhaag-procedure-step-marker-mobile-font-size,
    var(--denhaag-typography-scale-s-font-size)
  );
  --denhaag-step-marker-size: var(--denhaag-procedure-step-marker-mobile-size, var(--denhaag-space-xl));

  counter-reset: denhaag-step-marker;
}

.denhaag-procedure-container {
  [class*="utrecht-heading-"] + &,
  .utrecht-paragraph + & {
    --denhaag-procedure-margin-block-start: var(--denhaag-space-md);
  }
}

/* copied from main branch, Process Steps component */
.denhaag-procedure .denhaag-step-marker {
  position: relative;
  z-index: 1;
  align-items: center;
  background-color: var(--denhaag-step-marker-background-color);
  block-size: var(--denhaag-step-marker-size, var(--denhaag-space-2xl));
  border-style: solid;
  border-width: var(--denhaag-step-marker-border-width, var(--denhaag-space-3xs));
  border-color: var(--denhaag-step-marker-border-color, transparent);
  border-radius: var(--denhaag-step-marker-border-radius, 50%);
  box-sizing: border-box;
  color: var(--denhaag-step-marker-color);
  display: flex;
  flex-grow: 0;
  font-family: var(--denhaag-step-marker-font-family, var(--denhaag-typography-sans-serif-font-family));
  font-size: var(--denhaag-step-marker-font-size, var(--denhaag-typography-scale-s-font-size));
  font-weight: var(--denhaag-step-marker-font-weight, var(--denhaag-typography-weight-regular));
  inline-size: var(--denhaag-step-marker-size, var(--denhaag-space-2xl));
  justify-content: center;
  margin-block: var(--denhaag-step-marker-margin, auto);
  padding-inline-end: 0;
  min-inline-size: var(--denhaag-step-marker-min-size, var(--denhaag-step-marker-size, var(--denhaag-space-2xl)));
  min-block-size: var(--denhaag-step-marker-min-size, var(--denhaag-step-marker-size, var(--denhaag-space-2xl)));
}

.denhaag-procedure .denhaag-step-marker--current {
  background-color: var(--denhaag-step-marker-current-background-color, var(--denhaag-color-green-3));
  border-color: var(--denhaag-step-marker-current-border-color, var(--denhaag-color-green-3));
  color: var(--denhaag-step-marker-current-color, var(--denhaag-color-white));
}

.denhaag-procedure .denhaag-step-marker__connector {
  position: absolute;
  left: calc(var(--denhaag-step-marker-size, var(--denhaag-space-2xl)) / 2);
  top: 0;
  height: 100%;
  outline: var(--denhaag-step-marker-connector-width, 1px) var(--denhaag-step-marker-connector-style, dashed)
    var(--denhaag-step-marker-connector-color, var(--denhaag-color-grey-2));
}

.denhaag-procedure .denhaag-step-marker__connector--main-to-nested {
  padding-block-end: calc(
    var(--denhaag-process-steps-step-distance) + var(--denhaag-step-marker-nested-size, var(--denhaag-space-md))
  );
}

.denhaag-procedure .denhaag-step-marker__connector--checked,
.denhaag-procedure .denhaag-step-marker__connector--current {
  outline: var(--denhaag-step-marker-connector-checked-outline-color, var(--denhaag-color-green-3))
    var(--denhaag-step-marker-connector-checked-outline-style, solid)
    var(--denhaag-step-marker-connector-checked-outline-width, var(--denhaag-step-marker-connector-outline-width, 1px));
}

.denhaag-procedure .denhaag-process-steps__step-header {
  cursor: unset;
}

.denhaag-procedure .denhaag-process-steps__step:last-of-type .denhaag-step-marker__connector--current {
  outline-style: unset;
}

.denhaag-procedure .denhaag-process-steps__step-heading {
  font-family: var(--utrecht-heading-font-family, var(--denhaag-typography-sans-serif-font-family));
}

.denhaag-procedure .denhaag-step-marker::before {
  counter-increment: denhaag-step-marker;
  content: counter(denhaag-step-marker);
}

@media (max-width: 767px) {
  .denhaag-procedure .denhaag-process-steps__step + .denhaag-process-steps__step::after {
    left: calc(var(--denhaag-step-marker-size, var(--denhaag-space-2xl)) / 2);
  }
}

@media (min-width: 768px) {
  .denhaag-procedure {
    --denhaag-step-marker-size: var(--denhaag-procedure-step-marker-desktop-size, var(--denhaag-space-2xl));
    --denhaag-step-marker-font-size: var(
      --denhaag-procedure-step-marker-desktop-font-size,
      var(--denhaag-typography-scale-base-font-size)
    );
    --denhaag-procedure-step-heading-font-size: var(--denhaag-typography-scale-lg-font-size);
  }
}
