.denhaag-procedure .denhaag-process-steps__step {
  position: relative;
  padding-block: 0;
}

.denhaag-procedure .denhaag-process-steps__step + .denhaag-procedure .denhaag-process-steps__step {
  margin-block-start: var(--denhaag-process-steps-step-distance);
}
