.denhaag-procedure .denhaag-process-steps__step-header-toggle {
  --utrecht-button-subtle-font-size: inherit;
  --utrecht-button-subtle-background-color: transparent;
  --utrecht-button-subtle-color: auto;

  border: 0;
  background-color: inherit;
  appearance: none;
  padding-block: 0;
  padding-inline: 0;
  margin-block: 0;
  margin-inline: 0;
  display: flex;
  align-items: center;
  gap: 0;
}
