/* tokens copy-pasted from main branch process-steps.tokens.json to www.denhaag.nl branch procedure.tokens.json */
.denhaag-procedure .denhaag-process-steps__step-heading {
  display: flex;
  align-items: center;
  color: var(--denhaag-procedure-step-heading-color, var(--denhaag-color-grey-4));
  font-family: var(
    --denhaag-procedure-step-heading-font-family,
    var(--denhaag-typography-sans-serif-alternate-font-family)
  );
  font-size: var(--denhaag-procedure-step-heading-font-size, var(--denhaag-typography-scale-base-font-size));
  font-weight: var(--denhaag-procedure-step-heading-font-weight, var(--denhaag-typography-weight-bold));
  line-height: var(--denhaag-procedure-step-heading-line-height, var(--denhaag-typography-scale-base-line-height));
  text-align: start;
  margin-block: 0;
}

.denhaag-procedure .denhaag-process-steps__step-heading--not-checked {
  color: var(--denhaag-procedure-step-heading-not-checked-color, var(--denhaag-color-grey-4));
}

.denhaag-procedure .denhaag-process-steps__step-heading--checked {
  color: var(--denhaag-procedure-step-heading-checked-color, var(--denhaag-color-grey-4));
  font-size: var(--denhaag-procedure-step-heading-checked-font-size, var(--denhaag-typography-scale-base-font-size));
  font-weight: var(--denhaag-procedure-step-heading-checked-font-weight, var(--denhaag-typography-weight-bold));
}

.denhaag-procedure .denhaag-process-steps__step-heading--current {
  color: var(--denhaag-procedure-step-heading-current-color, var(--denhaag-color-green-3));
  font-size: var(--denhaag-procedure-step-heading-current-font-size, var(--denhaag-typography-scale-base-font-size));
  font-weight: var(--denhaag-procedure-step-heading-current-font-weight, var(--denhaag-typography-weight-bold));
}

.denhaag-procedure .denhaag-process-steps__step-heading--warning {
  color: var(--denhaag-procedure-step-heading-warning-color, var(--denhaag-color-orange-5));
}

.denhaag-procedure .denhaag-process-steps__step-heading--error {
  color: var(--denhaag-procedure-step-heading-error-color, var(--denhaag-color-red-3));
}
