/* tokens copy-pasted from main branch process-steps.tokens.json to www.denhaag.nl branch procedure.tokens.json */
.denhaag-process-steps {
  --denhaag-process-steps-step-distance: 40px;
  --denhaag-process-steps-sub-step-distance: 24px;

  font-family: var(--denhaag-procedure-font-family);
  font-size: var(--denhaag-procedure-font-size);
  line-height: var(--denhaag-procedure-line-height);
  list-style: none;
  margin-block-start: 0; /* reset <ol> */
  margin-block-end: 0; /* reset <ol> */
  padding-inline-start: 0; /* reset <ol> */
  position: relative;
}
