.denhaag-form-progress {
  display: flex;
  flex-direction: column;

  --denhaag-link-text-decoration: none;
}

.denhaag-form-progress__header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-end: var(--denhaag-form-progress-header-margin-block-end, var(--denhaag-space-lg));
}

/* Den Haag S */
@media (max-width: 767px) {
  .denhaag-form-progress__header {
    justify-content: flex-end;
  }
}

.denhaag-form-progress__previous {
  position: absolute;
  inset-inline-start: 0;
}

.denhaag-form-progress__label {
  font-family: var(--denhaag-form-progress-label-font-family, var(--denhaag-typography-sans-serif-font-family));
  font-size: var(--denhaag-form-progress-label-font-size, var(--denhaag-typography-scale-base-font-size));
  font-weight: var(--denhaag-form-progress-label-font-weight, var(--denhaag-typography-weight-regular));
  color: var(--denhaag-form-progress-label-color, var(--denhaag-color-grey-4));
  line-height: var(--denhaag-form-progress-label-line-height, var(--denhaag-typography-scale-base-line-height));
}

.denhaag-form-progress__progress {
  width: 100%;
  height: var(--denhaag-form-progress-progress-height, var(--denhaag-space-3xs));
  appearance: none;
  border: none;
  background-color: var(--denhaag-form-progress-progress-background-color, var(--denhaag-color-grey-2));

  &::-webkit-progress-bar {
    background-color: var(--denhaag-form-progress-progress-background-color, var(--denhaag-color-grey-2));
  }

  &::-webkit-progress-value,
  &::-moz-progress-bar {
    background-color: var(--denhaag-form-progress-progress-bar-background-color, var(--denhaag-color-green-3));
  }
}
