.denhaag-checkbox {
  padding-inline-start: 0;
  padding-inline-end: 0;
  padding-block-start: 0;
  padding-block-end: 0;
}

.denhaag-checkbox:hover {
  background-color: transparent;
}

.denhaag-checkbox.denhaag-checkbox--checked:hover {
  background-color: transparent;
}
