.denhaag-page-buttons {
  --denhaag-button-icon-only-height: auto;

  display: flex;
  flex-direction: column;
  gap: var(--denhaag-page-buttons-outline-dark-action-margin-inline-end, var(--denhaag-space-sm));
  margin-block-start: var(--denhaag-page-buttons-margin-block-start, var(--denhaag-space-sm));
  margin-block-end: var(--denhaag-page-buttons-margin-block-end, var(--denhaag-space-2xl));

  [aria-controls] {
    align-self: flex-start;
  }
}

.denhaag-share-button__options {
  display: none;

  [aria-expanded="true"] + & {
    display: flex;
    gap: var(--denhaag-page-buttons-option-margin-inline-start, var(--denhaag-space-xs));
  }
}

@media (min-width: 640px) {
  .denhaag-page-buttons {
    flex-direction: row;
  }
}
