.denhaag-page-buttons {
  display: flex;
  flex-direction: column;
  margin-block-start: var(--denhaag-page-buttons-margin-block-start, 0.75rem);
  margin-block-end: var(--denhaag-page-buttons-margin-block-end, 2rem);
}

.denhaag-page-buttons__outline-dark-action {
  align-self: baseline;
  background-color: var(--denhaag-page-buttons-outline-dark-action-background-color, var(--denhaag-color-white));
  border: var(--denhaag-button-border-width) solid
    var(--denhaag-page-buttons-outline-dark-action-border-color, var(--denhaag-color-grey-2));
  color: var(--denhaag-page-buttons-outline-dark-action-color, var(--denhaag-color-grey-4));
  min-width: var(--denhaag-page-buttons-outline-dark-action-min-width, 6.25rem);
  margin-inline-end: var(--denhaag-page-buttons-outline-dark-action-margin-inline-end, 0.75rem);
  margin-block-end: var(--denhaag-page-buttons-outline-dark-action-margin-block-end, 0.75rem);
}

.denhaag-page-buttons__outline-dark-action.denhaag-button--hover,
.denhaag-page-buttons__outline-dark-action:hover {
  background-color: var(--denhaag-button-secondary-action-hover-background-color, var(--denhaag-color-white));
  border-color: var(--denhaag-button-secondary-action-hover-border-color, var(--denhaag-color-green-3));
  color: var(--denhaag-button-secondary-action-hover-color, var(--denhaag-color-green-3));
}

/* Due to the accessibility focus outline overlapping with the border, the outline needs to be repositioned for the border variant */
.denhaag-page-buttons__outline-dark-action.denhaag-button--focus::after,
.denhaag-page-buttons__outline-dark-action:focus::after {
  bottom: -3px;
  left: -3px;
  right: -3px;
  top: -3px;
}

.denhaag-page-buttons__outline-dark-action__icon {
  margin-inline-end: var(--denhaag-page-buttons-icon-margin-inline-end, 0.75rem);
  max-height: var(--denhaag-page-buttons-icon-max-height, 1.25rem);
  max-width: var(--denhaag-page-buttons-icon-max-width, 1.1875rem);
}

.denhaag-share-button__options {
  display: none;
}

.denhaag-page-buttons--open .denhaag-share-button__options {
  display: flex;
}

.denhaag-share-button__option {
  padding-block-start: 0;
  padding-block-end: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  min-width: var(--denhaag-page-buttons-option-min-width, 2.75rem);
  min-height: var(--denhaag-page-buttons-option-min-height, 2.594rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

.denhaag-share-button__option:not(:first-of-type) {
  margin-inline-start: var(--denhaag-page-buttons-option-margin-inline-start, 0.5rem);
}

.denhaag-share-button__option__icon {
  color: inherit;
}

@media (min-width: 640px) {
  .denhaag-page-buttons {
    flex-direction: row;
  }
  .denhaag-page-buttons__outline-dark-action {
    margin-block-end: 0;
  }
}
