.denhaag-link {
  --denhaag-icon-size: 1.25rem;

  position: relative;
  color: var(--denhaag-link-color, var(--denhaag-color-blue-3));
  cursor: var(--denhaag-link-cursor, pointer);
  line-height: var(--denhaag-link-line-height, inherit);
  padding-inline-start: var(--denhaag-link-padding-inline-start, 0);
  padding-inline-end: var(--denhaag-link-padding-inline-end, 0);
  text-decoration: var(--denhaag-link-text-decoration, underline);
}

.denhaag-link--with-small-icon {
  --denhaag-link-icon-font-size: var(--denhaag-link-small-icon-font-size, var(--denhaag-space-xs));
  --denhaag-link-icon-size: var(--denhaag-link-small-icon-size, 0.5rem);
}

.denhaag-link--with-icon-start {
  --denhaag-link-icon-order: 0;
}

.denhaag-link--external,
.denhaag-link--hover,
.denhaag-link:hover,
.denhaag-link--focus,
.denhaag-link:focus-visible {
  text-decoration: var(--denhaag-link-text-decoration, underline);
}

.denhaag-link--with-icon-end {
  --denhaag-link-icon-order: 2;
}

.denhaag-link--external {
  --denhaag-link-icon-align: var(--denhaag-link-external-icon-align, center);
}

.denhaag-link--external.denhaag-link--with-small-icon .denhaag-link__icon {
  vertical-align: middle;
}

.denhaag-link--focus,
.denhaag-link:focus-visible {
  --denhaag-link-color: var(--denhaag-link-focus-color, var(--denhaag-color-blue-4));

  outline: var(--denhaag-focus-border);
  outline-offset: var(--denhaag-focus-border-width);
}

.denhaag-link--hover,
.denhaag-link:hover {
  --denhaag-link-color: var(--denhaag-link-hover-color, var(--denhaag-color-blue-4));
  --denhaag-link-cursor: pointer;
}

.denhaag-link:has(.denhaag-icon) {
  align-items: var(--denhaag-link-align-items, baseline);
  display: inline-flex;
  gap: var(--denhaag-link-icon-gap, var(--denhaag-space-2xs));
  text-decoration: none;
  vertical-align: var(--denhaag-link-with-icon-vertical-align, bottom);

  .denhaag-icon {
    // Centering the icon on the top of the baseline, for links with multiple lines! Otherwise we would've used align-items: center;
    transform: translateY(
      calc(
        (
            (
                var(--denhaag-link-font-size, var(--denhaag-typography-scale-base-font-size, 1rem)) *
                  var(--denhaag-link-line-height, var(--denhaag-typography-scale-base-line-height, 1))
              ) - var(--denhaag-icon-size, 1.5rem)
          ) / 2
      )
    );
  }
}

.denhaag-link--disabled,
.denhaag-link--disabled--hover,
.denhaag-link--disabled:hover {
  --denhaag-link-color: var(--denhaag-link-disabled-color, var(--denhaag-color-grey-2));
  --denhaag-link-cursor: none;

  pointer-events: none;
}

.denhaag-link__sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding-block: 0;
  padding-inline: 0;
  margin-block: -1px;
  margin-inline: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
