.denhaag-link {
  position: relative;
  color: var(--denhaag-link-color);
  cursor: var(--denhaag-link-cursor, pointer);
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  padding-inline-start: var(--denhaag-link-padding-inline-start, 0);
  padding-inline-end: var(--denhaag-link-padding-inline-end, 0);
  text-decoration: var(--denhaag-link-text-decoration);
}

.denhaag-link--with-icon {
  align-items: center;
  display: inline-flex;
  gap: var(--denhaag-link-icon-gap);
  vertical-align: var(--denhaag-link-with-icon-vertical-align, baseline);
  text-decoration: none;

  --nl-link-text-decoration-line: none;
}

.denhaag-link--with-small-icon {
  --denhaag-link-icon-font-size: var(--denhaag-link-small-icon-font-size);
  --denhaag-link-icon-size: var(--denhaag-link-small-icon-size);
}

.denhaag-link--with-icon-start {
  --denhaag-link-icon-order: 0;
  --denhaag-link-padding-inline-start: 0;
}

.denhaag-link--external,
.denhaag-link--hover,
.denhaag-link:hover,
.denhaag-link--focus,
.denhaag-link:focus-visible {
  text-decoration: var(--denhaag-link-text-decoration);
}

.denhaag-link--with-icon-end {
  --denhaag-link-icon-order: 2;
  --denhaag-link-padding-inline-end: 0;
}

.denhaag-link--external {
  --denhaag-link-icon-align: var(--denhaag-link-external-icon-align);
}

.denhaag-link--focus,
.denhaag-link:focus-visible {
  --denhaag-link-color: var(--denhaag-link-focus-color);

  outline: var(--denhaag-link-focus-outline);
}

.denhaag-link--hover,
.denhaag-link:hover {
  --denhaag-link-color: var(--denhaag-link-hover-color);
  --denhaag-link-cursor: pointer;
}

.denhaag-link--disabled,
.denhaag-link--disabled--hover,
.denhaag-link--disabled:hover {
  --denhaag-link-color: var(--denhaag-link-disabled-color);
  --denhaag-link-cursor: none;

  pointer-events: none;
}

.denhaag-link__icon {
  align-items: var(--denhaag-link-icon-align);
  display: inline-flex;
  height: var(--denhaag-link-icon-size);
  justify-content: center;
  order: var(--denhaag-link-icon-order, 0);
  position: relative;
  vertical-align: text-top;
  width: var(--denhaag-link-icon-size);
}

.denhaag-link__icon > :first-child {
  aspect-ratio: 1 / 1;
  font-size: var(--denhaag-link-icon-font-size);
  height: var(--denhaag-link-icon-size);
  width: var(--denhaag-link-icon-size);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.denhaag-link__sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding-block-start: 0;
  padding-block-end: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  margin-block-start: -1px;
  margin-block-end: -1px;
  margin-inline-start: -1px;
  margin-inline-end: -1px;
  overflow: hidden;
  clip-path: rect(0, 0, 0, 0);
  border: 0;
}
