.denhaag-link {
  position: relative;
  color: var(--denhaag-link-color);
  padding-block-start: var(--denhaag-link-padding);
  padding-block-end: var(--denhaag-link-padding);
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  text-decoration: underline;
}

.denhaag-link--with-icon {
  text-decoration: none;
}

.denhaag-link--with-icon-start {
  padding-inline-start: calc(var(--denhaag-link-icon-size) + var(--denhaag-link-icon-margin-start));
}

.denhaag-link--with-icon-end {
  padding-inline-end: calc(var(--denhaag-link-icon-size) + var(--denhaag-link-icon-margin-end));
}

.denhaag-link--focus,
.denhaag-link:focus {
  --denhaag-link-color: var(--denhaag-link-focus-color);
  outline: var(--denhaag-link-focus-outline);
}

.denhaag-link--hover,
.denhaag-link:hover {
  --denhaag-link-color: var(--denhaag-link-hover-color);
  cursor: pointer;
}

.denhaag-link--disabled {
  --denhaag-link-color: var(--denhaag-link-disabled-color);
  cursor: none;
  pointer-events: none;
}

.denhaag-link--disabled--hover,
.denhaag-link--disabled:hover {
  --denhaag-link-color: var(--denhaag-link-disabled-color);
}

.denhaag-link__icon {
  position: absolute;
  top: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: text-top;
  width: var(--denhaag-link-icon-size);
  height: 100%;
}

.denhaag-link--with-icon-start .denhaag-link__icon {
  left: 0;
}

.denhaag-link--with-icon-end .denhaag-link__icon {
  right: 0;
}

.denhaag-link__icon > :first-child {
  width: inherit;
  height: var(--denhaag-link-icon-size);
  font-size: inherit;
}
