.denhaag-header {
  &__container {
    align-items: center;
    border-bottom: var(--denhaag-header-border-bottom);
    display: flex;
    flex-direction: row;
    height: var(--denhaag-header-height);
    justify-content: space-between;

    @media (min-width: 768px) {
      height: var(--denhaag-header-sm-height);
    }

    @media (min-width: 1024px) {
      height: var(--denhaag-header-md-height);
    }
  }
}
