@import "storybook";

.denhaag-header {
  background-color: var(--denhaag-header-background-color, var(--denhaag-color-white));
  border-bottom: 1px solid var(--denhaag-header-border-color, var(--denhaag-color-grey-1));
  height: auto;
  padding-block: var(--denhaag-header-padding-block, 0.875rem);
  position: var(--denhaag-header-position, absolute);
  top: var(--denhaag-header-top, 0);
  width: 100%;
  z-index: 6;

  @media (min-width: 768px) {
    --denhaag-header-padding-block: 1.3125rem;
  }

  @media (min-width: 1024px) {
    --denhaag-header-padding-block: 1.4375rem;
  }
}

.denhaag-header__container {
  margin-inline-end: auto;
  margin-inline-start: auto;
  padding-inline: var(--denhaag-header-grid-gutter, var(--denhaag-space-xs));
  width: min(var(--denhaag-header-max-width, 100%), 100%);
  max-width: var(--denhaag-header-max-width, 100%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  @media (min-width: 360px) {
    --denhaag-header-max-width: calc(
      100vw - (2 * (var(--denhaag-space-xl) - var(--denhaag-header-grid-gutter, var(--denhaag-space-xs))))
    );
  }

  @media (min-width: 768px) {
    --denhaag-header-grid-gutter: var(--denhaag-space-md);
    --denhaag-header-max-width: 40.5rem;
  }

  @media (min-width: 1024px) {
    --denhaag-header-grid-gutter: var(--denhaag-space-xl);
    --denhaag-header-max-width: 56.5rem;

    padding-inline-end: 0;
    padding-inline-start: 0;
  }

  @media (min-width: 1280px) {
    --denhaag-header-grid-gutter: var(--denhaag-space-2xl);
    --denhaag-header-max-width: 67.5rem;
  }

  @media (min-width: 1768px) {
    --denhaag-header-grid-gutter: var(--denhaag-space-3xl);
    --denhaag-header-max-width: 98rem;
  }

  @media (min-width: 2160px) {
    --denhaag-header-grid-gutter: var(--denhaag-space-4xl);
  }
}

.denhaag-header-logo {
  height: var(--denhaag-header-logo-height, var(--denhaag-space-4xl));
  width: var(--denhaag-header-logo-width, 9.5rem);
  object-fit: contain;
}

.denhaag-header__secondary {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: var(--denhaag-header-secondary-gap, 0);
}
