.denhaag-pagination {
  --denhaag-icon-size: var(--denhaag-pagination-font-size);

  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: var(--denhaag-pagination-align, center);
  gap: var(--denhaag-pagination-gap, 0);
}

@media (min-width: 640px) {
  .denhaag-pagination,
  .denhaag-pagination--start {
    --denhaag-pagination-align: flex-start;
  }

  .denhaag-pagination--center {
    --denhaag-pagination-align: center;
  }

  .denhaag-pagination--end {
    --denhaag-pagination-align: end;
  }
}

.denhaag-pagination__links {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-block: 0;
  padding-inline: 0;
}

.denhaag-pagination__dots {
  aspect-ratio: 1;
  block-size: 100%;
  display: grid;
  inline-size: var(--denhaag-pagination-size, var(--denhaag-space-2xl));
  place-content: center;
  text-align: center;
}

.denhaag-pagination__link {
  aspect-ratio: 1;
  align-items: center;
  background-color: var(--denhaag-pagination-background-color, transparent);
  border: 0;
  border-radius: var(--denhaag-pagination-border-radius, var(--denhaag-border-radius));
  color: var(--denhaag-pagination-color, var(--denhaag-pagination-link-color, var(--denhaag-color-grey-4)));
  display: grid;
  block-size: var(--denhaag-pagination-size, var(--denhaag-space-2xl));
  line-height: 1.5;
  place-content: center;
  position: relative;
  text-decoration: none;
  inline-size: var(--denhaag-pagination-size, var(--denhaag-space-2xl));
  font-style: normal;
  font-weight: var(--denhaag-pagination-font-weight, var(--denhaag-typography-weight-regular));
  font-size: var(--denhaag-pagination-font-size, var(--denhaag-typography-scale-base-font-size));
}

.denhaag-pagination__link:hover,
.denhaag-pagination__link--hover {
  --denhaag-pagination-color: var(--denhaag-pagination-link-hover-color, var(--denhaag-color-green-3));
}

.denhaag-pagination__link:focus-visible,
.denhaag-pagination__link--focus {
  outline: var(--denhaag-focus-border);
  border-radius: 0;
}

.denhaag-pagination__link:disabled,
.denhaag-pagination__link--disabled {
  --denhaag-pagination-color: var(--denhaag-pagination-link-disabled-color, var(--denhaag-color-grey-2));

  pointer-events: none;
}

[dir="rtl"] .denhaag-pagination__link--arrow {
  transform: scaleX(-1);
}

.denhaag-pagination__link--current {
  --denhaag-pagination-color: var(--denhaag-pagination-link-current-color, var(--denhaag-color-green-3));
  --denhaag-pagination-font-weight: var(
    --denhaag-pagination-link-current-font-weight,
    var(--denhaag-typography-weight-bold)
  );
}

.denhaag-pagination__link--current.denhaag-pagination__link:disabled,
.denhaag-pagination__link--current.denhaag-pagination__link--disabled {
  --denhaag-pagination-color: var(--denhaag-pagination-link-current-disabled-color, var(--denhaag-color-white));
  --denhaag-pagination-background-color: var(
    --denhaag-pagination-link-current-disabled-background-color,
    var(--denhaag-color-grey-2)
  );
}
