.denhaag-pagination {
  --denhaag-pagination-align: center;

  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: var(--denhaag-pagination-align);
}

@media (width >= 640px) {
  .denhaag-pagination,
  .denhaag-pagination--start {
    --denhaag-pagination-align: flex-start;
  }

  .denhaag-pagination--center {
    --denhaag-pagination-align: center;
  }

  .denhaag-pagination--end {
    --denhaag-pagination-align: end;
  }
}

.denhaag-pagination__list {
  display: flex;
  flex-direction: row;
}

.denhaag-pagination__button {
  aspect-ratio: 1 / 1;
  align-items: center;
  background-color: var(--denhaag-pagination-background-color, transparent);
  border: 0;
  border-radius: var(--denhaag-pagination-border-radius, var(--denhaag-border-radius));
  color: var(--denhaag-pagination-color, var(--denhaag-pagination-button-color));
  display: flex;
  height: var(--denhaag-pagination-size);
  justify-content: center;
  line-height: 1.5;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: var(--denhaag-pagination-size);
  font-style: normal;
  font-weight: var(--denhaag-pagination-font-weight);
  font-size: var(--denhaag-pagination-font-size);
  cursor: pointer;
}

.denhaag-pagination__button:hover,
.denhaag-pagination__button--hover {
  --denhaag-pagination-color: var(--denhaag-pagination-button-hover-color);
}

.denhaag-pagination__button:focus-visible,
.denhaag-pagination__button--focus {
  outline: var(--denhaag-link-focus-outline);
  border-radius: 0;
}

.denhaag-pagination__button:disabled,
.denhaag-pagination__button--disabled {
  --denhaag-pagination-color: var(--denhaag-pagination-button-disabled-color);

  pointer-events: none;
}

.denhaag-pagination__button--arrow {
  --denhaag-pagination-size: var(--denhaag-pagination-arrow-size);
  --denhaag-pagination-font-size: var(--denhaag-pagination-arrow-font-size);
}

[dir="rtl"] .denhaag-pagination__button--arrow {
  transform: scaleX(-1);
}

.denhaag-pagination__button + .denhaag-pagination__list,
.denhaag-pagination__list + .denhaag-pagination__button {
  margin-inline-start: var(--denhaag-pagination-margin-inline, 10px);
}

.denhaag-pagination__button:not(:first-child, :last-child, .denhaag-pagination__button--current, [rel]) {
  color: transparent; /* Only for Safari */
  overflow: hidden;
  pointer-events: none;
  text-indent: calc(var(--denhaag-pagination-size) * 2);
}

/* stylelint-disable selector-pseudo-class-parentheses-space-inside */
.denhaag-pagination__button:not(:first-child, :last-child, .denhaag-pagination__button--current, [rel])::before {
  color: var(--denhaag-pagination-color, var(--denhaag-pagination-button-color)); /* Only for Safari */
  content: "...";
  left: calc(50% - 7px);
  line-height: 0;
  position: absolute;
  text-indent: 0;
  vertical-align: baseline;
}
/* stylelint-enable selector-pseudo-class-parentheses-space-inside */

.denhaag-pagination__button--current {
  --denhaag-pagination-color: var(--denhaag-pagination-button-current-color);
  --denhaag-pagination-font-weight: var(--denhaag-pagination-button-current-font-weight);
}

.denhaag-pagination__button--current.denhaag-pagination__button:disabled,
.denhaag-pagination__button--current.denhaag-pagination__button--disabled {
  --denhaag-pagination-color: var(--denhaag-pagination-button-current-disabled-color);
  --denhaag-pagination-background-color: var(--denhaag-pagination-button-current-disabled-background-color);
}

.denhaag-pagination .denhaag-icon {
  font-size: inherit;
}
