.denhaag-alert {
  border-width: 0;
  border-radius: var(--denhaag-alert-border-radius);
  padding-inline-start: var(--denhaag-alert-padding-inline-start);
  padding-inline-end: var(--denhaag-alert-padding-inline-end);
  padding-block-start: var(--denhaag-alert-padding-block-start);
  padding-block-end: var(--denhaag-alert-padding-block-end);
  display: flex;
  flex-direction: row;
  gap: var(--denhaag-alert-gap, 24px);

  --nl-heading-level-4-margin-block-start: 0;
  --nl-heading-level-4-margin-block-end: 0;
  --nl-heading-level-4-line-height: 24px;
  --nl-paragraph-margin-block-end: 0;
}

.denhaag-alert--error {
  background-color: var(--denhaag-alert-error-background-color);

  --nl-paragraph-color: var(--denhaag-alert-error-paragraph-color);
  --nl-heading-level-4-color: var(--denhaag-alert-error-title-color);
  --denhaag-button-primary-action-background-color: var(--denhaag-alert-error-action-button-background-color);
  --denhaag-button-primary-action-color: var(--denhaag-alert-error-action-button-color);
  --denhaag-button-primary-action-hover-background-color: var(
    --denhaag-alert-error-action-button-hover-background-color
  );
  --denhaag-icon-button-color: var(--denhaag-alert-error-close-icon-color);
  --denhaag-icon-button-hover-color: var(--denhaag-alert-error-close-icon-color);
  --denhaag-icon-button-focus-color: var(--denhaag-alert-error-close-icon-color);
}

.denhaag-alert__icon svg {
  display: block;
}

.denhaag-alert__centre {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: flex-start;
  gap: var(--denhaag-alert-centre-gap, 16px);
}

.denhaag-alert__content {
  gap: var(--denhaag-alert-content-gap, 4px);
}

.denhaag-alert .denhaag-button {
  margin-block-start: 0;
}

.denhaag-alert--error .denhaag-alert__icon {
  color: var(--denhaag-alert-error-icon-color);
}

.denhaag-alert--info {
  background-color: var(--denhaag-alert-info-background-color);

  --nl-paragraph-color: var(--denhaag-alert-info-paragraph-color);
  --nl-heading-level-4-color: var(--denhaag-alert-info-title-color);
  --denhaag-button-primary-action-background-color: var(--denhaag-alert-info-action-button-background-color);
  --denhaag-button-primary-action-color: var(--denhaag-alert-info-action-button-color);
  --denhaag-button-primary-action-hover-background-color: var(
    --denhaag-alert-info-action-button-hover-background-color
  );
  --denhaag-icon-button-color: var(--denhaag-alert-info-close-icon-color);
  --denhaag-icon-button-hover-color: var(--denhaag-alert-info-close-icon-color);
  --denhaag-icon-button-focus-color: var(--denhaag-alert-info-close-icon-color);
}

.denhaag-alert--info .denhaag-alert__icon {
  color: var(--denhaag-alert-info-icon-color);
}

.denhaag-alert--success {
  background-color: var(--denhaag-alert-success-background-color);

  --nl-paragraph-color: var(--denhaag-alert-success-paragraph-color);
  --nl-heading-level-4-color: var(--denhaag-alert-success-title-color);
  --denhaag-button-primary-action-background-color: var(--denhaag-alert-success-action-button-background-color);
  --denhaag-button-primary-action-color: var(--denhaag-alert-success-action-button-color);
  --denhaag-button-primary-action-hover-background-color: var(
    --denhaag-alert-success-action-button-hover-background-color
  );
  --denhaag-icon-button-color: var(--denhaag-alert-success-close-icon-color);
  --denhaag-icon-button-hover-color: var(--denhaag-alert-success-close-icon-color);
  --denhaag-icon-button-focus-color: var(--denhaag-alert-success-close-icon-color);
}

.denhaag-alert--success .denhaag-alert__icon {
  color: var(--denhaag-alert-success-icon-color);
}

.denhaag-alert--warning {
  background-color: var(--denhaag-alert-warning-background-color);

  --nl-paragraph-color: var(--denhaag-alert-warning-paragraph-color);
  --nl-heading-level-4-color: var(--denhaag-alert-warning-title-color);
  --denhaag-button-primary-action-background-color: var(--denhaag-alert-warning-action-button-background-color);
  --denhaag-button-primary-action-color: var(--denhaag-alert-warning-action-button-color);
  --denhaag-button-primary-action-hover-background-color: var(
    --denhaag-alert-warning-action-button-hover-background-color
  );
  --denhaag-icon-button-color: var(--denhaag-alert-warning-close-icon-color);
  --denhaag-icon-button-hover-color: var(--denhaag-alert-warning-close-icon-color);
  --denhaag-icon-button-focus-color: var(--denhaag-alert-warning-close-icon-color);
}

.denhaag-alert--warning .denhaag-alert__icon {
  color: var(--denhaag-alert-warning-icon-color);
}
