.denhaag-datepicker {
  position: relative;
  width: var(--denhaag-datepicker-width, 100%);
}

.denhaag-datepicker::after {
  background-color: var(--denhaag-datepicker-input-background-color, var(--denhaag-color-white));
  color: var(--denhaag-datepicker-input-placeholder-color, var(--denhaag-color-grey-3));
  content: attr(data-placeholder);
  position: absolute;
  height: var(--denhaag-datepicker-input-line-height, var(--denhaag-space-xl));
  inset-block-start: calc(
    (
        var(--denhaag-datepicker-input-height, 3.25rem) -
          var(--denhaag-datepicker-input-line-height, var(--denhaag-space-xl))
      ) / 2
  );
  inset-inline-start: var(--denhaag-datepicker-input-padding-inline, var(--denhaag-space-sm));
  inset-inline-end: calc(
    var(--denhaag-datepicker-button-font-size, var(--denhaag-typography-scale-lg-font-size)) +
      var(--denhaag-datepicker-button-inset-inline-end, var(--denhaag-space-sm)) +
      var(--denhaag-datepicker-input-padding-inline, var(--denhaag-space-sm))
  );
  font-family: var(--denhaag-datepicker-font-family, var(--denhaag-typography-sans-serif-font-family));
  font-size: var(--denhaag-datepicker-input-font-size, var(--denhaag-typography-scale-base-font-size));
  line-height: var(--denhaag-datepicker-input-line-height, var(--denhaag-space-xl));
  pointer-events: none;
}

.denhaag-datepicker.denhaag-datepicker--has-value::after {
  content: "";
  inset-inline-start: unset;
  width: var(--denhaag-space-md);
}

.denhaag-datepicker.denhaag-datepicker--error::after {
  inset-inline-end: calc(
    var(--denhaag-datepicker-button-inset-inline-end, var(--denhaag-space-sm)) +
      var(--denhaag-datepicker-button-font-size, var(--denhaag-typography-scale-lg-font-size)) +
      var(--denhaag-datepicker-error-icon-inset-inline-end, var(--denhaag-space-xs)) +
      var(--denhaag-datepicker-error-icon-font-size, var(--denhaag-typography-scale-base-font-size)) +
      var(--denhaag-datepicker-input-padding-inline, var(--denhaag-space-sm))
  );
}

.denhaag-datepicker.denhaag-datepicker--disabled::after {
  color: var(--denhaag-datepicker-disabled-input-color);
}

.denhaag-datepicker__button {
  background: none;
  border: 0;
  color: var(--denhaag-datepicker-button-color, var(--denhaag-color-grey-4));
  cursor: pointer;
  height: var(--denhaag-datepicker-input-height, 3.25rem);
  inset-block-start: 0;
  inset-inline-end: var(--denhaag-datepicker-button-inset-inline-end, var(--denhaag-space-sm));
  padding-block: 0;
  padding-inline: 0;
  position: absolute;
  outline: 0;
}

.denhaag-datepicker__button.denhaag-datepicker__button--hover,
.denhaag-datepicker__button:hover {
  color: var(--denhaag-icon-button-hover-color);
}

.denhaag-datepicker__button.denhaag-datepicker__button--focus,
.denhaag-datepicker__button:focus-visible {
  color: var(--denhaag-icon-button-focus-color);
}

.denhaag-datepicker__button .denhaag-icon {
  font-size: var(--denhaag-datepicker-button-font-size, var(--denhaag-typography-scale-lg-font-size));
}

.denhaag-datepicker__input {
  appearance: none;
  background-color: var(--denhaag-datepicker-input-background-color, var(--denhaag-color-white));
  border: var(--denhaag-datepicker-input-border-width, 1px) var(--denhaag-datepicker-input-border-style, solid)
    var(--denhaag-datepicker-input-border-color, var(--denhaag-color-grey-3));
  box-sizing: border-box;
  color: var(--denhaag-datepicker-input-color, var(--denhaag-color-grey-4));
  width: 100%;
  height: var(--denhaag-datepicker-input-height, 3.25rem);
  padding-inline-start: var(--denhaag-datepicker-input-padding-inline, var(--denhaag-space-sm));
  padding-inline-end: calc(
    var(--denhaag-datepicker-button-font-size, var(--denhaag-typography-scale-lg-font-size)) +
      var(--denhaag-datepicker-button-inset-inline-end, var(--denhaag-space-sm)) +
      var(--denhaag-datepicker-input-padding-inline, var(--denhaag-space-sm))
  );
  font-family: var(--denhaag-datepicker-font-family, var(--denhaag-typography-sans-serif-font-family));
  font-size: var(--denhaag-datepicker-input-font-size);
  line-height: var(--denhaag-datepicker-input-line-height, var(--denhaag-space-xl));
}

.denhaag-datepicker__input::-webkit-date-and-time-value {
  text-align: start;
}

.denhaag-datepicker__input::-webkit-calendar-picker-indicator {
  display: none;
}

.denhaag-datepicker--error .denhaag-datepicker__input {
  border-color: var(--denhaag-datepicker-error-input-border-color, var(--denhaag-color-red-3));
  padding-inline-end: calc(
    var(--denhaag-datepicker-button-inset-inline-end, var(--denhaag-space-sm)) +
      var(--denhaag-datepicker-button-font-size, var(--denhaag-typography-scale-lg-font-size)) +
      var(--denhaag-datepicker-error-icon-inset-inline-end, var(--denhaag-space-xs)) +
      var(--denhaag-datepicker-error-icon-font-size, var(--denhaag-typography-scale-base-font-size)) +
      var(--denhaag-datepicker-input-padding-inline, var(--denhaag-space-sm))
  );
}

.denhaag-datepicker__input.denhaag-datepicker__input--hover,
.denhaag-datepicker__input:hover {
  border-color: var(--denhaag-datepicker-input-hover-border-color, var(--denhaag-color-blue-3));
  border-width: var(--denhaag-datepicker-input-hover-border-width, var(--denhaag-space-3xs));
  padding-inline-start: calc(
    var(--denhaag-datepicker-input-padding-inline, var(--denhaag-space-sm)) -
      var(--denhaag-datepicker-input-hover-border-width, var(--denhaag-space-3xs)) +
      var(--denhaag-datepicker-input-border-width, 1px)
  );
  padding-inline-end: calc(
    var(--denhaag-datepicker-button-font-size, var(--denhaag-typography-scale-lg-font-size)) +
      var(--denhaag-datepicker-button-inset-inline-end, var(--denhaag-space-sm)) +
      var(--denhaag-datepicker-input-padding-inline, var(--denhaag-space-sm)) -
      var(--denhaag-datepicker-input-hover-border-width, var(--denhaag-space-3xs)) +
      var(--denhaag-datepicker-input-border-width, 1px)
  );
}

.denhaag-datepicker--disabled .denhaag-datepicker__input {
  border-color: var(--denhaag-datepicker-disabled-input-border-color, var(--denhaag-color-grey-2));
  color: var(--denhaag-datepicker-disabled-input-color, var(--denhaag-color-grey-2));
  pointer-events: none;
}

.denhaag-datepicker--error .denhaag-datepicker__input.denhaag-datepicker__input--hover,
.denhaag-datepicker--error .denhaag-datepicker__input:hover {
  padding-inline-end: calc(
    var(--denhaag-datepicker-button-inset-inline-end, var(--denhaag-space-sm)) +
      var(--denhaag-datepicker-button-font-size, var(--denhaag-typography-scale-lg-font-size)) +
      var(--denhaag-datepicker-error-icon-inset-inline-end, var(--denhaag-space-xs)) +
      var(--denhaag-datepicker-error-icon-font-size, var(--denhaag-typography-scale-base-font-size)) +
      var(--denhaag-datepicker-input-padding-inline, var(--denhaag-space-sm)) -
      var(--denhaag-datepicker-input-hover-border-width, var(--denhaag-space-3xs)) +
      var(--denhaag-datepicker-input-border-width, 1px)
  );
}

.denhaag-datepicker__error-icon {
  display: none;
}

.denhaag-datepicker--error .denhaag-datepicker__error-icon {
  color: var(--denhaag-datepicker-error-icon-color, var(--denhaag-color-red-3));
  display: block;
  position: absolute;
  font-size: var(--denhaag-datepicker-error-icon-font-size, var(--denhaag-typography-scale-base-font-size));
  inset-block-start: calc(
    (
        var(--denhaag-datepicker-input-height, 3.25rem) -
          var(--denhaag-datepicker-error-icon-font-size, var(--denhaag-typography-scale-base-font-size))
      ) / 2
  );
  inset-inline-end: calc(
    var(--denhaag-datepicker-button-inset-inline-end, var(--denhaag-space-sm)) +
      var(--denhaag-datepicker-button-font-size, var(--denhaag-typography-scale-lg-font-size)) +
      var(--denhaag-datepicker-error-icon-inset-inline-end, var(--denhaag-space-xs))
  );
}

.denhaag-datepicker--disabled .denhaag-datepicker__button {
  color: var(--denhaag-datepicker-disabled-button-color, var(--denhaag-color-grey-2));
  pointer-events: none;
}

.denhaag-datepicker .denhaag-datepicker__input.denhaag-datepicker__input--focus,
.denhaag-datepicker .denhaag-datepicker__input:focus-visible,
.denhaag-datepicker .denhaag-datepicker__button.denhaag-datepicker__button--focus + .denhaag-datepicker__input,
.denhaag-datepicker .denhaag-datepicker__button:focus-visible + .denhaag-datepicker__input {
  outline: var(--denhaag-focus-border);
}

.denhaag-datepicker__calendar {
  background-color: var(--denhaag-datepicker-calendar-background-color, var(--denhaag-color-white));
  border: var(--denhaag-datepicker-calendar-border-width, 1px) var(--denhaag-datepicker-calendar-border-style, solid)
    var(--denhaag-datepicker-calendar-border-color, var(--denhaag-color-grey-2));
  border-radius: var(--denhaag-datepicker-calendar-border-radius, var(--denhaag-border-radius));
  box-sizing: border-box;
  left: 0;
  padding-inline: var(--denhaag-datepicker-calendar-padding-inline, var(--denhaag-space-sm));
  padding-block-end: var(--denhaag-datepicker-calendar-padding-block-end, var(--denhaag-space-md));
  position: absolute;
  top: var(--denhaag-datepicker-input-height, 3.25rem);
  z-index: 1;
}

.denhaag-datepicker__calendar.denhaag-datepicker__calendar--hidden {
  display: none;
}

.denhaag-datepicker__calendar-header {
  align-items: center;
  display: flex;
  height: var(--denhaag-datepicker-calendar-header-height, var(--denhaag-space-4xl));
  justify-content: space-between;
}

.denhaag-datepicker__calendar-month {
  font-family: var(--denhaag-datepicker-font-family, var(--denhaag-typography-sans-serif-font-family));
  font-size: var(--denhaag-datepicker-calendar-month-font-size, var(--denhaag-typography-scale-lg-font-size));
  font-weight: var(--denhaag-datepicker-calendar-month-font-weight, var(--denhaag-typography-weight-bold));
  line-height: var(--denhaag-datepicker-calendar-month-line-height, var(--denhaag-typography-scale-lg-line-height));
}

.denhaag-datepicker__calendar-navigation {
  appearance: none;
  background-color: transparent;
  border: 0;
  color: var(--denhaag-icon-button-color);
  cursor: pointer;
  outline: 0;
  padding-inline: 0;
  padding-block: 0;
}

.denhaag-datepicker__calendar-navigation.denhaag-datepicker__calendar-navigation--hover,
.denhaag-datepicker__calendar-navigation:hover {
  color: var(--denhaag-icon-button-hover-color);
}

.denhaag-datepicker__calendar-navigation.denhaag-datepicker__calendar-navigation--focus,
.denhaag-datepicker__calendar-navigation:focus-visible {
  color: var(--denhaag-icon-button-focus-color);
  outline: var(--denhaag-icon-button-focus-outline-color) var(--denhaag-icon-button-focus-outline-style)
    var(--denhaag-icon-button-focus-outline-width);
  outline-offset: var(--denhaag-icon-button-focus-outline-offset);
}

.denhaag-datepicker__calendar-navigation .denhaag-icon {
  font-size: var(--denhaag-datepicker-calendar-navigation-font-size, var(--denhaag-typography-scale-lg-font-size));
}

.denhaag-datepicker__calendar-heading {
  aspect-ratio: 1;
  color: var(--denhaag-datepicker-calendar-heading-color, var(--denhaag-color-grey-3));
  font-family: var(--denhaag-datepicker-font-family, var(--denhaag-typography-sans-serif-font-family));
  font-size: var(--denhaag-datepicker-calendar-day-font-size, var(--denhaag-typography-scale-base-font-size));
  font-weight: var(--denhaag-datepicker-calendar-heading-font-weight, var(--denhaag-typography-weight-regular));
  line-height: var(--denhaag-datepicker-calendar-day-line-height, var(--denhaag-typography-scale-base-line-height));
  height: var(--denhaag-datepicker-calendar-day-width, var(--denhaag-space-2xl));
  padding-inline: 0;
  padding-block: 0;
  width: var(--denhaag-datepicker-calendar-day-width, var(--denhaag-space-2xl));
}

.denhaag-datepicker__calendar-table {
  border-collapse: separate;
  border-spacing: var(--denhaag-datepicker-calendar-table-border-spacing, var(--denhaag-space-xs));
  margin-block-start: calc(-1 * var(--denhaag-datepicker-calendar-table-border-spacing, var(--denhaag-space-xs)));
}

.denhaag-datepicker__calendar-day {
  background: none;
  border: none;
  border-radius: var(--denhaag-datepicker-calendar-day-border-radius, var(--denhaag-border-radius));
  color: var(--denhaag-datepicker-calendar-day-color, var(--denhaag-color-grey-4));
  font-family: var(--denhaag-datepicker-font-family, var(--denhaag-typography-sans-serif-font-family));
  font-size: var(--denhaag-datepicker-calendar-day-font-size, var(--denhaag-typography-scale-base-font-size));
  line-height: var(--denhaag-datepicker-calendar-day-line-height, var(--denhaag-typography-scale-base-line-height));
  height: var(--denhaag-datepicker-calendar-day-width, var(--denhaag-space-2xl));
  outline: none;
  padding-inline: 0;
  padding-block: 0;
  width: var(--denhaag-datepicker-calendar-day-width, var(--denhaag-space-2xl));
}

.denhaag-datepicker__calendar-day.denhaag-datepicker__calendar-day--hover,
.denhaag-datepicker__calendar-day:hover {
  color: var(--denhaag-datepicker-calendar-day-hover-color, var(--denhaag-color-green-3));
}

.denhaag-datepicker__calendar-day.denhaag-datepicker__calendar-day--focus,
.denhaag-datepicker__calendar-day:focus-visible {
  outline: var(--denhaag-focus-border);
}

.denhaag-datepicker__calendar-day.denhaag-datepicker__calendar-day--current {
  background-color: var(--denhaag-datepicker-calendar-day-current-background-color, var(--denhaag-color-grey-1));
}

.denhaag-datepicker__calendar-day.denhaag-datepicker__calendar-day--selected {
  background-color: var(--denhaag-datepicker-calendar-day-selected-background-color, var(--denhaag-color-green-3));
  color: var(--denhaag-datepicker-calendar-day-selected-color, var(--denhaag-color-white));
}

.denhaag-datepicker__calendar-day.denhaag-datepicker__calendar-day--selected.denhaag-datepicker__calendar-day--hover,
.denhaag-datepicker__calendar-day.denhaag-datepicker__calendar-day--selected:hover {
  background-color: var(
    --denhaag-datepicker-calendar-day-selected-hover-background-color,
    var(--denhaag-color-green-4)
  );
  color: var(--denhaag-datepicker-calendar-day-selected-color, var(--denhaag-color-white));
}
