.denhaag-messages-page {
  .denhaag-page-content {
    &__header {
      h2 {
        margin: 0;
      }

      p {
        font-size: 14px;
      }
    }

    .nl-heading--level-2:first-child {
      --nl-heading-level-2-margin-block-end: 24px;
    }

    &__task {
      margin-block-start: 32px;
    }

    &__table {
      display: none;

      @media (width >= 768px) {
        display: table;
      }
    }

    &__table-header--right {
      text-align: end;
    }

    &__badge {
      margin-right: 8px;
    }

    &__pagination {
      --denhaag-pagination-align: center !important;

      margin-top: 32px;
    }

    &__message {
      margin-top: 32px;
    }
  }
}
