.denhaag-authentication {
  margin-block-start: 32px;
  margin-block-end: 32px;
}

.denhaag-authentication__alert {
  margin-block-start: 24px;
}

.denhaag-header--without-breadcrumbs {
  margin-block-end: 56px;
}

.denhaag-page-content {
  & &__heading {
    --utrecht-heading-3-margin-block-start: 64px;
    --utrecht-heading-3-margin-block-end: 24px;
  }

  & &__task {
    margin-block-start: 32px;
  }
}
