.denhaag-cta-image-content {
  --utrecht-paragraph-font-size: var(--denhaag-typography-scale-lg-font-size);
  --utrecht-paragraph-line-height: var(--denhaag-typography-scale-lg-line-height);
  --denhaag-link-text-decoration: none;

  background-color: var(--denhaag-cta-image-content-background-color, var(--denhaag-color-white));
  border: var(--denhaag-cta-image-content-border, 1px solid var(--denhaag-color-grey-3));
  display: flex;
  flex-direction: var(--denhaag-cta-image-content-flex-direction, column-reverse);
  position: relative;
  transition: box-shadow ease-in-out var(--denhaag-cta-image-content-transition-duration, 200ms),
    transform ease-in-out var(--denhaag-cta-image-content-transition-duration, 200ms);
  outline-offset: var(--denhaag-focus-border-width);

  @media (prefers-reduced-motion: reduce) {
    --denhaag-cta-image-content-transition-duration: 0ms;
  }

  @media (min-width: 768px) {
    --denhaag-cta-image-content-flex-direction: row-reverse;
  }

  &--reduced-motion {
    --denhaag-cta-image-content-transition-duration: 0ms;
  }

  &__content {
    padding-inline: var(--denhaag-cta-image-content-content-padding-inline, var(--denhaag-space-2xl));
    padding-block: var(--denhaag-cta-image-content-content-padding-block, var(--denhaag-space-2xl));

    @media (min-width: 768px) {
      width: var(--denhaag-cta-image-content-content-width, calc(50% - (2 * var(--denhaag-space-2xl))));
    }
  }

  &__image-container {
    width: var(--denhaag-cta-image-content-image-container-width, 100%);
    overflow: hidden;

    @media (min-width: 768px) {
      --denhaag-cta-image-content-image-container-width: 50%;
    }
  }

  &__image {
    aspect-ratio: var(--denhaag-cta-image-content-image-aspect-ratio, 16 / 9);
    height: 100%;
    object-fit: cover;
    width: var(--denhaag-cta-image-content-image-width, 100%);
    transition: transform ease-in-out var(--denhaag-cta-image-content-transition-duration, 200ms);
  }

  .denhaag-button,
  .denhaag-link {
    margin-block-start: var(--denhaag-space-xl);

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
    }
  }

  [class^="utrecht-heading-"] {
    font-size: var(--denhaag-cta-image-content-heading-font-size, var(--denhaag-typography-scale-xl-font-size));
    line-height: var(--denhaag-cta-image-content-heading-line-height, var(--denhaag-typography-scale-xl-line-height));
  }

  &--image-variant-large {
    --denhaag-cta-image-content-heading-font-size: var(--denhaag-typography-scale-2xl-font-size);
    --denhaag-cta-image-content-heading-line-height: var(--denhaag-typography-scale-2xl-line-height);
    --denhaag-cta-image-content-paragraph-font-size: var(--denhaag-typography-scale-xl-font-size);
    --denhaag-cta-image-content-paragraph-line-height: var(--denhaag-typography-scale-xl-line-height);
  }

  &--illustration-variant {
    --denhaag-cta-image-content-background-color: var(--denhaag-color-warmgrey-1);
    --denhaag-cta-image-content-heading-font-size: var(--denhaag-typography-scale-xl-font-size);
    --denhaag-cta-image-content-heading-line-height: var(--denhaag-typography-scale-xl-line-height);
    --denhaag-cta-image-content-content-padding-block: var(--denhaag-space-xl);
    --denhaag-cta-image-content-content-padding-inline: var(--denhaag-space-xl);
    --denhaag-cta-image-content-image-aspect-ratio: 248 / 176;

    outline-offset: var(--denhaag-focus-border-width);

    @media (min-width: 768px) {
      --denhaag-cta-image-content-heading-font-size: var(--denhaag-typography-scale-2xl-font-size);
      --denhaag-cta-image-content-heading-line-height: var(--denhaag-typography-scale-2xl-line-height);
      --denhaag-button-font-size: var(--denhaag-typograpshy-scale-lg-font-size);
      --denhaag-button-medium-size-padding-block: var(--denhaag-button-large-size-padding-block, 0.4063rem);
      --denhaag-button-medium-size-padding-inline: var(
        --denhaag-button-large-size-padding-inline,
        var(--denhaag-space-lg)
      );
      --denhaag-cta-image-content-content-padding-block: 3.5rem;
      --denhaag-cta-image-content-paragraph-font-size: var(--denhaag-typography-scale-lg-font-size);
      --denhaag-cta-image-content-paragraph-line-height: var(--denhaag-typography-scale-lg-line-height);
      --denhaag-cta-image-content-flex-direction: row;

      .denhaag-button {
        line-height: var(--denhaag-button-large-size-line-height, 1.75);
      }

      .denhaag-cta-image-content__image {
        --denhaag-cta-image-content-image-width: 100%;
      }
    }

    .denhaag-cta-image-content__content {
      @media (min-width: 768px) {
        padding-inline-end: 4.5rem;
        padding-inline-start: 3.5rem;
        width: calc(50% - 3.5rem);
      }
    }

    .denhaag-cta-image-content__image-container {
      margin-block: var(
        --denhaag-cta-image-content-illustration-variant-image-container-margin,
        var(--denhaag-space-2xl)
      );
      margin-inline: var(
        --denhaag-cta-image-content-illustration-variant-image-container-margin,
        var(--denhaag-space-2xl)
      );
      width: auto;

      @media (min-width: 768px) {
        --denhaag-cta-image-content-image-width: calc(
          50% -
            (2 * var(--denhaag-cta-image-content-illustration-variant-image-container-margin, var(--denhaag-space-2xl)))
        );
        --denhaag-cta-image-content-illustration-variant-image-container-margin: var(--denhaag-space-4xl);

        width: var(--denhaag-cta-image-content-image-width);
      }
    }
  }
}

.denhaag-cta-image-content:hover,
.denhaag-cta-image-content--hover,
.denhaag-cta-image-content:focus-visible,
.denhaag-cta-image-content--focus {
  box-shadow: var(--denhaag-box-shadow-default);
}

.denhaag-cta-image-content--hover,
.denhaag-cta-image-content:hover {
  transform: translateY(calc(0px - var(--denhaag-space-3xs)));

  .denhaag-cta-image-content__image {
    transform: translateY(calc(0px - var(--denhaag-space-3xs))) scale(1.02);
  }
}

.denhaag-cta-image-content:focus-within:not(:focus-visible),
.denhaag-cta-image-content--focus {
  outline: var(--denhaag-focus-border);
}
