.denhaag-cta-image-content {
  --utrecht-paragraph-font-size: var(--denhaag-typography-scale-lg-font-size);
  --utrecht-paragraph-line-height: var(--denhaag-typography-scale-lg-line-height);
  --denhaag-link-text-decoration: none;

  background-color: var(--denhaag-cta-image-content-background-color, var(--denhaag-color-white));
  border: var(--denhaag-cta-image-content-border, 1px solid var(--denhaag-color-grey-3));
  display: grid;
  grid-template-columns: repeat(var(--denhaag-cta-image-content-columns, 1), 1fr);
  gap: var(--denhaag-cta-image-content-gap);
  position: relative;
  transition: box-shadow ease-in-out var(--denhaag-cta-image-content-transition-duration, 200ms),
    transform ease-in-out var(--denhaag-cta-image-content-transition-duration, 200ms);
  outline-offset: var(--denhaag-focus-border-width);

  @media (prefers-reduced-motion: reduce) {
    --denhaag-cta-image-content-transition-duration: 0ms;
  }

  @media (min-width: 768px) {
    --denhaag-cta-image-content-columns: 2;
  }

  &--reduced-motion {
    --denhaag-cta-image-content-transition-duration: 0ms;
  }

  &__content {
    padding: var(--denhaag-cta-image-content-content-padding, var(--denhaag-space-2xl));
    order: 1;

    @media (min-width: 768px) {
      align-content: center;
    }
  }

  &__image-container {
    padding-block-start: var(
      --denhaag-cta-image-content-image-container-padding-block-start,
      var(--denhaag-cta-image-content-image-container-padding)
    );
    padding-block-end: var(
      --denhaag-cta-image-content-image-container-padding-block-end,
      var(--denhaag-cta-image-content-image-container-padding)
    );
    padding-inline-start: var(
      --denhaag-cta-image-content-image-container-padding-inline-start,
      var(--denhaag-cta-image-content-image-container-padding)
    );
    padding-inline-end: var(
      --denhaag-cta-image-content-image-container-padding-inline-end,
      var(--denhaag-cta-image-content-image-container-padding)
    );
  }

  &__image {
    aspect-ratio: var(--denhaag-cta-image-content-image-aspect-ratio, 16 / 9);
    height: 100%;
    object-fit: cover;
    width: var(--denhaag-cta-image-content-image-width, 100%);
    transition: transform ease-in-out var(--denhaag-cta-image-content-transition-duration, 200ms);
  }

  .denhaag-button,
  .denhaag-link {
    margin-block-start: var(--denhaag-space-xl);
    position: static;
    transform: none;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
    }
  }

  [class^="utrecht-heading-"] {
    margin-block-start: 0;
    font-size: var(--denhaag-cta-image-content-heading-font-size, var(--denhaag-typography-scale-xl-font-size));
    line-height: var(--denhaag-cta-image-content-heading-line-height, var(--denhaag-typography-scale-xl-line-height));
  }

  &--image-variant-large {
    --denhaag-cta-image-content-heading-font-size: var(--denhaag-typography-scale-2xl-font-size);
    --denhaag-cta-image-content-heading-line-height: var(--denhaag-typography-scale-2xl-line-height);
    --utrecht-paragraph-font-size: var(--denhaag-typography-scale-xl-font-size);
    --utrecht-paragraph-line-height: var(--denhaag-typography-scale-xl-line-height);
  }

  &--illustration-variant {
    --denhaag-cta-image-content-background-color: var(--denhaag-color-warmgrey-1);
    --denhaag-cta-image-content-heading-font-size: var(--denhaag-typography-scale-xl-font-size);
    --denhaag-cta-image-content-image-aspect-ratio: 31 / 22;

    @media (min-width: 768px) {
      --denhaag-cta-image-content-heading-font-size: var(--denhaag-typography-scale-2xl-font-size);
      --denhaag-cta-image-content-heading-line-height: var(--denhaag-typography-scale-2xl-line-height);
      --denhaag-button-font-size: var(--denhaag-typograpshy-scale-lg-font-size);
      --denhaag-cta-image-content-content-padding: 3.75rem;
      --denhaag-cta-image-content-paragraph-font-size: var(--denhaag-typography-scale-lg-font-size);
      --denhaag-cta-image-content-paragraph-line-height: var(--denhaag-typography-scale-lg-line-height);
      --denhaag-cta-image-content-gap: 3.75rem;
    }

    .denhaag-cta-image-content__content {
      @media (min-width: 768px) {
        order: 0;
        padding-inline-end: 0;
        padding-inline-start: 3.5rem;
      }
    }

    .denhaag-cta-image-content__image-container {
      --denhaag-cta-image-content-image-container-padding: var(--denhaag-space-2xl);
      --denhaag-cta-image-content-image-container-padding-block-end: 0;

      @media (min-width: 768px) {
        --denhaag-cta-image-content-image-container-padding: var(--denhaag-space-3xl);
        --denhaag-cta-image-content-image-container-padding-inline-start: 0;
        --denhaag-cta-image-content-image-container-padding-block-end: var(--denhaag-space-3xl);
      }
    }
  }
}

.denhaag-cta-image-content:hover,
.denhaag-cta-image-content--hover,
.denhaag-cta-image-content:focus-visible,
.denhaag-cta-image-content--focus {
  box-shadow: var(--denhaag-box-shadow-default);
}

.denhaag-cta-image-content--hover,
.denhaag-cta-image-content:hover {
  transform: translateY(calc(0px - var(--denhaag-space-3xs)));

  .denhaag-cta-image-content__image {
    transform: translateY(calc(0px - var(--denhaag-space-3xs))) scale(1.02);
  }
}

.denhaag-cta-image-content:focus-within:not(:focus-visible),
.denhaag-cta-image-content--focus {
  outline: var(--denhaag-focus-border);
}
