.denhaag-anchor-collapse {
  border-bottom: var(--denhaag-anchor-collapse-border-width, 1px) solid
    var(--denhaag-anchor-collapse-border-color, var(--denhaag-color-grey-2));

  @media (prefers-reduced-motion: reduce) {
    --denhaag-anchor-collapse-transition-duration: 0;
    --denhaag-anchor-collapse-open-transition-duration: 0;
  }

  &:first-of-type {
    padding-block-start: var(--denhaag-space-2xl);
  }
}

.denhaag-anchor-collapse--reduced-motion {
  --denhaag-anchor-collapse-transition-duration: 0;
  --denhaag-anchor-collapse-open-transition-duration: 0;
}

.denhaag-anchor-collapse:first-child {
  border-top: var(--denhaag-anchor-collapse-border-width, 1px) solid
    var(--denhaag-anchor-collapse-border-color, var(--denhaag-color-grey-2));
}

.denhaag-anchor-collapse--active {
  --denhaag-anchor-collapse-rotate: 0deg;
  --denhaag-anchor-collapse-summary-color: var(
    --denhaag-anchor-collapse-summary-active-color,
    var(--denhaag-color-green-3)
  );
  --denhaag-anchor-collapse-transition-duration: var(--denhaag-anchor-collapse-open-transition-duration, 500ms);
  --denhaag-anchor-collapse-details-height: var(--denhaag-anchor-collapse-details-max-height, 100%); // Value set by JS.
}

.denhaag-anchor-collapse__toggle {
  background-color: transparent;
  border: 0;
  color: var(--denhaag-anchor-collapse-summary-color, var(--denhaag-color-grey-5));
  cursor: pointer;
  font-family: var(--denhaag-anchor-collapse-summary-font-family, var(--denhaag-typography-sans-serif));
  font-size: var(--denhaag-anchor-collapse-summary-font-size, var(--denhaag-typography-scale-lg-font-size));
  font-weight: var(--denhaag-anchor-collapse-summary-font-weight, var(--denhaag-typography-weight-bold));
  margin-block-start: var(--denhaag-anchor-collapse-summary-margin-block-start, 0);
  padding-block: var(--denhaag-anchor-collapse-summary-padding-block, var(--denhaag-space-md));
  padding-inline: var(--denhaag-anchor-collapse-summary-padding-inline, var(--denhaag-space-xl))
    calc(2 * var(--denhaag-anchor-collapse-summary-padding-inline, var(--denhaag-space-xl)));
  pointer-events: var(--denhaag-anchor-collapse-summary-pointer-events, auto);
  text-align: initial;
  width: 100%;
}

.denhaag-anchor-collapse__summary {
  margin-block: 0;
  position: relative;
}

.denhaag-anchor-collapse__toggle:hover,
.denhaag-anchor-collapse__summary--hover {
  --denhaag-anchor-collapse-summary-color: var(
    --denhaag-anchor-collapse-summary-hover-color,
    var(--denhaag-color-green-3)
  );
}

.denhaag-anchor-collapse__toggle:focus-visible,
.denhaag-anchor-collapse__summary--focus {
  --denhaag-anchor-collapse-summary-color: var(
    --denhaag-anchor-collapse-summary-focus-color,
    var(--denhaag-color-green-3)
  );

  outline: var(--denhaag-focus-border);
}

.denhaag-anchor-collapse__summary > svg {
  display: var(--denhaag-anchor-collapse-icon-display, block);
  position: absolute;
  pointer-events: none;
  top: 50%;
  right: var(--denhaag-anchor-collapse-summary-padding-inline, var(--denhaag-space-xl));
  transform: translate(-50%, -50%) rotate(var(--denhaag-anchor-collapse-rotate, 180deg));
  transition: transform var(--denhaag-anchor-collapse-transition-duration, 400ms)
    var(--denhaag-anchor-collapse-transition-timing-function, ease-in-out);
}

.denhaag-anchor-collapse__content {
  border-top: var(--denhaag-anchor-collapse-border-width, 1px) solid
    var(--denhaag-anchor-collapse-border-color, var(--denhaag-color-grey-2));
  max-height: var(--denhaag-anchor-collapse-details-height, 0);
  overflow: hidden;
  transition: max-height var(--denhaag-anchor-collapse-transition-duration, 400ms)
    var(--denhaag-anchor-collapse-transition-timing-function, ease-in-out);
}

.denhaag-anchor-collapse__content-content {
  padding-block: var(--denhaag-anchor-collapse-content-padding-block, var(--denhaag-space-md))
    var(--denhaag-anchor-collapse-content-padding-block, var(--denhaag-space-xl));
  padding-inline: var(--denhaag-anchor-collapse-content-padding-inline, var(--denhaag-space-xl));
}

@media (min-width: 768px) {
  .denhaag-anchor-collapse {
    --denhaag-anchor-collapse-border-color: transparent;
    --denhaag-anchor-collapse-icon-display: none;
    --denhaag-anchor-collapse-content-padding-inline: 0;
    --denhaag-anchor-collapse-details-height: 100%;
    --denhaag-anchor-collapse-summary-pointer-events: none;
    --denhaag-anchor-collapse-summary-padding-block: 0px;
    --denhaag-anchor-collapse-summary-padding-inline: 0px;

    // Must always be the same as the H2 styles.
    --denhaag-anchor-collapse-summary-color: var(--utrecht-heading-2-color, var(--utrecht-heading-color));
    --denhaag-anchor-collapse-summary-font-family: var(
      --utrecht-heading-2-font-family,
      var(--utrecht-heading-font-family, var(--utrecht-document-font-family))
    );
    --denhaag-anchor-collapse-summary-font-size: var(--utrecht-heading-2-font-size);
    --denhaag-anchor-collapse-summary-font-weight: var(
      --utrecht-heading-2-font-weight,
      var(--utrecht-heading-font-weight, bold)
    );
    --denhaag-anchor-collapse-summary-margin-block-start: var(--utrecht-heading-2-margin-block-start);
  }

  .denhaag-anchor-collapse__content {
    margin-block-start: var(--denhaag-space-xs);
  }
}
