.denhaag-blockquote {
  border-inline-start: var(--denhaag-blockquote-border-width, var(--denhaag-space-2xs))
    var(--denhaag-blockquote-border-style, solid) var(--denhaag-blockquote-border-color, var(--denhaag-color-green-1));
  padding-block: var(--denhaag-blockquote-padding-block, var(--denhaag-space-md));
  padding-inline: var(--denhaag-blockquote-padding-inline, var(--denhaag-space-md));
  margin-inline: 0;
}

.denhaag-blockquote__content {
  margin-block: var(--denhaag-blockquote-margin-block);
  margin-inline: var(--denhaag-blockquote-margin-inline);
}

.denhaag-blockquote__content p {
  color: var(--denhaag-blockquote-paragraph-color, var(--denhaag-color-green-4));
  font-family: var(
    --denhaag-blockquote-paragraph-font-family,
    var(--denhaag-typography-sans-serif-alternate-font-family)
  );
  font-size: var(--denhaag-blockquote-paragraph-font-size, var(--denhaag-typography-scale-base-font-size));
  font-weight: var(--denhaag-blockquote-paragraph-font-weight, var(--denhaag-typography-weight-bold));
  line-height: var(--denhaag-blockquote-paragraph-line-height, var(--denhaag-typography-scale-s-line-height));
  margin-block: var(--denhaag-blockquote-margin-block);
}

.denhaag-blockquote__attribution {
  color: var(--denhaag-blockquote-attribution-color, var(--denhaag-color-grey-4));
  font-family: var(--denhaag-blockquote-attribution-font-family, var(--denhaag-typography-sans-serif-font-family));
  font-size: var(--denhaag-blockquote-attribution-font-size, var(--denhaag-typography-scale-s-font-size));
  font-weight: var(--denhaag-blockquote-attribution-font-weight, var(--denhaag-typography-weight-regular));
  line-height: var(--denhaag-blockquote-attribution-line-height, var(--denhaag-typography-scale-base-line-height));
  margin-block-start: var(--denhaag-blockquote-attribution-margin-block-start, var(--denhaag-space-md));
}
