.denhaag-menu-button {
  display: inline-block;
  background-color: inherit;
  border: inherit;
  color: var(--denhaag-menu-button-color, var(--denhaag-color-grey-4));
  cursor: pointer;
  font-family: var(--denhaag-menu-button-font-family, var(--denhaag-typography-sans-serif-font-family));
  font-size: var(--denhaag-menu-button-font-size, var(--denhaag-typography-scale-base-font-size));
  font-weight: var(--denhaag-menu-button-font-weight, 500);
  line-height: var(--denhaag-menu-button-line-height, 21px);
  padding-block: 0;
  padding-inline: 0;
  text-decoration: none;
  user-select: none;
  text-align: center;
}

.denhaag-menu-button:active,
.denhaag-menu-button--active {
  color: var(--denhaag-menu-button-active-color, var(--denhaag-color-blue-3));
  font-weight: var(--denhaag-menu-button-active-font-weight, var(--denhaag-typography-weight-bold));
}

.denhaag-menu-button:focus,
.denhaag-menu-button--focus {
  outline: var(--denhaag-focus-border);
}

.denhaag-menu-button:hover,
.denhaag-menu-button--hover {
  color: var(--denhaag-menu-button-hover-color, var(--denhaag-menu-button-active-color, var(--denhaag-color-blue-3)));
  text-decoration: none;
}

.denhaag-menu-button__chevron .denhaag-icon {
  height: var(--denhaag-menu-button-chevron-size, var(--denhaag-space-sm));
  width: var(--denhaag-menu-button-chevron-size, var(--denhaag-space-sm));
  padding-inline-start: var(--denhaag-menu-button-chevron-padding-inline-start, var(--denhaag-space-2xs));
}

.denhaag-menu-button--active .denhaag-menu-button__chevron,
.denhaag-menu-button:active .denhaag-menu-button__chevron {
  color: var(
    --denhaag-menu-button-chevron-active-color,
    var(--denhaag-menu-button-active-color, var(--denhaag-color-blue-3))
  );
}

/* stylelint-disable-next-line no-descending-specificity */
.denhaag-menu-button--hover .denhaag-menu-button__chevron,
.denhaag-menu-button:hover .denhaag-menu-button__chevron {
  color: var(
    --denhaag-menu-button-chevron-hover-color,
    var(--denhaag-menu-button-active-color, var(--denhaag-color-blue-3))
  );
}

.denhaag-menu-button::after {
  content: attr(title);
  display: block;
  height: 1px;
  color: transparent;
  font-weight: var(--denhaag-menu-button-active-font-weight, var(--denhaag-typography-weight-bold));
  overflow: hidden;
  visibility: hidden;
}

.denhaag-menu-button--expandable::after {
  padding-inline-end: calc(
    var(--denhaag-menu-button-chevron-size, var(--denhaag-space-sm)) +
      var(--denhaag-menu-button-chevron-padding-inline-start, var(--denhaag-space-2xs))
  );
}
