.denhaag-case-card {
  width: 100%;
  height: var(--denhaag-case-card-height);
  max-width: var(--denhaag-case-card-width);
  background: var(--denhaag-case-card-background-color);
  padding-block-start: var(--denhaag-case-card-padding-block-start);
  border-radius: var(--denhaag-case-card-border-radius);
  position: relative;
  box-sizing: border-box;

  &::before {
    position: absolute;
    top: 8px;
    right: 8px;
    display: block;
    width: 50%;
    height: 20px;
    content: "";
    border-radius: 0 var(--denhaag-case-card-border-radius) 0 0;
    background: var(--denhaag-case-card-paper-color);
  }

  @media (width <= 1279px) {
    --denhaag-case-card-width: var(--denhaag-case-card-mobile-width);
  }

  &--archived {
    --denhaag-case-card-background-color: var(--denhaag-case-card-archived-background-color);
    --denhaag-case-card-color: var(--denhaag-case-card-archived-color);
    --denhaag-case-card-background-background-color: var(--denhaag-case-card-archived-background-background-color);
    --denhaag-case-card-title-color: var(--denhaag-case-card-archived-title-color);
    --denhaag-case-card-subtitle-color: var(--denhaag-case-card-archived-subtitle-color);
    --denhaag-case-card-action-color: var(--denhaag-case-card-archived-action-color);
    --denhaag-case-card-action-active-color: var(--denhaag-case-card-archived-action-color);
  }

  &__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    border-radius: var(--denhaag-case-card-border-radius);
    padding-block-start: var(--denhaag-case-card-wrapper-padding-block-start);
    padding-block-end: var(--denhaag-case-card-wrapper-padding-block-end);
    padding-inline-start: var(--denhaag-case-card-wrapper-padding-inline-start);
    padding-inline-end: var(--denhaag-case-card-wrapper-padding-inline-end);
    background: transparent;
    perspective: 1800px;
  }

  &__background {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: 50% 100%;
    border-radius: var(--denhaag-case-card-border-radius);
    border-top-left-radius: 0;
    background: var(--denhaag-case-card-background-background-color);

    &::before {
      position: absolute;
      top: -20px;
      left: 0;
      display: block;
      width: 60%;
      height: 25px;
      content: "";
      border-top-left-radius: var(--denhaag-case-card-border-radius);
      background: var(--denhaag-case-card-background-background-color);
    }

    &::after {
      position: absolute;
      top: -20px;
      left: 55%;
      display: block;
      width: 10%;
      height: 22px;
      content: "";
      transform: skewX(30deg);
      background: var(--denhaag-case-card-background-background-color);
    }
  }

  &__title {
    --utrecht-paragraph-font-family: var(--denhaag-case-card-title-font-family);
    --utrecht-paragraph-font-size: var(--denhaag-case-card-title-font-size);
    --utrecht-paragraph-font-weight: var(--denhaag-case-card-title-font-weight);
    --utrecht-paragraph-line-height: var(--denhaag-case-card-title-line-height);
    --utrecht-paragraph-color: var(--denhaag-case-card-title-color);
  }

  &__subtitle {
    --utrecht-space-around: 0 !important;
    --utrecht-paragraph-font-family: var(--denhaag-case-card-subtitle-font-family);
    --utrecht-paragraph-font-size: var(--denhaag-case-card-subtitle-font-size);
    --utrecht-paragraph-font-weight: var(--denhaag-case-card-subtitle-font-weight);
    --utrecht-paragraph-line-height: var(--denhaag-case-card-subtitle-line-height);
    --utrecht-paragraph-color: var(--denhaag-case-card-subtitle-color);

    margin-block-start: var(--denhaag-case-card-subtitle-margin-block-start) !important;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__context {
    color: var(--denhaag-case-card-context-color);
  }

  &__action {
    display: block;
    margin-inline-start: auto;
    color: var(--denhaag-case-card-action-color);

    &:focus {
      outline: none;
    }

    &::before {
      --denhaag-case-card-action-before-padding-block: calc(
        var(--denhaag-case-card-padding-block-start) + var(--denhaag-case-card-wrapper-padding-block-start)
      );

      content: "";
      position: absolute;
      inset-block-start: calc(0px - var(--denhaag-case-card-padding-block-start));
      inset-block-end: 0;
      inset-inline-start: 0;
      inset-inline-end: 0;
      padding-block-start: var(--denhaag-case-card-action-before-padding-block);
      padding-block-end: var(--denhaag-case-card-wrapper-padding-block-end);
      padding-inline-start: var(--denhaag-case-card-wrapper-padding-inline-start);
      padding-inline-end: var(--denhaag-case-card-wrapper-padding-inline-end);
    }

    svg {
      display: block !important;
    }
  }

  &--focus,
  &:focus-within {
    outline: var(--denhaag-focus-border);
  }

  &--hover,
  &:hover,
  &:hover:focus {
    cursor: pointer;
  }

  &--hover,
  &--focus,
  &:hover,
  &:focus-within {
    &::before {
      top: 12px;
      transform: rotate(-2.45deg);
      transform-origin: right;
    }

    .denhaag-case-card__background {
      transform: rotateX(-20deg);
    }

    .denhaag-case-card__action {
      color: var(--denhaag-case-card-action-active-color);
    }
  }
}
