.denhaag-timeline__step-marker {
  align-items: center;
  background-color: var(--denhaag-timeline-step-marker-background-color);
  block-size: var(--denhaag-timeline-step-marker-size);
  border-radius: 50%;
  box-sizing: border-box;
  color: var(--denhaag-timeline-step-marker-color);
  display: flex;
  flex-grow: 0;
  font-size: var(--denhaag-timeline-step-marker-font-size);
  font-weight: 400;
  inline-size: var(--denhaag-timeline-step-marker-size);
  justify-content: center;
  margin-block-end: var(--denhaag-timeline-step-marker-margin);
  margin-block-start: var(--denhaag-timeline-step-marker-margin);
  padding-inline-end: 0;
  min-inline-size: 32px;
  min-block-size: 32px;

  .denhaag-icon {
    block-size: 20px;
    inline-size: 20px;
  }
}
.denhaag-timeline__step-marker--not-checked {
  color: var(--denhaag-timeline-step-marker-not-checked-color);
}

.denhaag-timeline__step-marker--active {
  fill: var(--denhaag-timeline-step-marker-active-color);
}

.denhaag-timeline__step-marker--checked {
  background-color: white;
  border: 2px solid var(--denhaag-color-green-3);
  color: var(--denhaag-timeline-step-marker-checked-color);
}

.denhaag-timeline__step-marker--current {
  background-color: var(--denhaag-timeline-step-marker-current-background-color);
  color: var(--denhaag-timeline-step-marker-current-color);
}
