.denhaag-timeline__sub-step-marker {
  align-items: center;
  background-color: var(--denhaag-color-grey-1);
  border-radius: 50%;
  box-sizing: border-box;
  color: var(--denhaag-color-grey-4);
  display: flex;
  flex-grow: 0;
  justify-content: center;
  min-block-size: 16px;
  min-inline-size: 16px;
}
