:root {
  /* Colors */
  --denhaag-green-1: #D5E7D4;
  --denhaag-green-2: #7EB57C;
  --denhaag-green-3: #248641;
  --denhaag-green-4: #1D6B34;
  --denhaag-green-5: #00300F;

  --denhaag-blue-1: #DAEBFA;
  --denhaag-blue-2: #ADCDED;
  --denhaag-blue-3: #1261A3;
  --denhaag-blue-4: #094B81;
  --denhaag-blue-5: #032C4E;

  --denhaag-ocher-1: #FFF7D1;
  --denhaag-ocher-2: #FFEB85;
  --denhaag-ocher-3: #F8D62D;
  --denhaag-ocher-4: #CCA000;
  --denhaag-ocher-5: #7D6200;

  --denhaag-red-1: #FFD7D4;
  --denhaag-red-2: #ED8980;
  --denhaag-red-3: #CF1C08;
  --denhaag-red-4: #A30500;
  --denhaag-red-5: #540200;

  --denhaag-orange-1: #FFDBAD;
  --denhaag-orange-2: #FFB85E;
  --denhaag-orange-3: #F18700;
  --denhaag-orange-4: #E15601;
  --denhaag-orange-5: #8C3600;

  --denhaag-grey-1: #F1F1F1;
  --denhaag-grey-2: #D2D2D2;
  --denhaag-grey-3: #7A7A7A;
  --denhaag-grey-4: #4B4B4B;

  --denhaag-warmgrey: #F8F7F5;

  --denhaag-black: #000000;

  --denhaag-white: #FFFFFF;

  /* Font sizes */
  font-size: 16px;

  --denhaag-fontsize-xs: 0.625rem;
  --denhaag-fontsize-s: 0.75rem;
  --denhaag-fontsize-base: 1rem;
  --denhaag-fontsize-lg: 1.25rem;
  --denhaag-fontsize-xl: 1.5rem;
  --denhaag-fontsize-2xl: 2rem;
  --denhaag-fontsize-3xl: 3rem;

  /* Borders */
  --denhaag-border-radius: 3px;

  /* Focus state */
  --denhaag-focus-border-color: var(--denhaag-ocher-4);
  --denhaag-focus-border: 2px dashed var(--denhaag-focus-border-color);
}
