@import "~@utrecht/components/dist/select/css";

.denhaag-select {
  &.utrecht-select {
    background-position: center right
      var(--utrecht-select-padding-inline-end, var(--utrecht-form-control-padding-inline-end));
  }

  &:hover,
  &--hover {
    background-color: var(--denhaag-select-hover-background-color);
    border-color: var(--denhaag-select-hover-border-color);
    border-width: var(--denhaag-select-hover-border-width);
    color: var(--denhaag-select-hover-color);
  }

  &:focus,
  &--focus {
    border-width: var(--denhaag-select-focus-border-width);
  }
}
