:root {
  --denhaag-divider-border-color: var(--denhaag-grey-2);
  --denhaag-divider-border-width: 1px;
  --denhaag-divider-margin: 16px 16px;
  --denhaag-divider-vertical-margin-inline: 16px 16px;
}

.denhaag-divider {
  height: var(--denhaag-divider-border-width);
  background: var(--denhaag-divider-border-color);
  margin-block-start: var(--denhaag-divider-margin-block-start);
  margin-block-end: var(--denhaag-divider-margin-block-end);
}

.denhaag-divider--vertical {
  margin-inline-start: var(--denhaag-divider-margin-inline-start);
  margin-inline-end: var(--denhaag-divider-margin-inline-end);
  width: var(--denhaag-divider-border-width);
  height: inherit;
}
