:root {
  /*
   * Base tokens
   */
  --denhaag-font-size-xs: 0.625rem;
  --denhaag-font-size-s: 0.75rem;
  --denhaag-font-size-base: 1rem;
  --denhaag-font-size-lg: 1.25rem;
  --denhaag-font-size-xl: 1.5rem;
  --denhaag-font-size-2xl: 2rem;
  --denhaag-font-size-3xl: 3rem;

  --denhaag-border-radius: 3px;

  /*
   * Button tokens
   */

  /*
   * Card tokens
   */

}
