@import "tokens-divider.css";

:root {
  /*
   * Base tokens
   */
  --denhaag-fontsize-xs: 0.625rem;
  --denhaag-fontsize-s: 0.75rem;
  --denhaag-fontsize-base: 1rem;
  --denhaag-fontsize-lg: 1.25rem;
  --denhaag-fontsize-xl: 1.5rem;
  --denhaag-fontsize-2xl: 2rem;
  --denhaag-fontsize-3xl: 3rem;

  --denhaag-border-radius: 3px;

  /*
   * Button tokens
   */

  /*
   * Card tokens
   */
}
