.denhaag-card__content {
  padding-block: 0;
  padding-inline: 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}

.denhaag-card__content:last-child {
  padding-block: 0;
}
