@import "../../dist/mixin";

.denhaag-theme {
  @include denhaag-theme;

  .utrecht-heading-1,
  .utrecht-heading-2,
  .utrecht-heading-3,
  .utrecht-heading-4,
  .utrecht-heading-5,
  .utrecht-heading-6,
  .utrecht-paragraph {
    /* TODO: Move to container element, make spacing optional */
    --utrecht-space-around: 1;
  }

  * + .utrecht-heading-1,
  * + .utrecht-heading-2,
  * + .utrecht-heading-3,
  * + .utrecht-heading-4,
  * + .utrecht-heading-5,
  * + .utrecht-heading-6 {
    --utrecht-heading-1-margin-block-start: 1.125em;
  }

  .nl-heading:first-child {
    --nl-heading-level-1-margin-block-start: 0;
    --nl-heading-level-2-margin-block-start: 0;
    --nl-heading-level-3-margin-block-start: 0;
    --nl-heading-level-4-margin-block-start: 0;
    --nl-heading-level-5-margin-block-start: 0;
    --nl-heading-level-6-margin-block-start: 0;
  }

  .nl-heading--level-1 + .nl-paragraph {
    --nl-paragraph-margin-block-start: calc(var(--nl-heading-level-1-font-size) / 4);
  }

  .nl-heading--level-2 + .nl-paragraph {
    --nl-paragraph-margin-block-start: calc(var(--nl-heading-level-2-font-size) / 4);
  }

  .nl-heading--level-3 + .nl-paragraph {
    --nl-paragraph-margin-block-start: calc(var(--nl-heading-level-3-font-size) / 4);
  }

  .nl-heading--level-4 + .nl-paragraph {
    --nl-paragraph-margin-block-start: calc(var(--nl-heading-level-4-font-size) / 4);
  }

  .nl-heading--level-5 + .nl-paragraph {
    --nl-paragraph-margin-block-start: calc(var(--nl-heading-level-5-font-size) / 4);
  }

  .utrecht-heading-1:first-child {
    --utrecht-heading-1-margin-block-start: 0;
  }

  .utrecht-heading-2:first-child {
    --utrecht-heading-2-margin-block-start: 0;
  }

  .utrecht-heading-3:first-child {
    --utrecht-heading-3-margin-block-start: 0;
  }

  .utrecht-heading-4:first-child {
    --utrecht-heading-4-margin-block-start: 0;
  }

  .utrecht-heading-5:first-child {
    --utrecht-heading-5-margin-block-start: 0;
  }

  .utrecht-heading-6:first-child {
    --utrecht-heading-6-margin-block-start: 0;
  }

  .utrecht-heading-1 + .utrecht-paragraph {
    --utrecht-paragraph-margin-block-start: calc(var(--utrecht-heading-1-font-size) / 4);
  }

  .utrecht-heading-2 + .utrecht-paragraph {
    --utrecht-paragraph-margin-block-start: calc(var(--utrecht-heading-2-font-size) / 4);
  }

  .utrecht-heading-3 + .utrecht-paragraph {
    --utrecht-paragraph-margin-block-start: calc(var(--utrecht-heading-3-font-size) / 4);
  }

  .utrecht-heading-4 + .utrecht-paragraph {
    --utrecht-paragraph-margin-block-start: calc(var(--utrecht-heading-4-font-size) / 4);
  }

  .utrecht-heading-5 + .utrecht-paragraph {
    --utrecht-paragraph-margin-block-start: calc(var(--utrecht-heading-5-font-size) / 4);
  }

  .utrecht-paragraph + .utrecht-paragraph {
    --utrecht-paragraph-margin-block-start: var(--utrecht-paragraph-paragraph-margin-block-start);
  }

  .utrecht-paragraph--lead + .utrecht-paragraph {
    --utrecht-paragraph-margin-block-start: var(--utrecht-paragraph-lead-paragraph-margin-block-start);
  }

  .denhaag-ordered-list + .utrecht-paragraph,
  .denhaag-unordered-list + .utrecht-paragraph,
  .denhaag-list + .utrecht-paragraph,
  .denhaag-list__wrapper + .utrecht-paragraph {
    --utrecht-paragraph-margin-block-start: var(--utrecht-paragraph-list-margin-block-start);
  }

  .denhaag-ordered-list + .utrecht-paragraph--lead,
  .denhaag-unordered-list + .utrecht-paragraph--lead,
  .denhaag-list + .utrecht-paragraph--lead,
  .denhaag-list__wrapper + .utrecht-paragraph--lead {
    --utrecht-paragraph-margin-block-start: var(--utrecht-paragraph-lead-list-margin-block-start);
  }
}

@media (width <= 768px) {
  .denhaag-theme {
    --utrecht-heading-1-font-size: var(--denhaag-typography-mobile-scale-3xl-font-size);
    --utrecht-heading-2-font-size: var(--denhaag-typography-mobile-scale-2xl-font-size);
    --utrecht-heading-3-font-size: var(--denhaag-typography-mobile-scale-xl-font-size);
  }
}
