.denhaag-authentication {
  // Calculation between Block CSS variables.
  --denhaag-authentication-logo-with-gap: calc(
    var(--denhaag-authentication-gap-small, var(--denhaag-space-md)) + var(--denhaag-authentication-logo-size, 3.5rem)
  );

  // Overrule CSS variables of used innerblocks.
  --denhaag-button-group-padding: 0;
  --denhaag-image-image-aspect-ratio: #{1} / #{1};
  --denhaag-image-image-height: auto;
  --denhaag-image-image-width: var(--denhaag-authentication-logo-size, 3.5rem);
  --denhaag-image-margin-inline: 0;

  display: grid;
  gap: var(--denhaag-authentication-gap, var(--denhaag-space-xl));

  @media (min-width: 375px) {
    --denhaag-authentication-gap: var(--denhaag-authentication-gap-sm, var(--denhaag-space-2xl));
  }

  & + & {
    margin-block-start: var(--denhaag-authentication-gap, var(--denhaag-space-xl));
  }

  &__card {
    align-self: stretch;
    border: 1px solid var(--denhaag-authentication-border-color, var(--denhaag-color-grey-2));
    display: flex;
    flex-direction: column;
    gap: var(--denhaag-authentication-gap-small, var(--denhaag-space-md));
    padding-inline: var(--denhaag-authentication-gap, var(--denhaag-space-xl));
    padding-block: var(--denhaag-authentication-gap, var(--denhaag-space-xl));
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: var(--denhaag-authentication-gap, var(--denhaag-space-xl));
  }

  .denhaag-image {
    margin-block: 0 var(--denhaag-authentication-image-spacing-end);
    max-width: var(--denhaag-authentication-logo-size, 3.5rem);
  }

  // Remove unnecessary of existing blocks.
  .utrecht-heading-3,
  p {
    margin-block: 0;
  }

  // Modifiers & child-elements based on the modifier.
  &--landscape {
    --denhaag-authentication-image-spacing-end: var(--denhaag-authentication-gap, var(--denhaag-space-xl));
    @media (min-width: 375px) {
      --denhaag-authentication-image-spacing-end: 0;
    }
  }

  &--landscape &__header {
    display: flex;
    flex-direction: column;

    .denhaag-image {
      align-self: flex-end;
    }

    @media (min-width: 375px) {
      .denhaag-image + * {
        margin-block-start: calc(-1 * var(--denhaag-authentication-logo-size, 3.5rem));
      }
    }
  }

  &--landscape .utrecht-heading-3,
  &--landscape .utrecht-paragraph {
    @media (min-width: 375px) {
      max-width: calc(100% - var(--denhaag-authentication-logo-with-gap));
    }
  }

  &--portrait {
    --denhaag-button-group-flex-direction: unset;

    @media (min-width: 375px) {
      --denhaag-authentication-logo-size: var(--denhaag-authentication-portrait-logo-size, 5rem);

      align-items: center;
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    }
  }

  &--portrait &__header {
    display: flex;
    flex-direction: column;
    width: 100%;

    @media (max-width: 375px) {
      .denhaag-image {
        align-self: flex-end;

        & + * {
          margin-block-start: calc(-1 * var(--denhaag-authentication-logo-size, 3.5rem));
        }
      }
    }

    @media (min-width: 375px) {
      align-items: center;
      gap: var(--denhaag-spacing-xl);
    }
  }

  &--portrait &__content {
    display: flex;
    width: 100%;

    @media (min-width: 375px) {
      flex-direction: column;
    }
  }

  &--portrait .denhaag-button,
  &--portrait .denhaag-button-group--single {
    align-self: center;
  }

  &--portrait .denhaag-button-group {
    --denhaag-button-group-flex-direction: column;
  }

  &--portrait .utrecht-heading-3,
  &--portrait .utrecht-paragraph {
    max-width: calc(100% - var(--denhaag-authentication-logo-with-gap));

    @media (min-width: 375px) {
      max-width: 100%;
    }
  }

  &__footer-divider {
    position: relative;
  }

  &__footer-label {
    background: var(--denhaag-authentication-divider-label-background, var(--denhaag-color-white));
    left: 50%;
    padding-block: var(--denhaag-authentication-divider-label-padding-block, var(--denhaag-space-xs));
    padding-inline: var(--denhaag-authentication-divider-label-padding-inline, 0.875rem);
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &-item {
    align-items: center;
    color: var(--denhaag-authentication-item-color, var(--denhaag-link-color));
    display: flex;
    flex-direction: row;
    gap: var(--denhaag-authentication-item-gap, var(--denhaag-spacing-sm));
    text-decoration: none;
    width: 100%;

    &:hover {
      color: var(--denhaag-authentication-item-hover-color, var(--denhaag-link-hover-color));
    }

    &:focus-visible {
      outline: var(--denhaag-authentication-item-focus-outline, var(--denhaag-link-focus-outline));
    }

    // CSS support may there be more than one item is added.
    & + & {
      margin-block-start: var(--denhaag-authentication-item-gap, var(--denhaag-spacing-sm));
    }
  }

  &-item svg,
  &-item__image {
    height: auto;
    max-width: var(--denhaag-authentication-item-image-width, 2.375rem);
  }
}
