/* This file is meant only for storybook overwrites. NOT FOR EXPORT! */
.denhaag-storybook-floating-contact-wrapper {
  height: 100vh;
  width: 100vw;
  margin-block-start: -1rem;
  margin-block-end: -1rem;
  margin-inline-start: -1rem;
  margin-inline-end: -1rem;
}
