.denhaag-case-card__subtitle {
  --nl-paragraph-font-family: var(--denhaag-case-card-subtitle-font-family);
  --nl-paragraph-font-size: var(--denhaag-case-card-subtitle-font-size);
  --nl-paragraph-font-weight: var(--denhaag-case-card-subtitle-font-weight);
  --nl-paragraph-line-height: var(--denhaag-case-card-subtitle-line-height);
  --nl-paragraph-color: var(--denhaag-case-card-subtitle-color);
  --nl-paragraph-paragraph-margin-block-start: var(--denhaag-case-card-subtitle-margin-block-start);

  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
