.denhaag-divider {
  background: var(--denhaag-divider-border-color, var(--denhaag-color-grey-2));
  border: 0;
  height: var(--denhaag-divider-border-width, 1px);
  margin-block: var(--denhaag-divider-margin-block, 16px);
  flex-shrink: 0;
  width: 100%;
}

.denhaag-divider--vertical {
  margin-inline: var(--denhaag-divider-margin-inline, 16px);
  width: var(--denhaag-divider-border-width, 1px);
  height: inherit;
}
