.denhaag-sheet {
  background-color: white;
  left: 0;
  margin-block-start: var(--denhaag-header-border-bottom-width);
  min-height: 100vh;
  overflow-x: hidden;
  position: absolute;
  top: 4.5rem;
  width: 100%;
  z-index: 3;

  @media (min-width: 768px) {
    padding-block-start: 24px;
    top: 6rem;
  }

  @media (min-width: 1024px) {
    min-height: 15rem;
    top: 7.5rem;
  }

  &__close-button {
    float: right;
  }

  &__container {
    @media (min-width: 768px) {
      padding-block-start: 32px;
      padding-block-end: 48px;
    }

    &-menu {
      display: grid;
    }
  }

  &-overlay {
    background-color: rgb(0 0 0 / 50%);
    height: 100vh;
    left: 0;
    position: fixed;
    top: calc(4.5rem + 1px);
    width: 100vw;
    z-index: 1;

    @media (min-width: 768px) {
      top: calc(6rem + 1px);
    }

    @media (min-width: 1024px) {
      top: calc(7.5rem + 1px);
    }
  }
}
