h1 {
  font-size: var(--denhaag-heading-1-font-size);
  font-family: var(--denhaag-heading-1-font-family);
  font-weight: var(--denhaag-heading-1-font-weight);
  font-style: var(--denhaag-heading-1-font-style);
  line-height: var(--denhaag-heading-1-line-height);
}

h2 {
  font-size: var(--denhaag-heading-2-font-size);
  font-family: var(--denhaag-heading-2-font-family);
  font-weight: var(--denhaag-heading-2-font-weight);
  font-style: var(--denhaag-heading-2-font-style);
  line-height: var(--denhaag-heading-2-line-height);
}

h3 {
  font-size: var(--denhaag-heading-3-font-size);
  font-family: var(--denhaag-heading-3-font-family);
  font-weight: var(--denhaag-heading-3-font-weight);
  font-style: var(--denhaag-heading-3-font-style);
  line-height: var(--denhaag-heading-3-line-height);
}

h4 {
  font-size: var(--denhaag-heading-4-font-size);
  font-family: var(--denhaag-heading-4-font-family);
  font-weight: var(--denhaag-heading-4-font-weight);
  font-style: var(--denhaag-heading-4-font-style);
  line-height: var(--denhaag-heading-4-line-height);
}

h5 {
  font-size: var(--denhaag-heading-5-font-size);
  font-family: var(--denhaag-heading-5-font-family);
  font-weight: var(--denhaag-heading-5-font-weight);
  font-style: var(--denhaag-heading-5-font-style);
  line-height: var(--denhaag-heading-5-line-height);
}
