.denhaag-side-navigation {
  display: var(--denhaag-side-navigation-display);
  flex-direction: var(--denhaag-side-navigation-flex-direction);
  row-gap: var(--denhaag-side-navigation-row-gap);
  min-width: var(--denhaag-side-navigation-min-width);

  @media (width <= 1023px) {
    display: var(--denhaag-side-navigation-mobile-display);
  }
}

.denhaag-side-navigation__list {
  list-style: none;
  margin-block-end: 0;
  margin-block-start: 0;
  padding-block-end: 0;
  padding-block-start: 0;
  padding-inline-start: 0;
}

.denhaag-side-navigation__item {
  font-family: var(--denhaag-side-navigation-item-font-family, sans-serif);
  font-size: var(--denhaag-side-navigation-item-font-size);
  font-weight: var(--denhaag-side-navigation-item-font-weight, normal);
  line-height: 1.5;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.denhaag-side-navigation__link {
  text-decoration: none;
  color: var(--denhaag-side-navigation-link-color);
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
  column-gap: 16px;
  padding-block-start: var(--denhaag-side-navigation-link-padding-block-start);
  padding-block-end: var(--denhaag-side-navigation-link-padding-block-end);
}

.denhaag-side-navigation__link-label {
  display: flex;
  gap: var(--denhaag-side-navigation-link-label-gap);
  align-items: center;
}

.denhaag-side-navigation__link:hover,
.denhaag-side-navigation__link--hover {
  color: var(--denhaag-side-navigation-link-hover-color);
  cursor: pointer;
}

.denhaag-side-navigation__link:focus-visible,
.denhaag-side-navigation__link--focus {
  outline: var(--denhaag-focus-border);
}

.denhaag-side-navigation__link--current {
  color: var(--denhaag-side-navigation-link-active-color);
  font-weight: var(--denhaag-side-navigation-link-active-font-weight);
}
