@import "./mixins";

.denhaag-readspeaker {
  position: var(--denhaag-readspeaker-position);
  accent-color: var(--denhaag-readspeaker-accent-color);
  opacity: var(--denhaag-readspeaker-opacity, 0);
  transition: 352ms ease-in-out opacity; // Set to variables.
  border-radius: var(--denhaag-readspeaker-border-radius);
  display: flex;
  font-family: var(--denhaag-readspeaker-font-family);
  font-weight: var(--denhaag-readspeaker-font-weight);
  font-size: var(--denhaag-readspeaker-font-size);
  height: var(--denhaag-readspeaker-height);
  line-height: var(--denhaag-readspeaker-line-height);
  margin-block: var(--denhaag-readspeaker-margin-block);
  width: fit-content;

  a {
    color: var(--denhaag-readspeaker-color);

    &:hover {
      --denhaag-readspeaker-color: var(--denhaag-readspeaker-hover-color);
    }
  }

  &.rsexpanded {
    --denhaag-readspeaker-inner-opacity: 100%;
    --denhaag-readspeaker-inner-pointer-events: auto;
  }

  .rsbtn_exp_inner {
    display: flex;
    flex-direction: row;
    opacity: var(--denhaag-readspeaker-inner-opacity, 0);
    pointer-events: var(--denhaag-readspeaker-inner-pointer-events, none);
    transition: opacity 250ms ease-in-out;

    .rsbtn_btnlabel {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      border: 0;
    }
  }

  .rsbtn_player_item {
    background-color: var(--denhaag-readspeaker-button-background-color);
    border: 1px solid var(--denhaag-readspeaker-border-color);
    color: var(--denhaag-readspeaker-color);
    display: grid;
    place-items: center;

    position: relative;
    height: var(--denhaag-readspeaker-height);
    width: var(--denhaag-readspeaker-button-width);

    &:last-of-type {
      border-radius: 0 var(--denhaag-readspeaker-border-radius) var(--denhaag-readspeaker-border-radius) 0;
    }

    &:hover {
      --denhaag-readspeaker-color: var(--denhaag-readspeaker-hover-color);
      --denhaag-readspeaker-button-background-color: var(--denhaag-readspeaker-hover-button-background-color);
      --denhaag-readspeaker-border-color: var(--denhaag-readspeaker-hover-button-border-color);
    }

    &:active,
    &:focus {
      --denhaag-readspeaker-color: var(--denhaag-readspeaker-active-color);
      --denhaag-readspeaker-button-background-color: var(--denhaag-readspeaker-active-button-background-color);
      --denhaag-readspeaker-border-color: var(--denhaag-readspeaker-active-button-border-color);
    }

    &:focus-visible {
      --denhaag-readspeaker-color: var(--denhaag-readspeaker-focus-color);
      --denhaag-readspeaker-button-background-color: var(--denhaag-readspeaker-focus-button-background-color);
      --denhaag-readspeaker-border-color: var(--denhaag-readspeaker-focus-button-border-color);

      outline: var(--denhaag-readspeaker-focus-outline);
      z-index: 1;
    }

    &[aria-expanded="true"] + .rsbtn_dropdown {
      --denhaag-readspeaker-dropdown-display: block;
    }

    & ~ .rsbtn_player_item {
      border-left: 0;

      &:hover {
        box-shadow: -1px 0px 0 0px var(--denhaag-readspeaker-border-color);
      }

      &:focus-visible {
        border-left: 1px solid var(--denhaag-readspeaker-border-color);
      }
    }
  }

  .rsbtn_dropdown {
    display: var(--denhaag-readspeaker-dropdown-display, none);
    position: absolute;
    background: var(--denhaag-readspeaker-background-color);
    border: 1px solid var(--denhaag-readspeaker-border-color);
    border-radius: var(--denhaag-readspeaker-border-radius);
    box-sizing: content-box;
    font-size: var(--denhaag-readspeaker-dropdown-font-size);
    padding: 0.33em;
    height: 5em;
    width: var(--denhaag-readspeaker-button-width);
    top: calc(var(--denhaag-readspeaker-height) + 4px);
  }

  .rs-slider {
    font-size: var(--denhaag-readspeaker-dropdown-font-size);
  }

  .rs-slider.horizontal {
    -webkit-appearance: slider-horizontal;
  }

  .rs-slider.vertical {
    padding: 0;
    transform-origin: left center;
    width: 5.5em;
    transform: rotate(270deg) translateX(-5em) translateY(0.75em);
    -webkit-appearance: slider-vertical;
  }

  .rs-slider.vertical.has-datalist {
    transform: rotate(270deg) translateX(-4.75em) translateY(0.75em);
    -webkit-appearance: slider-horizontal;
  }

  .rsbtn_play {
    background-color: var(--denhaag-readspeaker-button-background-color);
    border: 1px solid var(--denhaag-readspeaker-border-color);
    border-radius: 0 var(--denhaag-readspeaker-border-radius) var(--denhaag-readspeaker-border-radius) 0;
    color: var(--denhaag-readspeaker-color);
    height: auto;
    padding-block: var(--denhaag-readspeaker-toggle-padding-block);
    padding-inline: var(--denhaag-readspeaker-toggle-padding-inline);
    text-decoration: none;

    &:hover {
      --denhaag-readspeaker-color: var(--denhaag-readspeaker-hover-color);
      --denhaag-readspeaker-button-background-color: var(--denhaag-readspeaker-hover-button-background-color);
      --denhaag-readspeaker-border-color: var(--denhaag-readspeaker-hover-button-border-color);
    }

    &:active,
    &:focus {
      --denhaag-readspeaker-color: var(--denhaag-readspeaker-active-color);
      --denhaag-readspeaker-button-background-color: var(--denhaag-readspeaker-active-button-background-color);
      --denhaag-readspeaker-border-color: var(--denhaag-readspeaker-active-button-border-color);
    }

    &:focus-visible {
      --denhaag-readspeaker-color: var(--denhaag-readspeaker-focus-color);
      --denhaag-readspeaker-button-background-color: var(--denhaag-readspeaker-focus-button-background-color);
      --denhaag-readspeaker-border-color: var(--denhaag-readspeaker-focus-button-border-color);

      outline: var(--denhaag-readspeaker-focus-outline);
      z-index: 1;
    }
  }

  .rsbtn_play .rsbtn_text {
    display: flex;
    gap: 8px;
  }

  &.rsexpanded .rsbtn_play {
    border-right: 0;
    border-radius: 0;

    &:hover {
      box-shadow: inset -1px 0px 0 0px var(--denhaag-readspeaker-border-color);
    }
  }

  .rsbtn_tooltoggle {
    background-color: var(--denhaag-readspeaker-button-background-color);
    border: 1px solid var(--denhaag-readspeaker-border-color);
    border-right: 0;
    border-radius: var(--denhaag-readspeaker-border-radius) 0 0 var(--denhaag-readspeaker-border-radius);
    color: var(--denhaag-readspeaker-color);
    display: grid !important;
    place-items: center;
    position: relative;
    height: var(--denhaag-readspeaker-height);
    width: var(--denhaag-readspeaker-button-width);

    &:hover {
      --denhaag-readspeaker-color: var(--denhaag-readspeaker-hover-color);
      --denhaag-readspeaker-button-background-color: var(--denhaag-readspeaker-hover-button-background-color);
      --denhaag-readspeaker-border-color: var(--denhaag-readspeaker-hover-button-border-color);

      box-shadow: 1px 0 0 0 var(--denhaag-readspeaker-border-color);
    }

    &:active,
    &:focus {
      --denhaag-readspeaker-color: var(--denhaag-readspeaker-active-color);
      --denhaag-readspeaker-button-background-color: var(--denhaag-readspeaker-active-button-background-color);
      --denhaag-readspeaker-border-color: var(--denhaag-readspeaker-active-button-border-color);
    }

    &:focus-visible {
      --denhaag-readspeaker-color: var(--denhaag-readspeaker-focus-color);
      --denhaag-readspeaker-button-background-color: var(--denhaag-readspeaker-focus-button-background-color);
      --denhaag-readspeaker-border-color: var(--denhaag-readspeaker-focus-button-border-color);

      outline: var(--denhaag-readspeaker-focus-outline);
      border-right: 1px solid var(--denhaag-readspeaker-border-color);
      z-index: 1;
    }

    .rsicn {
      @include readspeaker-icon-styles(
        'path("M4 7.5C4 6.94772 4.44772 6.5 5 6.5H19C19.5523 6.5 20 6.94772 20 7.5C20 8.05228 19.5523 8.5 19 8.5H5C4.44772 8.5 4 8.05228 4 7.5ZM4 12.5C4 11.9477 4.44772 11.5 5 11.5H19C19.5523 11.5 20 11.9477 20 12.5C20 13.0523 19.5523 13.5 19 13.5H5C4.44772 13.5 4 13.0523 4 12.5ZM4 17.5C4 16.9477 4.44772 16.5 5 16.5H19C19.5523 16.5 20 16.9477 20 17.5C20 18.0523 19.5523 18.5 19 18.5H5C4.44772 18.5 4 18.0523 4 17.5Z")'
      );
    }
  }

  // Buttons
  @each $icon,
    $path
      in (
        "pause":
          'path("M6 7.24081C6 5.69722 7.67443 4.73548 9.00774 5.51325L18.0231 10.7722C19.3461 11.544 19.3461 13.4556 18.0231 14.2273L9.00774 19.4863C7.67443 20.2641 6 19.3023 6 17.7587V7.24081ZM17.0154 12.4998L8 7.24081V17.7587L17.0154 12.4998Z")',
        // Play..
        "speed":
          "url(#rs-speed)",
        "closer":
          'path("M5.2929 5.7929c.3905-.3905 1.0237-.3905 1.4142 0L12 11.0858l5.2929-5.293c.3905-.3904 1.0237-.3904 1.4142 0 .3905.3906.3905 1.0238 0 1.4143L13.4142 12.5l5.2929 5.2929c.3905.3905.3905 1.0237 0 1.4142-.3905.3905-1.0237.3905-1.4142 0L12 13.9142l-5.2929 5.2929c-.3905.3905-1.0237.3905-1.4142 0-.3905-.3905-.3905-1.0237 0-1.4142L10.5858 12.5l-5.293-5.2929c-.3904-.3905-.3904-1.0237 0-1.4142Z")',
        "forward": "url(#rs-forward)",
        "rewind": "url(#rs-rewind)",
        "volume":
          'path("M13.4179 2.5915C13.7727 2.75469 14 3.10948 14 3.50001V21.5C14 21.8905 13.7727 22.2453 13.4179 22.4085C13.0631 22.5717 12.6457 22.5134 12.3492 22.2593L5.63008 16.5H3C2.44772 16.5 2 16.0523 2 15.5V9.50001C2 8.94773 2.44772 8.50001 3 8.50001H5.63008L12.3492 2.74076C12.6457 2.4866 13.0631 2.42832 13.4179 2.5915ZM12 5.67423L6.65079 10.2593C6.46955 10.4146 6.23871 10.5 6 10.5H4V14.5H6C6.23871 14.5 6.46955 14.5854 6.65079 14.7408L12 19.3258V5.67423ZM17.2929 5.79291C17.6834 5.40238 18.3166 5.40238 18.7071 5.79291L18.7078 5.79362L18.7086 5.79438L18.7102 5.79605L18.7141 5.79996L18.724 5.81008C18.7315 5.81784 18.7409 5.82765 18.752 5.83951C18.7742 5.86322 18.8034 5.89513 18.8385 5.93526C18.9087 6.01549 19.0028 6.12871 19.1125 6.27501C19.3318 6.56748 19.6147 6.99329 19.8944 7.5528C20.4556 8.67509 21 10.3273 21 12.5C21 14.6728 20.4556 16.3249 19.8944 17.4472C19.6147 18.0067 19.3318 18.4326 19.1125 18.725C19.0028 18.8713 18.9087 18.9845 18.8385 19.0648C18.8034 19.1049 18.7742 19.1368 18.752 19.1605C18.7409 19.1724 18.7315 19.1822 18.724 19.19L18.7141 19.2001L18.7102 19.204L18.7086 19.2056L18.7078 19.2064L18.7071 19.2071C18.3166 19.5976 17.6834 19.5976 17.2929 19.2071C16.904 18.8183 16.9024 18.1889 17.2879 17.7979L17.2929 17.7926C17.3 17.7851 17.3138 17.7701 17.3334 17.7478C17.3725 17.703 17.4347 17.6287 17.5125 17.525C17.6682 17.3175 17.8853 16.9933 18.1056 16.5528C18.5444 15.6751 19 14.3272 19 12.5C19 10.6728 18.5444 9.32494 18.1056 8.44723C17.8853 8.00674 17.6682 7.68255 17.5125 7.47501C17.4347 7.37131 17.3725 7.29704 17.3334 7.25227C17.3138 7.22989 17.3 7.21493 17.2929 7.20739L17.2879 7.20208C16.9024 6.81117 16.904 6.18176 17.2929 5.79291ZM15.2929 8.79291C15.6834 8.40238 16.3166 8.40238 16.7071 8.79291L16.7085 8.79434L16.7101 8.79587L16.7134 8.79923L16.7211 8.80715L16.7408 8.82779C16.7557 8.84369 16.7741 8.86388 16.7955 8.88838C16.8384 8.93736 16.8934 9.00371 16.9563 9.08751C17.0818 9.25498 17.2397 9.49329 17.3944 9.8028C17.7056 10.4251 18 11.3272 18 12.5C18 13.6728 17.7056 14.5749 17.3944 15.1972C17.2397 15.5067 17.0818 15.7451 16.9563 15.9125C16.8934 15.9963 16.8384 16.0627 16.7955 16.1116C16.7741 16.1361 16.7557 16.1563 16.7408 16.1722L16.7211 16.1929L16.7134 16.2008L16.7101 16.2042L16.7085 16.2057L16.7078 16.2064C16.3173 16.5969 15.6834 16.5976 15.2929 16.2071C14.9057 15.82 14.9024 15.1943 15.2829 14.803C15.2843 14.8015 15.2868 14.7987 15.2904 14.7946C15.3022 14.7811 15.3253 14.7537 15.3562 14.7125C15.4182 14.63 15.5103 14.4933 15.6056 14.3028C15.7944 13.9251 16 13.3272 16 12.5C16 11.6728 15.7944 11.0749 15.6056 10.6972C15.5103 10.5067 15.4182 10.3701 15.3562 10.2875C15.3253 10.2463 15.3022 10.2189 15.2904 10.2054C15.2868 10.2013 15.2843 10.1985 15.2829 10.197C14.9024 9.80574 14.9057 9.18008 15.2929 8.79291Z")',
        "stop":
          'path("M5 7C5 5.89543 5.89543 5 7 5H17C18.1046 5 19 5.89543 19 7V17C19 18.1046 18.1046 19 17 19H7C5.89543 19 5 18.1046 5 17V7ZM17 7L7 7V17H17V7Z")'
      )
  {
    .rsbtn_#{$icon} .rsicn {
      @include readspeaker-icon-styles($path);
    }
  }

  .rsbtn_pause[data-rslang="title/arialabel:pause"] .rsicn {
    @include readspeaker-icon-styles(
      'path("M9 6C9.55228 6 10 6.44772 10 7V17C10 17.5523 9.55228 18 9 18C8.44772 18 8 17.5523 8 17V7C8 6.44772 8.44772 6 9 6ZM15 6C15.5523 6 16 6.44772 16 7V17C16 17.5523 15.5523 18 15 18C14.4477 18 14 17.5523 14 17V7C14 6.44772 14.4477 6 15 6Z")'
    );
  }

  .rsbtn_status_overlay {
    align-items: center;
    background-color: var(--denhaag-readspeaker-status-background-color);
    height: var(--denhaag-readspeaker-height);
    justify-content: space-around;
  }

  &.rsexpanded .rsbtn_status_overlay {
    left: 0;
    position: absolute;
    right: var(--denhaag-readspeaker-button-width);
  }

  .rsbtn_status {
    font-family: var(--denhaag-readspeaker-font-family);
    font-weight: var(--denhaag-readspeaker-font-weight);
    font-size: var(--denhaag-readspeaker-status-font-size);
  }

  .rsbtn_loaderror {
    color: var(--denhaag-readspeaker-status-error-color);
  }

  .rsbtn_exp {
    position: relative;
  }

  // Progress indicator.
  .rs-player-loadindicator {
    background-color: var(--denhaag-readspeaker-indicator-background-color);
    height: var(--denhaag-readspeaker-indicator-height);
    left: calc(
      0px - (var(--denhaag-readspeaker-playbtn-width, 0px) + var(--denhaag-readspeaker-button-width))
    ) !important;
    width: calc(100% + (var(--denhaag-readspeaker-playbtn-width, 0px) + var(--denhaag-readspeaker-button-width)));
    top: calc(0px - (var(--denhaag-readspeaker-indicator-height) + var(--denhaag-readspeaker-indicator-gap)));
    position: absolute;
  }

  .rsbtn-loading,
  .rsbtn-progress {
    background-color: var(--denhaag-readspeaker-progress-background-color);
    height: 100%;
    left: 0;
    position: absolute;
    transition: width 100ms linear;
  }

  .rsbtn-loading {
    animation-duration: 2500ms;
    animation-iteration-count: infinite;
    animation-name: loading-denhaag-readspeaker;
    width: 20%;
  }

  .rs-slider-label {
    background: var(--denhaag-readspeaker-slider-label-background-color);
    border-radius: var(--denhaag-readspeaker-border-radius);
    color: var(--denhaag-readspeaker-slider-label-color);
    font-family: var(--denhaag-readspeaker-font-family);
    font-weight: var(--denhaag-readspeaker-font-weight);
    font-size: var(--denhaag-readspeaker-slider-label-font-size);
    padding-inline: 12px;
    padding-block: 8px;
    position: absolute;
    white-space: nowrap;

    // Overwrite JS values.
    top: 0 !important;
    transform: none !important;
  }

  .rsbtn_toolpanel {
    position: absolute;
    top: calc(var(--denhaag-readspeaker-height) + 2px);
  }

  .rsbtn_tools_inner {
    background-color: var(--denhaag-readspeaker-background-color);
    border: 1px solid var(--denhaag-readspeaker-border-color);
    border-radius: var(--denhaag-readspeaker-border-radius);
    display: flex;
    flex-direction: column;
    max-width: 240px;
  }

  .rsbtn_toollist {
    list-style: none;
    margin-block: 0;
    padding-inline-start: 0;

    li + li {
      border-top: 1px solid var(--denhaag-readspeaker-border-color);
    }
  }

  .rsbtn_powered {
    padding-inline: var(--denhaag-readspeaker-settings-padding-inline);
    padding-block: var(--denhaag-readspeaker-settings-padding-block);
    border-bottom: 2px solid var(--denhaag-readspeaker-border-color);
  }

  .rsbtn_tool {
    display: flex;
    gap: var(--denhaag-readspeaker-settings-gap);
    padding-inline: var(--denhaag-readspeaker-settings-padding-inline);
    padding-block: var(--denhaag-readspeaker-settings-padding-block);

    width: 100%;
    outline: none;
    border: none;
    flex-direction: row;
    background-color: transparent;
    align-items: center;
    justify-content: space-between;

    [aria-hidden="true"] {
      display: none;
    }

    .rs_minitoggler {
      display: flex;
      justify-self: flex-end;
    }

    &:focus-visible {
      outline: var(--denhaag-readspeaker-focus-outline);
    }

    &:hover {
      color: var(--denhaag-readspeaker-tool-hover-color);
      cursor: var(--denhaag-readspeaker-tool-hover-cursor);
    }
  }

  .rsbtn_powered {
    font-size: var(--denhaag-readspeaker-poweredby-font-size);
    order: 0;
    text-transform: uppercase;
  }

  .rsbtn_toolcontainer {
    order: 1;
  }

  .rs_minitoggler {
    --denhaag-readspeaker-switch-dot-left: calc(
      (var(--denhaag-readspeaker-switch-height) - var(--denhaag-readspeaker-switch-size)) / 2
    );

    background-color: var(--denhaag-readspeaker-switch-background-color);
    border-radius: var(--denhaag-readspeaker-switch-height);
    color: var(--denhaag-readspeaker-switch-color);
    display: inline-block;
    height: var(--denhaag-readspeaker-switch-height);
    width: var(--denhaag-readspeaker-switch-width);
    position: relative;
    font-size: 0;

    &:hover {
      --denhaag-readspeaker-switch-background-color: var(--denhaag-readspeaker-switch-hover-background-color);
    }

    &:focus-visible {
      --denhaag-readspeaker-switch-background-color: var(--denhaag-readspeaker-switch-focus-background-color);
    }

    &:disabled,
    &.disabled {
      --denhaag-readspeaker-switch-background-color: var(--denhaag-readspeaker-switch-disabled-background-color);
    }

    &:before {
      aspect-ratio: 1;
      background-color: currentColor;
      border-radius: var(--denhaag-readspeaker-switch-size);
      content: "";
      display: block;
      height: auto;
      width: var(--denhaag-readspeaker-switch-size);
      top: calc((var(--denhaag-readspeaker-switch-height) - var(--denhaag-readspeaker-switch-size)) / 2);
      position: absolute;
      left: var(--denhaag-readspeaker-switch-dot-left);
      transition: left 375ms ease-in-out;
    }
  }

  .active > .rs_minitoggler {
    --denhaag-readspeaker-switch-background-color: var(--denhaag-readspeaker-switch-active-background-color);
    --denhaag-readspeaker-switch-dot-left: calc(
      (var(--denhaag-readspeaker-switch-width) - var(--denhaag-readspeaker-switch-size)) -
        ((var(--denhaag-readspeaker-switch-height) - var(--denhaag-readspeaker-switch-size)) / 2)
    );

    &:hover {
      --denhaag-readspeaker-switch-background-color: var(--denhaag-readspeaker-switch-active-hover-background-color);
    }

    &:focus-visible {
      --denhaag-readspeaker-switch-background-color: var(--denhaag-readspeaker-switch-active-focus-background-color);
    }

    &:disabled,
    &.disabled {
      --denhaag-readspeaker-switch-background-color: var(--denhaag-readspeaker-switch-active-disabled-background-color);
    }
  }
}

#rs-dialog,
#rs-dialog-fullscreen {
  nav {
    button {
      @each $icon,
        $path
          in (
            "pause":
              'path("M6 7.24081C6 5.69722 7.67443 4.73548 9.00774 5.51325L18.0231 10.7722C19.3461 11.544 19.3461 13.4556 18.0231 14.2273L9.00774 19.4863C7.67443 20.2641 6 19.3023 6 17.7587V7.24081ZM17.0154 12.4998L8 7.24081V17.7587L17.0154 12.4998Z")',
            "play":
              'path("M6 7.24081C6 5.69722 7.67443 4.73548 9.00774 5.51325L18.0231 10.7722C19.3461 11.544 19.3461 13.4556 18.0231 14.2273L9.00774 19.4863C7.67443 20.2641 6 19.3023 6 17.7587V7.24081ZM17.0154 12.4998L8 7.24081V17.7587L17.0154 12.4998Z")',
            "speed": "url(#rs-speed)",
            "closer":
              'path("M5.2929 5.7929c.3905-.3905 1.0237-.3905 1.4142 0L12 11.0858l5.2929-5.293c.3905-.3904 1.0237-.3904 1.4142 0 .3905.3906.3905 1.0238 0 1.4143L13.4142 12.5l5.2929 5.2929c.3905.3905.3905 1.0237 0 1.4142-.3905.3905-1.0237.3905-1.4142 0L12 13.9142l-5.2929 5.2929c-.3905.3905-1.0237.3905-1.4142 0-.3905-.3905-.3905-1.0237 0-1.4142L10.5858 12.5l-5.293-5.2929c-.3904-.3905-.3904-1.0237 0-1.4142Z")',
            "forward": "url(#rs-forward)",
            "rewind": "url(#rs-rewind)",
            "volume":
              'path("M13.4179 2.5915C13.7727 2.75469 14 3.10948 14 3.50001V21.5C14 21.8905 13.7727 22.2453 13.4179 22.4085C13.0631 22.5717 12.6457 22.5134 12.3492 22.2593L5.63008 16.5H3C2.44772 16.5 2 16.0523 2 15.5V9.50001C2 8.94773 2.44772 8.50001 3 8.50001H5.63008L12.3492 2.74076C12.6457 2.4866 13.0631 2.42832 13.4179 2.5915ZM12 5.67423L6.65079 10.2593C6.46955 10.4146 6.23871 10.5 6 10.5H4V14.5H6C6.23871 14.5 6.46955 14.5854 6.65079 14.7408L12 19.3258V5.67423ZM17.2929 5.79291C17.6834 5.40238 18.3166 5.40238 18.7071 5.79291L18.7078 5.79362L18.7086 5.79438L18.7102 5.79605L18.7141 5.79996L18.724 5.81008C18.7315 5.81784 18.7409 5.82765 18.752 5.83951C18.7742 5.86322 18.8034 5.89513 18.8385 5.93526C18.9087 6.01549 19.0028 6.12871 19.1125 6.27501C19.3318 6.56748 19.6147 6.99329 19.8944 7.5528C20.4556 8.67509 21 10.3273 21 12.5C21 14.6728 20.4556 16.3249 19.8944 17.4472C19.6147 18.0067 19.3318 18.4326 19.1125 18.725C19.0028 18.8713 18.9087 18.9845 18.8385 19.0648C18.8034 19.1049 18.7742 19.1368 18.752 19.1605C18.7409 19.1724 18.7315 19.1822 18.724 19.19L18.7141 19.2001L18.7102 19.204L18.7086 19.2056L18.7078 19.2064L18.7071 19.2071C18.3166 19.5976 17.6834 19.5976 17.2929 19.2071C16.904 18.8183 16.9024 18.1889 17.2879 17.7979L17.2929 17.7926C17.3 17.7851 17.3138 17.7701 17.3334 17.7478C17.3725 17.703 17.4347 17.6287 17.5125 17.525C17.6682 17.3175 17.8853 16.9933 18.1056 16.5528C18.5444 15.6751 19 14.3272 19 12.5C19 10.6728 18.5444 9.32494 18.1056 8.44723C17.8853 8.00674 17.6682 7.68255 17.5125 7.47501C17.4347 7.37131 17.3725 7.29704 17.3334 7.25227C17.3138 7.22989 17.3 7.21493 17.2929 7.20739L17.2879 7.20208C16.9024 6.81117 16.904 6.18176 17.2929 5.79291ZM15.2929 8.79291C15.6834 8.40238 16.3166 8.40238 16.7071 8.79291L16.7085 8.79434L16.7101 8.79587L16.7134 8.79923L16.7211 8.80715L16.7408 8.82779C16.7557 8.84369 16.7741 8.86388 16.7955 8.88838C16.8384 8.93736 16.8934 9.00371 16.9563 9.08751C17.0818 9.25498 17.2397 9.49329 17.3944 9.8028C17.7056 10.4251 18 11.3272 18 12.5C18 13.6728 17.7056 14.5749 17.3944 15.1972C17.2397 15.5067 17.0818 15.7451 16.9563 15.9125C16.8934 15.9963 16.8384 16.0627 16.7955 16.1116C16.7741 16.1361 16.7557 16.1563 16.7408 16.1722L16.7211 16.1929L16.7134 16.2008L16.7101 16.2042L16.7085 16.2057L16.7078 16.2064C16.3173 16.5969 15.6834 16.5976 15.2929 16.2071C14.9057 15.82 14.9024 15.1943 15.2829 14.803C15.2843 14.8015 15.2868 14.7987 15.2904 14.7946C15.3022 14.7811 15.3253 14.7537 15.3562 14.7125C15.4182 14.63 15.5103 14.4933 15.6056 14.3028C15.7944 13.9251 16 13.3272 16 12.5C16 11.6728 15.7944 11.0749 15.6056 10.6972C15.5103 10.5067 15.4182 10.3701 15.3562 10.2875C15.3253 10.2463 15.3022 10.2189 15.2904 10.2054C15.2868 10.2013 15.2843 10.1985 15.2829 10.197C14.9024 9.80574 14.9057 9.18008 15.2929 8.79291Z")',
            "stop":
              'path("M5 7C5 5.89543 5.89543 5 7 5H17C18.1046 5 19 5.89543 19 7V17C19 18.1046 18.1046 19 17 19H7C5.89543 19 5 18.1046 5 17V7ZM17 7L7 7V17H17V7Z")'
          )
      {
        &.rsicn-#{$icon}::after {
          @include readspeaker-icon-styles($path);
        }
      }

      &.rsicn-font-minus::after {
        @include readspeaker-icon-styles(url("#rs-speed"));
      }
      &.rsicn-font-plus::after {
        @include readspeaker-icon-styles(url("#rs-speed"));
      }
      &.rsicn-text-settings::after {
        @include readspeaker-icon-styles(url("#rs-speed"));
      }
      &.rsicn-maximize {
        background-color: red;
      }
      &.rsicn-cross::after {
        @include readspeaker-icon-styles(url("#rs-close"));
      }
    }
  }
}

// Readspeaker Settings Dialog
#rs-dialog[data-mode="settings"],
#rs-dialog-fullscreen[data-mode="settings"] {
  width: fit-content !important;
  width: 90vw !important;
  max-width: 828px !important;
  font-family: var(--denhaag-readspeaker-font-family);
  font-weight: var(--denhaag-readspeaker-font-weight);
  font-size: var(--denhaag-readspeaker-font-size);
  padding: 0;
  border: 1px solid #d2d2d2;
  position: relative;

  .rs_splitbutton-container {
    display: none;
  }

  p,
  span,
  label {
    font-size: 18px;
  }

  > nav {
    position: sticky;
    top: 0;
    background-color: var(--denhaag-readspeaker-settings-dialog-menu-background-color);

    ul {
      list-style-type: none;
      padding-left: 0;
      margin-top: 34px;
      margin-bottom: 34px;

      li {
        padding: 10px 32px;
        display: flex;
        align-items: center;
        color: var(--denhaag-readspeaker-settings-dialog-menu-item-color);
        font-weight: 530;

        &.active {
          background-color: var(--denhaag-readspeaker-settings-dialog-menu-item-active-background-color);
        }
        &:hover {
          background-color: var(--denhaag-readspeaker-settings-dialog-menu-item-active-background-color);
          cursor: pointer;
        }
        label {
          font-size: 20px;
          line-height: 26px;
          font-weight: 530;
          pointer-events: none;
        }
      }
    }

    .label-toggler {
      display: none;
    }
  }

  // Dialog close button top right
  .buttons-close {
    position: absolute;
    width: 14px;
    height: 14px;
    top: 29px;
    right: 21px;
    background: none;
    border: none;
    outline: none;
    overflow: hidden;
    @include readspeaker-icon-styles(url("#rs-close"));
    cursor: pointer;

    label {
      display: none;
    }
  }

  // Dialog resize arrows
  .rs-dialog-resize {
    display: none;
  }

  #rs-dialog-main {
    header {
      padding: 24px;
      padding-bottom: 0;

      h1 {
        margin-top: 0;
      }

      // Text version header buttons
      nav {
        display: flex;
        button {
          background-color: var(--denhaag-readspeaker-button-background-color);
          border: 1px solid var(--denhaag-readspeaker-border-color);
          color: var(--denhaag-readspeaker-color);
          display: grid;
          place-items: center;

          position: relative;
          height: var(--denhaag-readspeaker-height);
          width: var(--denhaag-readspeaker-button-width);

          &:last-of-type {
            border-radius: 0 var(--denhaag-readspeaker-border-radius) var(--denhaag-readspeaker-border-radius) 0;
          }

          &:hover {
            --denhaag-readspeaker-color: var(--denhaag-readspeaker-hover-color);
            --denhaag-readspeaker-button-background-color: var(--denhaag-readspeaker-hover-button-background-color);
            --denhaag-readspeaker-border-color: var(--denhaag-readspeaker-hover-button-border-color);
          }

          &:active,
          &:focus {
            --denhaag-readspeaker-color: var(--denhaag-readspeaker-active-color);
            --denhaag-readspeaker-button-background-color: var(--denhaag-readspeaker-active-button-background-color);
            --denhaag-readspeaker-border-color: var(--denhaag-readspeaker-active-button-border-color);
          }

          &:focus-visible {
            --denhaag-readspeaker-color: var(--denhaag-readspeaker-focus-color);
            --denhaag-readspeaker-button-background-color: var(--denhaag-readspeaker-focus-button-background-color);
            --denhaag-readspeaker-border-color: var(--denhaag-readspeaker-focus-button-border-color);

            outline: var(--denhaag-readspeaker-focus-outline);
            z-index: 1;
          }

          &[aria-expanded="true"] + .rsbtn_dropdown {
            --denhaag-readspeaker-dropdown-display: block;
          }

          & ~ .rsbtn_player_item {
            border-left: 0;

            &:hover {
              box-shadow: -1px 0px 0 0px var(--denhaag-readspeaker-border-color);
            }

            &:focus-visible {
              border-left: 1px solid var(--denhaag-readspeaker-border-color);
            }
          }
        }
      }
    }

    #rs-dialog-contents {
      padding: 24px;

      h1,
      h2,
      h3,
      h4,
      legend {
        font-size: 18px !important;
      }

      // Sections within the content
      fieldset {
        margin-top: 24px;
        border: none;

        select {
          min-height: 28px;
          padding: 6px;
          border-radius: 5px;
        }

        // Section heading
        legend {
          font-weight: 600;
        }

        .rs-pref {
          font-size: 18px;
          &.dimmed {
            display: none;
          }
        }

        label.rs-pref-header,
        legend.rs-pref-header {
          margin-top: 6px;
          margin-bottom: 6px !important;
          font-weight: 600;
        }

        // Fieldset inputs
        .rs-pref-option {
          // Fieldset label

          display: flex;
          flex-direction: row-reverse;
          justify-content: flex-end;

          input[type="number"] {
            width: 48px;
            height: 24px;
          }

          // Radio button
          input[type="radio"] {
            position: relative;
            margin-right: 16px;
            margin-bottom: 8px;
            cursor: pointer;

            &::before {
              content: "";
              position: absolute;
              top: -3px;
              right: 0;
              bottom: 0;
              left: -3px;
              border-radius: 50%;
              width: 20px;
              height: 20px;
              pointer-events: none;
              border: 1px solid;
              border-color: #4b4b4b;
              background-color: #fff;
            }

            &::after {
              content: "";
              position: absolute;
              top: 2px;
              right: 0;
              bottom: 0;
              left: 2px;
              border-radius: 50%;
              width: 12px;
              height: 12px;
              pointer-events: none;
            }

            &:checked {
              &::before {
                border: 1px solid;
                border-color: var(--denhaag-readspeaker-settings-dialog-radio-button-color);
                background-color: #fff;
              }
              &::after {
                background-color: var(--denhaag-readspeaker-settings-dialog-radio-button-color);
                border-color: var(--denhaag-readspeaker-settings-dialog-radio-button-color);
              }
            }
          }
        }

        .rs_popupclosetime {
          .rs-pref-option {
            flex-direction: row;
            justify-content: flex-start;
            input {
              margin-left: 12px;
              margin-right: 12px;
            }
          }
        }

        // Dropdown
        select {
          min-width: 300px;
          height: 50px;
          border-radius: 3px;
          border-color: #4b4b4b;
          font-size: 18px;
          line-height: 27px;
        }

        // Section within a settings container
        .rs-pref {
          position: relative;
          margin-bottom: 12px;
          padding: 6px;

          // Help icon
          .rs-pref-info {
            position: absolute;
            top: 4px;
            right: 4px;
            width: 20px;
            height: 20px;
            background-color: transparent;
            border: 1px solid var(--denhaag-readspeaker-settings-dialog-shortcuts-background-color);
            border-radius: 50%;
            color: var(--denhaag-readspeaker-settings-dialog-shortcuts-background-color);
            @include readspeaker-icon-styles(url("#rs-help"));

            &:hover {
              cursor: pointer;
              color: var(--denhaag-readspeaker-settings-dialog-shortcuts-hover-background-color);
            }
          }

          // Help icon dialog / tooltip
          aside {
            display: none;
            background-color: #d5e7d4;
            margin-top: 12px;

            &[aria-expanded="true"] {
              display: flex;
              padding: 12px;
              span,
              p {
                font-size: 14px !important;
                padding: 0;
                margin: 0;
              }
            }
          }
        }

        // Color picker
        .rs-pref-colorpicker {
          margin-top: 12px;
          display: flex;
          flex-wrap: wrap;
          gap: 12px;

          input {
            display: none;
          }

          label.rs-pref-color:not(.underline):not(.none) {
            cursor: pointer;
            display: inline-block;
            height: 1em;
            transition: transform 0.2s ease-in-out;
            width: 1em;
            border-radius: 5px;
            &:last-child {
              &::after {
                width: 100%;
                flex-grow: 1;
              }
            }
          }

          input.rs-pref-color:not(.underline):not(.none):checked + label {
            border: 1px solid black;
            transform: scale(1.2);
          }

          .underline {
            justify-self: flex-end;
            &:hover {
              cursor: pointer;
            }
          }

          .none {
            justify-self: flex-end;
            &:hover {
              cursor: pointer;
            }
          }

          .underline:checked + label {
            text-decoration: underline;
          }

          .none:checked + label {
            text-decoration: underline;
          }

          // Light green

          // Light blue

          // Light yellow

          // Yellow

          // White

          // Black

          // Firebrick Red

          // Red
        }

        .rs-pref.shortcuts {
          .rs-pref-shortcut {
            display: grid;
            width: 100%;
            grid-template-columns: 1fr 96px 24px;
            gap: 12px;
            align-items: center;

            .edit-shortcut {
              min-height: 28px;
              display: flex;
              flex-direction: row-reverse;
              justify-content: center;
              align-items: center;
              text-transform: capitalize;
              margin-bottom: 6px;
              background-color: var(--denhaag-readspeaker-settings-dialog-shortcuts-background-color);
              border: 0;
              outline: 0;
              padding: 6px;
              border-radius: 5px;
              color: #fff;
              &:hover {
                cursor: pointer;
                background-color: var(--denhaag-readspeaker-settings-dialog-shortcuts-hover-background-color);
              }
            }

            .shift::before {
              @include readspeaker-icon-styles(url("#rs-shift"));
            }

            .ctrl::before {
              @include readspeaker-icon-styles(url("#rs-control"));
            }

            .alt::before {
              @include readspeaker-icon-styles(url("#rs-option"));
            }

            .clear-shortcut {
              background: none;
              border: none;
              width: 20px;
              height: 20px;
              border-radius: 50%;
              @include readspeaker-icon-styles(url("#rs-close"));
            }
          }
        }

        .rs-restore-options {
          > div {
            margin-top: 3px;
            margin-bottom: 3px;
            display: block;
          }
          input[type="checkbox"] {
            position: relative;
            margin-right: 16px;

            &::after {
              content: "";
              position: absolute;
              top: -4px;
              right: 0;
              bottom: 0;
              left: 0;
              width: 12px;
              height: 12px;
              padding: 4px;
              border-radius: 5px;
              background-color: #fff;
              border: 1px solid black;
            }

            &:hover {
              &::after {
                border-color: var(--denhaag-readspeaker-settings-dialog-shortcuts-background-color);
                cursor: pointer;
              }
            }
          }

          input[type="checkbox"]:checked {
            &::after {
              content: "\2714";
              color: #fff;
              background-color: var(--denhaag-readspeaker-settings-dialog-shortcuts-background-color);
            }
          }
        }

        .rs-pref-button {
          min-height: 28px;
          display: flex;
          flex-direction: row-reverse;
          justify-content: center;
          margin-top: 6px;
          margin-bottom: 6px;
          background-color: var(--denhaag-readspeaker-settings-dialog-shortcuts-background-color);
          border: 0;
          outline: 0;
          padding: 12px;
          border-radius: 5px;
          color: #fff;
          &:hover {
            cursor: pointer;
            background-color: var(--denhaag-readspeaker-settings-dialog-shortcuts-hover-background-color);
          }
        }
      }
    }
  }
}

// Readspeaker Text version dialog
#rs-dialog[data-mode="textmode"],
#rs-dialog-fullscreen[data-mode="textmode"] {
  width: fit-content !important;
  width: 90vw !important;
  max-width: 828px !important;
  font-family: var(--denhaag-readspeaker-font-family);
  font-weight: var(--denhaag-readspeaker-font-weight);
  font-size: var(--denhaag-readspeaker-font-size);
  padding: 24px;
  border: 1px solid #d2d2d2;
  position: relative;
  .rs-dialog-grabbable {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    // Text version header buttons
    nav {
      display: flex;
      button {
        background-color: var(--denhaag-readspeaker-button-background-color);
        border: 1px solid var(--denhaag-readspeaker-border-color);
        color: var(--denhaag-readspeaker-color);
        display: grid;
        place-items: center;

        position: relative;
        height: var(--denhaag-readspeaker-height);
        width: var(--denhaag-readspeaker-button-width);

        &:last-of-type {
          border-radius: 0 var(--denhaag-readspeaker-border-radius) var(--denhaag-readspeaker-border-radius) 0;
        }

        &:hover {
          --denhaag-readspeaker-color: var(--denhaag-readspeaker-hover-color);
          --denhaag-readspeaker-button-background-color: var(--denhaag-readspeaker-hover-button-background-color);
          --denhaag-readspeaker-border-color: var(--denhaag-readspeaker-hover-button-border-color);
        }

        &:active,
        &:focus {
          --denhaag-readspeaker-color: var(--denhaag-readspeaker-active-color);
          --denhaag-readspeaker-button-background-color: var(--denhaag-readspeaker-active-button-background-color);
          --denhaag-readspeaker-border-color: var(--denhaag-readspeaker-active-button-border-color);
        }

        &:focus-visible {
          --denhaag-readspeaker-color: var(--denhaag-readspeaker-focus-color);
          --denhaag-readspeaker-button-background-color: var(--denhaag-readspeaker-focus-button-background-color);
          --denhaag-readspeaker-border-color: var(--denhaag-readspeaker-focus-button-border-color);

          outline: var(--denhaag-readspeaker-focus-outline);
          z-index: 1;
        }

        &[aria-expanded="true"] + .rsbtn_dropdown {
          --denhaag-readspeaker-dropdown-display: block;
        }

        & ~ .rsbtn_player_item {
          border-left: 0;

          &:hover {
            box-shadow: -1px 0px 0 0px var(--denhaag-readspeaker-border-color);
          }

          &:focus-visible {
            border-left: 1px solid var(--denhaag-readspeaker-border-color);
          }
        }
      }
    }
  }
  #rs-dialog-main {
    font-family: var(--denhaag-readspeaker-font-family);
    font-weight: var(--denhaag-readspeaker-font-weight);
    font-size: var(--denhaag-readspeaker-font-size);
  }
}

.denhaag-readspeaker--initialized {
  --denhaag-readspeaker-opacity: 100%;
}

.denhaag-readspeaker--icons {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

@keyframes loading-denhaag-readspeaker {
  0% {
    left: 0;
  }

  50% {
    left: 80%;
  }

  100% {
    left: 0;
  }
}

.rs-dialog-slider-dropdown {
  border: none;
  min-width: 150px !important;
  border-radius: 5px;
}
