@import "./mixins";

.denhaag-readspeaker {
  position: var(--denhaag-readspeaker-position);
  accent-color: var(--denhaag-readspeaker-accent-color);
  transition: var(--denhaag-readspeaker-transition);
  border-radius: var(--denhaag-readspeaker-border-radius);
  display: flex;
  font-family: var(--denhaag-readspeaker-font-family);
  font-weight: var(--denhaag-readspeaker-font-weight);
  font-size: var(--denhaag-readspeaker-font-size);
  height: var(--denhaag-readspeaker-height);
  line-height: var(--denhaag-readspeaker-line-height);
  margin-block: var(--denhaag-readspeaker-margin-block);
  width: fit-content;
  opacity: var(--denhaag-readspeaker-opacity, 1);

  a {
    color: var(--denhaag-readspeaker-color);

    &:hover {
      --denhaag-readspeaker-color: var(--denhaag-readspeaker-hover-color);
    }
  }

  &.rsexpanded {
    --denhaag-readspeaker-inner-opacity: 100%;
    --denhaag-readspeaker-inner-pointer-events: auto;
  }

  .rsbtn_exp_inner {
    display: flex;
    flex-direction: row;
    opacity: var(--denhaag-readspeaker-inner-opacity, 0);
    pointer-events: var(--denhaag-readspeaker-inner-pointer-events, none);
    transition: opacity 250ms ease-in-out;

    .rsbtn_btnlabel {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      border: 0;
    }
  }

  .rsbtn_player_item {
    background-color: var(--denhaag-readspeaker-button-background-color);
    border: 1px solid var(--denhaag-readspeaker-border-color);
    color: var(--denhaag-readspeaker-color);
    display: grid;
    place-items: center;

    position: relative;
    height: var(--denhaag-readspeaker-height);
    width: var(--denhaag-readspeaker-button-width);

    &:last-of-type {
      border-radius: 0 var(--denhaag-readspeaker-border-radius) var(--denhaag-readspeaker-border-radius) 0;
    }

    &:hover {
      --denhaag-readspeaker-color: var(--denhaag-readspeaker-hover-color);
      --denhaag-readspeaker-button-background-color: var(--denhaag-readspeaker-hover-button-background-color);
      --denhaag-readspeaker-border-color: var(--denhaag-readspeaker-hover-button-border-color);
    }

    &:active,
    &:focus {
      --denhaag-readspeaker-color: var(--denhaag-readspeaker-active-color);
      --denhaag-readspeaker-button-background-color: var(--denhaag-readspeaker-active-button-background-color);
      --denhaag-readspeaker-border-color: var(--denhaag-readspeaker-active-button-border-color);
    }

    &:focus-visible {
      --denhaag-readspeaker-color: var(--denhaag-readspeaker-focus-color);
      --denhaag-readspeaker-button-background-color: var(--denhaag-readspeaker-focus-button-background-color);
      --denhaag-readspeaker-border-color: var(--denhaag-readspeaker-focus-button-border-color);

      outline: var(--denhaag-readspeaker-focus-outline);
      z-index: 1;
    }

    &[aria-expanded="true"] + .rsbtn_dropdown {
      --denhaag-readspeaker-dropdown-display: block;
    }

    & ~ .rsbtn_player_item {
      border-left: 0;

      &:hover {
        box-shadow: -1px 0px 0 0px var(--denhaag-readspeaker-border-color);
      }

      &:focus-visible {
        border-left: 1px solid var(--denhaag-readspeaker-border-color);
      }
    }
  }

  .rsbtn_dropdown {
    position: absolute;
    background: var(--denhaag-readspeaker-background-color);
    border: 1px solid var(--denhaag-readspeaker-border-color);
    border-radius: var(--denhaag-readspeaker-border-radius);
    box-sizing: content-box;
    font-size: var(--denhaag-readspeaker-dropdown-font-size);
    padding: 0.33em;
    height: 5.5em;
    width: var(--denhaag-readspeaker-button-width);
    top: calc(var(--denhaag-readspeaker-height) + 4px);
  }

  .rs-slider {
    font-size: var(--denhaag-readspeaker-dropdown-font-size);
  }

  .rs-slider.horizontal {
    -webkit-appearance: slider-horizontal;
  }

  .rs-slider.vertical {
    padding: 0;
    transform-origin: left center;
    width: 5em;
    transform: rotate(270deg) translateX(-5em) translateY(0.75em);
    -webkit-appearance: slider-vertical;
  }

  .rs-slider.vertical.has-datalist {
    transform: rotate(270deg) translateX(-4.75em) translateY(0.75em);
    -webkit-appearance: slider-horizontal;
  }

  .rsbtn_play {
    background-color: var(--denhaag-readspeaker-button-background-color);
    border: 1px solid var(--denhaag-readspeaker-border-color);
    border-radius: 0 var(--denhaag-readspeaker-border-radius) var(--denhaag-readspeaker-border-radius) 0;
    color: var(--denhaag-readspeaker-color);
    height: auto;
    padding-block: var(--denhaag-readspeaker-toggle-padding-block);
    padding-inline: var(--denhaag-readspeaker-toggle-padding-inline);
    text-decoration: none;

    &:hover {
      --denhaag-readspeaker-color: var(--denhaag-readspeaker-hover-color);
      --denhaag-readspeaker-button-background-color: var(--denhaag-readspeaker-hover-button-background-color);
      --denhaag-readspeaker-border-color: var(--denhaag-readspeaker-hover-button-border-color);
    }

    &:active,
    &:focus {
      --denhaag-readspeaker-color: var(--denhaag-readspeaker-active-color);
      --denhaag-readspeaker-button-background-color: var(--denhaag-readspeaker-active-button-background-color);
      --denhaag-readspeaker-border-color: var(--denhaag-readspeaker-active-button-border-color);
    }

    &:focus-visible {
      --denhaag-readspeaker-color: var(--denhaag-readspeaker-focus-color);
      --denhaag-readspeaker-button-background-color: var(--denhaag-readspeaker-focus-button-background-color);
      --denhaag-readspeaker-border-color: var(--denhaag-readspeaker-focus-button-border-color);

      outline: var(--denhaag-readspeaker-focus-outline);
      z-index: 1;
    }
  }

  .rsbtn_play .rsbtn_text {
    display: var(--denhaag-readspeaker-listen-text-display);
    gap: var(--denhaag-readspeaker-listen-text-gap);
  }

  &.rsexpanded .rsbtn_play {
    border-right: var(--denhaag-readspeaker-rsexpanded-border-right);
    border-radius: var(--denhaag-readspeaker-rsexpanded-border-radius);

    &:hover {
      box-shadow: inset -1px 0px 0 0px var(--denhaag-readspeaker-border-color);
    }
  }

  .rsbtn_tooltoggle {
    background-color: var(--denhaag-readspeaker-button-background-color);
    border: 1px solid var(--denhaag-readspeaker-border-color);
    border-right: 0;
    border-radius: var(--denhaag-readspeaker-border-radius) 0 0 var(--denhaag-readspeaker-border-radius);
    color: var(--denhaag-readspeaker-color);
    display: grid !important;
    place-items: center;
    position: relative;
    height: var(--denhaag-readspeaker-height);
    width: var(--denhaag-readspeaker-button-width);

    &:hover {
      --denhaag-readspeaker-color: var(--denhaag-readspeaker-hover-color);
      --denhaag-readspeaker-button-background-color: var(--denhaag-readspeaker-hover-button-background-color);
      --denhaag-readspeaker-border-color: var(--denhaag-readspeaker-hover-button-border-color);

      box-shadow: 1px 0 0 0 var(--denhaag-readspeaker-border-color);
    }

    &:active,
    &:focus {
      --denhaag-readspeaker-color: var(--denhaag-readspeaker-active-color);
      --denhaag-readspeaker-button-background-color: var(--denhaag-readspeaker-active-button-background-color);
      --denhaag-readspeaker-border-color: var(--denhaag-readspeaker-active-button-border-color);
    }

    &:focus-visible {
      --denhaag-readspeaker-color: var(--denhaag-readspeaker-focus-color);
      --denhaag-readspeaker-button-background-color: var(--denhaag-readspeaker-focus-button-background-color);
      --denhaag-readspeaker-border-color: var(--denhaag-readspeaker-focus-button-border-color);

      outline: var(--denhaag-readspeaker-focus-outline);
      border-right: 1px solid var(--denhaag-readspeaker-border-color);
      z-index: 1;
    }

    .rsicn {
      @include readspeaker-icon-styles(var(--denhaag-readspeaker-icons-hamburger));
    }
  }

  // Buttons
  @each $icon,
    $path
      in (
        "pause": var(--denhaag-readspeaker-icons-pause),
        "play": var(--denhaag-readspeaker-icons-play),
        "speed": var(--denhaag-readspeaker-icons-speed),
        "closer": var(--denhaag-readspeaker-icons-close),
        "forward": var(--denhaag-readspeaker-icons-forward),
        "rewind": var(--denhaag-readspeaker-icons-rewind),
        "volume": var(--denhaag-readspeaker-icons-volume),
        "stop": var(--denhaag-readspeaker-icons-stop)
      )
  {
    .rsbtn_#{$icon} .rsicn {
      @include readspeaker-icon-styles($path);
    }
  }

  .rsbtn_pause[data-rslang="title/arialabel:pause"] .rsicn {
    @include readspeaker-icon-styles(
      'path("M9 6C9.55228 6 10 6.44772 10 7V17C10 17.5523 9.55228 18 9 18C8.44772 18 8 17.5523 8 17V7C8 6.44772 8.44772 6 9 6ZM15 6C15.5523 6 16 6.44772 16 7V17C16 17.5523 15.5523 18 15 18C14.4477 18 14 17.5523 14 17V7C14 6.44772 14.4477 6 15 6Z")'
    );
  }

  .rsbtn_status_overlay {
    align-items: center;
    background-color: var(--denhaag-readspeaker-status-background-color);
    height: var(--denhaag-readspeaker-height);
    justify-content: space-around;
  }

  &.rsexpanded .rsbtn_status_overlay {
    left: 0;
    position: absolute;
    right: var(--denhaag-readspeaker-button-width);
  }

  .rsbtn_status {
    font-family: var(--denhaag-readspeaker-font-family);
    font-weight: var(--denhaag-readspeaker-font-weight);
    font-size: var(--denhaag-readspeaker-status-font-size);
  }

  .rsbtn_loaderror {
    color: var(--denhaag-readspeaker-status-error-color);
  }

  .rsbtn_exp {
    position: relative;
  }

  // Progress indicator.
  .rs-player-loadindicator {
    background-color: var(--denhaag-readspeaker-indicator-background-color);
    height: var(--denhaag-readspeaker-indicator-height);
    left: calc(
      0px - (var(--denhaag-readspeaker-playbtn-width, 0px) + var(--denhaag-readspeaker-button-width))
    ) !important;
    width: calc(100% + (var(--denhaag-readspeaker-playbtn-width, 0px) + var(--denhaag-readspeaker-button-width)));
    top: calc(0px - (var(--denhaag-readspeaker-indicator-height) + var(--denhaag-readspeaker-indicator-gap)));
    position: absolute;
  }

  .rsbtn-loading,
  .rsbtn-progress {
    background-color: var(--denhaag-readspeaker-progress-background-color);
    height: 100%;
    left: 0;
    position: absolute;
    transition: width 100ms linear;
  }

  .rsbtn-loading {
    animation-duration: 2500ms;
    animation-iteration-count: infinite;
    animation-name: loading-denhaag-readspeaker;
    width: 20%;
  }

  .rs-slider-label {
    background: var(--denhaag-readspeaker-slider-label-background-color);
    border-radius: var(--denhaag-readspeaker-border-radius);
    color: var(--denhaag-readspeaker-slider-label-color);
    font-family: var(--denhaag-readspeaker-font-family);
    font-weight: var(--denhaag-readspeaker-font-weight);
    font-size: var(--denhaag-readspeaker-slider-label-font-size);
    padding-inline: 12px;
    padding-block: 8px;
    position: absolute;
    white-space: nowrap;

    // Overwrite JS values.
    top: 0 !important;
    transform: none !important;
  }

  .rsbtn_toolpanel {
    position: absolute;
    top: calc(var(--denhaag-readspeaker-height) + 2px);
  }

  .rsbtn_tools_inner {
    background-color: var(--denhaag-readspeaker-background-color);
    border: 1px solid var(--denhaag-readspeaker-border-color);
    border-radius: var(--denhaag-readspeaker-border-radius);
    display: var(--denhaag-readspeaker-dropdown-display);
    flex-direction: var(--denhaag-readspeaker-dropdown-flex-direction);
    max-width: var(--denhaag-readspeaker-dropdown-max-width);
  }

  .rsbtn_toollist {
    list-style: none;
    margin-block: 0;
    padding-inline-start: 0;

    li + li {
      border-top: 1px solid var(--denhaag-readspeaker-border-color);
    }
  }

  .rsbtn_powered {
    padding-inline: var(--denhaag-readspeaker-dropdown-menu-item-padding-inline);
    padding-block: var(--denhaag-readspeaker-dropdown-menu-item-padding-block);
    border-bottom: 2px solid var(--denhaag-readspeaker-border-color);
    font-size: var(--denhaag-readspeaker-poweredby-font-size);
    text-transform: var(--denhaag-readspeaker-poweredby-text-transform);
  }

  .rsbtn_tool {
    display: flex;
    gap: var(--denhaag-readspeaker-dropdown-menu-item-gap);
    padding-inline: var(--denhaag-readspeaker-dropdown-menu-item-padding-inline);
    padding-block: var(--denhaag-readspeaker-dropdown-menu-item-padding-block);
    width: var(--denhaag-readspeaker-dropdown-menu-item-width);
    outline: var(--denhaag-readspeaker-dropdown-menu-item-outline);
    border: var(--denhaag-readspeaker-dropdown-menu-item-border);
    flex-direction: var(--denhaag-readspeaker-dropdown-menu-item-flex-direction);
    background-color: var(--denhaag-readspeaker-dropdown-menu-item-background-color);
    align-items: var(--denhaag-readspeaker-dropdown-menu-item-align-items);
    justify-content: var(--denhaag-readspeaker-dropdown-menu-item-justify-content);

    [aria-hidden="true"] {
      display: none;
    }

    &:focus-visible {
      outline: var(--denhaag-readspeaker-focus-outline);
    }

    &:hover {
      color: var(--denhaag-readspeaker-tool-hover-color);
      cursor: var(--denhaag-readspeaker-tool-hover-cursor);
    }
  }

  .rsbtn_tool_help {
    display: none;
  }

  .rsbtn_toolcontainer {
    order: 1;
  }

  .rs_minitoggler {
    --denhaag-readspeaker-switch-dot-left: calc(
      (var(--denhaag-readspeaker-switch-height) - var(--denhaag-readspeaker-switch-size)) / 2
    );

    display: inline-block;
    position: relative;
    background-color: var(--denhaag-readspeaker-switch-background-color);
    border-radius: var(--denhaag-readspeaker-switch-height);
    color: var(--denhaag-readspeaker-switch-color);
    height: var(--denhaag-readspeaker-switch-height);
    width: var(--denhaag-readspeaker-switch-width);
    font-size: 0;

    &:hover {
      --denhaag-readspeaker-switch-background-color: var(--denhaag-readspeaker-switch-hover-background-color);
    }

    &:focus-visible {
      --denhaag-readspeaker-switch-background-color: var(--denhaag-readspeaker-switch-focus-background-color);
    }

    &:disabled,
    &.disabled {
      --denhaag-readspeaker-switch-background-color: var(--denhaag-readspeaker-switch-disabled-background-color);
    }

    &:before {
      aspect-ratio: 1;
      background-color: currentColor;
      border-radius: var(--denhaag-readspeaker-switch-size);
      content: "";
      display: block;
      height: auto;
      width: var(--denhaag-readspeaker-switch-size);
      top: calc((var(--denhaag-readspeaker-switch-height) - var(--denhaag-readspeaker-switch-size)) / 2);
      position: absolute;
      left: var(--denhaag-readspeaker-switch-dot-left);
      transition: left 375ms ease-in-out;
    }
  }

  .active > .rs_minitoggler {
    --denhaag-readspeaker-switch-background-color: var(--denhaag-readspeaker-switch-active-background-color);
    --denhaag-readspeaker-switch-dot-left: calc(
      (var(--denhaag-readspeaker-switch-width) - var(--denhaag-readspeaker-switch-size)) -
        ((var(--denhaag-readspeaker-switch-height) - var(--denhaag-readspeaker-switch-size)) / 2)
    );

    &:hover {
      --denhaag-readspeaker-switch-background-color: var(--denhaag-readspeaker-switch-active-hover-background-color);
    }

    &:focus-visible {
      --denhaag-readspeaker-switch-background-color: var(--denhaag-readspeaker-switch-active-focus-background-color);
    }

    &:disabled,
    &.disabled {
      --denhaag-readspeaker-switch-background-color: var(--denhaag-readspeaker-switch-active-disabled-background-color);
    }
  }
}

#rs-dialog,
#rs-dialog-fullscreen {
  nav {
    button {
      @each $icon,
        $path
          in (
            "play": var(--denhaag-readspeaker-icons-play),
            "pause": var(--denhaag-readspeaker-icons-pause),
            "speed": var(--denhaag-readspeaker-icons-speed),
            "closer": var(--denhaag-readspeaker-icons-close),
            "forward": var(--denhaag-readspeaker-icons-forward),
            "rewind": var(--denhaag-readspeaker-icons-rewind),
            "volume": var(--denhaag-readspeaker-icons-volume),
            "stop": var(--denhaag-readspeaker-icons-stop),
            "shift": var(--denhaag-readspeaker-icons-shift),
            "control": var(--denhaag-readspeaker-icons-control),
            "option": var(--denhaag-readspeaker-icons-option),
            "help": var(--denhaag-readspeaker-icons-help),
            "command": var(--denhaag-readspeaker-icons-command),
            "font-minus": var(--denhaag-readspeaker-icons-font-minus),
            "font-plus": var(--denhaag-readspeaker-icons-font-plus),
            "font-settings": var(--denhaag-readspeaker-icons-font-settings),
            "settings": var(--denhaag-readspeaker-icons-settings),
            "pagemask": var(--denhaag-readspeaker-icons-pagemask),
            "dictionary": var(--denhaag-readspeaker-icons-dictionary)
          )
      {
        &.rsicn-#{$icon}::after {
          @include readspeaker-icon-styles($path);
        }
      }

      &.rsicn-play[data-rslang="title/arialabel:pause"]::after {
        @include readspeaker-icon-styles(
          'path("M9 6C9.55228 6 10 6.44772 10 7V17C10 17.5523 9.55228 18 9 18C8.44772 18 8 17.5523 8 17V7C8 6.44772 8.44772 6 9 6ZM15 6C15.5523 6 16 6.44772 16 7V17C16 17.5523 15.5523 18 15 18C14.4477 18 14 17.5523 14 17V7C14 6.44772 14.4477 6 15 6Z")'
        );
      }

      &.rsicn-font-minus::after {
        @include readspeaker-icon-styles(var(--denhaag-readspeaker-icons-font-minus));
      }
      &.rsicn-font-plus::after {
        @include readspeaker-icon-styles(var(--denhaag-readspeaker-icons-font-plus));
      }
      &.rsicn-text-settings {
        display: none !important;
      }
      &.rs-dialog-fullscreen::after {
        @include readspeaker-icon-styles(var(--denhaag-readspeaker-icons-expand));
      }
      &.rsicn-cross::after {
        @include readspeaker-icon-styles(var(--denhaag-readspeaker-icons-close));
      }
    }
  }
}

// Dialog general settings
dialog#rs-dialog {
  border: var(--denhaag-readspeaker-dialog-border) !important;
  border-color: var(--denhaag-readspeaker-dialog-border-color) !important;
  width: var(--denhaag-readspeaker-dialog-size-width) !important;
  max-width: var(--denhaag-readspeaker-dialog-size-max-width) !important;
  font-family: var(--denhaag-readspeaker-font-family);
  font-weight: var(--denhaag-readspeaker-font-weight);
  font-size: var(--denhaag-readspeaker-font-size);

  .rs-dialog-resize {
    display: none !important;
  }

  p,
  span,
  label:not([data-rslang="content:settings"]) {
    font-size: var(--denhaag-readspeaker-dialog-font-sizes-paragraph);
  }

  label[data-rslang="content:settings"] {
    font-size: var(--denhaag-readspeaker-dialog-font-sizes-title);
    margin-bottom: var(--denhaag-readspeaker-dialog-font-margins-title);
  }

  h1,
  h2,
  h3,
  h4 {
    font-size: var(--denhaag-readspeaker-dialog-font-sizes-heading);
  }
}

// Readspeaker Settings Dialog
#rs-dialog[data-mode="settings"],
#rs-dialog-fullscreen[data-mode="settings"] {
  position: var(--denhaag-readspeaker-settings-dialog-position);
  padding-inline: var(--denhaag-readspeaker-settings-dialog-padding-inline);
  padding-block: var(--denhaag-readspeaker-settings-dialog-padding-block);

  .rs_splitbutton-container {
    display: none;
  }

  .rs-pref-header {
    font-size: var(--denhaag-readspeaker-dialog-font-sizes-heading) !important;
  }

  > nav {
    position: var(--denhaag-readspeaker-settings-dialog-menu-position);
    top: var(--denhaag-readspeaker-settings-dialog-menu-position-top);
    background-color: var(--denhaag-readspeaker-settings-dialog-menu-background-color);

    ul {
      list-style-type: var(--denhaag-readspeaker-settings-dialog-menu-list-style-type);
      padding-inline-start: var(--denhaag-readspeaker-settings-dialog-menu-padding-inline-start);
      margin-block: var(--denhaag-readspeaker-settings-dialog-menu-margin-block);

      li {
        padding-block: var(--denhaag-readspeaker-settings-dialog-menu-item-padding-block);
        padding-inline: var(--denhaag-readspeaker-settings-dialog-menu-item-padding-inline);
        display: flex;
        align-items: center;
        color: var(--denhaag-readspeaker-settings-dialog-menu-item-color);

        &.active {
          background-color: var(--denhaag-readspeaker-settings-dialog-menu-item-active-background-color);
        }
        &:hover {
          background-color: var(--denhaag-readspeaker-settings-dialog-menu-item-active-background-color);
          cursor: var(--denhaag-readspeaker-hover-cursor);
        }
        label {
          font-size: var(--denhaag-readspeaker-settings-dialog-menu-item-typography-font-size);
          line-height: var(--denhaag-readspeaker-settings-dialog-menu-item-typography-line-height);
          font-weight: var(--denhaag-readspeaker-settings-dialog-menu-item-typography-font-weight);
          pointer-events: var(--denhaag-readspeaker-settings-dialog-menu-item-typography-pointer-events);
        }
      }
    }

    .label-toggler {
      display: none;
    }
  }

  // Dialog close button top right
  .buttons-close {
    position: var(--denhaag-readspeaker-dialog-close-button-position);
    width: var(--denhaag-readspeaker-dialog-close-button-width);
    height: var(--denhaag-readspeaker-dialog-close-button-height);
    top: var(--denhaag-readspeaker-dialog-close-button-top);
    right: var(--denhaag-readspeaker-dialog-close-button-right);
    background: var(--denhaag-readspeaker-dialog-close-button-background);
    border: var(--denhaag-readspeaker-dialog-close-button-border);
    outline: var(--denhaag-readspeaker-dialog-close-button-outline);
    overflow: var(--denhaag-readspeaker-dialog-close-button-overflow);
    cursor: var(--denhaag-readspeaker-dialog-close-button-cursor);
    &::after {
      @include readspeaker-icon-styles(var(--denhaag-readspeaker-icons-close));
      position: var(--denhaag-readspeaker-dialog-close-button-icon-position);
      top: var(--denhaag-readspeaker-dialog-close-button-icon-top);
      right: var(--denhaag-readspeaker-dialog-close-button-icon-right);
    }

    label {
      display: none;
    }
  }

  // Dialog resize arrows
  .rs-dialog-resize {
    display: none;
  }

  #rs-dialog-main {
    padding-block: var(--denhaag-readspeaker-dialog-main-content-padding-block);
    padding-inline: var(--denhaag-readspeaker-dialog-main-content-padding-inline);

    header {
      padding-bottom: 0;

      h1 {
        margin-top: 0;
      }

      // Text version header buttons
      nav {
        display: flex;
        button {
          background-color: var(--denhaag-readspeaker-button-background-color);
          border: 1px solid var(--denhaag-readspeaker-border-color);
          color: var(--denhaag-readspeaker-color);
          display: grid;
          place-items: center;

          position: relative;
          height: var(--denhaag-readspeaker-height);
          width: var(--denhaag-readspeaker-button-width);

          &:last-of-type {
            border-radius: 0 var(--denhaag-readspeaker-border-radius) var(--denhaag-readspeaker-border-radius) 0;
          }

          &:hover {
            --denhaag-readspeaker-color: var(--denhaag-readspeaker-hover-color);
            --denhaag-readspeaker-button-background-color: var(--denhaag-readspeaker-hover-button-background-color);
            --denhaag-readspeaker-border-color: var(--denhaag-readspeaker-hover-button-border-color);
          }

          &:active,
          &:focus {
            --denhaag-readspeaker-color: var(--denhaag-readspeaker-active-color);
            --denhaag-readspeaker-button-background-color: var(--denhaag-readspeaker-active-button-background-color);
            --denhaag-readspeaker-border-color: var(--denhaag-readspeaker-active-button-border-color);
          }

          &:focus-visible {
            --denhaag-readspeaker-color: var(--denhaag-readspeaker-focus-color);
            --denhaag-readspeaker-button-background-color: var(--denhaag-readspeaker-focus-button-background-color);
            --denhaag-readspeaker-border-color: var(--denhaag-readspeaker-focus-button-border-color);

            outline: var(--denhaag-readspeaker-focus-outline);
            z-index: 1;
          }

          &[aria-expanded="true"] + .rsbtn_dropdown {
            --denhaag-readspeaker-dropdown-display: block;
          }

          & ~ .rsbtn_player_item {
            border-left: 0;

            &:hover {
              box-shadow: -1px 0px 0 0px var(--denhaag-readspeaker-border-color);
            }

            &:focus-visible {
              border-left: 1px solid var(--denhaag-readspeaker-border-color);
            }
          }
        }
      }
    }

    #rs-dialog-contents {
      h1,
      h2,
      h3,
      h4,
      legend {
        font-size: var(--denhaag-readspeaker-dialog-font-sizes-paragraph);
      }

      // Inputs
      select {
        // Tokens not working
        position: var(--denhaag-readspeaker-settings-dialog-inputs-dropdown-position);
        min-height: var(--denhaag-readspeaker-settings-dialog-inputs-dropdown-min-height);
        padding-block: var(--denhaag-readspeaker-settings-dialog-inputs-dropdown-padding-block);
        padding-inline: var(--denhaag-readspeaker-settings-dialog-inputs-dropdown-padding-inline);
        border-radius: var(--denhaag-readspeaker-settings-dialog-inputs-dropdown-border-radius);
        border-color: var(--denhaag-readspeaker-settings-dialog-inputs-dropdown-bordercolor);
        min-width: var(--denhaag-readspeaker-settings-dialog-inputs-dropdown-min-width);
        height: var(--denhaag-readspeaker-settings-dialog-inputs-dropdown-height);
        font-size: var(--denhaag-readspeaker-settings-dialog-inputs-dropdown-font-size);
        line-height: var(--denhaag-readspeaker-settings-dialog-inputs-dropdown-line-height);
      }

      // Sections within the content
      fieldset {
        padding: 0;
        margin-inline: var(--denhaag-readspeaker-settings-dialog-fieldset-margin-inline);
        margin-block: var(--denhaag-readspeaker-settings-dialog-fieldset-margin-block);
        border: none;

        .rs-pref {
          font-size: var(--denhaag-readspeaker-dialog-font-sizes-paragraph);
          &.dimmed {
            display: none;
          }

          &.no-legend {
            margin-top: 40px;
          }
        }

        label.rs-pref-header,
        legend.rs-pref-header {
          margin-top: 6px;
          margin-bottom: 6px !important;
          font-weight: 600;
        }

        // Fieldset inputs
        .rs-pref-option {
          // Fieldset label

          display: flex;
          flex-direction: row-reverse;
          justify-content: flex-end;
          align-items: center;

          input[type="number"] {
            width: var(--denhaag-readspeaker-settings-dialog-inputs-number-width);
            height: var(--denhaag-readspeaker-settings-dialog-inputs-number-height);
            margin-inline: var(--denhaag-readspeaker-settings-dialog-inputs-number-margin-inline);
            padding-inline: var(--denhaag-readspeaker-settings-dialog-inputs-number-padding-inline);
            padding-block: var(--denhaag-readspeaker-settings-dialog-inputs-number-padding-block);
            border: var(--denhaag-readspeaker-settings-dialog-inputs-number-border);
            border-color: var(--denhaag-readspeaker-settings-dialog-inputs-number-border-color);
            border-radius: var(--denhaag-readspeaker-settings-dialog-inputs-number-border-radius);
            outline: var(--denhaag-readspeaker-settings-dialog-inputs-number-outline);
            font-size: var(--denhaag-readspeaker-dialog-font-sizes-paragraph);
            text-align: var(--denhaag-readspeaker-settings-dialog-inputs-number-text-align);
            margin-inline: 12px;
          }

          // Radio button
          input[type="radio"] {
            position: var(--denhaag-readspeaker-settings-dialog-inputs-radio-position);
            margin-inline-end: var(--denhaag-readspeaker-settings-dialog-inputs-radio-margin-inline-end);
            margin-block-end: var(--denhaag-readspeaker-settings-dialog-inputs-radio-margin-block-end);
            cursor: var(--denhaag-readspeaker-hover-cursor);

            &::before {
              content: "";
              position: var(--denhaag-readspeaker-settings-dialog-inputs-radio-before-position);
              top: var(--denhaag-readspeaker-settings-dialog-inputs-radio-before-top);
              right: var(--denhaag-readspeaker-settings-dialog-inputs-radio-before-right);
              bottom: var(--denhaag-readspeaker-settings-dialog-inputs-radio-before-bottom);
              left: var(--denhaag-readspeaker-settings-dialog-inputs-radio-before-left);
              border-radius: var(--denhaag-readspeaker-settings-dialog-inputs-radio-before-border-radius);
              width: var(--denhaag-readspeaker-settings-dialog-inputs-radio-before-width);
              height: var(--denhaag-readspeaker-settings-dialog-inputs-radio-before-height);
              border: var(--denhaag-readspeaker-settings-dialog-inputs-radio-before-border);
              border-color: var(--denhaag-readspeaker-settings-dialog-inputs-radio-before-border-color);
              background-color: var(--denhaag-readspeaker-settings-dialog-inputs-radio-before-background-color);
              pointer-events: none;
            }

            &::after {
              content: "";
              position: var(--denhaag-readspeaker-settings-dialog-inputs-radio-after-position);
              top: var(--denhaag-readspeaker-settings-dialog-inputs-radio-after-top);
              right: var(--denhaag-readspeaker-settings-dialog-inputs-radio-after-right);
              bottom: var(--denhaag-readspeaker-settings-dialog-inputs-radio-after-bottom);
              left: var(--denhaag-readspeaker-settings-dialog-inputs-radio-after-left);
              border-radius: var(--denhaag-readspeaker-settings-dialog-inputs-radio-after-border-radius);
              width: var(--denhaag-readspeaker-settings-dialog-inputs-radio-after-width);
              height: var(--denhaag-readspeaker-settings-dialog-inputs-radio-after-height);
              pointer-events: none;
            }

            &:checked {
              &::before {
                border: var(--denhaag-readspeaker-settings-dialog-inputs-radio-before-border);
                border-color: var(--denhaag-readspeaker-settings-dialog-inputs-radio-color);
                background-color: var(--denhaag-readspeaker-settings-dialog-inputs-radio-before-background-color);
              }
              &::after {
                background-color: var(--denhaag-readspeaker-settings-dialog-inputs-radio-color);
                border-color: var(--denhaag-readspeaker-settings-dialog-inputs-radio-color);
              }
            }
          }
        }

        .rs_popupclosetime {
          .rs-pref-option {
            flex-direction: row;
            justify-content: flex-start;
          }
        }

        // Section within a settings container
        .rs-pref {
          position: var(--denhaag-readspeaker-settings-dialog-rs-pref-position);
          margin-inline-end: var(--denhaag-readspeaker-settings-dialog-rs-pref-margin-inline-end);
          padding-block: var(--denhaag-readspeaker-settings-dialog-rs-pref-padding-block);
          padding-inline: var(--denhaag-readspeaker-settings-dialog-rs-pref-padding-inline);

          // Help icon
          .rs-pref-info {
            position: var(--denhaag-readspeaker-settings-dialog-rs-pref-info-position);
            top: var(--denhaag-readspeaker-settings-dialog-rs-pref-info-top);
            right: var(--denhaag-readspeaker-settings-dialog-rs-pref-info-right);
            width: var(--denhaag-readspeaker-settings-dialog-rs-pref-info-width);
            height: var(--denhaag-readspeaker-settings-dialog-rs-pref-info-height);
            background-color: var(--denhaag-readspeaker-settings-dialog-rs-pref-info-background-color);
            border: var(--denhaag-readspeaker-settings-dialog-rs-pref-info-border);
            color: var(--denhaag-readspeaker-settings-dialog-rs-pref-info-color);

            &::after {
              @include readspeaker-icon-styles(var(--denhaag-readspeaker-icons-help));
              position: var(--denhaag-readspeaker-settings-dialog-rs-pref-info-after-position);
              top: var(--denhaag-readspeaker-settings-dialog-rs-pref-info-after-top);
              right: var(--denhaag-readspeaker-settings-dialog-rs-pref-info-after-right);
            }

            &:hover {
              cursor: var(--denhaag-readspeaker-hover-cursor);
              color: var(--denhaag-readspeaker-settings-dialog-shortcuts-background-color);
            }
          }

          // Help icon dialog / tooltip
          aside {
            display: var(--denhaag-readspeaker-settings-dialog-tooltip-display);
            background-color: var(--denhaag-readspeaker-settings-dialog-tooltip-background-color);
            margin-block-start: var(--denhaag-readspeaker-settings-dialog-tooltip-margin-block-start);

            &[aria-expanded="true"] {
              display: flex;
              padding-block: var(--denhaag-readspeaker-settings-dialog-tooltip-padding-block);
              padding-inline: var(--denhaag-readspeaker-settings-dialog-tooltip-padding-inline);
              span,
              p {
                font-size: var(--denhaag-readspeaker-settings-dialog-tooltip-font-size) !important;
              }
            }
          }
        }

        // Color picker
        .rs-pref-colorpicker {
          margin-block-start: var(--denhaag-readspeaker-settings-dialog-inputs-colorpicker-margin-block-start);
          display: var(--denhaag-readspeaker-settings-dialog-inputs-colorpicker-display);
          flex-wrap: var(--denhaag-readspeaker-settings-dialog-inputs-colorpicker-flex-wrap);
          gap: var(--denhaag-readspeaker-settings-dialog-inputs-colorpicker-gap);

          input {
            display: none;
          }

          label.rs-pref-color:not(.underline):not(.none) {
            cursor: var(--denhaag-readspeaker-hover-cursor);
            display: var(--denhaag-readspeaker-settings-dialog-inputs-colorpicker-label-display);
            height: var(--denhaag-readspeaker-settings-dialog-inputs-colorpicker-label-height);
            transition: var(--denhaag-readspeaker-settings-dialog-inputs-colorpicker-label-transition);
            width: var(--denhaag-readspeaker-settings-dialog-inputs-colorpicker-label-width);
            display: var(--denhaag-readspeaker-settings-dialog-inputs-colorpicker-label-display);
            border: var(--denhaag-readspeaker-settings-dialog-inputs-colorpicker-border);
            border-color: var(--denhaag-readspeaker-settings-dialog-inputs-colorpicker-border-color);
            border-radius: var(--denhaag-readspeaker-settings-dialog-inputs-colorpicker-label-border-radius);

            &:last-child {
              &::after {
                width: 100%;
                flex-grow: 1;
              }
            }
          }

          input.rs-pref-color:not(.underline):not(.none):checked + label {
            border: var(--denhaag-readspeaker-settings-dialog-inputs-colorpicker-label-checked-border);
            transform: scale(1.2);
          }

          .underline {
            justify-self: flex-end;
            &:hover {
              cursor: var(--denhaag-readspeaker-hover-cursor);
            }
          }

          .none {
            justify-self: flex-end;
            &:hover {
              cursor: var(--denhaag-readspeaker-hover-cursor);
            }
          }

          .underline:checked + label {
            text-decoration: underline;
          }

          .none:checked + label {
            text-decoration: underline;
          }
        }

        .rs-pref.shortcuts {
          .rs-pref-shortcut {
            display: var(--denhaag-readspeaker-settings-dialog-shortcuts-item-display);
            width: var(--denhaag-readspeaker-settings-dialog-shortcuts-item-width);
            grid-template-columns: var(--denhaag-readspeaker-settings-dialog-shortcuts-item-grid-template-columns);
            gap: var(--denhaag-readspeaker-settings-dialog-shortcuts-item-gap);
            align-items: var(--denhaag-readspeaker-settings-dialog-shortcuts-item-align-items);

            .edit-shortcut {
              min-height: var(--denhaag-readspeaker-settings-dialog-shortcuts-edit-min-height);
              display: var(--denhaag-readspeaker-settings-dialog-shortcuts-edit-display);
              flex-direction: var(--denhaag-readspeaker-settings-dialog-shortcuts-edit-flex-direction);
              align-items: var(--denhaag-readspeaker-settings-dialog-shortcuts-edit-align-items);
              text-transform: var(--denhaag-readspeaker-settings-dialog-shortcuts-edit-text-transform);
              margin-bottom: var(--denhaag-readspeaker-settings-dialog-shortcuts-edit-margin-bottom);
              background-color: var(--denhaag-readspeaker-settings-dialog-shortcuts-edit-background-color);
              border: var(--denhaag-readspeaker-settings-dialog-shortcuts-edit-border);
              outline: var(--denhaag-readspeaker-settings-dialog-shortcuts-edit-outline);
              padding-inline: var(--denhaag-readspeaker-settings-dialog-shortcuts-edit-padding-inline);
              padding-block: var(--denhaag-readspeaker-settings-dialog-shortcuts-edit-padding-block);
              border-radius: var(--denhaag-readspeaker-settings-dialog-shortcuts-edit-border-radius);
              color: var(--denhaag-readspeaker-settings-dialog-shortcuts-edit-color);

              > span {
                width: var(--denhaag-readspeaker-settings-dialog-shortcuts-edit-key-width);
              }

              &.unset {
                opacity: 0;
              }

              &:hover {
                cursor: var(--denhaag-readspeaker-hover-cursor);
                background-color: var(--denhaag-readspeaker-settings-dialog-shortcuts-hover-background-color);
              }
            }

            .shift::before {
              @include readspeaker-icon-styles(var(--denhaag-readspeaker-icons-shift));
            }

            .ctrl::before {
              @include readspeaker-icon-styles(var(--denhaag-readspeaker-icons-control));
            }

            .alt::before {
              @include readspeaker-icon-styles(var(--denhaag-readspeaker-icons-option));
            }

            .clear-shortcut {
              position: var(--denhaag-readspeaker-settings-dialog-shortcuts-clear-position);
              background: var(--denhaag-readspeaker-settings-dialog-shortcuts-clear-background);
              border: var(--denhaag-readspeaker-settings-dialog-shortcuts-clear-border);
              width: var(--denhaag-readspeaker-settings-dialog-shortcuts-clear-width);
              height: var(--denhaag-readspeaker-settings-dialog-shortcuts-clear-height);

              cursor: var(--denhaag-readspeaker-hover-cursor);
              &::after {
                position: var(--denhaag-readspeaker-settings-dialog-shortcuts-clear-after-position);
                top: var(--denhaag-readspeaker-settings-dialog-shortcuts-clear-after-top);
                left: var(--denhaag-readspeaker-settings-dialog-shortcuts-clear-after-left);
                @include readspeaker-icon-styles(var(--denhaag-readspeaker-icons-close));
              }
            }
          }
        }

        .rs-restore-options {
          > div {
            margin-block: var(--denhaag-readspeaker-settings-dialog-restore-item-margin-block);
          }
          input[type="checkbox"] {
            position: var(--denhaag-readspeaker-settings-dialog-restore-item-checkbox-position);
            margin-inline-end: var(--denhaag-readspeaker-settings-dialog-restore-item-checkbox-margin-inline-end);

            &::after {
              content: "";
              position: var(--denhaag-readspeaker-settings-dialog-restore-item-checkbox-after-position);
              top: var(--denhaag-readspeaker-settings-dialog-restore-item-checkbox-after-top);
              right: var(--denhaag-readspeaker-settings-dialog-restore-item-checkbox-after-right);
              bottom: var(--denhaag-readspeaker-settings-dialog-restore-item-checkbox-after-bottom);
              left: var(--denhaag-readspeaker-settings-dialog-restore-item-checkbox-after-left);
              width: var(--denhaag-readspeaker-settings-dialog-restore-item-checkbox-after-width);
              height: var(--denhaag-readspeaker-settings-dialog-restore-item-checkbox-after-height);
              padding: var(--denhaag-readspeaker-settings-dialog-restore-item-checkbox-after-padding);
              border-radius: var(--denhaag-readspeaker-settings-dialog-restore-item-checkbox-after-border-radius);
              background-color: var(--denhaag-readspeaker-settings-dialog-restore-item-checkbox-after-background-color);
              border: var(--denhaag-readspeaker-settings-dialog-restore-item-checkbox-after-border);
              border-color: var(--denhaag-readspeaker-settings-dialog-shortcuts-background-color);
            }

            &:hover {
              &::after {
                border-color: var(--denhaag-readspeaker-settings-dialog-shortcuts-background-color);
                cursor: var(--denhaag-readspeaker-hover-cursor);
              }
            }

            &:checked {
              &::after {
                content: "\2714";
                color: var(--denhaag-readspeaker-settings-dialog-restore-item-checkbox-after-checked-color);
                background-color: var(
                  --denhaag-readspeaker-settings-dialog-restore-item-checkbox-after-checked-background-color
                );
              }
            }
          }
        }

        .rs-pref-button {
          background-color: var(--denhaag-readspeaker-settings-dialog-pref-button-background-color);
          color: var(--denhaag-readspeaker-settings-dialog-pref-button-color);
          min-height: var(--denhaag-readspeaker-settings-dialog-pref-button-min-height);
          display: var(--denhaag-readspeaker-settings-dialog-pref-button-display);
          flex-direction: var(--denhaag-readspeaker-settings-dialog-pref-button-flex-direction);
          justify-content: var(--denhaag-readspeaker-settings-dialog-pref-button-justify-content);
          margin-block: var(--denhaag-readspeaker-settings-dialog-pref-button-margin-block);
          border: var(--denhaag-readspeaker-settings-dialog-pref-button-border);
          border-radius: var(--denhaag-readspeaker-settings-dialog-pref-button-border-radius);
          outline: var(--denhaag-readspeaker-settings-dialog-pref-button-outline);
          padding-block: var(--denhaag-readspeaker-settings-dialog-pref-button-padding-block);
          font-size: var(--denhaag-readspeaker-settings-dialog-pref-button-font-size);
          padding-inline: var(--denhaag-readspeaker-settings-dialog-pref-button-padding-inline);

          &:hover {
            cursor: var(--denhaag-readspeaker-hover-cursor);
            background-color: var(--denhaag-readspeaker-settings-dialog-shortcuts-hover-background-color);
          }
        }
        #restore-log {
          display: none;
        }
      }
    }
  }
}

// Readspeaker Text version dialog
#rs-dialog[data-mode="textmode"],
#rs-dialog-fullscreen[data-mode="textmode"],
#rs-dialog[data-mode="download"],
#rs-dialog-fullscreen[data-mode="download"] {
  position: var(--denhaag-readspeaker-text-dialog-position);
  width: var(--denhaag-readspeaker-text-dialog-width);
  max-width: var(--denhaag-readspeaker-text-dialog-max-width);
  padding-inline: var(--denhaag-readspeaker-text-dialog-padding-inline);
  padding-block: var(--denhaag-readspeaker-text-dialog-padding-block);
  border: var(--denhaag-readspeaker-text-dialog-border);
  border-color: var(--denhaag-readspeaker-text-dialog-border-color);

  #rs-dialog-contents {
    height: auto !important;
  }

  #rs-dialog-player {
    display: none;
  }

  footer {
    nav {
      .buttons-close {
        display: none;
      }
    }
  }

  .rs-dialog-grabbable {
    display: var(--denhaag-readspeaker-text-dialog-content-display);
    flex-direction: var(--denhaag-readspeaker-text-dialog-content-flex-direction);
    align-items: var(--denhaag-readspeaker-text-dialog-content-align-items);
  }

  header {
    display: var(--denhaag-readspeaker-text-dialog-conten-display);
    justify-content: var(--denhaag-readspeaker-text-dialog-conten-justify-content);
    align-items: var(--denhaag-readspeaker-text-dialog-conten-align-items);

    // Text version header buttons
    nav {
      display: flex;
      button {
        background-color: var(--denhaag-readspeaker-button-background-color);
        border: 1px solid var(--denhaag-readspeaker-border-color);
        color: var(--denhaag-readspeaker-color);
        display: grid;
        place-items: center;

        position: relative;
        height: var(--denhaag-readspeaker-height);
        width: var(--denhaag-readspeaker-button-width);

        &:last-of-type {
          border-radius: 0 var(--denhaag-readspeaker-border-radius) var(--denhaag-readspeaker-border-radius) 0;
        }

        &:hover {
          --denhaag-readspeaker-color: var(--denhaag-readspeaker-hover-color);
          --denhaag-readspeaker-button-background-color: var(--denhaag-readspeaker-hover-button-background-color);
          --denhaag-readspeaker-border-color: var(--denhaag-readspeaker-hover-button-border-color);
        }

        &:active,
        &:focus {
          --denhaag-readspeaker-color: var(--denhaag-readspeaker-active-color);
          --denhaag-readspeaker-button-background-color: var(--denhaag-readspeaker-active-button-background-color);
          --denhaag-readspeaker-border-color: var(--denhaag-readspeaker-active-button-border-color);
        }

        &:focus-visible {
          --denhaag-readspeaker-color: var(--denhaag-readspeaker-focus-color);
          --denhaag-readspeaker-button-background-color: var(--denhaag-readspeaker-focus-button-background-color);
          --denhaag-readspeaker-border-color: var(--denhaag-readspeaker-focus-button-border-color);

          outline: var(--denhaag-readspeaker-focus-outline);
          z-index: 1;
        }

        &[aria-expanded="true"] + .rsbtn_dropdown {
          --denhaag-readspeaker-dropdown-display: block;
        }

        & ~ .rsbtn_player_item {
          border-left: 0;

          &:hover {
            box-shadow: -1px 0px 0 0px var(--denhaag-readspeaker-border-color);
          }

          &:focus-visible {
            border-left: 1px solid var(--denhaag-readspeaker-border-color);
          }
        }
      }
    }
  }
}

#rs-dialog[data-mode="download"],
#rs-dialog-fullscreen[data-mode="download"] {
  footer {
    nav {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 24px;

      button {
        background-color: var(--denhaag-readspeaker-settings-dialog-pref-button-background-color);
        color: var(--denhaag-readspeaker-settings-dialog-pref-button-color);
        min-height: var(--denhaag-readspeaker-settings-dialog-pref-button-min-height);
        display: var(--denhaag-readspeaker-settings-dialog-pref-button-display);
        flex-direction: var(--denhaag-readspeaker-settings-dialog-pref-button-flex-direction);
        justify-content: var(--denhaag-readspeaker-settings-dialog-pref-button-justify-content);
        margin-block: var(--denhaag-readspeaker-settings-dialog-pref-button-margin-block);
        border: var(--denhaag-readspeaker-settings-dialog-pref-button-border);
        border-radius: var(--denhaag-readspeaker-settings-dialog-pref-button-border-radius);
        outline: var(--denhaag-readspeaker-settings-dialog-pref-button-outline);
        padding-block: var(--denhaag-readspeaker-settings-dialog-pref-button-padding-block);
        font-size: var(--denhaag-readspeaker-settings-dialog-pref-button-font-size);
        padding-inline: var(--denhaag-readspeaker-settings-dialog-pref-button-padding-inline);
        cursor: pointer;
        &::after {
          display: none;
        }
      }

      .rs-dialog-resize {
        display: none;
      }
    }
  }
}

.denhaag-readspeaker--initialized {
  --denhaag-readspeaker-opacity: 100%;
}

.denhaag-readspeaker--icons {
  position: var(--denhaag-readspeaker-icons-position-position);
  width: var(--denhaag-readspeaker-icons-position-width);
  height: var(--denhaag-readspeaker-icons-position-height);
  padding-block: var(--denhaag-readspeaker-icons-position-padding-block);
  padding-inline: var(--denhaag-readspeaker-icons-position-padding-inline);
  margin-block: var(--denhaag-readspeaker-icons-position-margin-block);
  margin-inline: var(--denhaag-readspeaker-icons-position-margin-inline);
  overflow: var(--denhaag-readspeaker-icons-position-overflow);
  clip: var(--denhaag-readspeaker-icons-position-clip);
  rect: var(--denhaag-readspeaker-icons-position-rect);
}

@keyframes loading-denhaag-readspeaker {
  0% {
    left: 0;
  }

  50% {
    left: 80%;
  }

  100% {
    left: 0;
  }
}

.rs-dialog-slider-dropdown {
  border: var(--denhaag-readspeaker-settings-dialog-inputs-slider-border);
  min-width: var(--denhaag-readspeaker-settings-dialog-inputs-slider-min-width) !important;
  border-radius: var(--denhaag-readspeaker-settings-dialog-inputs-slider-border-radius);
}

// Mobile & responsive version
#rsmpl_container {
  position: var(--denhaag-readspeaker-mobile-position);
  bottom: var(--denhaag-readspeaker-mobile-bottom);
  transform: var(--denhaag-readspeaker-mobile-transform);
  transition: var(--denhaag-readspeaker-mobile-transition);
  width: calc(100% - var(--denhaag-readspeaker-mobile-width-margin));
  opacity: var(--denhaag-readspeaker-mobile-opacity);

  &.rs_visible {
    transform: var(--denhaag-readspeaker-mobile-visible-transform);
    opacity: var(--denhaag-readspeaker-mobile-visible-opacity);
  }

  .rsmpl-tools {
    display: var(--denhaag-readspeaker-mobile-tools-display);
    flex-direction: var(--denhaag-readspeaker-mobile-tools-flex-direction);
    justify-content: var(--denhaag-readspeaker-mobile-tools-justify-content);
    align-items: var(--denhaag-readspeaker-mobile-tools-align-items);
    background-color: var(--denhaag-readspeaker-mobile-tools-background-color);
    padding-inline: var(--denhaag-readspeaker-mobile-tools-padding-inline);
    padding-block: var(--denhaag-readspeaker-mobile-tools-padding-block);
    border-radius: var(--denhaag-readspeaker-mobile-tools-border-radius);
    min-height: var(--denhaag-readspeaker-mobile-tools-min-height);

    > div {
      > button,
      .rsmpl-player-tool > button {
        outline: var(--denhaag-readspeaker-mobile-button-outline);
        padding-block: var(--denhaag-readspeaker-mobile-button-padding-block);
        padding-inline: var(--denhaag-readspeaker-mobile-button-padding-inline);
        width: var(--denhaag-readspeaker-mobile-button-width);
        color: var(--denhaag-readspeaker-mobile-button-color);
        font-size: var(--denhaag-readspeaker-mobile-button-font-size);
        font-weight: var(--denhaag-readspeaker-mobile-button-font-weight);
        text-transform: var(--denhaag-readspeaker-mobile-button-text-transform);
        background-color: var(--denhaag-readspeaker-mobile-button-background-color);
        max-width: var(--denhaag-readspeaker-mobile-button-max-width);
        height: var(--denhaag-readspeaker-mobile-button-height);
        border: var(--denhaag-readspeaker-mobile-button-border);
        border-color: var(--denhaag-readspeaker-mobile-button-border-color);

        .rsbtn_btnlabel {
          display: none;
        }
      }

      &.rsmpl-tool {
        position: relative;
        color: var(--denhaag-readspeaker-mobile-button-color);
      }

      &.rsmpl-collapse {
        display: none;
      }

      &.rsmpl-settings {
        @include readspeaker-icon-styles(var(--denhaag-readspeaker-icons-settings));
      }

      &.rsmpl-pagemask {
        @include readspeaker-icon-styles(var(--denhaag-readspeaker-icons-pagemask));
      }

      &.rsmpl-dictionary {
        @include readspeaker-icon-styles(var(--denhaag-readspeaker-icons-dictionary));
      }

      &.rsmpl-clicklisten {
        @include readspeaker-icon-styles(var(--denhaag-readspeaker-icons-clicklisten));
      }

      // Download
      &.rsmpl-dl {
        @include readspeaker-icon-styles(var(--denhaag-readspeaker-icons-download));
      }

      &.rsmpl-player {
        display: var(--denhaag-readspeaker-mobile-player-display);
        gap: var(--denhaag-readspeaker-mobile-player-gap);
        align-items: var(--denhaag-readspeaker-mobile-player-align-items);
        transform: var(--denhaag-readspeaker-mobile-player-transform);

        > div {
          button {
            width: var(--denhaag-readspeaker-mobile-player-buttons-width);
            height: var(--denhaag-readspeaker-mobile-player-buttons-height);
          }
        }
        .rsmpl-playpause {
          button[title="play"],
          button[title="Play"],
          button[title="Afspelen"] {
            @include readspeaker-icon-styles(var(--denhaag-readspeaker-icons-play));
          }

          button[title="pause"],
          button[title="Pauze"],
          button[title="Pause"] {
            @include readspeaker-icon-styles(
              'path("M9 6C9.55228 6 10 6.44772 10 7V17C10 17.5523 9.55228 18 9 18C8.44772 18 8 17.5523 8 17V7C8 6.44772 8.44772 6 9 6ZM15 6C15.5523 6 16 6.44772 16 7V17C16 17.5523 15.5523 18 15 18C14.4477 18 14 17.5523 14 17V7C14 6.44772 14.4477 6 15 6Z")'
            );
          }
        }
        .rsmpl-stop {
          button {
            @include readspeaker-icon-styles(var(--denhaag-readspeaker-icons-stop));
          }
        }
      }

      &.rsmpl-closer {
        @include readspeaker-icon-styles(var(--denhaag-readspeaker-icons-close));
      }
    }

    // Todo
    .rsbtn_status_overlay {
      display: none !important;
      width: 0 !important;
    }
  }
}

div#rs-dialog-fullscreen {
  background-color: var(--denhaag-readspeaker-fullscreen-background-color);
  position: var(--denhaag-readspeaker-fullscreen-position) !important;
  top: var(--denhaag-readspeaker-fullscreen-top) !important;
  right: var(--denhaag-readspeaker-fullscreen-right) !important;
  left: var(--denhaag-readspeaker-fullscreen-left) !important;
  bottom: var(--denhaag-readspeaker-fullscreen-bottom) !important;
  width: var(--denhaag-readspeaker-fullscreen-width);
  overflow-x: var(--denhaag-readspeaker-fullscreen-overflow-x) !important;

  &.mobile {
    > nav {
      display: var(--denhaag-readspeaker-responsive-nav-display);
    }
    #rs-dialog-main {
      padding-block: var(--denhaag-readspeaker-responsive-content-padding-block);
      padding-inline: var(--denhaag-readspeaker-responsive-content-padding-inline);
      width: var(--denhaag-readspeaker-responsive-content-width) !important;
    }

    .slider-label-start,
    .slider-label-end {
      display: none;
    }
  }
}
.rspopup,
#rs-screenreader-message {
  position: var(--denhaag-readspeaker-popup-position);
  background-color: var(--denhaag-readspeaker-popup-background-color);
  color: var(--denhaag-readspeaker-popup-color);
  max-width: var(--denhaag-readspeaker-popup-max-width);
  border-radius: var(--denhaag-readspeaker-popup-border-radius);
  padding-block: var(--denhaag-readspeaker-popup-padding-block);
  padding-inline: var(--denhaag-readspeaker-popup-padding-inline);
  font-family: var(--denhaag-readspeaker-font-family);
  font-weight: var(--denhaag-readspeaker-font-weight);

  .rspopup_btn {
    cursor: var(--denhaag-readspeaker-hover-cursor);
    &:hover {
      span {
        text-decoration: var(--denhaag-readspeaker-popup-button-text-decoration);
      }
    }
  }
}
