.denhaag-datalist {
  color: var(--denhaag-datalist-color, inherit);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  font-family: var(--denhaag-datalist-font-family, inherit);
  font-size: var(--denhaag-datalist-font-size, inherit);
  font-weight: var(--denhaag-datalist-font-weight, inherit);
  line-height: var(--denhaag-datalist-line-height, inherit);
}

.denhaag-datalist-caption {
  color: var(--denhaag-datalist-caption-color, inherit);
  font-family: var(--denhaag-datalist-caption-font-family, var(--denhaag-datalist-font-family, inherit));
  font-size: var(--denhaag-datalist-caption-font-size, calc(var(--denhaag-datalist-font-size, 1em) * 1.33));
  font-weight: var(--denhaag-datalist-caption-font-weight, bold);
  line-height: var(--denhaag-datalist-caption-line-height, var(--denhaag-datalist-line-height, inherit));
  margin-block-start: 0;
  margin-block-end: 0;
}

.denhaag-datalist-caption + .denhaag-datalist {
  margin-block-start: var(--denhaag-datalist-caption-margin-block, 1em);
}

.denhaag-datalist__detail {
  box-shadow: inset 0 -1px 0 var(--denhaag-datalist-border-color, lightgrey);
  margin-inline-start: 0;
  padding-block-end: var(--denhaag-datalist-detail-padding-block-end, var(--denhaag-datalist-padding));
  padding-block-start: var(--denhaag-datalist-detail-padding-block-start, var(--denhaag-datalist-padding));
  padding-inline-end: var(--denhaag-datalist-padding-inline-end, var(--denhaag-datalist-padding));
  padding-inline-start: var(--denhaag-datalist-padding-inline-end, var(--denhaag-datalist-padding));
}

.denhaag-datalist__title {
  font-weight: var(--denhaag-datalist-title-font-weight, bold);
  padding-block-end: var(--denhaag-datalist-title-padding-block-end, var(--denhaag-datalist-padding));
  padding-block-start: var(--denhaag-datalist-title-padding-block-start, var(--denhaag-datalist-padding));
  padding-inline-end: var(--denhaag-datalist-padding-inline-end, var(--denhaag-datalist-padding));
  padding-inline-start: var(--denhaag-datalist-padding-inline-start, var(--denhaag-datalist-padding));
}

@media (min-width: 640px) {
  .denhaag-datalist {
    --denhaag-datalist-detail-padding-block-end: var(--denhaag-datalist-lg-detail-padding-block-end);
    --denhaag-datalist-detail-padding-block-start: var(--denhaag-datalist-lg-detail-padding-block-start);
    --denhaag-datalist-title-padding-block-end: var(--denhaag-datalist-lg-title-padding-block-end);
    --denhaag-datalist-title-padding-block-start: var(--denhaag-datalist-lg-title-padding-block-start);
    --denhaag-datalist-padding-inline-end: var(--denhaag-datalist-lg-padding-inline-end);
    --denhaag-datalist-padding-inline-start: var(--denhaag-datalist-lg-padding-inline-start);

    grid-template-columns: 1fr 2fr;
  }

  .denhaag-datalist__title {
    box-shadow: inset 0 -1px 0 var(--denhaag-datalist-border-color, lightgrey);
  }
}
