.sb-show-main.sb-main-padded {
  padding: 0;
}

.denhaag-authentication {
  margin-block-start: 32px;
  margin-block-end: 32px;
}

.denhaag-authentication__alert {
  margin-block-start: 24px;
}

.denhaag-header--without-breadcrumbs {
  margin-block-end: 56px;
}
