.denhaag-anchor-navigation,
.denhaag-anchor-navigation + .denhaag-button {
  display: none;
}

@media (width >= 768px) {
  .denhaag-anchor-navigation,
  .denhaag-anchor-navigation + .denhaag-button {
    display: flex;
  }
}

.denhaag-anchor-navigation__list {
  list-style: var(--denhaag-anchor-navigation-list-list-style);
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

.denhaag-anchor-navigation + .denhaag-button {
  margin-block-start: var(--denhaag-anchor-navigation-button-margin-block-start, 1em);
}

.denhaag-anchor-navigation__link {
  color: var(--denhaag-anchor-navigation-link-color);
  display: block;
  font-family: var(--denhaag-anchor-navigation-link-font-family);
  font-size: var(--denhaag-anchor-navigation-link-font-size, inherit);
  font-weight: var(--denhaag-anchor-navigation-link-font-weight);
  line-height: var(--denhaag-anchor-navigation-link-line-height);
  padding-block-end: var(--denhaag-anchor-navigation-link-padding-block);
  padding-block-start: var(--denhaag-anchor-navigation-link-padding-block);
  padding-inline-end: var(--denhaag-anchor-navigation-link-padding-inline-end);
  padding-inline-start: var(--denhaag-anchor-navigation-link-padding-inline-start);
  outline: none;
  position: relative;
  text-decoration: var(--denhaag-anchor-navigation-link-text-decoration);
}

.denhaag-anchor-navigation__link:active,
.denhaag-anchor-navigation__link--active {
  --denhaag-anchor-navigation-link-color: var(--denhaag-anchor-navigation-link-active-color);
  --denhaag-anchor-navigation-link-background-color: var(--denhaag-anchor-navigation-link-active-color);
  --denhaag-anchor-navigation-link-font-weight: var(--denhaag-anchor-navigation-link-active-font-weight);
}

.denhaag-anchor-navigation__link:hover,
.denhaag-anchor-navigation__link--hover {
  --denhaag-anchor-navigation-link-color: var(--denhaag-anchor-navigation-link-hover-color);
  --denhaag-anchor-navigation-link-background-color: var(--denhaag-anchor-navigation-link-hover-color);
}

.denhaag-anchor-navigation__link:target {
  --denhaag-anchor-navigation-link-color: var(--denhaag-anchor-navigation-link-target-color);
}

.denhaag-anchor-navigation__link:active,
.denhaag-anchor-navigation__link:target {
  font-weight: var(--denhaag-anchor-navigation-link-font-weight);
}

.denhaag-anchor-navigation__link:focus-visible,
.denhaag-anchor-navigation__link--focus {
  --denhaag-anchor-navigation-link-color: var(--denhaag-anchor-navigation-link-focus-color);
  --denhaag-anchor-navigation-link-background-color: var(--denhaag-anchor-navigation-link-focus-color);

  outline: var(--denhaag-anchor-navigation-link-outline);
}

.denhaag-anchor-navigation__link:focus:not(:focus-visible) {
  outline: none;
}

.denhaag-anchor-navigation__link::before {
  background-color: var(--denhaag-anchor-navigation-link-background-color);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: var(--denhaag-anchor-navigation-link-width);
}
