.denhaag-anchor-navigation {
  border-inline-start: var(--denhaag-anchor-navigation-border-inline-start);
}

.denhaag-anchor-navigation__list {
  list-style: var(--denhaag-anchor-navigation-list-list-style);
  padding-inline-start: var(--denhaag-anchor-navigation-list-padding-inline-start);
}

.denhaag-anchor-navigation__link {
  color: var(--denhaag-anchor-navigation-link-color);
  font-family: var(--denhaag-anchor-navigation-link-font-family);
  font-size: var(--denhaag-anchor-navigation-link-font-size);
  line-height: var(--denhaag-anchor-navigation-link-line-height);
  text-decoration: var(--denhaag-anchor-navigation-link-text-decoration);
  position: relative;
}

.denhaag-anchor-navigation__link:visited,
.denhaag-anchor-navigation__link--visited {
  --denhaag-anchor-navigation-link-color: var(--denhaag-anchor-navigation-link-color-visited);
  --denhaag-anchor-navigation-link-background-color: ar(--denhaag-anchor-navigation-link-color-visited);
}

.denhaag-anchor-navigation__link:active,
.denhaag-anchor-navigation__link--active {
  --denhaag-anchor-navigation-link-color: var(--denhaag-anchor-navigation-link-color-active);
  --denhaag-anchor-navigation-link-background-color: var(--denhaag-anchor-navigation-link-color-active);
}

.denhaag-anchor-navigation__link:hover,
.denhaag-anchor-navigation__link--hover {
  --denhaag-anchor-navigation-link-color: var(--denhaag-anchor-navigation-link-color-hover);
  --denhaag-anchor-navigation-link-background-color: var(--denhaag-anchor-navigation-link-color-hover);
}

.denhaag-anchor-navigation__link:target {
  --denhaag-anchor-navigation-link-color: var(--denhaag-anchor-navigation-link-color-target);
}

.denhaag-anchor-navigation__link:focus,
.denhaag-anchor-navigation__link--focus {
  --denhaag-anchor-navigation-link-color: var(--denhaag-anchor-navigation-link-color-focus);
  --denhaag-anchor-navigation-link-background-color: var(--denhaag-anchor-navigation-link-color-focus);
}

.denhaag-anchor-navigation__link:active,
.denhaag-anchor-navigation__link:target {
  font-weight: var(--denhaag-anchor-navigation-link-font-weight);
}

.denhaag-anchor-navigation__link::before {
  background-color: var(--denhaag-anchor-navigation-link-background-color);
  content: "";
  height: var(--denhaag-anchor-navigation-link-line-height);
  left: calc(
    (-1 * var(--denhaag-anchor-navigation-list-padding-inline-start)) - var(--denhaag-anchor-navigation-link-width)
  );
  position: absolute;
  top: calc(-1 * (0.3023 * var(--denhaag-anchor-navigation-link-line-height)));
  width: var(--denhaag-anchor-navigation-link-width);
}
