@mixin denhaag-floating-contact-zoomed($selector) {
  @if $selector {
    #{$selector} {
      --denhaag-floating-contact-bottom: 0;
      --denhaag-floating-contact-overlay-border-radius: 0;
      --denhaag-floating-contact-overlay-display: var(--denhaag-floating-contact-active-overlay-display);
      --denhaag-floating-contact-overlay-width: 100%;
      --denhaag-floating-contact-position: static;
      --denhaag-floating-contact-right: 0;
      --denhaag-floating-contact-switch-display: none;
      --denhaag-floating-contact-heading-zoomed-clip: rect(100%, 100%, 100%, 100%);
      --denhaag-floating-contact-heading-zoomed-clip-path: auto;
      --denhaag-floating-contact-heading-zoomed-height: auto;
      --denhaag-floating-contact-heading-zoomed-position: static;
      --denhaag-floating-contact-heading-zoomed-width: 100%;
      --denhaag-floating-contact-heading-zoomed-white-space: wrap;
      --denhaag-floating-contact-overlay-arrow-content: none;
    }
  } @else {
    @error "Mixin denhaag-floating-contact-zoomed() is missing a selector.";
  }
}

.denhaag-floating-contact {
  // Variables will be overwritten in the same file.
  --denhaag-floating-contact-heading-zoomed-clip-path: inset(50%);
  --denhaag-floating-contact-heading-zoomed-height: 1px;
  --denhaag-floating-contact-heading-zoomed-position: absolute;
  --denhaag-floating-contact-heading-zoomed-width: 1px;
  --denhaag-floating-contact-heading-zoomed-white-space: nowrap;

  display: flex;
  flex-flow: column;
  gap: calc(var(--denhaag-floating-contact-gap) + (var(--denhaag-floating-contact-overlay-arrow-width) / 2));
  position: var(--denhaag-floating-contact-position);
  bottom: var(--denhaag-floating-contact-bottom);
  right: var(--denhaag-floating-contact-right);
  z-index: var(--denhaag-floating-contact-index);
}

@media (width >= 1024px) {
  .denhaag-theme {
    --denhaag-floating-contact-bottom: var(--denhaag-space-block-2xl);
    --denhaag-floating-contact-right: var(--denhaag-space-inline-2xl);
  }
}

@include denhaag-floating-contact-zoomed(".denhaag-floating-contact--zoomed");

.denhaag-floating-contact-switch {
  align-items: var(--denhaag-floating-contact-switch-align-items);
  align-self: var(--denhaag-floating-contact-switch-align-self);
  background-color: var(--denhaag-floating-contact-switch-background-color);
  border: 0;
  border-radius: var(--denhaag-floating-contact-switch-border-radius);
  box-shadow: inset 0 0 0 var(--denhaag-floating-contact-switch-border-width)
    var(--denhaag-floating-contact-switch-border-color);
  color: var(--denhaag-floating-contact-color);
  display: var(--denhaag-floating-contact-switch-display, flex);
  flex-direction: var(--denhaag-floating-contact-switch-direction);
  font-family: var(--denhaag-floating-contact-switch-font-family);
  font-size: var(--denhaag-floating-contact-switch-font-size);
  font-weight: var(--denhaag-floating-contact-switch-font-weight);
  line-height: var(--denhaag-floating-contact-switch-line-height);
  gap: var(--denhaag-floating-contact-switch-gap);
  padding-block-start: 0;
  padding-block-end: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
}

.denhaag-floating-contact-switch:hover,
.denhaag-floating-contact-switch--hover {
  --denhaag-floating-contact-switch-icons-background-color: var(
    --denhaag-floating-contact-switch-hover-icons-background-color
  );
}

.denhaag-floating-contact-switch:focus-visible,
.denhaag-floating-contact-switch--focus {
  --denhaag-floating-contact-switch-icons-background-color: var(
    --denhaag-floating-contact-switch-focus-icons-background-color
  );

  outline: var(--denhaag-floating-contact-switch-outline);
}

.denhaag-floating-contact-switch[aria-expanded="true"] {
  --denhaag-floating-contact-switch-direction: var(--denhaag-floating-contact-active-switch-direction);
}

.denhaag-floating-contact-switch__icon {
  align-items: center;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  height: var(--denhaag-floating-contact-switch-icon-size);
  width: var(--denhaag-floating-contact-switch-icon-size);
}

.denhaag-floating-contact-switch__icon > svg {
  max-width: 100%;
}

.denhaag-floating-contact-switch__icons {
  background-color: var(--denhaag-floating-contact-switch-icons-background-color);
  border-radius: var(--denhaag-floating-contact-switch-border-radius);
  border: var(--denhaag-floating-contact-switch-border-width) var(--denhaag-floating-contact-switch-border-style)
    var(--denhaag-floating-contact-switch-border-color);
  color: var(--denhaag-floating-contact-switch-icons-color);
  padding-block-start: var(--denhaag-floating-contact-switch-padding-block);
  padding-block-end: var(--denhaag-floating-contact-switch-padding-block);
  padding-inline-start: var(--denhaag-floating-contact-switch-padding-inline);
  padding-inline-end: var(--denhaag-floating-contact-switch-padding-inline);
}

.denhaag-floating-contact-switch__icons-inner {
  display: var(--denhaag-floating-contact-switch-icons-display);
  flex-direction: row;
  gap: var(--denhaag-floating-contact-switch-icons-gap);
  pointer-events: none;
}

.denhaag-floating-contact-switch[aria-expanded="true"] .denhaag-floating-contact-switch__icons-inner:last-child,
.denhaag-floating-contact-switch:not([aria-expanded="true"]) .denhaag-floating-contact-switch__icons-inner:first-child {
  --denhaag-floating-contact-switch-icons-display: var(--denhaag-floating-contact-active-switch-icons-display);
}

.denhaag-floating-contact-switch__label {
  padding-block-start: calc(
    var(--denhaag-floating-contact-switch-padding-block) - var(--denhaag-floating-contact-switch-border-width)
  );
  padding-block-end: calc(
    var(--denhaag-floating-contact-switch-padding-block) - var(--denhaag-floating-contact-switch-border-width)
  );
  padding-inline-start: var(--denhaag-floating-contact-switch-padding-inline);
  padding-inline-end: var(--denhaag-floating-contact-switch-padding-inline);
}

.denhaag-floating-contact-overlay {
  align-items: var(--denhaag-floating-contact-overlay-align-items);
  background-color: var(--denhaag-floating-contact-overlay-background-color);
  border-radius: var(--denhaag-floating-contact-overlay-border-radius);
  color: var(--denhaag-floating-contact-overlay-color);
  display: var(--denhaag-floating-contact-overlay-display);
  flex-direction: column;
  gap: var(--denhaag-floating-contact-overlay-gap);
  padding-block-start: var(--denhaag-floating-contact-overlay-padding-block);
  padding-block-end: var(--denhaag-floating-contact-overlay-padding-block);
  padding-inline-start: var(--denhaag-floating-contact-overlay-padding-inline);
  padding-inline-end: var(--denhaag-floating-contact-overlay-padding-inline);
  position: relative;
  max-width: 100%;
  order: -1;
  width: var(--denhaag-floating-contact-overlay-width);
}

.denhaag-floating-contact-switch[aria-expanded="true"] ~ .denhaag-floating-contact-overlay {
  --denhaag-floating-contact-overlay-display: var(--denhaag-floating-contact-active-overlay-display);
}

.denhaag-floating-contact-overlay::after {
  aspect-ratio: 2 / 1;
  background-color: var(--denhaag-floating-contact-overlay-background-color);
  clip-path: path("M13.1716 13.1716L0 0H32L18.8284 13.1716C17.2663 14.7337 14.7337 14.7337 13.1716 13.1716Z");
  content: var(--denhaag-floating-contact-overlay-arrow-content, "");
  height: auto;
  width: var(--denhaag-floating-contact-overlay-arrow-width);
  position: absolute;
  right: var(--denhaag-floating-contact-overlay-padding-inline);
  bottom: calc(-1 * (var(--denhaag-floating-contact-overlay-arrow-width) / 2));
}

.denhaag-floating-contact__heading {
  font-family: var(--denhaag-floating-contact-heading-font-family);
  font-size: var(--denhaag-floating-contact-heading-font-size);
  font-weight: var(--denhaag-floating-contact-heading-font-weight);
  line-height: var(--denhaag-floating-contact-heading-line-height);
  margin-block-start: 0;
  margin-block-end: 0;
}

.denhaag-floating-contact__heading--zoomed-visible {
  border: 0;
  clip-path: var(--denhaag-floating-contact-heading-zoomed-clip-path);
  height: var(--denhaag-floating-contact-heading-zoomed-height);
  overflow: hidden;
  padding-inline-start: 0;
  padding-inline-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  position: var(--denhaag-floating-contact-heading-zoomed-position);
  white-space: var(--denhaag-floating-contact-heading-zoomed-white-space);
  width: var(--denhaag-floating-contact-heading-zoomed-width);
}

.denhaag-floating-contact__item {
  align-items: var(--denhaag-floating-contact-item-align-items);
  position: relative;
  display: flex;
  flex-direction: row;
  gap: var(--denhaag-floating-contact-item-gap);
  width: 100%;
}

.denhaag-floating-contact__item--online {
  --denhaag-floating-contact-status-background-color: var(--denhaag-floating-contact-status-online-background-color);
  --denhaag-floating-contact-status-border-color: var(--denhaag-floating-contact-status-online-border-color);
}

.denhaag-floating-contact__item--offline {
  --denhaag-floating-contact-status-background-color: var(--denhaag-floating-contact-status-offline-background-color);
  --denhaag-floating-contact-status-border-color: var(--denhaag-floating-contact-status-offline-border-color);
}

.denhaag-floating-contact__item .denhaag-icon {
  height: auto;
  max-width: var(--denhaag-floating-contact-item-icon-size);
}

.denhaag-floating-contact__item-link {
  color: var(--denhaag-floating-contact-link-color);
  font-family: var(--denhaag-floating-contact-link-font-family);
  font-size: var(--denhaag-floating-contact-link-font-size);
  font-weight: var(--denhaag-floating-contact-link-font-weight);
  line-height: var(--denhaag-floating-contact-link-line-height);
  text-decoration: var(--denhaag-floating-contact-link-decoration);
}

.denhaag-floating-contact__item-link::after {
  bottom: 0;
  color: inherit;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.denhaag-floating-contact__item:hover,
.denhaag-floating-contact__item--hover {
  --denhaag-floating-contact-link-font-weight: var(--denhaag-floating-contact-link-hover-font-weight);
}

.denhaag-floating-contact__item-link:focus,
.denhaag-floating-contact__item-link:focus-visible,
.denhaag-floating-contact__item--focus {
  outline: none;
}

.denhaag-floating-contact__item-link:focus-visible::after,
.denhaag-floating-contact__item--focus .denhaag-floating-contact__item-link::after {
  outline: var(--denhaag-floating-contact-link-outline-width) var(--denhaag-floating-contact-link-outline-style)
    var(--denhaag-floating-contact-link-outline-color);
  outline-offset: var(--denhaag-floating-contact-link-outline-width);
}

.denhaag-floating-contact__item-title {
  margin-block-start: 0;
  margin-block-end: 0;
  position: relative;
}

.denhaag-floating-contact__item--online .denhaag-floating-contact__item-title::after,
.denhaag-floating-contact__item--offline .denhaag-floating-contact__item-title::after {
  aspect-ratio: 1/1;
  background: var(--denhaag-floating-contact-status-background-color);
  border: var(--denhaag-floating-contact-status-border-width) solid var(--denhaag-floating-contact-status-border-color);
  border-radius: var(--denhaag-floating-contact-status-size);
  content: "";
  display: inline-block;
  position: absolute;
  pointer-events: none;
  height: var(--denhaag-floating-contact-status-size);
  width: var(--denhaag-floating-contact-status-size);
  margin-inline-start: var(--denhaag-floating-contact-status-size);
  top: 50%;
  transform: translateY(-50%);
}

/* stylelint-disable media-feature-name-no-unknown -- We need to check on zoom 400% */
/* stylelint-disable media-feature-name-no-vendor-prefix -- We need the prefixes. */
@media (-webkit-min-device-pixel-ratio: 4), (-moz-device-pixel-ratio: 4), (device-pixel-ratio: 4) {
  @include denhaag-floating-contact-zoomed(".denhaag-floating-contact");
}
