/* This file is meant only for storybook overwrites. NOT FOR EXPORT! */
.denhaag-storybook-floating-contact-wrapper {
  height: calc(100dvh + 2rem);
  width: calc(100dvw + 2rem);
  margin-block-start: -1rem;
  margin-block-end: -1rem;
  margin-inline-start: -1rem;
  margin-inline-end: -1rem;
}
