.denhaag-hero {
  --denhaag-hero-image-display: none;

  background-color: var(--denhaag-hero-background-color);
  color: var(--denhaag-hero-color);
  display: flex;
  min-height: var(--denhaag-hero-min-height);
  position: relative;
}

.denhaag-hero--routing,
.denhaag-hero--theme-page {
  --denhaag-hero-background-color: var(--denhaag-hero-routing-background-color, inherit);
  --denhaag-hero-container-gutter: var(--denhaag-hero-routing-container-gutter);
  --denhaag-hero-container-max-width: var(--denhaag-hero-routing-container-max-width);
  --denhaag-hero-content-align-self: var(--denhaag-hero-routing-content-align-self);
  --denhaag-hero-content-padding-block: var(--denhaag-hero-routing-content-padding-block);
  --denhaag-hero-image-path: var(--denhaag-hero-routing-image-path, 0);
  --denhaag-hero-min-height: var(--denhaag-hero-routing-min-height);
  --denhaag-hero-title-margin-block-end: var(--denhaag-hero-routing-title-margin-block-end);
  --denhaag-hero-title-margin-block-start: var(--denhaag-hero-routing-title-margin-block-start);

  overflow-x: hidden;
}

.denhaag-hero--theme-page {
  --denhaag-hero-background-color: var(--denhaag-button-primary-action-hover-background-color);

  height: var(--denhaag-hero-theme-page-height);
  overflow: var(--denhaag-hero-theme-page-overflow);
}

.denhaag-hero__image-pattern {
  position: absolute;
}

.denhaag-hero--theme-page .denhaag-hero__image-pattern {
  height: 100%;
  width: auto;
}

.denhaag-hero__container {
  display: grid;
  grid-auto-flow: dense;
  grid-gap: var(--denhaag-hero-container-gutter);
  grid-template-columns: repeat(12, 1fr);
  max-width: var(--denhaag-hero-container-max-width, 100%);
  margin-block-end: 0;
  margin-block-start: 0;
  margin-inline-end: auto;
  margin-inline-start: auto;
  padding-inline-end: var(--denhaag-hero-container-gutter);
  padding-inline-start: var(--denhaag-hero-container-gutter);
  position: relative;
  width: 100%;
}

.denhaag-hero--theme-page .denhaag-hero__container {
  display: var(--denhaag-hero-theme-page-container-display);
  max-width: var(--denhaag-hero-theme-page-container-max-width);
  padding-block-start: var(--denhaag-hero-theme-page-container-padding-block-start);
  padding-inline-start: var(--denhaag-hero-theme-page-container-padding-inline);
  padding-inline-end: var(--denhaag-hero-theme-page-container-padding-inline);
}

.denhaag-hero__content {
  align-self: var(--denhaag-hero-content-align-self);
  grid-column-start: span var(--denhaag-hero-content-column-start, 0);
  grid-column-end: span calc(var(--denhaag-hero-content-column-end, 12) - var(--denhaag-hero-content-column-start, 0));
  padding-block-end: var(--denhaag-hero-content-padding-block);
  padding-block-start: var(--denhaag-hero-content-padding-block);
  padding-inline-end: var(--denhaag-hero-content-padding-inline-end, 0);
  padding-inline-start: var(--denhaag-hero-content-padding-inline-start, 0);
  position: relative;
  z-index: 4;
}

.denhaag-hero--theme-page .denhaag-hero__content {
  background-color: var(--denhaag-hero-theme-page-content-background-color);
  text-align: var(--denhaag-hero-theme-page-content-text-align);
  padding-block-start: var(--denhaag-hero-theme-page-content-padding-block);
  padding-block-end: var(--denhaag-hero-theme-page-content-padding-block);
  padding-inline-start: var(--denhaag-hero-theme-page-content-padding-inline);
  padding-inline-end: var(--denhaag-hero-theme-page-content-padding-inline);
  bottom: var(--denhaag-hero-theme-page-content-bottom);
  min-height: var(--denhaag-hero-theme-page-content-min-height);
}

.denhaag-hero--theme-page .denhaag-hero__text {
  font-size: var(--denhaag-hero-theme-page-text-font-size);
  padding-block-end: var(--denhaag-hero-theme-page-text-padding-block-end);
  line-height: var(--denhaag-hero-theme-page-text-line-height);
}

.denhaag-hero__image {
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 100%,
    100% 100%,
    0% 100%,
    calc(0% + var(--denhaag-hero-image-path, 0)) 0%,
    0% 0%
  );
  height: 100%;
  min-height: var(--denhaag-hero-min-height);
  object-fit: cover;
  object-position: center right;
  position: absolute;
  right: 0;
  top: 0;
  width: var(--denhaag-hero-image-width, 0);
  z-index: 3;
}

.denhaag-hero__title {
  --utrecht-heading-1-color: var(--denhaag-hero-color);

  margin-block-end: var(--denhaag-hero-title-margin-block-end);
  margin-block-start: var(--denhaag-hero-title-margin-block-start);
}

.denhaag-hero--theme-page .denhaag-hero__title {
  padding-block-end: var(--denhaag-hero-theme-page-title-padding-block-end);
}

@media (max-width: 768px) {
  .denhaag-hero--routing,
  .denhaag-hero--theme-page {
    --utrecht-heading-1-font-size: var(--denhaag-hero-routing-title-font-size-xs);
  }
}

@media (min-width: 360px) {
  .denhaag-hero--routing,
  .denhaag-hero--theme-page {
    --denhaag-hero-container-gutter: var(--denhaag-hero-routing-container-gutter-xs);
    --denhaag-hero-container-max-width: var(--denhaag-hero-routing-container-max-width-xs);
    --denhaag-hero-content-column-start: var(--denhaag-hero-routing-content-column-start-xs, 0);
    --denhaag-hero-content-column-end: var(--denhaag-hero-routing-content-column-end-xs, 12);
  }
}

@media (min-width: 768px) {
  .denhaag-hero {
    --denhaag-hero-image-display: block;
  }

  .denhaag-hero--routing,
  .denhaag-hero--theme-page {
    --denhaag-hero-container-gutter: var(--denhaag-hero-routing-container-gutter-s);
    --denhaag-hero-container-max-width: var(--denhaag-hero-routing-container-max-width-s);
    --denhaag-hero-content-column-start: var(--denhaag-hero-routing-content-column-start-s, 0);
    --denhaag-hero-content-column-end: var(--denhaag-hero-routing-content-column-end-s, 12);
    --denhaag-hero-content-padding-block: var(--denhaag-hero-routing-content-padding-block-s);
    --denhaag-hero-image-width: var(--denhaag-hero-routing-image-width-s);
    --denhaag-hero-min-height: var(--denhaag-hero-routing-min-height-s);
  }

  .denhaag-hero--theme-page {
    --denhaag-hero-min-height: var(--denhaag-hero-theme-page-min-height);
  }

  .denhaag-hero--theme-page .denhaag-hero__container {
    width: var(--denhaag-hero-theme-page-container-width-s);
  }

  .denhaag-hero--theme-page .denhaag-hero__content {
    position: var(--denhaag-hero-theme-page-content-position);
    height: var(--denhaag-hero-theme-page-content-height);
    bottom: var(--denhaag-hero-theme-page-content-bottom-s);
    padding-inline-start: var(--denhaag-hero-theme-page-content-padding-inline-s);
    padding-inline-end: var(--denhaag-hero-theme-page-content-padding-inline-s);
  }

  .denhaag-hero--theme-page .denhaag-hero__text {
    font-size: var(--denhaag-hero-theme-page-text-font-size-s);
  }
}

@media (min-width: 1024px) {
  .denhaag-hero--routing,
  .denhaag-hero--theme-page {
    --denhaag-hero-container-gutter: var(--denhaag-hero-routing-container-gutter-m);
    --denhaag-hero-container-max-width: var(--denhaag-hero-routing-container-max-width-m);
    --denhaag-hero-content-column-start: var(--denhaag-hero-routing-content-column-start-m, 0);
    --denhaag-hero-content-column-end: var(--denhaag-hero-routing-content-column-end-m, 12);
    --denhaag-hero-image-width: var(--denhaag-hero-routing-image-width-m);
    --denhaag-hero-min-height: var(--denhaag-hero-routing-min-height-m);
  }

  .denhaag-hero--theme-page {
    --denhaag-hero-min-height: var(--denhaag-hero-theme-page-min-height-s);
  }
}

@media (min-width: 1280px) {
  .denhaag-hero--routing,
  .denhaag-hero--theme-page {
    --denhaag-hero-container-gutter: var(--denhaag-hero-routing-container-gutter-l);
    --denhaag-hero-container-max-width: var(--denhaag-hero-routing-container-max-width-l);
    --denhaag-hero-content-column-start: var(--denhaag-hero-routing-content-column-start-l, 0);
    --denhaag-hero-content-column-end: var(--denhaag-hero-routing-content-column-end-l, 12);
    --denhaag-hero-image-width: var(--denhaag-hero-routing-image-width-l);
    --denhaag-hero-routing-shape-width: var(--denhaag-hero-routing-shape-width-l);
    --denhaag-hero-routing-shape-right: var(--denhaag-hero-routing-shape-right-l);
  }
}

@media (min-width: 1768px) {
  .denhaag-hero--routing,
  .denhaag-hero--theme-page {
    --denhaag-hero-container-gutter: var(--denhaag-hero-routing-container-gutter-xl);
    --denhaag-hero-container-max-width: var(--denhaag-hero-routing-container-max-width-xl);
    --denhaag-hero-content-column-start: var(--denhaag-hero-routing-content-column-start-xl, 0);
    --denhaag-hero-content-column-end: var(--denhaag-hero-routing-content-column-end-xl, 12);
    --denhaag-hero-image-width: var(--denhaag-hero-routing-image-width-xl);
    --denhaag-hero-routing-shape-right: var(--denhaag-hero-routing-shape-right-xl);
  }

  .denhaag-hero--theme-page .denhaag-hero__container {
    width: var(--denhaag-hero-theme-page-container-width);
  }
}

@media (min-width: 2160px) {
  .denhaag-hero--routing,
  .denhaag-hero--theme-page {
    --denhaag-hero-container-gutter: var(--denhaag-hero-routing-container-gutter-xxl);
    --denhaag-hero-container-max-width: var(
      --denhaag-hero-routing-container-max-width-xxl,
      var(--denhaag-hero-routing-container-max-width-xl)
    );
    --denhaag-hero-content-column-start: var(--denhaag-hero-routing-content-column-start-xxl, 0);
    --denhaag-hero-content-column-end: var(--denhaag-hero-routing-content-column-end-xxl, 12);
  }
}
