@import "~@utrecht/components/textbox/css";

.denhaag-textfield {
  display: inline-block;
  position: relative;
  width: 100%;
  margin-block: var(--denhaag-form-input-margin-block-start, var(--denhaag-form-input-margin-block, 0))
    var(--denhaag-form-input-margin-block-end, var(--denhaag-form-input-margin-block, 0));
}

.denhaag-textfield--focus-within::after,
.denhaag-textfield:focus-within::after {
  border: var(--denhaag-focus-border);
  border-radius: var(--denhaag-border-radius);
  content: "";
  display: block;
  position: absolute;
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
}

.denhaag-textfield__input {
  @extend .utrecht-textbox;

  line-height: var(--denhaag-form-input-line-height, var(--denhaag-typography-scale-base-line-height));
  margin-block: 0;
}

.denhaag-textfield__input:focus,
.denhaag-textfield__input:focus-visible {
  outline: none;
}

.denhaag-textfield__input:disabled,
.denhaag-textfield__input--disabled {
  @extend .utrecht-textbox--disabled;
}

.denhaag-textfield__input::placeholder {
  @extend .utrecht-textbox__placeholder;
}

.denhaag-textfield__input:disabled::placeholder,
.denhaag-textfield__input--disabled::placeholder {
  color: var(--utrecht-form-input-disabled-color);
}

.denhaag-textfield__input:invalid,
.denhaag-textfield__input--invalid {
  @extend .utrecht-textbox--invalid;

  padding-inline-end: calc(
    (var(--utrecht-form-input-padding-inline-end) * 2) +
      (var(--denhaag-form-input-icon-font-size, var(--denhaag-typography-scale-lg-font-size)) * 2)
  );
}

.denhaag-textfield__icons {
  align-items: center;
  color: var(--utrecht-form-input-color);
  column-gap: 8px;
  display: flex;
  flex-direction: row;
  height: 100%;
  padding-inline-end: var(--utrecht-form-input-padding-inline-end);
  position: absolute;
  right: 0;
  top: 0;
}

.denhaag-textfield__icons svg {
  font-size: var(--denhaag-form-input-icon-font-size, var(--denhaag-typography-scale-lg-font-size));
}

.denhaag-textfield__invalid-icon {
  color: var(--utrecht-form-input-invalid-border-color);
}

.denhaag-textfield__input--disabled ~ .denhaag-textfield__icons svg,
.denhaag-textfield__input:disabled ~ .denhaag-textfield__icons svg {
  color: var(--utrecht-form-input-disabled-color);
  cursor: var(--utrecht-action-disabled-cursor);
}
