.denhaag-alert {
  border-width: 0;
  border-radius: var(--denhaag-alert-border-radius);
  color: var(--denhaag-alert-text-color);
  padding-inline-start: var(--denhaag-alert-padding-inline-start);
  padding-inline-end: var(--denhaag-alert-padding-inline-end);
  padding-block-start: var(--denhaag-alert-padding-block-start);
  padding-block-end: var(--denhaag-alert-padding-block-end);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.denhaag-alert__main-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.denhaag-alert .utrecht-paragraph {
  margin-block-end: 0;
}

/* optical alignment icons */
.denhaag-alert .denhaag-alert__icon {
  margin-block-start: 4px;
}
.denhaag-alert__close {
  padding-block-start: 4px;
}

.denhaag-alert .denhaag-button {
  margin-block-start: var(--denhaag-alert-action-padding-block-start);
}

.denhaag-alert[variant="error"] {
  background-color: var(--denhaag-alert-error-background-color);
}

.denhaag-alert[variant="error"] .utrecht-heading-4 {
  color: var(--denhaag-alert-error-title-color);
}

.denhaag-alert[variant="error"] .utrecht-paragraph {
  color: var(--denhaag-alert-error-text-color);
}

.denhaag-alert[variant="error"] .denhaag-alert__icon {
  color: var(--denhaag-alert-error-icon-color);
}

.denhaag-alert[variant="error"] .denhaag-button {
  background-color: var(--denhaag-alert-error-icon-color);
}

.denhaag-alert[variant="error"] .denhaag-alert__close {
  color: var(--denhaag-alert-error-close-icon-color);
}

.denhaag-alert[variant="info"] {
  background-color: var(--denhaag-alert-info-background-color);
}

.denhaag-alert[variant="info"] .utrecht-heading-4 {
  color: var(--denhaag-alert-info-title-color);
}

.denhaag-alert[variant="info"] .utrecht-paragraph {
  color: var(--denhaag-alert-info-text-color);
}

.denhaag-alert[variant="info"] .denhaag-alert__icon {
  color: var(--denhaag-alert-info-icon-color);
}

.denhaag-alert[variant="info"] .denhaag-button {
  background-color: var(--denhaag-alert-info-action-button-color);
}

.denhaag-alert[variant="info"] .denhaag-alert__close {
  color: var(--denhaag-alert-info-close-icon-color);
}

.denhaag-alert[variant="success"] {
  background-color: var(--denhaag-alert-success-background-color);
}

.denhaag-alert[variant="success"] .utrecht-heading-4 {
  color: var(--denhaag-alert-success-title-color);
}

.denhaag-alert[variant="success"] .utrecht-paragraph {
  color: var(--denhaag-alert-success-text-color);
}

.denhaag-alert[variant="success"] .denhaag-alert__icon {
  color: var(--denhaag-alert-success-icon-color);
}

.denhaag-alert[variant="success"] .denhaag-button {
  background-color: var(--denhaag-alert-success-action-button-color);
}

.denhaag-alert[variant="success"] .denhaag-alert__close {
  color: var(--denhaag-alert-success-close-icon-color);
}

.denhaag-alert[variant="warning"] {
  background-color: var(--denhaag-alert-warning-background-color);
}

.denhaag-alert[variant="warning"] .utrecht-heading-4 {
  color: var(--denhaag-alert-warning-title-color);
}

.denhaag-alert[variant="warning"] .utrecht-paragraph {
  color: var(--denhaag-alert-warning-text-color);
}

.denhaag-alert[variant="warning"] .denhaag-alert__icon {
  color: var(--denhaag-alert-warning-icon-color);
}

.denhaag-alert[variant="warning"] .denhaag-button {
  background-color: var(--denhaag-alert-warning-action-button-color);
}

.denhaag-alert[variant="warning"] .denhaag-alert__close {
  color: var(--denhaag-alert-warning-close-icon-color);
}

.denhaag-alert__content {
  margin-inline-start: var(--denhaag-alert-content-margin-inline-start);
  margin-inline-end: var(--denhaag-alert-content-margin-inline-end);
}

/* The position of the button is configurable with padding of alert__content and alert */
.denhaag-alert__close button {
  padding-inline-start: 0;
  padding-inline-end: 0;
  padding-block-start: 0;
  padding-block-end: 0;
}

/* The position of the button is configurable with padding of alert__content and alert */
.denhaag-alert__close button:focus {
  outline-color: var(--denhaag-alert-action-focus-border-color);
  outline-width: var(--denhaag-alert-action-focus-border-color);
  outline-style: var(--denhaag-alert-action-focus-border-style);
  outline-offset: var(--denhaag-alert-action-focus-border-offset);
}
