.denhaag-link-grid {
  position: var(--denhaag-link-grid-position);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  overflow-x: hidden;
  text-decoration: none;
  background-color: var(--denhaag-link-grid-background-color);
  padding-block-start: var(--denhaag-link-grid-padding-block-start-sm);
  padding-block-end: var(--denhaag-link-grid-padding-block-end-sm);

  @media (min-width: 1024px) {
    padding-block-start: var(--denhaag-link-grid-padding-block-start-md);
    padding-block-end: var(--denhaag-link-grid-padding-block-end-md);
  }

  @media (min-width: 1280px) {
    padding-block-start: var(--denhaag-link-grid-padding-block-start-lg);
    padding-block-end: var(--denhaag-link-grid-padding-block-end-lg);
  }

  @media (min-width: 1768px) {
    padding-block-start: var(--denhaag-link-grid-padding-block-start-xl);
    padding-block-end: var(--denhaag-link-grid-padding-block-end-xl);
  }
}

.denhaag-link-grid__background-image {
  position: var(--denhaag-link-grid-background-image-position);
  top: 0;
  right: 0;
  width: var(--denhaag-link-grid-background-image-width);
  height: 100%;
  object-fit: cover;

  @media (max-width: 768px) {
    display: none;
  }
}

.denhaag-link-grid__container {
  z-index: 1;
  width: 100%;
  height: 100%;
  margin-inline-start: var(--denhaag-link-grid-container-margin-xs);
  margin-inline-end: var(--denhaag-link-grid-container-margin-xs);

  @media (min-width: 768px) {
    margin-inline-start: var(--denhaag-link-grid-container-margin-sm);
    margin-inline-end: var(--denhaag-link-grid-container-margin-sm);
  }

  @media (min-width: 1024px) {
    margin-inline-start: var(--denhaag-link-grid-container-margin-md);
    margin-inline-end: var(--denhaag-link-grid-container-margin-md);
    padding-inline-end: var(--denhaag-link-grid-container-padding-right-md);
  }

  @media (min-width: 1280px) {
    margin-inline-start: var(--denhaag-link-grid-container-margin-lg);
    margin-inline-end: var(--denhaag-link-grid-container-margin-lg);
    padding-inline-end: var(--denhaag-link-grid-container-padding-right-lg);
    max-width: var(--denhaag-link-grid-container-width-lg);
  }

  @media (min-width: 1768px) {
    margin-inline-start: var(--denhaag-link-grid-container-margin-xl);
    margin-inline-end: var(--denhaag-link-grid-container-margin-xl);
    padding-inline-end: var(--denhaag-link-grid-container-padding-right-xl);
  }
}

.denhaag-link-grid__title {
  margin-block-start: var(--denhaag-link-grid-title-margin-top);
  padding-block-end: var(--denhaag-link-grid-title-padding-bottom);
}

.denhaag-link-grid__grid {
  width: 100%;
  display: grid;
  gap: 0;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1280px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.denhaag-link-grid__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: auto;
  background-color: var(--denhaag-link-grid-item-background-color);
  padding-block-start: var(--denhaag-link-grid-item-padding-block-start);
  padding-block-end: var(--denhaag-link-grid-item-padding-block-end);
  padding-inline-start: var(--denhaag-link-grid-item-padding-inline-start);
  padding-inline-end: var(--denhaag-link-grid-item-padding-inline-end);
  border-top: var(--denhaag-link-grid-item-default-border) var(--denhaag-link-grid-item-border-color);
  &:first-child {
    border-top: var(--denhaag-link-grid-item-no-border);
  }

  @media (min-width: 768px) {
    border-left: var(--denhaag-link-grid-item-default-border) var(--denhaag-link-grid-item-border-color);
    &:nth-child(-n + 2) {
      border-top: var(--denhaag-link-grid-item-no-border);
    }
    &:nth-child(odd) {
      border-left: var(--denhaag-link-grid-item-no-border);
    }
  }

  @media (min-width: 1280px) {
    &:nth-child(-n + 3) {
      border-top: var(--denhaag-link-grid-item-no-border);
    }
    &:nth-child(odd) {
      border-left: var(--denhaag-link-grid-item-default-border) var(--denhaag-link-grid-item-border-color);
    }
    &:nth-child(3n + 1) {
      border-left: var(--denhaag-link-grid-item-no-border);
    }
  }
}

.denhaag-link-grid__item-content {
  height: 100%;
}

.denhaag-link-grid__item-link {
  color: inherit;
  text-decoration: inherit;
}

.denhaag-link-grid__item-link:focus-visible {
  outline: none;
}

.denhaag-link-grid__item-link::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.denhaag-link-grid__item-action {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-block-start: 20px;
  color: var(--denhaag-link-grid-action-color);
}

.denhaag-link-grid__no-image {
  background-color: transparent;
  .denhaag-link-grid__background-image {
    display: none;
  }

  .denhaag-link-grid__item {
    border: var(--denhaag-link-grid-item-default-border) var(--denhaag-link-grid-item-border-color);
    border-bottom: none;

    &:last-child {
      border-bottom: var(--denhaag-link-grid-item-default-border) var(--denhaag-link-grid-item-border-color);
    }

    @media (min-width: 768px) {
      &:nth-child(1n) {
        border-top: var(--denhaag-link-grid-item-no-border);
        border-bottom: var(--denhaag-link-grid-item-default-border) var(--denhaag-link-grid-item-border-color);
      }
      &:nth-child(-n + 2) {
        border-top: var(--denhaag-link-grid-item-default-border) var(--denhaag-link-grid-item-border-color);
      }
      &:nth-child(even) {
        border-left: var(--denhaag-link-grid-item-no-border);
      }
    }

    @media (min-width: 1280px) {
      border-bottom: var(--denhaag-link-grid-item-default-border) var(--denhaag-link-grid-item-border-color);

      &:nth-child(-n + 3) {
        border-top: var(--denhaag-link-grid-item-default-border) var(--denhaag-link-grid-item-border-color);
      }
      &:nth-child(odd) {
        border-left: var(--denhaag-link-grid-item-no-border);
      }
      &:nth-child(3n + 1) {
        border-left: var(--denhaag-link-grid-item-default-border) var(--denhaag-link-grid-item-border-color);
      }
    }
  }
}
