.denhaag-theme {
  --denhaag-container-size-unit: 100vw;
  --denhaag-container-inline-size: calc(var(--denhaag-container-size-unit) - var(--denhaag-space-4xl));
  --denhaag-container-max-inline-size: calc(120rem - (6 * var(--denhaag-space-5xl) + var(--denhaag-space-md)));

  @supports (inline-size: 100svi) {
    /* stylelint-disable-next-line unit-no-unknown */
    --denhaag-container-size-unit: 100svi;
  }

  @media (min-width: 768px) {
    --denhaag-container-inline-size: calc(
      var(--denhaag-container-size-unit) -
        (var(--denhaag-space-4xl) + var(--denhaag-space-3xl) + var(--denhaag-space-2xl))
    );
  }

  @media (min-width: 1280px) {
    --denhaag-container-inline-size: calc(
      var(--denhaag-container-size-unit) - (6 * var(--denhaag-space-5xl) + var(--denhaag-space-md))
    );
  }
}

.denhaag-container {
  box-sizing: border-box;
  inline-size: min(var(--denhaag-container-inline-size), var(--denhaag-container-max-inline-size), 100%);
  margin-inline: auto;
}
