.denhaag-timeline {
  padding-block-end: 0;
  padding-block-start: 0;
  padding-inline-end: 0;
  padding-inline-start: 0;
}

.denhaag-timeline__step-content {
  border-left: none;
}

.denhaag-timeline__step-content:empty {
  margin-block-start: 0;
}

.denhaag-timeline__step-label {
  display: flex;
}

.denhaag-timeline__step-label-text {
  text-overflow: ellipsis;
  overflow: hidden;
  display: flex;
  align-items: center;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.denhaag-timeline__step-label-text--hover,
.denhaag-timeline__step-label-text:hover {
  overflow: visible;
  white-space: normal;
  height: auto;
}
