.denhaag-timeline__step-icon {
  color: var(--denhaag-timeline-step-icon-color);
  height: var(--denhaag-timeline-step-icon-size);
  width: var(--denhaag-timeline-step-icon-size);
  padding-inline-end: var(--denhaag-timeline-step-icon-padding);
  margin-block-start: var(--denhaag-timeline-step-icon-margin);
  margin-block-end: var(--denhaag-timeline-step-icon-margin);
}

.denhaag-timeline__step-icon--active {
  color: var(--denhaag-timeline-step-icon-active-color);
}

.denhaag-timeline__step-icon--completed {
  color: var(--denhaag-timeline-step-icon-completed-color);
}

.denhaag-timeline__step-icon--disabled {
  color: var(--denhaag-timeline-step-icon-disabled-color);
}

.denhaag-timeline__step-icon-text {
  font-size: var(--denhaag-timeline-step-icon-text-font-size);
}

.denhaag-timeline__step-icon-text--active {
  fill: var(--denhaag-timeline-step-icon-text-active-color);
}
