.denhaag-post-info {
  align-items: center;
  color: var(--denhaag-post-info-color, var(--denhaag-color-blue-4));
  display: flex;
  font-family: var(--denhaag-post-info-font-family, var(--denhaag-typography-sans-serif-font-family));
  font-weight: var(--denhaag-post-info-font-weight, var(--denhaag-typography-weight-bold));
  font-size: var(--denhaag-post-info-font-size, var(--denhaag-typography-scale-s-font-size));
  line-height: var(--denhaag-post-info-line-height, var(--denhaag-typography-scale-s-line-height));
  letter-spacing: var(--denhaag-post-info-letter-spacing, 1px);
  text-transform: var(--denhaag-post-info-text-transform, uppercase);

  > :not(:first-child)::before {
    // Using a pseudo element to create a separator between the items.
    // Set background instead of content: '|', to avoid a blurry line.
    background-color: var(--denhaag-color-blue-2);
    content: "";
    margin-inline: var(--denhaag-space-md);
    block-size: var(--denhaag-space-md);
    inline-size: 1px;
  }

  > :has(.denhaag-icon, [class*="denhaag-dot"]) {
    display: flex;
    align-items: center;
    gap: var(--denhaag-post-info-item-gap, var(--denhaag-space-xs));

    &:not(:first-child)::before {
      margin-inline-end: var(--denhaag-post-info-item-gap, var(--denhaag-space-xs));
    }
  }

  .denhaag-icon {
    font-size: var(--denhaag-typography-scale-base-font-size);
  }

  > :has([class*="denhaag-dot"]) {
    color: var(--denhaag-color-red-3);
  }

  @each $modifier, $color in ("active", "green"), ("pending", "blue") {
    > :has(.denhaag-dot--#{$modifier}) {
      color: var(--denhaag-color-#{$color}-3);
    }
  }
}
