:root {
    --denhaag-card-arrow-left: 0;
    --denhaag-card-arrow-position: relative;
    --denhaag-card-arrow-right: 28px;
}

.denhaag-card {
  width: var(--denhaag-card-width);
  border-radius: var(--denhaag-card-border-radius);
}

.denhaag-card__wrapper {
    border-radius: var(--denhaag-card-border-radius);
    border-width: var(--denhaag-card-border-width);
    border-color: var(--denhaag-card-border-color);
    border-style: solid;
    box-sizing: border-box;
    height: var(--denhaag-card-height);
    padding-inline: var(--denhaag-card-padding-inline);
    padding-block: var(--denhaag-card-padding-block);
    flex-direction: column;
    display: flex;
}

.denhaag-card:focus .denhaag-card--case__text__wrapper {
  border: var(--denhaag-focus-border);
  border-color: var(--denhaag-focus-border-color);
}

.denhaag-card__arrow {
    left: var(--denhaag-card-arrow-left);
    position: var(--denhaag-card-arrow-position);
    right: var(--denhaag-card-arrow-right);
}

.denhaag-card__title {
    color: var(--denhaag-black);
    padding-block-start: var(--denhaag-card-title-padding);
    padding-block-end: var(--denhaag-card-title-padding);
    padding-inline: var(--denhaag-card-title-padding);
    font-size: var(--denhaag-card-title-font-size);
    line-height: var(--denhaag-card-title-line-height);
}

.denhaag-card__subtitle {
    color: var(--denhaag-card-subtitle-color);
    font-size: var(--denhaag-card-subtitle-font-size);
    font-weight: var(--denhaag-card-subtitle-font-weight);
    line-height: var(--denhaag-card-subtitle-line-height);
    padding-block-start: var(--denhaag-card-subtitle-padding);
    padding-block-end: var(--denhaag-card-subtitle-padding);
    padding-inline-start: var(--denhaag-card-subtitle-padding);
    padding-inline-end: var(--denhaag-card-subtitle-padding);
}

.denhaag-card--case {
  position: relative;
  background: var(--denhaag-card--case-secundary-background-color);
  padding-block-start: 20px;
  border-radius: var(--denhaag-card-border-radius);
}

.denhaag-card--case::before {
  content: '';
  display: block;
  position: absolute;
  right: 8px;
  top: 8px;
  height: 20px;
  width: 50%;
  background: var(--denhaag-card--case-paper-color);
  border-radius: 0 var(--denhaag-card-border-radius) 0 0;
}

.denhaag-card--case .denhaag-card__wrapper {
  position: relative;
  background: transparent;
  border-radius: var(--denhaag-card-border-radius);
  border: 2px;
  box-sizing: border-box;
  height: var(--denhaag-card--case-height);
  padding-block-start: var(--denhaag-card--case-padding-block-start);
  padding-block-end: var(--denhaag-card--case-padding-block-end);
  flex-direction: column;
  display: flex;
  perspective: 1800px;
}

.denhaag-card--case .denhaag-card__background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--denhaag-card--case-primary-background-color);
  transform-origin: 50% 100%;
  border-top-right-radius: var(--denhaag-card-border-radius);
  border-bottom-right-radius: var(--denhaag-card-border-radius);
  border-bottom-left-radius: var(--denhaag-card-border-radius);
  z-index: -1;
}

.denhaag-card--case .denhaag-card__background::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: -20px;
  height: 20px;
  width: 60%;
  background: var(--denhaag-card--case-primary-background-color);
  border-top-left-radius: var(--denhaag-card-border-radius);
}

.denhaag-card--case .denhaag-card__background::after {
  content: '';
  display: block;
  position: absolute;
  left: 55%;
  top: -20px;
  height: 22px;
  width: 10%;
  background: var(--denhaag-card--case-primary-background-color);
  transform: skewX(30deg);
}

.denhaag-card--case .denhaag-card__arrow {
  color: var(--denhaag-card--case-text-color);
  left: var(--denhaag-card-arrow-left);
  position: var(--denhaag-card-arrow-position);
  right: var(--denhaag-card-arrow-right);
}

.denhaag-card--case:hover .denhaag-card__arrow, .denhaag-card--case:focus .denhaag-card__arrow {
  color: var(--denhaag-card--case-text-active-color);
}

.denhaag-card--case .denhaag-card__title {
  position: relative;
  color: var(--denhaag-card--case-text-color);
  font-weight: 700;
  padding-block: var(--denhaag-card-title-padding);
  padding-inline: var(--denhaag-card-title-padding);
}

.denhaag-card--case:hover .denhaag-card__title, .denhaag-card--case:focus .denhaag-card__title {
  color: var(--denhaag-card--case-text-active-color);
}

.denhaag-card--case .denhaag-card__subtitle {
  position: relative;
  color: var(--denhaag-card--case-text-color);
  font-weight: 500;
  padding-block: var(--denhaag-card-subtitle-padding);
  padding-inline: var(--denhaag-card-subtitle-padding);
  /*flex-grow: 1;/*
  /* height: 44px; */
}

.denhaag-card--case:hover .denhaag-card__subtitle, .denhaag-card--case:focus .denhaag-card__subtitle {
  color: var(--denhaag-card--case-text-active-color);
}

.denhaag-card--case:hover::before, .denhaag-card--case:focus::before {
  top: 12px;
  transform:rotate(-2.45deg);
  transform-origin: right;
}

.denhaag-card--case:hover .denhaag-card__background, .denhaag-card--case:focus .denhaag-card__background {
  transform: rotateX(-20deg);
}