.denhaag-note {
  --denhaag-note-icon-color: #4b4b4b;
  --denhaag-note-icon-fill: #f1f1f1;
  --denhaag-note-icon-stroke: #4b4b4b;

  color: #4b4b4b;
  display: flex;
  flex-direction: row;
  font-family: var(--denhaag-note-font-family, inherit);
  font-size: var(--denhaag-note-font-size, 1.125em);
  font-weight: var(--denhaag-note-font-weight, normal);
  line-height: var(--denhaag-note-line-height, 1.3);
  gap: var(--denhaag-note-icon-spacing);
  padding-block-start: var(--denhaag-note-icon-spacing);
  padding-block-end: var(--denhaag-note-icon-spacing);
}

.denhaag-note--info {
  --denhaag-note-icon-color: #ffffff;
  --denhaag-note-icon-fill: #1261a3;
  --denhaag-note-icon-stroke: #1261a3;
}

.denhaag-note--warning {
  --denhaag-note-icon-color: #ffffff;
  --denhaag-note-icon-fill: #f18700;
  --denhaag-note-icon-stroke: #f18700;
}

.denhaag-note__icon,
.denhaag-note svg {
  aspect-ratio: 1 / 1;
  flex: 0 0 auto;
  height: auto;
  width: var(--denhaag-note-icon-size);
}

.denhaag-note__icon-color {
  stroke: var(--denhaag-note-icon-color);
}

.denhaag-note__icon-background {
  fill: var(--denhaag-note-icon-fill);
  stroke: var(--denhaag-note-icon-stroke);
}
