@import "~@utrecht/components/dist/textbox/css";
@import "./pra-textbox";

.pra-textbox {
  .utrecht-textbox {
    --utrecht-textbox-border-bottom-width: 0;
    --utrecht-textbox-invalid-border-bottom-width: 0;
  }

  &:has(.utrecht-textbox--invalid) {
    --utrecht-textbox-border-width: var(--utrecht-textbox-invalid-border-width);
  }
}
