.denhaag-card__header {
    --denhaag-card-header-font-style: normal;
    --denhaag-card-header-font-weight: bold;
    --denhaag-card-header-font-size: 16px;

    --denhaag-card-header-line-height: 24px;
}
