.denhaag-card__header {
    --denhaag-card__header-font-style: normal;
    --denhaag-card__header-font-weight: bold;
    --denhaag-card__header-font-size: 16px;
    
    --denhaag-card__header-line-height: 24px;
}