@keyframes denhaag-angled-image-next {
  0% {
    clip-path: var(--denhaag-fullwidth-slider-animation-start-clip-path);
  }

  55% {
    clip-path: var(--denhaag-fullwidth-slider-animation-start-clip-path);
  }

  100% {
    clip-path: var(--denhaag-fullwidth-slider-animation-end-clip-path);
  }
}

.denhaag-fullwidth-slider {
  position: var(--denhaag-fullwidth-slider-position);
  max-width: var(--denhaag-fullwidth-slider-max-width);
  font-family: var(--denhaag-fullwidth-slider-font-family);
  font-weight: var(--denhaag-fullwidth-slider-font-weight);
  font-size: var(--denhaag-fullwidth-slider-font-size);
  color: var(--denhaag-fullwidth-slider-color);
}

.denhaag-fullwidth-slider__wrapper {
  position: var(--denhaag-fullwidth-slider-wrapper-position);
}

.denhaag-fullwidth-slider__slide {
  width: var(--denhaag-fullwidth-slider-slide-width);
}

.denhaag-fullwidth-slider__card {
  position: var(--denhaag-fullwidth-slider-card-position);
  padding-inline-start: var(--denhaag-fullwidth-slider-card-padding);
  padding-inline-end: var(--denhaag-fullwidth-slider-card-padding);
  padding-block-start: var(--denhaag-fullwidth-slider-card-padding);
  padding-block-end: var(--denhaag-fullwidth-slider-card-padding);
  display: var(--denhaag-fullwidth-slider-card-display);
  justify-content: var(--denhaag-fullwidth-slider-card-justify-content);
  border-bottom: var(--denhaag-fullwidth-slider-card-border-bottom);
  border-color: var(--denhaag-fullwidth-slider-card-border-color);
  opacity: var(--denhaag-fullwidth-slider-card-opacity);
  background-color: var(--denhaag-fullwidth-slider-card-background-color);
  transition: var(--denhaag-fullwidth-slider-card-transition);
  transform: var(--denhaag-fullwidth-slider-card-transform);
  margin-block-start: var(--denhaag-fullwidth-slider-card-margin-block-start-xs);
  margin-inline: var(--denhaag-fullwidth-slider-card-margin-inline-xs);
  width: var(--denhaag-fullwidth-slider-card-width-xs);

  @media (min-width: 768px) {
    margin-block-start: var(--denhaag-fullwidth-slider-card-margin-block-start-sm);
    margin-inline: var(--denhaag-fullwidth-slider-card-margin-inline-sm);
    width: var(--denhaag-fullwidth-slider-card-width-sm);
  }

  @media (min-width: 1024px) {
    margin-block-start: var(--denhaag-fullwidth-slider-card-margin-block-start-lg);
    margin-inline: var(--denhaag-fullwidth-slider-card-margin-inline-lg);
  }

  @media (min-width: 1280px) {
    margin-inline: var(--denhaag-fullwidth-slider-card-margin-inline-xl);
  }

  &:hover,
  &--hover {
    cursor: var(--denhaag-fullwidth-slider-card-hover-cursor);
    box-shadow: var(--denhaag-fullwidth-slider-card-hover-box-shadow);

    .denhaag-fullwidth-slider__card-arrow {
      transform: var(--denhaag-fullwidth-slider-card-arrow-hover-transform);
    }
  }

  &--no-action {
    &:hover {
      cursor: var(--denhaag-fullwidth-slider-card-no-action-cursor);
      box-shadow: var(--denhaag-fullwidth-slider-card-no-action-box-shadow);
    }
  }
}

.denhaag-fullwidth-slider__card-content {
  display: var(--denhaag-fullwidth-slider-card-content-display);
  flex-direction: var(--denhaag-fullwidth-slider-card-content-flex-direction);
  margin-block-start: var(--denhaag-fullwidth-slider-card-content-margin-block-start-xs);
  margin-inline-start: var(--denhaag-fullwidth-slider-card-content-margin-inline-start-xs);
  padding-inline-end: var(--denhaag-fullwidth-slider-card-content-padding-inline-end);
  @media (min-width: 768px) {
    margin-block-start: var(--denhaag-fullwidth-slider-card-content-margin-block-start-sm);
    margin-inline-start: var(--denhaag-fullwidth-slider-card-content-margin-inline-start-sm);
  }
}

.denhaag-fullwidth-slider__card-content__title {
  font-family: var(--denhaag-fullwidth-slider-card-content-title-font-family);
  font-size: var(--denhaag-fullwidth-slider-card-content-title-font-size);
  font-weight: var(--denhaag-fullwidth-slider-card-content-title-font-weight);
  margin-block-start: var(--denhaag-fullwidth-slider-card-content-title-margin-block);
  margin-block-end: var(--denhaag-fullwidth-slider-card-content-title-margin-block);
  padding-block-end: var(--denhaag-fullwidth-slider-card-content-title-padding-bottom);
  color: var(--denhaag-fullwidth-slider-card-content-title-color);

  &--focus-visible {
    a {
      outline: var(--denhaag-focus-border);
    }
  }

  a {
    text-decoration: var(--denhaag-fullwidth-slider-card-content-title-anchor-text-decoration);
    color: var(--denhaag-fullwidth-slider-card-content-title-anchor-color);
    &:focus-visible {
      outline: var(--denhaag-focus-border);
    }
  }

  &::after {
    content: var(--denhaag-fullwidth-slider-card-content-title-after-content);
    position: var(--denhaag-fullwidth-slider-card-content-title-after-position);
    top: var(--denhaag-fullwidth-slider-card-content-title-after-top);
    bottom: var(--denhaag-fullwidth-slider-card-content-title-after-bottom);
    left: var(--denhaag-fullwidth-slider-card-content-title-after-left);
    right: var(--denhaag-fullwidth-slider-card-content-title-after-right);
    transition: var(--denhaag-fullwidth-slider-card-content-title-after-transition);
  }
}

.denhaag-fullwidth-slider__card-content__author {
  font-family: var(--denhaag-fullwidth-slider-card-content-author-font-family);
  font-size: var(--denhaag-fullwidth-slider-card-content-author-font-size);
  font-weight: var(--denhaag-fullwidth-slider-card-content-author-font-weight);
  font-style: var(--denhaag-fullwidth-slider-card-content-author-font-style);
  color: var(--denhaag-fullwidth-slider-card-content-author-color);
  margin-block-end: var(--denhaag-fullwidth-slider-card-content-author-margin-block-end);
}

.denhaag-fullwidth-slider__card-arrow {
  color: var(--denhaag-fullwidth-slider-card-arrow-color);
  position: var(--denhaag-fullwidth-slider-card-arrow-position);
  bottom: var(--denhaag-fullwidth-slider-card-padding);
  right: var(--denhaag-fullwidth-slider-card-padding);
  pointer-events: var(--denhaag-fullwidth-slider-card-arrow-pointer-events);
  transition: var(--denhaag-fullwidth-slider-card-arrow-transition);
}

.denhaag-fullwidth-slider__slide-image {
  width: var(--denhaag-fullwidth-slider-slide-image-width);
  height: var(--denhaag-fullwidth-slider-slide-image-height-xs);

  @media (min-width: 768px) {
    height: var(--denhaag-fullwidth-slider-slide-image-height-sm);
  }

  @media (min-width: 1024px) {
    height: var(--denhaag-fullwidth-slider-slide-image-height-lg);
  }

  img {
    width: var(--denhaag-fullwidth-slider-slide-image-img-width);
    height: var(--denhaag-fullwidth-slider-slide-image-img-height);
    object-fit: var(--denhaag-fullwidth-slider-slide-image-img-object-fit);
  }
}

.denhaag-fullwidth-slider__reverse-slide-direction {
  animation: var(--denhaag-fullwidth-slider-wrapper-reversed-animation);
  animation-duration: var(--denhaag-fullwidth-slider-wrapper-reversed-animation-duration);
}

.denhaag-fullwidth-slider__slide--active {
  &:not(.denhaag-fullwidth-slider__remove-animation) {
    .denhaag-fullwidth-slider__slide-image {
      position: var(--denhaag-fullwidth-slider-slide-active-image-position);
      animation: var(--denhaag-fullwidth-slider-slide-active-image-animation);
      animation-duration: var(--denhaag-fullwidth-slider-slide-active-image-animation-duration);
    }
  }

  .denhaag-fullwidth-slider__card {
    transform: var(--denhaag-fullwidth-slider-slide-active-card-transform);
    opacity: var(--denhaag-fullwidth-slider-slide-active-card-opacity);
    transition-property: var(--denhaag-fullwidth-slider-slide-active-card-transition-property);
    transition-duration: var(--denhaag-fullwidth-slider-slide-active-card-transition-duration);
    transition-delay: var(--denhaag-fullwidth-slider-slide-active-card-transition-delay);
  }
}

.denhaag-fullwidth-slider__top {
  display: var(--denhaag-fullwidth-slider-top-display);
  grid-template-columns: var(--denhaag-fullwidth-slider-top-grid-template-columns-xs);
  column-gap: var(--denhaag-fullwidth-slider-top-column-gap);
  align-items: var(--denhaag-fullwidth-slider-top-align-items);
  margin-block-end: var(--denhaag-fullwidth-slider-top-margin-block-end);
  padding-inline-start: var(--denhaag-fullwidth-slider-top-padding-inline-xs);
  padding-inline-end: var(--denhaag-fullwidth-slider-top-padding-inline-xs);

  @media (min-width: 768px) {
    grid-template-columns: var(--denhaag-fullwidth-slider-top-grid-template-columns-sm);
    padding-inline-start: var(--denhaag-fullwidth-slider-top-padding-inline-sm);
    padding-inline-end: var(--denhaag-fullwidth-slider-top-padding-inline-sm);
  }

  @media (min-width: 1280px) {
    padding-inline-start: var(--denhaag-fullwidth-slider-top-padding-inline-xl);
    padding-inline-end: var(--denhaag-fullwidth-slider-top-padding-inline-xl);
  }

  @media (min-width: 1768px) {
    padding-inline-start: var(--denhaag-fullwidth-slider-top-padding-inline-xxl);
    padding-inline-end: var(--denhaag-fullwidth-slider-top-padding-inline-xxl);
  }
}

.denhaag-fullwidth-slider__top-title {
  font-family: var(--denhaag-fullwidth-slider-top-title-font-family);
  font-size: var(--denhaag-fullwidth-slider-top-title-font-size);
  font-weight: var(--denhaag-fullwidth-slider-top-title-font-weight);
  color: var(--denhaag-fullwidth-slider-top-title-color);
  margin-block-start: var(--denhaag-fullwidth-slider-top-title-margin-block-start);
  margin-block-end: var(--denhaag-fullwidth-slider-top-title-margin-block-end-sm);
  grid-column: var(--denhaag-fullwidth-slider-top-title-grid-column-sm);

  @media (max-width: 767px) {
    grid-column: var(--denhaag-fullwidth-slider-top-title-grid-column-xs);
    margin-block-end: var(--denhaag-fullwidth-slider-top-title-margin-block-end-xs);
  }
}

.denhaag-fullwidth-slider__controls {
  display: var(--denhaag-fullwidth-slider-controls-display);
  justify-content: var(--denhaag-fullwidth-slider-controls-justify-content);
}

.denhaag-fullwidth-slider__controls-playpause {
  display: var(--denhaag-fullwidth-slider-controls-playpause-display);
  justify-content: var(--denhaag-fullwidth-slider-controls-playpause-justify-content);
  align-items: var(--denhaag-fullwidth-slider-controls-playpause-align-items);
  background-color: var(--denhaag-fullwidth-slider-controls-playpause-background-color);
  width: var(--denhaag-fullwidth-slider-controls-playpause-width);
  height: var(--denhaag-fullwidth-slider-controls-playpause-height);
  margin-inline-start: var(--denhaag-fullwidth-slider-controls-playpause-margin-inline);
  margin-inline-end: var(--denhaag-fullwidth-slider-controls-playpause-margin-inline);
  border: var(--denhaag-fullwidth-slider-controls-playpause-border);
  border-color: var(--denhaag-fullwidth-slider-controls-playpause-border-color);
  border-radius: var(--denhaag-fullwidth-slider-controls-playpause-border-radius);
  color: var(--denhaag-fullwidth-slider-controls-playpause-color);

  &--hide {
    display: var(--denhaag-fullwidth-slider-controls-playpause-hide-display);
  }

  &:hover,
  &--hover {
    cursor: var(--denhaag-fullwidth-slider-controls-playpause-hover-cursor);
    color: var(--denhaag-fullwidth-slider-controls-playpause-hover-color);
    border-color: var(--denhaag-fullwidth-slider-controls-playpause-hover-border-color);
  }

  &:focus-visible,
  &--focus-visible {
    outline: var(--denhaag-focus-border);
  }
}

.denhaag-fullwidth-slider__controls-arrows {
  display: var(--denhaag-fullwidth-slider-controls-arrows-display);
  justify-content: var(--denhaag-fullwidth-slider-controls-arrows-justify-content);
  align-items: var(--denhaag-fullwidth-slider-controls-arrows-align-items);
  background-color: var(--denhaag-fullwidth-slider-controls-arrows-background-color);
  width: var(--denhaag-fullwidth-slider-controls-arrows-width);
  height: var(--denhaag-fullwidth-slider-controls-arrows-height);
  border: var(--denhaag-fullwidth-slider-controls-arrows-border);
  border-radius: var(--denhaag-fullwidth-slider-controls-arrows-border-radius);
  color: var(--denhaag-fullwidth-slider-controls-arrows-color);

  &:hover,
  &--hover {
    cursor: var(--denhaag-fullwidth-slider-controls-arrows-hover-cursor);
    background-color: var(--denhaag-fullwidth-slider-controls-arrows-hover-background-color);
  }

  &:focus-visible,
  &--focus-visible {
    outline: var(--denhaag-focus-border);
  }
}

.denhaag-fullwidth-slider__pagination {
  display: var(--denhaag-fullwidth-slider-pagination-display);
  align-items: var(--denhaag-fullwidth-slider-pagination-align-items);
  justify-content: var(--denhaag-fullwidth-slider-pagination-justify-content-xs);
  transform: var(--denhaag-fullwidth-slider-pagination-transform) !important;
  width: var(--denhaag-fullwidth-slider-pagination-width) !important;
  min-height: var(--denhaag-fullwidth-slider-pagination-min-height);

  @media (min-width: 768px) {
    justify-content: var(--denhaag-fullwidth-slider-pagination-justify-content-sm);
    margin-inline-start: var(--denhaag-fullwidth-slider-pagination-margin-inline);
    margin-inline-end: var(--denhaag-fullwidth-slider-pagination-margin-inline);
  }

  .denhaag-fullwidth-slider__pagination-bullet {
    position: var(--denhaag-fullwidth-slider-pagination-bullet-position);
    background-color: var(--denhaag-fullwidth-slider-pagination-bullet-background-color);
    opacity: var(--denhaag-fullwidth-slider-pagination-bullet-opacity);
    width: var(--denhaag-fullwidth-slider-pagination-bullet-width);
    height: var(--denhaag-fullwidth-slider-pagination-bullet-height);
    border-radius: var(--denhaag-fullwidth-slider-pagination-bullet-border-radius);
    margin-inline-start: var(--denhaag-fullwidth-slider-pagination-bullet-margin-inline);
    margin-inline-end: var(--denhaag-fullwidth-slider-pagination-bullet-margin-inline);
  }

  .denhaag-fullwidth-slider__pagination-bullet--active {
    opacity: var(--denhaag-fullwidth-slider-pagination-bullet-active-opacity);
    transform: var(--denhaag-fullwidth-slider-pagination-bullet-active-transform);
    background-color: var(--denhaag-fullwidth-slider-pagination-bullet-active-background-color);
  }

  &.swiper-pagination-bullets-dynamic {
    .denhaag-fullwidth-slider__pagination-bullet {
      transform: var(--denhaag-fullwidth-slider-pagination-bullet-transform);
      transition: var(--denhaag-fullwidth-slider-pagination-bullet-transition);
      opacity: var(--denhaag-fullwidth-slider-pagination-bullet-opacity);
    }

    .denhaag-fullwidth-slider__pagination-bullet--active-main {
      opacity: var(--denhaag-fullwidth-slider-pagination-bullet-active-main-opacity);
      transform: var(--denhaag-fullwidth-slider-pagination-bullet-active-main-transform);
      background-color: var(--denhaag-fullwidth-slider-pagination-bullet-active-main-background-color);

      &.denhaag-fullwidth-slider__pagination-bullet--active {
        opacity: var(--denhaag-fullwidth-slider-pagination-bullet-active-opacity);
        transform: var(--denhaag-fullwidth-slider-pagination-bullet-active-transform);
        background-color: var(--denhaag-fullwidth-slider-pagination-bullet-active-background-color);
      }
    }

    .denhaag-fullwidth-slider__pagination-bullet--active-prev,
    .denhaag-fullwidth-slider__pagination-bullet--active-next {
      opacity: var(--denhaag-fullwidth-slider-pagination-bullet-active-opacity);
      transform: var(--denhaag-fullwidth-slider-pagination-bullet-active-next-prev-transform);
    }

    .denhaag-fullwidth-slider__pagination-bullet--active-prev-prev,
    .denhaag-fullwidth-slider__pagination-bullet--active-next-next {
      opacity: var(--denhaag-fullwidth-slider-pagination-bullet-active-opacity);
      transform: var(--denhaag-fullwidth-slider-pagination-bullet-active-next-next-prev-prev-transform);
    }
  }
}
