{
  "extends": ["../.eslintrc"],
  "env": {
    "jest": true
  },
  "rules": {
    // This config is specific for TypeScript.
    "no-undef": 0,
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": "error"
  }
}
