.denhaag-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.denhaag-checkbox__input {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0%;
  cursor: inherit;
}

.denhaag-checkbox__icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: var(--denhaag-checkbox-size);
  aspect-ratio: 1;
  background-color: var(--denhaag-checkbox-background-color);
  border-width: var(--denhaag-checkbox-border-width);
  border-style: solid;
  border-color: var(--denhaag-checkbox-border-color);
  border-radius: var(--denhaag-checkbox-border-radius);
  box-sizing: border-box;
  cursor: pointer;
}

.denhaag-checkbox__icon .denhaag-icon {
  display: none;
}

.denhaag-checkbox__input:checked + .denhaag-checkbox__icon {
  border: 0;
  background-color: var(--denhaag-checkbox-checked-background-color);
}

.denhaag-checkbox__input:checked + .denhaag-checkbox__icon .denhaag-icon {
  display: block;
  font-size: var(--denhaag-checkbox-icon-font-size);
  color: var(--denhaag-checkbox-icon-color);
}

.denhaag-checkbox.denhaag-checkbox--error .denhaag-checkbox__icon {
  border-color: var(--denhaag-checkbox-error-color);
}

.denhaag-checkbox:focus-within .denhaag-checkbox__icon,
.denhaag-checkbox.denhaag-checkbox--focus .denhaag-checkbox__icon {
  outline: var(--denhaag-focus-border);
}

.denhaag-checkbox:hover .denhaag-checkbox__icon,
.denhaag-checkbox.denhaag-checkbox--hover .denhaag-checkbox__icon,
.denhaag-form-control-label:hover .denhaag-checkbox__icon {
  border-color: var(--denhaag-checkbox-hover-border-color);
}

.denhaag-checkbox .denhaag-checkbox__input:disabled + .denhaag-checkbox__icon {
  background-color: var(--denhaag-checkbox-disabled-background-color);
  border-color: var(--denhaag-checkbox-border-color);
  cursor: default;
}

.denhaag-checkbox.denhaag-checkbox--error:hover .denhaag-checkbox__icon,
.denhaag-checkbox.denhaag-checkbox--error.denhaag-checkbox.denhaag-checkbox--hover .denhaag-checkbox__icon,
.denhaag-form-control-label:hover .denhaag-checkbox.denhaag-checkbox--error .denhaag-checkbox__icon {
  border-color: var(--denhaag-checkbox-hover-error-color);
}

.denhaag-checkbox:hover .denhaag-checkbox__input:checked + .denhaag-checkbox__icon,
.denhaag-checkbox.denhaag-checkbox--hover .denhaag-checkbox__input:checked + .denhaag-checkbox__icon,
.denhaag-form-control-label:hover .denhaag-checkbox__input:checked + .denhaag-checkbox__icon {
  background-color: var(--denhaag-checkbox-hover-checked-background-color);
}

.denhaag-checkbox .denhaag-checkbox__input:checked:disabled + .denhaag-checkbox__icon {
  background-color: var(--denhaag-checkbox-disabled-checked-background-color);
}

.denhaag-checkbox.denhaag-checkbox--error .denhaag-checkbox__input:checked + .denhaag-checkbox__icon {
  background-color: var(--denhaag-checkbox-error-color);
}

.denhaag-checkbox.denhaag-checkbox--error:hover .denhaag-checkbox__input:checked + .denhaag-checkbox__icon,
.denhaag-checkbox.denhaag-checkbox--error.denhaag-checkbox--hover
  .denhaag-checkbox__input:checked
  + .denhaag-checkbox__icon,
.denhaag-form-control-label:hover
  .denhaag-checkbox.denhaag-checkbox--error
  .denhaag-checkbox__input:checked
  + .denhaag-checkbox__icon {
  background-color: var(--denhaag-checkbox-hover-error-color);
}
