.denhaag-checkbox {
  aspect-ratio: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: var(--denhaag-checkbox-overflow, hidden);
  width: var(--denhaag-checkbox-size, var(--denhaag-space-lg));
  height: var(--denhaag-checkbox-size, var(--denhaag-space-lg));
  border-radius: var(--denhaag-checkbox-border-radius, var(--denhaag-border-radius));
}

.denhaag-checkbox__input {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: var(--utrecht-custom-checkbox-size);
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  aspect-ratio: 1;
  opacity: 0%;
  cursor: pointer;
}

.denhaag-checkbox__icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: var(--utrecht-custom-checkbox-size);
  aspect-ratio: 1;
  background-color: var(--utrecht-custom-checkbox-background-color, var(--utrecht-form-input-background-color));
  border-width: var(--utrecht-custom-checkbox-border-width, var(--utrecht-form-input-border-width));
  border-style: solid;
  border-color: var(--utrecht-custom-checkbox-border-color, var(--utrecht-form-input-border-color));
  border-radius: var(--utrecht-custom-checkbox-border-radius, var(--utrecht-form-input-border-radius));
  box-sizing: border-box;
  cursor: pointer;
}

.denhaag-checkbox__icon .denhaag-icon {
  display: none;
}

.denhaag-checkbox__input:disabled {
  cursor: default;
}

.denhaag-checkbox__input:checked + .denhaag-checkbox__icon {
  background-color: var(--utrecht-custom-checkbox-checked-background-color);
  border-width: var(--utrecht-custom-checkbox-checked-border-width);
  border-color: var(--utrecht-custom-checkbox-checked-border-color);
  position: relative;
}

.denhaag-checkbox__input + .denhaag-checkbox__icon::after {
  --denhaag-checkbox-icon-transform: rotate(40deg);
  --denhaag-checkbox-icon-opacity: 0%;

  transition: transform var(--denhaag-checkbox-transition-duration, 200ms)
    var(--denhaag-checkbox-timing-function, ease-in);
  content: "";
  width: inherit;
  height: var(--denhaag-checkbox-size, var(--denhaag-space-lg));
  background-color: inherit;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: var(--denhaag-checkbox-icon-transform);
  opacity: var(--denhaag-checkbox-icon-opacity);
}

.denhaag-checkbox__input:checked + .denhaag-checkbox__icon::after {
  --denhaag-checkbox-icon-transform: rotate(40deg) translateY(-22px);
  --denhaag-checkbox-icon-opacity: 100%;
}

.denhaag-checkbox__input:checked + .denhaag-checkbox__icon .denhaag-icon {
  display: block;
  font-size: var(--utrecht-custom-checkbox-icon-size);
  color: var(--utrecht-custom-checkbox-checked-color);
}

.denhaag-checkbox.denhaag-checkbox--error .denhaag-checkbox__icon {
  border-width: var(--utrecht-custom-checkbox-invalid-border-width, var(--utrecht-form-input-invalid-border-width));
  border-color: var(--utrecht-custom-checkbox-invalid-border-color, var(--utrecht-form-input-invalid-border-color));
}

.denhaag-checkbox.denhaag-checkbox--error .denhaag-checkbox__icon .denhaag-icon {
  color: var(--utrecht-custom-checkbox-invalid-color);
}

.denhaag-checkbox:focus-within .denhaag-checkbox__icon,
.denhaag-checkbox.denhaag-checkbox--focus .denhaag-checkbox__icon {
  outline: var(--denhaag-focus-border);
}

.denhaag-checkbox:hover .denhaag-checkbox__icon,
.denhaag-checkbox.denhaag-checkbox--hover .denhaag-checkbox__icon,
.denhaag-form-control-label:hover .denhaag-checkbox__icon {
  border-width: var(--denhaag-checkbox-hover-border-width);
  border-color: var(--denhaag-checkbox-hover-border-color);
}

.denhaag-checkbox .denhaag-checkbox__input:disabled + .denhaag-checkbox__icon {
  background-color: var(--utrecht-custom-checkbox-disabled-background-color);
  border-width: var(--utrecht-custom-checkbox-disabled-border-width);
  border-color: var(--utrecht-custom-checkbox-disabled-border-color);
  cursor: default;
}

.denhaag-checkbox.denhaag-checkbox--error:hover .denhaag-checkbox__icon,
.denhaag-checkbox.denhaag-checkbox--error.denhaag-checkbox.denhaag-checkbox--hover .denhaag-checkbox__icon,
.denhaag-form-control-label:hover .denhaag-checkbox.denhaag-checkbox--error .denhaag-checkbox__icon {
  border-color: var(--denhaag-checkbox-hover-invalid-border-color);
}

.denhaag-checkbox:hover .denhaag-checkbox__input:checked + .denhaag-checkbox__icon,
.denhaag-checkbox.denhaag-checkbox--hover .denhaag-checkbox__input:checked + .denhaag-checkbox__icon,
.denhaag-form-control-label:hover .denhaag-checkbox__input:checked + .denhaag-checkbox__icon {
  background-color: var(--denhaag-checkbox-hover-checked-background-color);
  border-color: var(--denhaag-checkbox-hover-checked-border-color);
}

.denhaag-checkbox .denhaag-checkbox__input:checked:disabled + .denhaag-checkbox__icon {
  background-color: var(--denhaag-checkbox-checked-disabled-background-color);
  border-color: var(--denhaag-checkbox-checked-disabled-border-color);
}

.denhaag-checkbox.denhaag-checkbox--error .denhaag-checkbox__input:checked + .denhaag-checkbox__icon {
  background-color: var(--denhaag-checkbox-checked-invalid-background-color);
}

.denhaag-checkbox.denhaag-checkbox--error:hover .denhaag-checkbox__input:checked + .denhaag-checkbox__icon,
.denhaag-checkbox.denhaag-checkbox--error.denhaag-checkbox--hover
  .denhaag-checkbox__input:checked
  + .denhaag-checkbox__icon,
.denhaag-form-control-label:hover
  .denhaag-checkbox.denhaag-checkbox--error
  .denhaag-checkbox__input:checked
  + .denhaag-checkbox__icon {
  background-color: var(--denhaag-checkbox-hover-invalid-background-color);
  border-color: var(--denhaag-checkbox-hover-invalid-border-color);
}
