.denhaag-conditions {
  --denhaag-list-wrapper-padding-block: var(--denhaag-conditions-padding-block);

  background-color: var(--denhaag-conditions-background-color);
  border-block-start: var(--denhaag-conditions-border-block-start);
}

.denhaag-conditions__label-container {
  display: var(--denhaag-conditions-label-container-display);
  height: var(--denhaag-conditions-label-container-height);
  justify-content: var(--denhaag-conditions-label-container-justify-content);
}

.denhaag-conditions__label {
  color: var(--denhaag-conditions-label-color);
  display: var(--denhaag-conditions-label-display);
  height: calc(var(--denhaag-conditions-label-height) - var(--denhaag-space-xs));
  justify-content: var(--denhaag-conditions-label-justify-content);
  overflow: var(--denhaag-conditions-label-overflow);
  position: var(--denhaag-conditions-label-position);
  width: var(--denhaag-conditions-label-width);
}

.denhaag-conditions__label::before {
  content: "";
  position: var(--denhaag-conditions-label-before-position);
  background-color: var(--denhaag-conditions-label-before-background-color);
  clip-path: var(--denhaag-conditions-label-before-clip-path-xs);
  height: calc(var(--denhaag-conditions-label-height) - var(--denhaag-space-xs));
  width: var(--denhaag-conditions-label-width);

  @media (min-width: 768px) {
    clip-path: var(--denhaag-conditions-label-before-clip-path-m);
  }
}

.denhaag-conditions__label-icon {
  margin-block-start: var(--denhaag-conditions-label-icon-margin-block-start);
  z-index: 2;
}

.denhaag-conditions .denhaag-list__subheader {
  padding-block-start: var(--denhaag-conditions-subheader-padding-block-start-s);
}

.denhaag-conditions__title {
  --denhaag-typography-scale-base-font-size: var(--denhaag-conditions-title-font-size);
  --denhaag-list-subheader-color: var(--denhaag-conditions-title-color);
  --denhaag-typography-sans-serif-font-family: var(--denhaag-conditions-title-font-family);
  --denhaag-list-subheader-line-height: var(--denhaag-conditions-title-line-height);
  --denhaag-list-item-padding-inline: var(--denhaag-conditions-title-padding-inline);
}

.denhaag-list.denhaag-conditions__list {
  padding-block-end: var(--denhaag-conditions-list-padding-block-end);
}

.denhaag-conditions .denhaag-list__item {
  align-items: var(--denhaag-conditions-list-item-align-items);
}

.denhaag-conditions__list-item {
  --denhaag-list-item-padding-inline: var(--denhaag-conditions-list-item-padding-inline);
}

.denhaag-conditions .denhaag-list__item-icon {
  display: var(--denhaag-conditions-item-icon-display);
}

.denhaag-conditions__item-icon {
  --denhaag-list-item-icon-color: var(--denhaag-conditions-item-icon-color);
  --denhaag-list-item-icon-margin-inline-end: var(--denhaag-conditions-item-icon-margin-inline-end);

  padding-block-start: var(--denhaag-conditions-item-icon-padding-block-start);
}

.denhaag-conditions__text-content {
  --denhaag-list-item-text-primary-color: var(--denhaag-conditions-text-content-color);
  --denhaag-list-item-text-primary-font-size: var(--denhaag-conditions-text-content-font-size);
  --denhaag-list-item-text-primary-line-height: var(--denhaag-conditions-text-content-line-height);
}

.denhaag-conditions .denhaag-icon {
  height: var(--denhaag-conditions-denhaag-icon-height);
  width: var(--denhaag-conditions-denhaag-icon-width);
}

@media (min-width: 768px) {
  .denhaag-conditions__label {
    --denhaag-conditions-label-height: var(--denhaag-space-5xl);
    --denhaag-conditions-label-width: var(--denhaag-conditions-label-width-desktop);
  }

  .denhaag-conditions__label::before {
    --denhaag-conditions-label-before-size: var(--denhaag-space-5xl);
  }

  .denhaag-conditions .denhaag-list__subheader {
    padding-block-start: var(--denhaag-conditions-subheader-padding-block-start-m);
  }

  .denhaag-conditions__title {
    --denhaag-list-item-padding-inline: var(--denhaag-space-2xl);
  }

  .denhaag-list.denhaag-conditions__list {
    --denhaag-conditions-list-padding-block-end: var(--denhaag-space-lg);
  }

  .denhaag-conditions__list-item {
    --denhaag-list-item-padding-inline: var(--denhaag-space-2xl);
  }
}
