.denhaag-conditions {
  --denhaag-conditions-variant-color: var(--denhaag-color-green-3);
  --denhaag-list-item-icon-color: var(--denhaag-conditions-item-icon-color, var(--denhaag-color-green-5));
  --denhaag-list-item-icon-margin-inline-end: var(
    --denhaag-conditions-item-icon-margin-inline-end,
    var(--denhaag-space-xs)
  );
  --denhaag-list-item-padding-inline: var(--denhaag-conditions-list-item-padding-inline, var(--denhaag-space-xl));
  --denhaag-list-wrapper-padding-block: 0;

  background-color: var(--denhaag-conditions-background-color, #f9fbf9); // 15% of var(--denhaag-color-green-1).
  border-block-start: var(--denhaag-space-xs) solid var(--denhaag-conditions-variant-color);
}

.denhaag-conditions__label-container {
  display: flex;
  justify-content: center;
}

.denhaag-conditions__label {
  background-color: var(--denhaag-conditions-variant-color);
  color: var(--denhaag-conditions-label-color, var(--denhaag-color-white));
  clip-path: var(--denhaag-conditions-label-clip-path-xs, polygon(100% 0, 100% 50%, 50% 100%, 0% 50%, 0 0));
  display: flex;
  height: calc(var(--denhaag-conditions-label-height, 3.5rem) - var(--denhaag-space-xs));
  justify-content: center;
  position: relative;
  width: var(--denhaag-conditions-label-width, 4.5rem);

  &::before {
    background: var(--denhaag-conditions-variant-color);
    content: "";
    height: 1px;
    position: absolute;
    top: -1px;
    width: 100%;
  }

  @media (min-width: 768px) {
    clip-path: var(--denhaag-conditions-label-clip-path-m, polygon(100% 0, 100% 57.14%, 50% 100%, 0% 57.14%, 0 0));
  }
}

.denhaag-conditions__label-icon {
  margin-block-start: var(--denhaag-conditions-label-icon-margin-block-start, var(--denhaag-space-sm));
  z-index: 2;
}

.denhaag-conditions .denhaag-list__subheader {
  padding-block-start: var(--denhaag-conditions-subheader-padding-block-start-s, var(--denhaag-space-xl));
}

.denhaag-conditions__title {
  --denhaag-typography-scale-base-font-size: var(
    --denhaag-conditions-title-font-size,
    var(--denhaag-typography-scale-2xl-font-size)
  );
  --denhaag-list-subheader-color: var(--denhaag-conditions-title-color, var(--denhaag-color-green-5));
  --denhaag-typography-sans-serif-font-family: var(
    --denhaag-conditions-title-font-family,
    var(--denhaag-typography-sans-serif-alternate-font-family)
  );
  --denhaag-list-subheader-line-height: var(
    --denhaag-conditions-title-line-height,
    var(--denhaag-typography-scale-lg-line-height)
  );
}

.denhaag-list.denhaag-conditions__list {
  padding-block-end: var(--denhaag-conditions-list-padding-block-end, var(--denhaag-space-sm));
}

.denhaag-conditions .denhaag-list__item {
  align-items: var(--denhaag-conditions-list-item-align-items, normal);
}

.denhaag-conditions .denhaag-list__item-icon {
  display: var(--denhaag-conditions-item-icon-display, block);
}

.denhaag-conditions__item-icon {
  padding-block-start: var(--denhaag-conditions-item-icon-padding-block-start);
}

.denhaag-conditions__text-content {
  --denhaag-list-item-text-primary-color: var(--denhaag-conditions-text-content-color, var(--denhaag-color-green-5));
  --denhaag-list-item-text-primary-font-size: var(
    --denhaag-conditions-text-content-font-size,
    var(--denhaag-typography-scale-lg-font-size)
  );
  --denhaag-list-item-text-primary-line-height: var(
    --denhaag-conditions-text-content-line-height,
    var(--denhaag-typography-scale-s-line-height)
  );
}

.denhaag-conditions .denhaag-icon {
  aspect-ratio: 16 / 12;
  height: auto;
  font-size: var(--denhaag-conditions-denhaag-icon-width, var(--denhaag-space-md));
}

@media (min-width: 768px) {
  .denhaag-conditions {
    --denhaag-list-item-padding-inline: var(--denhaag-space-2xl);
  }

  .denhaag-conditions__label {
    --denhaag-conditions-label-height: var(--denhaag-space-5xl);
    --denhaag-conditions-label-width: var(--denhaag-conditions-label-width-desktop, 5rem);
  }

  .denhaag-conditions__label::before {
    --denhaag-conditions-label-before-size: var(--denhaag-space-5xl);
  }

  .denhaag-conditions .denhaag-list__subheader {
    padding-block-start: var(--denhaag-conditions-subheader-padding-block-start-m, var(--denhaag-space-md));
  }

  .denhaag-list.denhaag-conditions__list {
    --denhaag-conditions-list-padding-block-end: var(--denhaag-space-lg);
  }
}
