/* This file is meant only for storybook overwrites. NOT FOR EXPORT! */
.denhaag-card-news {
  max-width: 320px;
}

.denhaag-storybook-floating-contact-wrapper {
  height: 100vh;
  width: 100vw;
  margin-block-start: -1rem;
  margin-block-end: -1rem;
  margin-inline-start: -1rem;
  margin-inline-end: -1rem;
}

.denhaag-hero {
  margin-block-start: -1rem;
  margin-block-end: -1rem;
  margin-inline-start: -1rem;
  margin-inline-end: -1rem;
}

/* Only purpose is to show stories correct */
.denhaag-story--css-components-feedback-modal-wrapper {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.denhaag-story--css-components-feedback-modal-wrapper .denhaag-modal {
  position: absolute;
}
