@import "~@utrecht/components/badge-counter/css";

.denhaag-badge-counter {
  --denhaag-dot-indicator-size: var(--denhaag-space-xs);
}

.denhaag-badge-counter__counter {
  @extend .utrecht-badge-counter;

  font-family: var(--utrecht-badge-counter-font-family);
  font-size: var(--utrecht-badge-counter-font-size);
}
