.denhaag-link-group {
  --denhaag-link-line-height: var(--denhaag-typography-scale-base-line-height);

  @media (min-width: 1114px) {
    --denhaag-link-group-list-margin-block-start: var(--denhaag-space-sm);
  }
}

.denhaag-link-group__image {
  margin-block-end: var(--denhaag-link-group-image-margin-block-end, var(--denhaag-space-md));
  width: var(--denhaag-link-group-image-size, 8.75rem);
  height: var(--denhaag-link-group-image-size, 8.75rem);
  object-fit: cover;
}

.denhaag-link-group__list {
  display: grid;
  grid-template-columns: repeat(var(--denhaag-link-group-list-columns, 1), 1fr);
  margin-block-start: var(--denhaag-link-group-list-margin-block-start, var(--denhaag-space-xs));
  margin-block-end: var(--denhaag-link-group-list-margin-block-end, var(--denhaag-space-md));
  list-style: none;
  padding-inline-start: var(--denhaag-link-group-list-padding-inline-start, 0);
  row-gap: var(--denhaag-space-xs);
  column-gap: var(--denhaag-space-md);
}

.denhaag-link-group--dark {
  --utrecht-heading-4-color: var(--denhaag-link-group-dark-caption-color, var(--denhaag-color-ocher-3));

  &,
  *:hover,
  *:focus-visible {
    --denhaag-link-color: var(--denhaag-link-group-dark-link-color, var(--denhaag-color-white));
  }
}

.denhaag-link-group--dark *:focus-visible {
  outline-color: var(--denhaag-link-group-dark-link-focus-outline-color, var(--denhaag-color-ocher-2));
}
