.denhaag-link-group {
  --denhaag-link-line-height: var(--denhaag-typography-scale-base-line-height);
  --denhaag-link-text-decoration: none;

  [class^="utrecht-heading-"] {
    --utrecht-space-around: 0; // Sadly we need to reset this on the heading component. Not really a reusable variable.
  }
}

.denhaag-link-group__image {
  margin-block-end: var(--denhaag-link-group-image-margin-block-end, var(--denhaag-space-md));
  width: var(--denhaag-link-group-image-size, 8.75rem);
  height: var(--denhaag-link-group-image-size, 8.75rem);
  object-fit: cover;
}

.denhaag-link-group__list {
  display: grid;
  grid-template-columns: repeat(var(--denhaag-link-group-list-columns, 1), 1fr);
  margin-block-start: var(--denhaag-link-group-list-margin-block-start);
  margin-block-end: var(--denhaag-link-group-list-margin-block-end);
  list-style: none;
  padding-inline-start: var(--denhaag-link-group-list-padding-inline-start, 0);
  row-gap: var(--denhaag-space-xs);
  column-gap: var(--denhaag-space-md);
}

.denhaag-link-group--dark {
  --utrecht-heading-4-color: var(--denhaag-link-group-dark-caption-color, var(--denhaag-color-ocher-3));

  &,
  *:hover,
  *:focus-visible {
    --denhaag-link-color: var(--denhaag-link-group-dark-link-color, var(--denhaag-color-white));
  }

  .denhaag-link-group__list {
    --denhaag-link-group-list-margin-block-start: var(--denhaag-space-xs);
    --denhaag-link-group-list-margin-block-end: var(--denhaag-space-md);
  }
}

.denhaag-link-group--dark *:focus-visible {
  outline-color: var(--denhaag-link-group-dark-link-focus-outline-color, var(--denhaag-color-ocher-2));
}
