.denhaag-link-group__image {
  padding-block-end: var(--denhaag-link-group-image-padding-block-end);
}

.denhaag-link-group__caption {
  color: var(--denhaag-link-group-caption-color);
  font-weight: var(--denhaag-link-group-caption-font-weight);
}

.denhaag-link-group__navigation-list {
  margin-block-start: var(--denhaag-link-group-navigation-list-margin-block-start);
  margin-block-end: var(--denhaag-link-group-navigation-list-margin-block-end);

  @media (min-width: 1114px) {
    margin-block-start: var(--denhaag-space-block-sm);
  }
}

.denhaag-link-group__navigation-list-item {
  padding-block-start: var(--denhaag-link-group-navigation-list-item-padding-block);
  padding-block-end: var(--denhaag-link-group-navigation-list-item-padding-block);
}

.denhaag-link-group--dark .denhaag-link,
.denhaag-link-group--dark .denhaag-link:hover {
  color: var(--denhaag-link-group-dark-denhaag-link-color);
}

.denhaag-link-group .denhaag-link:hover {
  text-decoration: var(--denhaag-link-group-denhaag-link-hover-text-decoration);
}

.denhaag-link-group--dark .denhaag-link-group__caption {
  color: var(--denhaag-link-group-dark-caption-color);
}
