.denhaag-link-group__image {
  margin-block-end: var(--denhaag-link-group-image-margin-block-end);
  width: var(--denhaag-link-group-image-size);
  height: var(--denhaag-link-group-image-size);
  object-fit: var(--denhaag-link-group-image-object-fit);
}

.denhaag-link-group__caption {
  margin-block-start: var(--denhaag-link-group-caption-margin-block) !important;
  margin-block-end: var(--denhaag-link-group-caption-margin-block);
}

.denhaag-link-group__list {
  margin-block-start: var(--denhaag-link-group-list-margin-block-start);
  margin-block-end: var(--denhaag-link-group-list-margin-block-end);
  list-style: var(--denhaag-link-group-list-list-style);
  padding-inline-start: var(--denhaag-link-group-list-padding-inline-start);

  @media (width >= 1114px) {
    margin-block-start: var(--denhaag-space-block-sm);
  }
}

.denhaag-link-group__list-item {
  padding-block-start: var(--denhaag-link-group-list-item-padding-block);
  font-weight: var(--denhaag-link-group-list-item-font-weight);
}

.denhaag-link-group__list .denhaag-link-group__list-item:first-child {
  padding-block-start: 0;
}

.denhaag-link-group--dark .denhaag-link,
.denhaag-link-group--dark .denhaag-link:hover,
.denhaag-link-group--dark .denhaag-link:focus-visible {
  color: var(--denhaag-link-group-dark-link-color);
}

.denhaag-link-group--dark .denhaag-link:focus-visible {
  outline-color: var(--denhaag-link-group-dark-link-focus-outline-color);
}

.denhaag-link-group .denhaag-link:hover {
  text-decoration: var(--denhaag-link-group-link-hover-text-decoration);
}

.denhaag-link-group .denhaag-link--with-icon-start {
  display: var(--denhaag-link-group-link-with-icon-start-display);
  padding-block-start: var(--denhaag-link-group-link-with-icon-start-padding-block-start);
  padding-block-end: var(--denhaag-link-group-link-with-icon-start-padding-block-end);
}

.denhaag-link-group .denhaag-link__icon {
  font-size: var(--denhaag-link-group-link-icon-font-size);
  width: var(--denhaag-link-group-link-icon-width);
}

.denhaag-link-group .denhaag-link__icon .denhaag-icon {
  height: var(--denhaag-link-group-link-icon-denhaag-icon-height);
}

.denhaag-link-group--dark .denhaag-link-group__caption {
  color: var(--denhaag-link-group-dark-caption-color);
}

.denhaag-link-group .denhaag-link--with-icon {
  text-decoration: none;
}
