.denhaag-publication-date {
  color: var(--denhaag-publication-date-color);
  font-family: var(--denhaag-publication-date-font-family);
  font-weight: var(--denhaag-publication-date-font-weight);
  font-size: var(--denhaag-publication-date-font-size);
}

.denhaag-publication-date > span {
  display: block;
  line-height: var(--denhaag-publication-date-line-height);
  white-space: nowrap;
}

@media (min-width: 480px) {
  .denhaag-publication-date > span {
    display: inline;
  }

  .denhaag-publication > span + span {
    border-inline-end-color: var(--denhaag-publication-date-border-color);
    border-inline-end-style: var(--denhaag-publication-date-border-style);
    border-inline-end-width: var(--denhaag-publication-date-border-width);
    margin-inline-end: var(--denhaag-publication-date-margin);
    padding-inline-end: var(--denhaag-publication-date-padding);
  }
}
