.denhaag-unordered-list {
  color: var(--denhaag-unordered-list-color);
  font-family: var(--denhaag-unordered-list-font-family);
  font-size: var(--denhaag-unordered-list-font-size);
  font-weight: var(--denhaag-unordered-list-font-weight);
  line-height: var(--denhaag-unordered-list-line-height);
  margin-inline-start: var(--denhaag-unordered-list-margin-inline-start);
  padding-inline-start: var(--denhaag-unordered-list-padding-inline-start);
}

.denhaag-unordered-list li::marker {
  font-size: var(--denhaag-unordered-list-marker-font-size);
}

.denhaag-unordered-list--lower-alpha {
  list-style-type: var(--denhaag-unordered-list-lower-alpha-list-style-type);
}
