@import "~@utrecht/components/unordered-list/css";

.denhaag-unordered-list {
  --denhaag-link-with-icon-vertical-align: baseline;

  @extend .utrecht-unordered-list;

  color: var(--denhaag-unordered-list-color, var(--denhaag-color-grey-4));

  .denhaag-link__label {
    hyphens: var(--denhaag-unordered-list-link-label-hyphens, auto);
  }
}

.denhaag-unordered-list li {
  font-weight: var(--denhaag-unordered-list-list-item-font-weight, var(--denhaag-typography-weight-regular));
  line-height: var(--utrecht-paragraph-line-height, var(--utrecht-document-line-height, inherit));
}

.denhaag-unordered-list li::marker {
  font-size: var(--denhaag-unordered-list-marker-font-size, var(--denhaag-space-md));
}

.denhaag-unordered-list--lower-alpha {
  list-style-type: lower-alpha;
}
