@import "~@utrecht/components/unordered-list/bem";
@import "~@gemeente-denhaag/link/src/index";

.denhaag-unordered-list {
  @extend .utrecht-unordered-list;

  color: var(--denhaag-unordered-list-color);
}

.denhaag-unordered-list li::marker {
  font-size: var(--denhaag-unordered-list-marker-font-size);
}

.denhaag-unordered-list li > a {
  @extend .denhaag-link;
}

.denhaag-unordered-list--lower-alpha {
  list-style-type: var(--denhaag-unordered-list-lower-alpha-list-style-type);
}
