name: Build and deploy Storybook to Azure Web App

on:
  push:
    branches:
      - latest
      - master
  pull_request:
    branches:
      - latest
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up Node.js version
        uses: actions/setup-node@v2
        with:
          node-version: "14.x"

      - name: yarn install
        run: |
          npm install -g yarn
          yarn install

      - name: run linters
        run: |
            yarn lint:css
            yarn lint:package
            yarn lint:js
            yarn prettier-check

      - name: build storybook
        run: yarn build-storybook

      - name: Run Cypress component tests
        uses: cypress-io/github-action@v2
        with:
          install: false
          record: false
          command: yarn cypress run-ct

      - name: Upload storybook
        uses: actions/upload-artifact@v2
        with:
          name: storybook
          path: storybook-static

  deploy-staging:
    needs: build
    if: github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest

    steps:
      - name: Download storybook
        uses: actions/download-artifact@v2
        with:
          name: storybook
          path: storybook-static

      - name: "Deploy to Azure Web App"
        uses: azure/webapps-deploy@v2
        with:
          app-name: "dhreactstorybook-staging"
          slot-name: "production"
          publish-profile: ${{ secrets.AZUREAPPSERVICE_DHSTORYBOOK_STAGING }}
          package: storybook-static

  deploy-production:
    needs: build
    if: github.ref == 'refs/heads/latest'
    runs-on: ubuntu-latest

    steps:
      - name: Download storybook
        uses: actions/download-artifact@v2
        with:
          name: storybook
          path: storybook-static

      - name: "Deploy to Azure Web App"
        uses: azure/webapps-deploy@v2
        with:
          app-name: "dhreactstorybook"
          slot-name: "production"
          publish-profile: ${{ secrets.AZUREAPPSERVICE_DHSTORYBOOK_PROD }}
          package: storybook-static
