.denhaag-cta-link {
  align-items: center;
  border-left: 1px solid var(--denhaag-cta-link-border-color, var(--denhaag-color-grey-2));
  border-right: 1px solid var(--denhaag-cta-link-border-color, var(--denhaag-color-grey-2));
  box-shadow: 0 1px 0 var(--denhaag-cta-link-border-color, var(--denhaag-color-grey-2)),
    inset 0 1px 0 var(--denhaag-cta-link-border-color, var(--denhaag-color-grey-2));
  color: var(--denhaag-cta-link-color, var(--denhaag-color-grey-5));
  display: flex;
  flex-direction: row;
  font-family: var(--denhaag-cta-link-font-family, var(--denhaag-typography-sans-serif-font-family));
  font-weight: var(--denhaag-cta-link-font-weight, var(--denhaag-typography-weight-regular));
  gap: var(--denhaag-cta-link-gap, var(--denhaag-space-lg));
  hyphens: auto;
  padding-block: var(--denhaag-cta-link-padding-block, var(--denhaag-cta-link-gap, var(--denhaag-space-lg)));
  padding-inline: var(
    --denhaag-cta-link-padding-inline,
    calc(var(--denhaag-cta-link-gap, var(--denhaag-space-lg)) / 1.5)
  );
  text-decoration: none;
}

.denhaag-cta-link:hover,
.denhaag-cta-link--hover {
  --denhaag-cta-link-highlight-color: var(--denhaag-cta-link-hover-highlight-color, var(--denhaag-color-blue-4));
}

.denhaag-cta-link:focus-visible,
.denhaag-cta-link--focus {
  --denhaag-cta-link-highlight-color: var(
    --denhaag-cta-link-focus-highlight-color,
    var(--denhaag-cta-link-hover-highlight-color)
  );

  outline: var(--denhaag-cta-link-focus-outline);
}

.denhaag-cta-link__dot {
  align-items: center;
  aspect-ratio: 1 / 1;
  background-color: var(--denhaag-cta-link-highlight-color, var(--denhaag-color-blue-3));
  border-radius: var(--denhaag-cta-link-width, var(--denhaag-space-5xl));
  color: var(--denhaag-cta-link-dot-color, var(--denhaag-color-white));
  display: inline-flex;
  flex: 0 0 auto;
  height: auto;
  justify-content: center;
  width: var(--denhaag-cta-link-width, var(--denhaag-space-5xl));
}

.denhaag-cta-link__dot > svg,
.denhaag-cta-link__dot .denhaag-icon {
  font-size: var(--denhaag-cta-icon-size, var(--denhaag-cta-link-gap, var(--denhaag-space-lg)));
}

.denhaag-cta-link__excerpt {
  font-size: var(--denhaag-typography-scale-lg-font-size);
}

.denhaag-cta-link__highlight,
.denhaag-cta-link > span {
  font-weight: var(--denhaag-cta-link-highlight-font-weight, var(--denhaag-typography-weight-bold));
}
