.denhaag-cta-link {
  align-items: center;
  border-left: 1px solid var(--denhaag-cta-link-border-color, currentColor);
  border-right: 1px solid var(--denhaag-cta-link-border-color, currentColor);
  box-shadow:
    0 1px 0 var(--denhaag-cta-link-border-color, currentColor),
    inset 0 1px 0 var(--denhaag-cta-link-border-color, currentColor);
  color: var(--denhaag-cta-link-color);
  display: flex;
  flex-direction: row;
  font-family: var(--denhaag-cta-link-font-family, inherit);
  font-weight: var(--denhaag-cta-link-font-weight, inherit);
  gap: var(--denhaag-cta-link-gap);
  hyphens: auto;
  padding-block-start: var(--denhaag-cta-link-padding-block, var(--denhaag-cta-link-gap));
  padding-block-end: var(--denhaag-cta-link-padding-block, var(--denhaag-cta-link-gap));
  padding-inline-start: var(--denhaag-cta-link-padding-inline, calc(var(--denhaag-cta-link-gap) / 1.5));
  padding-inline-end: var(--denhaag-cta-link-padding-inline, calc(var(--denhaag-cta-link-gap) / 1.5));
  text-decoration: none;
}

.denhaag-cta-link:hover,
.denhaag-cta-link--hover {
  --denhaag-cta-link-highlight-color: var(--denhaag-cta-link-hover-highlight-color, var(--denhaag-cta-link-color));
}

.denhaag-cta-link:focus-visible,
.denhaag-cta-link--focus {
  --denhaag-cta-link-highlight-color: var(
    --denhaag-cta-link-focus-highlight-color,
    var(--denhaag-cta-link-hover-highlight-color)
  );

  outline: var(--denhaag-cta-link-focus-outline);
}

.denhaag-cta-link__dot {
  align-items: center;
  aspect-ratio: 1 / 1;
  background-color: var(--denhaag-cta-link-highlight-color, var(--denhaag-cta-link-color));
  border-radius: var(--denhaag-cta-link-width, 50%);
  color: var(--denhaag-cta-link-dot-color);
  display: inline-flex;
  flex: 0 0 auto;
  height: auto;
  justify-content: center;
  width: var(--denhaag-cta-link-width, calc(var(--denhaag-cta-link-gap) * 4));
}

.denhaag-cta-link__dot > svg,
.denhaag-cta-link__dot .denhaag-icon {
  font-size: var(--denhaag-cta-icon-size, var(--denhaag-cta-link-gap));
}

.denhaag-cta-link__excerpt {
  font-size: var(--denhaag-typography-scale-lg-font-size);
}

.denhaag-cta-link__highlight,
.denhaag-cta-link > span {
  font-weight: var(--denhaag-cta-link-highlight-font-weight, inherit);
}
