.denhaag-card-as-link__action {
  display: block;
  color: var(--denhaag-card-as-link-link-icon-color);

  &:focus {
    outline: none;
  }

  &::before {
    content: "";
    position: absolute;
    inset-block-start: 0;
    inset-block-end: 0;
    inset-inline-start: 0;
    inset-inline-end: 0;
  }

  svg {
    display: block !important;
  }
}
