.denhaag-table {
  --denhaag-table-cell-display: flex;
  --denhaag-table-row-display: flex;
  --denhaag-table-header-display: none;

  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.denhaag-table__caption {
  color: var(--utrecht-table-caption-color, inherit);
  font-family: var(--utrecht-table-caption-font-family, inherit);
  font-size: var(--utrecht-table-caption-font-size, 1.25em);
  font-weight: var(--utrecht-table-caption-font-weight, inherit);
  line-height: var(--utrecht-table-caption-line-height, 1);
  text-align: var(--utrecht-table-caption-text-align, start);
  margin-block-end: var(--utrecht-table-caption-margin-block-end, 0);
}

.denhaag-table__cell {
  font-weight: var(--denhaag-table-cell-font-weight, normal);
  line-height: var(--utrecht-table-cell-line-height, inherit);
}

.denhaag-table__cell[data-heading] {
  display: var(--denhaag-table-cell-display, table-cell);
  flex-direction: column;
  gap: var(--denhaag-table-cell-gap, 1px);
}

.denhaag-table__cell[data-heading]:before {
  content: attr(data-heading);
  font-weight: var(--utrecht-table-heading-font-weight, bold);
}

.denhaag-table__cell,
.denhaag-table__heading {
  background-color: var(--denhaag-table-row-background-color, inherit);
  padding-block-end: var(--utrecht-table-cell-padding-block-end, 0);
  padding-block-start: var(--utrecht-table-cell-padding-block-start, 0);
  padding-inline-end: var(--utrecht-table-cell-padding-inline-end, 0);
  padding-inline-start: var(--utrecht-table-cell-padding-inline-start, 0);
  text-align: start;
}

.denhaag-table__header {
  display: var(--denhaag-table-header-display, table-header-group);
}

.denhaag-table__heading {
  font-weight: var(--utrecht-table-heading-font-weight, bold);
}

.denhaag-table__row {
  display: var(--denhaag-table-row-display, table-row);
  flex-direction: column;
}

.denhaag-table__row > :last-child {
  box-shadow: inset 0 calc(0px - var(--utrecht-table-border-width, 0px)) 0
    var(--utrecht-table-border-color, transparent);
}

/* max-width media-query to preserve the utrecht tokens */
@media (max-width: 479px) {
  .denhaag-table {
    --utrecht-table-cell-padding-block-end: var(--denhaag-table-cell-sm-padding-block-end);
    --utrecht-table-cell-padding-block-start: var(--denhaag-table-cell-sm-padding-block-start);
    --utrecht-table-cell-padding-inline-end: var(--denhaag-table-cell-sm-padding-inline-end);
    --utrecht-table-cell-padding-inline-start: var(--denhaag-table-cell-sm-padding-inline-start);
  }
  .denhaag-table__row > :first-child {
    --utrecht-table-cell-padding-block-start: var(--denhaag-table-row-padding-block-start);
  }

  .denhaag-table__row > :last-child {
    --utrecht-table-cell-padding-block-end: var(--denhaag-table-row-padding-block-end);
  }
}

@media (min-width: 480px) {
  .denhaag-table {
    --denhaag-table-cell-display: table-cell;
    --denhaag-table-row-display: table-row;
    --denhaag-table-header-display: table-header-group;
  }

  .denhaag-table__cell[data-heading]:before {
    content: unset;
  }

  .denhaag-table__cell,
  .denhaag-table__heading {
    box-shadow: inset 0 calc(0px - var(--utrecht-table-border-width, 0px)) 0
      var(--utrecht-table-border-color, transparent);
  }

  .denhaag-table__row--hover .denhaag-table__cell,
  .denhaag-table__row:hover .denhaag-table__cell,
  .denhaag-table__row--hover .denhaag-table__heading,
  .denhaag-table__row:hover .denhaag-table__heading {
    --denhaag-table-row-background-color: var(--denhaag-table-row-hover-background-color, transparent);
  }
}
