.denhaag-table__container {
  overflow-x: var(--denhaag-table-container-overflow-x, auto);
  width: stretch;

  @supports (width: -webkit-fill-available) {
    /* stylelint-disable-next-line value-no-vendor-prefix */
    width: -webkit-fill-available;
  }
  @supports (width: -moz-available) {
    /* stylelint-disable-next-line value-no-vendor-prefix */
    width: -moz-available;
  }
}

.denhaag-table__container-shadow-group {
  width: var(--denhaag-table-container-shadow-group-width, inherit);
  position: var(--denhaag-table-container-shadow-group-position, absolute);
  bottom: var(--denhaag-table-container-shadow-group-bottom, 0);
  display: var(--denhaag-table-container-shadow-group-display, contents);
}

.denhaag-table__container-shadow {
  width: var(--denhaag-table-container-shadow-width, 4rem);
  height: var(--denhaag-table-container-shadow-height, inherit);
  position: var(--denhaag-table-container-shadow-position, absolute);
  background: var(--denhaag-table-container-shadow-background, transparent);
  bottom: var(--denhaag-table-container-shadow-bottom, 0);
}

.denhaag-table__container-shadow--left {
  left: var(--denhaag-table-container-shadow-left-left, 0);
  transform: var(--denhaag-table-container-shadow-left-transform);
}

.denhaag-table__container-shadow--right {
  right: var(--denhaag-table-container-shadow-right-right, 0);
}

.denhaag-table {
  border-spacing: var(--denhaag-table-border-spacing, 0);
  width: var(--denhaag-table-width, 100%);
  max-width: var(--denhaag-table-max-width, 100%);
}

.denhaag-table__scroll-buttons {
  flex-direction: var(--denhaag-table-scroll-buttons-flex-direction, initial);
  justify-content: var(--denhaag-table-scroll-buttons-justify-content, flex-end);
}

.denhaag-table__scroll-buttons--disabled,
.denhaag-table__scroll-buttons--disabled + .denhaag-table__container .denhaag-table__container-shadow,
.denhaag-table__container-shadow--disabled {
  display: none;
}

.denhaag-table__caption {
  color: var(--utrecht-table-caption-color, inherit);
  font-family: var(--utrecht-table-caption-font-family, inherit);
  font-size: var(--utrecht-table-caption-font-size, 1.25em);
  font-weight: var(--utrecht-table-caption-font-weight, inherit);
  line-height: var(--utrecht-table-caption-line-height, 1);
  text-align: var(--utrecht-table-caption-text-align, start);
  margin-block-end: var(--utrecht-table-caption-margin-block-end, 0);
}

.denhaag-table-wrapper {
  position: var(--denhaag-table-wrapper-position, relative);
}

.denhaag-table-wrapper .denhaag-table__caption {
  --utrecht-table-caption-margin-block-end: initial;
}

.denhaag-table__cell,
.denhaag-table__heading {
  height: var(--utrecht-table-cell-height, 1.6875rem);
  background-color: var(--denhaag-table-row-background-color, inherit);
  padding-block-end: var(--utrecht-table-cell-padding-block-end, 0);
  padding-block-start: var(--utrecht-table-cell-padding-block-start, 0);
  padding-inline-end: var(--utrecht-table-cell-padding-inline-end, 0);
  padding-inline-start: var(--utrecht-table-cell-padding-inline-start, 0);
  text-align: start;
  border-block-end: var(--utrecht-table-border-width) solid var(--utrecht-table-border-color);

  --nl-link-color: var(--denhaag-table-cell-color);
  --nl-link-text-decoration-line: none;

  &--align-top {
    vertical-align: top;
  }

  &--align-bottom {
    vertical-align: bottom;
  }

  &--align-center {
    text-align: center;
  }

  &--align-end {
    text-align: end;
  }
}

.denhaag-table__cell {
  color: var(--denhaag-table-cell-color);
  font-weight: var(--denhaag-table-cell-font-weight, normal);
  line-height: var(--utrecht-table-cell-line-height, inherit);
  min-width: var(--denhaag-table-cell-min-width, 7.5rem);
}

.denhaag-table__heading {
  --nl-link-color: var(--denhaag-table-heading-color);

  font-weight: var(--utrecht-table-heading-font-weight, bold);
  min-width: var(--denhaag-table-heading-min-width, 7.5rem);
}

.denhaag-table__cell--link,
.denhaag-table__heading--link {
  padding-block-end: 0;
  padding-block-start: 0;
  padding-inline-end: 0;
  padding-inline-start: 0;

  a {
    display: block;
    color: inherit;
    text-decoration: inherit;
    padding-block-end: var(--utrecht-table-cell-padding-block-end, 0);
    padding-block-start: var(--utrecht-table-cell-padding-block-start, 0);
    padding-inline-end: var(--utrecht-table-cell-padding-inline-end, 0);
    padding-inline-start: var(--utrecht-table-cell-padding-inline-start, 0);
  }
}

.denhaag-table__body > .denhaag-table__row--hover .denhaag-table__cell,
.denhaag-table__body > .denhaag-table__row:hover .denhaag-table__cell,
.denhaag-table__body > .denhaag-table__row--hover .denhaag-table__heading,
.denhaag-table__body > .denhaag-table__row:hover .denhaag-table__heading {
  --denhaag-table-row-background-color: var(--denhaag-table-row-hover-background-color, transparent);
}

.denhaag-table__row--focus,
.denhaag-table__row:focus {
  outline: var(--denhaag-table-cell-outline-color) var(--denhaag-table-cell-outline-style)
    var(--denhaag-table-cell-outline-width);
}
