.denhaag-table__container {
  overflow-x: var(--denhaag-table-container-overflow-x, auto);
  @supports (width: -webkit-fill-available) {
    /* stylelint-disable-next-line value-no-vendor-prefix */
    width: -webkit-fill-available;
  }
  @supports (width: -moz-available) {
    /* stylelint-disable-next-line value-no-vendor-prefix */
    width: -moz-available;
  }

  width: stretch;
}

.denhaag-table__container-shadow-group {
  width: inherit;
  position: absolute;
  bottom: 0;
  display: contents;
}

.denhaag-table__container-shadow {
  width: var(--denhaag-table-container-shadow-width, var(--denhaag-space-5xl));
  height: inherit;
  position: absolute;
  background: var(
    --denhaag-table-container-shadow-background,
    linear-gradient(270deg, rgb(0 0 0 / 10%) 0%, rgb(255 255 255 / 0%) 76.92%)
  );
  bottom: 0;
}

.denhaag-table__container-shadow--left {
  left: 0;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.denhaag-table__container-shadow--right {
  right: 0;
}

.denhaag-table {
  border-spacing: var(--denhaag-table-border-spacing, 0);
  width: var(--denhaag-table-width, 100%);
  max-width: 100%;
}

.denhaag-table__scroll-buttons {
  flex-direction: initial;
  justify-content: var(--denhaag-table-scroll-buttons-justify-content, flex-end);
}

.denhaag-table__scroll-buttons--disabled,
.denhaag-table__scroll-buttons--disabled + .denhaag-table__container .denhaag-table__container-shadow,
.denhaag-table__container-shadow--disabled {
  display: none;
}

.denhaag-table__caption {
  color: var(--utrecht-table-caption-color, inherit);
  font-family: var(--utrecht-table-caption-font-family, inherit);
  font-size: var(--utrecht-table-caption-font-size, 1.25em);
  font-weight: var(--utrecht-table-caption-font-weight, inherit);
  line-height: var(--utrecht-table-caption-line-height, 1);
  text-align: var(--utrecht-table-caption-text-align, start);
  margin-block-end: var(--utrecht-table-caption-margin-block-end, 0);
}

.denhaag-table-wrapper {
  position: relative;
}

.denhaag-table-wrapper .denhaag-table__caption {
  --utrecht-table-caption-margin-block-end: initial;
}

.denhaag-table__cell {
  color: var(--denhaag-table-cell-color, var(--denhaag-color-grey-4));
  font-weight: var(--denhaag-table-cell-font-weight, var(--denhaag-typography-weight-regular));
  line-height: var(--utrecht-table-cell-line-height, inherit);
  min-width: var(--denhaag-table-cell-min-width, 7.5rem);
}

.denhaag-table__cell,
.denhaag-table__heading {
  background-color: var(--denhaag-table-row-background-color, var(--denhaag-color-white));
  padding-block-end: var(--utrecht-table-cell-padding-block-end, var(--denhaag-space-2xs));
  padding-block-start: var(--utrecht-table-cell-padding-block-start, var(--denhaag-space-2xs));
  padding-inline-end: var(--utrecht-table-cell-padding-inline-end, var(--denhaag-space-xs));
  padding-inline-start: var(--utrecht-table-cell-padding-inline-start, var(--denhaag-space-xs));
  text-align: start;
  border-block-end: var(--utrecht-table-border-width) solid var(--utrecht-table-border-color);
}

.denhaag-table__heading {
  color: var(--denhaag-table-heading-color, var(--denhaag-color-grey-5));
  font-weight: var(--utrecht-table-heading-font-weight, bold);
  min-width: var(--denhaag-table-heading-min-width, 7.5rem);
}

.denhaag-table__body > .denhaag-table__row--hover .denhaag-table__cell,
.denhaag-table__body > .denhaag-table__row:hover .denhaag-table__cell,
.denhaag-table__body > .denhaag-table__row--hover .denhaag-table__heading,
.denhaag-table__body > .denhaag-table__row:hover .denhaag-table__heading {
  --denhaag-table-row-background-color: transparent;
}

.denhaag-table__row--focus,
.denhaag-table__row:focus {
  outline: var(--denhaag-table-cell-outline-color, var(--denhaag-focus-border-color))
    var(--denhaag-table-cell-outline-style, var(--denhaag-focus-border-style))
    var(--denhaag-table-cell-outline-width, var(--denhaag-focus-border-width));
}
