.denhaag-table__container {
  width: 100%;
  overflow-x: auto;
}

.denhaag-table__table {
  border-spacing: 0;
  width: var(--denhaag-table-width, 100%);
  max-width: var(--denhaag-table-max-width, 100%);
}

.denhaag-table__scroll-buttons {
  flex-direction: initial;
}

.denhaag-table__scroll-buttons--disabled {
  display: none;
}

.denhaag-table__caption {
  color: var(--utrecht-table-caption-color, inherit);
  font-family: var(--utrecht-table-caption-font-family, inherit);
  font-size: var(--utrecht-table-caption-font-size, 1.25em);
  font-weight: var(--utrecht-table-caption-font-weight, inherit);
  line-height: var(--utrecht-table-caption-line-height, 1);
  text-align: var(--utrecht-table-caption-text-align, start);
  margin-block-end: var(--utrecht-table-caption-margin-block-end, 0);
  display: inline-block;
}

.denhaag-table__cell {
  color: var(--denhaag-table-cell-color);
  font-weight: var(--denhaag-table-cell-font-weight, normal);
  line-height: var(--utrecht-table-cell-line-height, inherit);
}

.denhaag-table__cell,
.denhaag-table__heading {
  background-color: var(--denhaag-table-row-background-color, inherit);
  padding-block-end: var(--utrecht-table-cell-padding-block-end, 0);
  padding-block-start: var(--utrecht-table-cell-padding-block-start, 0);
  padding-inline-end: var(--utrecht-table-cell-padding-inline-end, 0);
  padding-inline-start: var(--utrecht-table-cell-padding-inline-start, 0);
  text-align: start;
  border-block-end: var(--utrecht-table-border-width) solid var(--utrecht-table-border-color);
}

.denhaag-table__heading {
  color: var(--denhaag-table-heading-color);
  font-weight: var(--utrecht-table-heading-font-weight, bold);
}

.denhaag-table__body > .denhaag-table__row--hover .denhaag-table__cell,
.denhaag-table__body > .denhaag-table__row:hover .denhaag-table__cell,
.denhaag-table__body > .denhaag-table__row--hover .denhaag-table__heading,
.denhaag-table__body > .denhaag-table__row:hover .denhaag-table__heading {
  --denhaag-table-row-background-color: var(--denhaag-table-row-hover-background-color, transparent);
}

.denhaag-table__row--focus,
.denhaag-table__row:focus {
  outline: var(--denhaag-table-cell-outline-color) var(--denhaag-table-cell-outline-style)
    var(--denhaag-table-cell-outline-width);
}
