.denhaag-dot-indicator {
  position: relative;
  display: inline-flex;
  flex-shrink: 0;
  vertical-align: middle;
}

.denhaag-dot-indicator__dot {
  position: absolute;
  background-color: var(--denhaag-dot-indicator-background-color);
  width: var(--denhaag-dot-indicator-size);
  height: var(--denhaag-dot-indicator-size);
  transform: scale(1) translate(50%, -50%);
  border-radius: 50%;
  border: var(--denhaag-dot-indicator-border);
}

.denhaag-dot-indicator--overlap-rectangle .denhaag-dot-indicator__dot {
  transform: scale(1) translate(50%, -50%);
  top: 0;
  right: 0;
}

.denhaag-dot-indicator--overlap-circle .denhaag-dot-indicator__dot {
  transform: scale(1) translate(50%, -50%);
  top: 14%;
  right: 14%;
}
